[2019-03-01 08:06] mikaelsand opened #22 "Step 7 in the documentation"
I am not a programmer (any more) and therefore I might be a good fit for _some_ people that wants to provide feedback.

The text refers back to earlier steps for what to put in <account name> and <account key>, there are no real values above to refer to. Perhaps you should say:

About account key:
<account key> is the key for the storage account not the ConnectionString or SAS key used earlier, bu

[2019-03-01 08:17] mikaelsand opened #23 "Step 3 in the documentation"
Under this section:

There is a Connectionstring in the SAS page, if you use that there will be an error in the upload because the signature cannot be Url Encoded.

The Connectionstring under "Access Keys" is not Url Encoded. Perhaps you should make sure the text in the is clear on what connection string to use.

Watching the video playback was much better in this regard.

[2019-03-01 09:05] mikaelsand opened #24 "Testimonials widget does not work"
Every time I try to change the text I get a lot of errors saying:
![image](https://user-images.githubusercontent.com/20858407/53627726-7feb2580-3c09-11e9-9dce-e4967e9bf6e0.png)

[2019-03-01 19:44] #23 closed, assigned to mikebudzynski

[2019-03-01 20:04] #22 closed, assigned to mikebudzynski

[2019-03-01 23:46] mikebudzynski opened #27 "Sign in/up with AAD"

[2019-03-01 23:48] mikebudzynski opened #29 "Documentation: authentication with a custom server"

[2019-03-02 00:21] #24 closed, assigned to azaslonov

[2019-03-03 15:56] MassimoC opened #31 "Edit Widget does not work"
I am trying to edit the Product List widget to group the products according to their naming convention.
Error message : "No component name specified".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the product page
2. Click on 'Edit widget'
3. See error
![image](https://user-images.githubusercontent.com/8393694/53697737-a3ae9700-3dd4-11e9-8f3d-1f8eb0b2cc2d.png)

**Expected behavior**

[2019-03-04 12:53] mikaelsand opened #32 "Cannot publish site with new images."
**Describe the bug**
Image files become XML-files with errors after publish.

**To Reproduce**
I follow the how to guide to create a new design. I upload new pictures, I leave the site running and run the npm run publish. This seems to pull image files from blob storage and store them in the website/content folder. The files become 1 kb large jpgs.
I opened the jpgs in VS and saw that they are xml

[2019-03-04 12:59] mikaelsand opened #33 "Unable to access Static Web site after publish"
**Describe the bug**
The site is built/published locally. I then send the files to blob storage to expose it using static web site.
I get really nasty errors when accessing the site:

If I turn off forced HTTPs on the blob storage, and access the site using http, the local company proxy stops me because it thinks I am accessing a spam site...

I have tried both edge and Chrome for this.

**Additio

[2019-03-04 19:54] MassimoC opened #35 "Files on blob storage widget"
**Is your feature request related to a problem? Please describe.**
Having a widget to display documents contained in a specific blob container

**Describe the solution you'd like**
Even we are in the age of WIKIs, customers still love PDF documents and Excel files to describe procedures, complex data structures and more.
It would be nice to have a widget that can used at different scopes:
- Global

[2019-03-05 08:10] #33 closed, assigned to ygrik

[2019-03-05 15:50] mikaelsand opened #37 "Cannot run publish after new update"
**Describe the bug**
I did a new pull and a totally clear setup this afternoon. I got the latest master branch and went thru all the steps, but I get an error when executing "npm run publish".

**To Reproduce**
1. Pull the new code (6de413dd)
2. Go thru the steps in the wiki.
3. reach step 6.

**Errorlog**
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1

[2019-03-05 18:52] #37 closed, assigned to azaslonov

[2019-03-06 20:20] #32 closed, assigned to nobody

[2019-03-08 05:20] #31 closed, assigned to azaslonov

[2019-03-15 14:19] mikaelsand opened #44 "Unable to publish after getting code March 15"
**Describe the bug**
When trying to publish (NPM publish at the terminal command line), I get this error: 401 Unauthorized - PUT https://registry.npmjs.org/apim-developer-portal - You must be logged in to publish packages.

**To Reproduce**
Steps to reproduce the behavior:
I threw away all the code, got it all again from your repository, did npm install, npm start and the npm publish.

**Log**
Loc

[2019-03-15 14:55] #44 closed, assigned to nobody

[2019-03-19 12:02] mikaelsand opened #45 "A wizard for non web people"
I love the new portal and I love the freedom I have to design the portal so that it looks more "me". However I think a lot of users might find the design experience a bit too much.

Perhaps you could add a wizard, or a couple of templates that are configurable.

1. Choose a layout.
2. Choose colors (or skip)
3. Upload images, logo and such (or skip).
4. Fill in some basic information (company name

[2019-03-29 21:25] mikebudzynski opened #48 "Cleanup script should revert all actions of the generate.bat (including storage upload)"

[2019-04-12 21:22] shwetashukla opened #49 "Enums are not rendered in API object model"
**Describe the bug**
Enums are not rendered on the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [sample_openapi_json.txt](https://github.com/Azure/api-management-developer-portal/files/3075198/sample_openapi_json.txt) and create a blank api from this JSON.
2. Launch the developer portal and Click on the api name
3. Object rendering is incorrect

**Expected behavior**
1) The enu

[2019-04-15 18:09] azaslonov opened #50 "Improve authentication error messages"
It is not always clear why authentication fails for users in both development and production modes.

There is plenty of room for improvement of debugging experience. Thus, when authentication fails we could do several things:
- handle 401 response as normal application state and prevent the whole error stack to be dumped to console;
- check token format expiration date/time and relay it to the use

[2019-05-09 17:17] #48 closed, assigned to azaslonov

[2019-05-13 12:02] AvanadeAPIClinicTeam opened #54 "Pagination in API Operation"
In API page max 20 operations can be list out and will not show if we have more than 20 operations, then we are not seeing any pagination for Page Contract.

Is there any way around or it will be published as new feature?

[2019-05-17 14:47] AvanadeAPIClinicTeam opened #55 "CORS Issue with new portal"
When we were trying to call any API from new  management portal we were getting below CORS Issue.

"**Unable to complete request
Since the browser initiates the request, it requires Cross-Origin Resource Sharing (CORS) enabled on the server.**"

[2019-05-17 14:57] AvanadeAPIClinicTeam opened #56 "OAuth/OpenId setup in Developer Portal"
If We have done OAuth/OpenId setup for an API, then Authorization header has been auto-populated in Developer Portal during testing once we select authentication option.

But in New Portal, There is no Authorization Header implemented, that means no OAUTH or external authentication can be used with operations.

[2019-05-17 17:50] #56 closed, assigned to nobody

[2019-05-18 00:08] EdmundoMartinez opened #57 "Indicate subscription status (e.g., pending approval, approved, rejected etc.)"
**Describe the bug**
If a user requests a subscription and it hasn't been approved, the user can request it over and over creating new requests in the backend. Not sure how the current portal works, but if a subscription exists for the user in the "Submitted" state, portal should not allow the user to request again.

**To Reproduce**
Steps to reproduce the behavior:
1. Request subscription to a pr

[2019-05-18 00:15] EdmundoMartinez opened #58 "New subscription that requires approval previously created and deleted don't request admin approval"
**Describe the bug**
When a product with "Requires approval" approves a subscription for { product, user }; if the submission is deleted and the user requests it again for the same { product, user }, the approval is not required and the user gets the subscription without admin approval.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a subscription request for a user and product
2. Ad

[2019-05-23 00:28] EdmundoMartinez opened #59 "Store a subscription friendly name"
**Is your feature request related to a problem? Please describe.**
When a product allows more than 1 subscription per user, a user can request multiple subscription, but there is no way to identify each subscription other than the subscription id.
Allowing to store a friendly name, users can see each subscription and the get the key for each one of the subscription they registered for.

This is es

[2019-05-25 00:28] #59 closed, assigned to nobody

[2019-06-05 19:39] JasonBSteele opened #69 "Link to update post broken"
**Describe the bug**
The README's link to the update post (https://docs.microsoft.com/en-gb/azure/api-management/api-management-howto-developer-portal) is broken

**To Reproduce**
Click it

**Expected behavior**
Update post shown

**Desktop (please complete the following information):**
 - OS: Win 10
 - Chrome

[2019-06-07 10:00] AvanadeAPIClinicTeam opened #72 "paperbit runtime error on Local development"
**Describe the bug**
After compilation pages do not load successfully (local development).  Just for more specific, I am facing this issue from last two days before that it was working fine.

Adding console log
[localhost-1559900938157.log](https://github.com/Azure/api-management-developer-portal/files/3265388/localhost-1559900938157.log)

[2019-06-07 11:03] AvanadeAPIClinicTeam commented on #72
issue got resolved after fetching the latest code. thanks

[2019-06-07 11:03] #72 closed

[2019-06-07 16:29] azaslonov commented on #69
Hi Jason, thank you for heads up.

[2019-06-07 16:34] azaslonov commented on #55
This bug has been fixed. Please pull the latest version, cleanup and re-generate data.

[2019-06-07 16:35] #55 closed

[2019-06-07 16:36] azaslonov commented on #72
Thank you for confirming this.

[2019-06-07 16:39] azaslonov commented on #58
Hi Edmundo, this looks like a backend issue, the fix will take some time. I'll update you with ETA soon.

[2019-06-07 17:41] azaslonov commented on #58
Edmundo, I just tried to reproduce the issue and could not. Can you please try again? and if it still doesn't work as expected, let's have a quick call.

[2019-06-07 18:01] mikebudzynski commented on #69
@JasonBSteele - thanks for raising the problem. The pull request has been prematurely merged and the update is not out yet - we will update the link next week.

[2019-06-12 12:23] anjusharma17 opened #76 "How to self host developer portal in local environment for APIM whose domain name is other than managment.azure-api.net"
We are trying to configure our local environment for a APIM whose managementApiUrl  is _https://testportal.xyz.com_ instead of "_https://testportal.management.azure-api.net_".
 You can see that the **domain name of our testportal is xyz.com and not management.azure-api.net.**

**We are getting below error log for testportal having domain type other than management.azure-api.net.**

"https://testpo

[2019-06-12 15:56] skypyxis opened #77 "Dynamic menu for anonymous vs signed in users"
The developer portal renders the same UI for anonymous and signed in users which is very confusing.

I wasn't expecting to see a "Profile" navigation item when not signed in.
Conversely, when signed in, the navigation bar should not display the "sign up" / "sign in" items and the "Sign up" button on the home page could be hidden.

Is this possible today? What am I missing?

Thank you.

[2019-06-12 16:32] andremarques023 commented on #77
You right - that's not the expected behavior. We should be able to identify if the user is logged in to display the items properly.

[2019-06-12 16:59] sealight commented on #55
When will this fix be deployed to the "managed portal"?
i.e. <instance-name>.developer.azure-api.net

Is the managed portal much behind?

[2019-06-12 17:35] azaslonov commented on #77
Hi @sealight, @andremarques023, this feature is coming in next couple weeks.

[2019-06-12 17:39] azaslonov commented on #76
Hi @anjusharma17, thanks for posting the issue. Looks like we need to make provisioning scripts more universal. Please give us a couple of days to do that.

[2019-06-12 17:51] azaslonov commented on #55
Hi @sealight, currently Test console in managed version makes only direct calls from the browser. However, you can [enable CORS policy](https://docs.microsoft.com/en-us/azure/api-management/api-management-cross-domain-policies#CORS) for your API to address that.

[2019-06-12 17:54] #69 closed

[2019-06-13 19:22] sdementen opened #78 "Oauth2 authentication on the developer portal"
**Is your feature request related to a problem? Please describe.**
The developer portal only allows username/password authentication, while we have Okta as identity provider.

**Describe the solution you'd like**

Ability to use Okta as authentication for the developer portal, with authorization based on scopes (and other claims)

[2019-06-13 19:38] azaslonov commented on #78
Hi @sdementen, we're going to have examples for custom authentication. Please referer to [this item](https://github.com/Azure/api-management-developer-portal/issues/29) for tracking.

[2019-06-13 19:38] #78 closed

[2019-06-14 07:04] anjusharma17 opened #79 "Looking for old developer Functionality into new developer portal, with some extra feature."
Can you please let us know, when we are getting below functionality of old developer portal into the new one.

**1.** 	We are looking for Blogs feature implementation. Also, will the feature now support blobs categorization and based category filtration in new azure developer portal?
**2.** 	We are looking for complete Media library Feature implementation.
**3.** 	We are looking for Content featur

[2019-06-14 07:16] azaslonov commented on #79
Hi Anju,
1. Yes, Blog feature is coming soon. Categorization is possible through extending content types with your custom properties (if existing are not enough) and adding respective filters into UI.

2. There is Media library already. If you have specific requirements for this feature, please let us know.

3. Not sure I understand what you mean by Content feature. Are we talking about content in

[2019-06-14 08:20] Sacratees opened #80 "Couldn't find Application menu in new developer portal (preview)"
We are using the "Application" feature in the old developer portal. I couldn't find "Application" functionality in the new developer portal(preview)

Is that functionality is no more supported? If not supported what could be the alternative solution?

It will be great if all the existing features also available in the new  portal.

[2019-06-14 08:58] anjusharma17 commented on #79
Hi Alexander,

Regarding point 3,
![Content Feature](https://user-images.githubusercontent.com/17688551/59497147-79c73f00-8eb0-11e9-94e0-91f3196bf3cc.PNG)

Please help us from where we can get this Manage content functionality in new developer portal?

[2019-06-14 12:40] anjusharma17 commented on #76
Hi Alexander,

When we will be getting the updated scripts?

[2019-06-14 12:44] anjusharma17 commented on #79
Thanks for the reply.

Regarding Above point 3. We have Manage content functionality in old developer portal.
![Content Feature](https://user-images.githubusercontent.com/17688551/59491131-f273ce80-8ea3-11e9-9840-702495af0d75.PNG)

[2019-06-14 17:07] azaslonov commented on #80
Hi @Sacratees, we don't know if we're going to implement "appllications" module (it wasn't very popular in the current portal), but we'll certainly document how to fairly quickly implement similar features.

[2019-06-14 17:07] #80 closed

[2019-06-14 17:22] azaslonov commented on #79
So, the analogy of "Content" section would be "Pages" section in new portal:
![image](https://user-images.githubusercontent.com/2320302/59526514-f39a0100-8e8d-11e9-83e6-4550780e7e69.png)

... and content editing itself is happening right in place:
![image](https://user-images.githubusercontent.com/2320302/59526631-3e1b7d80-8e8e-11e9-8381-4803a6028162.png)

[2019-06-14 19:38] #76 closed

[2019-06-14 19:40] azaslonov commented on #76
Hi Anju, changes merged to master.

[2019-06-17 08:30] anjusharma17 opened #82 "Not able to connect to different domain name APIM"
Hi, we are not able to connect to different domain name than azure-api.net. And getting ETIMEDOUT error.

![ETimeOut Error](https://user-images.githubusercontent.com/17688551/59589668-15062180-9108-11e9-8687-c886e960b994.png)

I have followed all the config steps, let me know if need to do some other changes as well.

[2019-06-17 12:25] yashwantsahu05 opened #83 "Can't add a custom Product: Subscribe form"
**Describe the bug**
Unable to generate Apim-Subcription-Key to access API,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to New APIM developer Portal
2. Click on Product Manu

Product and API is listed but unable to find any subscribe option to subscribe available product.

**Expected behavior**
Require subscribe option to generate APIM subscription key.

**Screenshots**
![image](https

[2019-06-17 12:58] anjusharma17 opened #84 "Not able to run Developer portal"
I am able to successfully execute https://github.com/Azure/api-management-developer-portal/wiki/self-hosting-the-portal till step 3. Also, when i run npm start, the build gets complied successfully, however, due to some issues it is not running on the browser.

Build Succeeded:
![image](https://user-images.githubusercontent.com/17688551/59605681-ed758000-912c-11e9-8b4f-0f1bac05a27e.png)

Not runni

[2019-06-17 16:05] azaslonov commented on #84
Hi Anju,

Looks like in your configuration you specified portal's (<yourservice>.portal.azure-api.net) endpoint instead management API (<yourservice>.management.azure-api.net)

[2019-06-17 16:05] #84 closed

[2019-06-17 16:11] azaslonov commented on #83
Hi @yashwantsahu05,
You're right, we forgot to add "Product: Subscribe" widget to Products page in our default template. We'll fix it, but you can add it yourself using "Add widget" dropdown:
![image](https://user-images.githubusercontent.com/2320302/59619671-ed02c800-90df-11e9-8007-5b5bab6632ae.png)

[2019-06-17 16:19] azaslonov commented on #82
Hi Anju,
On your screenshot, I see that you still trying to call [service].management.azure-api.net. I guess you wanted to specify your custom hostname for management endpoint?

[2019-06-17 16:28] #79 closed

[2019-06-17 16:37] azaslonov commented on #35
Update: This feature will be added by General Availability

[2019-06-17 16:42] azaslonov opened #85 "Switch to ARM contracts"
Portal needs to use ARM-compatible contracts, which are the only contracts supported by the management API version 2019-01-01 (and later).

This change would also clear ground for enabling RBAC for content management.

[2019-06-17 16:47] azaslonov opened #86 "Cross-browser support, incl. ad blockers"

[2019-06-17 16:47] azaslonov opened #87 "Allow API reference and console styling"

[2019-06-18 05:45] anjusharma17 commented on #82
Hi Alexander,

**From where we can find out the management_endpoint for custom domain, can you please share the updated links?**

In the generate.bat file, its is given that set management_endpoint="< service name >.management.azure-api.net"
So for custom domain, it could not be xyz.management.azure-api.net as per your response, where xyz is the service name.
Thus I set the management_endpoint="ap

[2019-06-18 07:43] yashwantsahu05 opened #88 "Sign In through Azure AD account (oauth authentication)."
**Is your feature request related to a problem? Please describe.**

Provide feature to validate user through Azure Active directory account.

For Azure active directory user don't want to go with **Sign Up** process.

[2019-06-18 12:40] anjusharma17 opened #89 "Cross-browser compatibility"
In the step 4 of link [self-hosting-the-portal](https://github.com/Azure/api-management-developer-portal/wiki/self-hosting-the-portal) it is mentioned that "**Currently, the portal works only in the Google Chrome browser.**"

**When will the APIM be available with cross brower compatibility?** Can you please share some timeframe?

[2019-06-18 12:48] anjusharma17 opened #90 "Widget editor - List of APIs"
Please let us know the timeframe by when we can get this feature?

![List Of APIS editor](https://user-images.githubusercontent.com/17688551/59683262-79eb7580-91f5-11e9-8bcd-ad79e8c57dc5.png)

[2019-06-18 14:52] sealight commented on #55
Hi @azaslonov, I did that, but I'm still getting this error:
[code]

My inbound policy is
[code]

[2019-06-18 17:35] azaslonov commented on #90
Hi Anju, sure we'll update the thread as soon as we figure out the date.

[2019-06-18 18:00] azaslonov commented on #89
Hi Anju, we'll update this item when we have an exact date. Preliminary I would say it's about 4 weeks from now.

[2019-06-18 18:03] azaslonov commented on #88
Hi @yashwantsahu05. Yep, there is a work item for that #27

[2019-06-18 18:03] #88 closed

[2019-06-18 18:17] azaslonov commented on #82
Hi Anju, the hostname for your management endpoint should be exactly as you defined it in Custom domains section:

![image](https://user-images.githubusercontent.com/2320302/59708499-bdc08980-91b9-11e9-93a0-5ba850ed2345.png)

![image](https://user-images.githubusercontent.com/2320302/59708480-b4372180-91b9-11e9-8818-ab1107a589ca.png)

Just in case, if you didn't setup a custom domain for managemen

[2019-06-18 21:44] azaslonov commented on #55
Hi @sealight, would you please try this one on API-level:
[code]

[2019-06-19 04:12] yashwantsahu05 commented on #27
Is there any date you are following to complete this feature.

[2019-06-19 09:06] anjusharma17 commented on #82
Thanks Alexander, it is working now

[2019-06-19 09:55] anjusharma17 commented on #82
Hello Alexander, on local it worked
From azure Portal, facing two issues further to this:
1) Whenever we are clicking on New Developer Portal(Preview) the link is not working. However, some days back it was working.

![Portal not working](https://user-images.githubusercontent.com/17688551/59755300-5122b900-92a5-11e9-9a77-0b25bd37357b.png)

2) The same kind of issue persist, when we sign up from ou

[2019-06-19 15:44] mikebudzynski commented on #27
@yashwantsahu05 - it will be completed by general availability release, which is planned for October/November.

[2019-06-19 22:51] azaslonov commented on #82
Anju, it seems like I'll need APIM service name to help you. Please email me at alzaslon@microsoft.com.

[2019-06-20 17:09] yashwantsahu05 opened #91 "Old vs new developer portal - questions"
**Query-Help **
We have below query with New and Old developer portal:

1. Are we are planning to remove old developer and Publisher portal?
2. Where we can find feature wise comparison document?
3. Are you have plan to implement all functionality which we have in old developer portal? Do you have any plan release date with all old developer feature?

[2019-06-20 17:33] mikebudzynski commented on #91
1. There are plans to deprecate the old developer portal (and the publisher portal) after we reach GA with the new portal. Details are still being worked on. Please, let us know if you have concerns.
2. Such document does not exist at the moment.
3. Most of the features are or will be replicated in the new portal, with the exception of "Applications" and possibly "Issues". Are there any particular

[2019-06-20 17:40] mikebudzynski commented on #90
@anjusharma17 - what functionality are you looking for? What are you trying to achieve that you can't do without the editor?

[2019-06-20 17:41] mikebudzynski commented on #89
@anjusharma17 - the dev portal (mostly) works in major browsers. It has been tested only in Chrome.

[2019-06-20 17:48] mikebudzynski commented on #86
Merging with https://github.com/Azure/api-management-developer-portal/issues/89

[2019-06-20 17:48] #86 closed

[2019-06-21 01:13] mikebudzynski commented on #45
Although the wizard has not been implemented yet, we have prepared a short video tutorial on customizing the portal: https://aka.ms/apimdevportal/tutorial

[2019-06-21 04:25] yashwantsahu05 commented on #91
Thanks for update, I am looking for feature to manage my resource(Word, PDF, file etc) document. I found option to upload it through **Media**  but I would like to manage is differently.

Here I am looking to upload my resource file which nothing but help document about my API with some category tag.
We require to display resource document on UI. Also looking for filter option based on category.

[2019-06-21 05:21] anjusharma17 commented on #82
Hi Alexander, i have mailed you the required information. Please check.

[2019-06-21 13:32] yashwantsahu05 commented on #91
What is different between **Self hosted Portal** and **New developer Portal** option?
As I can see that change which we are apply through new developer portal it will reflected. We can see our changes through opening same URL on new browser window. IMO we no require to Publish it - Correct me if I was wrong.

Only advantage I can see with **Self hosting** we got more control over (i.e Create own w

[2019-06-21 18:29] mikebudzynski commented on #91
Currently this is not supported, but we will keep it in mind for planning - thanks for raising the feedback. For now, you can work around the limitation by uploading your files to a storage account and linking them in the portal.

----

The difference is explained here: https://aka.ms/apimdocs/portal

We recommend using the managed version, unless you have special requirements (like creating custo

[2019-06-21 18:31] mikebudzynski commented on #35
Feedback from @yashwantsahu05 from https://github.com/Azure/api-management-developer-portal/issues/91

[2019-06-24 10:17] sealight commented on #55
Many thanks @azaslonov ! It worked. So we need to allow the headers too.

Which is the release governance for the "managed portal" (public) <custom>.developer.azure-api.net ?
I mean: do you have continuous deploy with this github code repository? which branch? I would like to avoid self-hosting but if the managed portal is too far behind there's not much choice.

[2019-06-24 20:51] mikebudzynski commented on #55
The managed version is usually updated within few days of the self-hosted version. The code is tracked internally, not through this repository.

[2019-06-24 20:53] #91 closed

[2019-06-25 00:03] alohaninja opened #96 "URL encoding for query parameters in the interactive console"
**Describe the bug**
When supplying input parameters for API methods - we should URL-encode the values before invoking the method. This matches the behavior present in Swagger UX.

**To Reproduce**
Steps to reproduce the behavior:
1. Click an API Method
2. Click Try It
3. Provide an input field with characters that need escaped (e.g. \\, etc.)
### Swagger UX
![image](https://user-images.githubuser

[2019-06-25 00:09] mikebudzynski commented on #96
Thanks @alohaninja for reporting the bug. We will update the Issue soon.

[2019-06-25 00:32] mikebudzynski commented on #58
Inactive issue

[2019-06-25 00:32] #58 closed

[2019-06-25 00:56] azaslonov opened #97 "Update VNet troubleshooting guide to reflect endpoints required for developer portal"
[Common Network Configuration Issues](https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet#-common-network-configuration-issues)

[2019-06-25 00:57] azaslonov commented on #82
Hi Anju,
Looking at your service it seems to be VNET-related issue. We'll update respective documentation to help you resolve it. Please use this item for tracking it: #97

[2019-06-25 00:57] #82 closed

[2019-06-25 11:54] anjusharma17 opened #98 "How to expose Microsoft developer portal API"
Hi,
I am looking for some document, which defines how to expose the azure developer portal API call's?
For e.g, In my storage account, there are some files or blobs which i want to display into my customized developer portal. How to get the file service or blob services APIs expose information so we can hit them and get the required information.

[2019-06-25 12:41] anjusharma17 commented on #98
I am able to get the list of API's by hitting APIM url, using subscription key for authorization (_PFA screenshot_). I did this  by going through code.

![postman](https://user-images.githubusercontent.com/17688551/60099007-66e82080-9774-11e9-89aa-3cd371425444.png)

So, can you share some document form where we can this information?

[2019-06-25 16:01] mikebudzynski commented on #98
Which storage account are you referring to? You can expose files from a storage account using SAS keys.

If you want to track developer portal calls, you can use the developer tools in your browser.

[2019-06-27 18:05] mikebudzynski commented on #98
Issue inactive.

[2019-06-27 18:05] #98 closed

[2019-06-28 07:13] sdementen commented on #83
Hi @azaslonov

I am adding the "Product: Subscribe form" in the products page, yet it doesn't add the widget in the page. When I am adding the widget, I see for a second a text "Please select a product" and then I am back to the page in its original state (no widget).

[2019-07-04 09:12] Sacratees commented on #80
Could you please provide any rest api reference to manage the applications?

Actually i am able to retrieve applications by GET method. https://management.azure.com/subscriptions/<subscriptionsId>/resourceGroups/<resourceGroup>/providers/Microsoft.ApiManagement/service/<service_name>/applications?api-version=2019-01-01

But i am not able to create any applications by rest api model (PUT, POST is n

[2019-07-05 17:33] mikebudzynski commented on #80
@Sacratees Full API Management REST API reference is located here: https://docs.microsoft.com/en-us/rest/api/apimanagement/ We do not expose APIs for managing applications.

Could you please describe what you use "Applications" for? What are you trying to achieve through this feature? Why do you need it?

[2019-07-05 18:12] sdementen commented on #80
@mikebudzynski, do you mean the API to manage the database behind the new developer portal is also accessible via the APIM API rest interface?

[2019-07-05 19:21] Sacratees commented on #80
@mikebudzynski,

We are using "Applications" to showcase about the connected apps to the external world.
As application details will be submitted by API consumer and API provider will publish it for the external visibility.

We have a requirement to migrate the application details across different instance, So i am looking for some programming model to create an application entity in the new APIM

[2019-07-05 20:59] mikebudzynski commented on #80
@Sacratees

Your current use case is as follows:
1. API consumers submit a customer reference (real-world use case, "application") to API providers
2. API providers publish a customer reference on the developer portal

You are also looking for the following, which is currently not supported:
3. Migrate the published customer reference between the environments

Although the new developer portal doe

[2019-07-05 21:01] mikebudzynski commented on #80
@sdementen Yes. Initial documentation is available at: https://github.com/Azure/api-management-developer-portal/wiki/Content-management-REST-API

Every page, configuration item etc. can be exported through APIs.

[2019-07-06 07:58] sdementen commented on #80
:+1:
I could not find the /contentTypes under the doc https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01 so I was a bit confused.

[2019-07-08 22:00] #96 closed

[2019-07-08 22:00] mikebudzynski commented on #96
Closed with https://github.com/Azure/api-management-developer-portal/pull/101/files

[2019-07-08 23:07] mikebudzynski commented on #90
Closing due to inactivity

[2019-07-08 23:07] #90 closed

[2019-07-09 17:39] kaylakirzinger opened #102 "Ability to embed HTML/JS on non-self hosted dev portal"
I'd like to embed certain items such as a "Run in postman" button for our postman collection but I am not sure how one would go about doing that when the portal is not self hosted. Is it possible?

[2019-07-09 18:33] EdmundoMartinez commented on #58
Reproduced the bug with code from master branch commit [fea2c44ef39721020df38fac68ae976deb16ff4b](https://github.com/Azure/api-management-developer-portal/commit/fea2c44ef39721020df38fac68ae976deb16ff4b).

Synced with @azaslonov and showed the problem.

@mikebudzynski, @azaslonov, could you help me reopen this bug?

[2019-07-09 20:48] kaylakirzinger opened #104 "Page editing carrying over to all pages"
**Describe the bug**
Created a new page. Edited content on new page. It ended up deleting all content on the rest of my pages and turning every page into the page I had edited. See video:
https://www.screencast.com/t/6fYer8mKLD

**To Reproduce**
Steps to reproduce the behavior:
1. Create new page
2. Edit content in new page
3. Click existing page
4. Confirm that content of existing pages was overw

[2019-07-09 21:19] azaslonov commented on #104
Hi Kayla, the for the explanation and video. We'll investigate.

[2019-07-09 21:39] azaslonov commented on #104
Kayla, could you please copy all the errors from F12 console of your browser when this issue happens?

[2019-07-09 21:47] kaylakirzinger commented on #104
There really aren't any errors as I switch from page to page. I got this once:

![image](https://user-images.githubusercontent.com/49795114/60925333-fa3b4e80-a268-11e9-8e8e-519946b6f6f3.png)

Refused to apply style from 'https://ams-dev-scus-core.developer.azure-api.net/styles/customizations.css' because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking

[2019-07-09 21:51] azaslonov commented on #104
Understood. Those errors that you see most likely not related to your issue. Thanks again for all the information, we'll keep you posted.

[2019-07-10 17:12] mikebudzynski commented on #104
@kaylakirzinger We are not able to reproduce the issue. We'll try to root cause the problem through our logs and then we will update you with our findings.

[2019-07-10 17:44] kaylakirzinger commented on #104
Thank you! I can share with someone over Teams or something any time, or let me know if there's anything else I can do to assist.

[2019-07-11 00:23] mikebudzynski commented on #104
@kaylakirzinger

The problem with your developer portal is that you added the _Getting started_ page as the _Default_ layout instead.

Layout is a template, which defines how pages are displayed within it and is matched against a URL pattern. In this case, the default layout is matched against `/*`, so any page will use it unless it's overridden by another layout. Also, this _Default_ layout now d

[2019-07-11 00:24] #104 closed

[2019-07-11 01:09] mikebudzynski commented on #102
@kaylakirzinger

Currently we don't have plans to provide it in the managed version of the portal. In order to introduce this feature, you'd need to create a new widget through editing the code and self-hosting the portal.

Widgets are documented in detail on the Paperbits website: https://paperbits.io/wiki/widget-anatomy

Also, we're open to community contributions. If you implement the widget -

[2019-07-11 17:40] LucyWengCSS opened #105 "Confusing API dropdowns styling"
**Describe the bug**
In the page for OpenAPI specification, the contents do not display correctly, and the headings of the definitions are not readable. There are numerous headings and sections which should not be displayed in the customer's opinion.

**Expected behavior**
Could you please help to modify the layout of the page and change the definition headings to be more readable?

Thank you very

[2019-07-11 18:24] mikebudzynski commented on #105
Thanks @LucyWengCSS for opening this Issue. From what I understand the problem is with how dropdowns are displayed and that they look misformatted.

Could you please elaborate on this? Which sections shouldn't be displayed?

[2019-07-12 22:31] #85 closed

[2019-07-12 23:21] #54 closed

[2019-07-13 19:02] Tieno opened #110 "How to self-host developer portal on consumption tier?"
The guide on https://github.com/Azure/api-management-developer-portal/wiki/Self-hosting-the-at step 2: Configure talks about

 "Enable the direct REST API access to your API Management instance. Copy the generated token and place it in the "managementApiAccessToken": "SharedAccessSignature ..."

Except this doesn't seem to be possible with the consumption tier.  Is there an other way to self host

[2019-07-15 22:18] mikebudzynski commented on #110
No, the developer portal is not supported in the Consumption tier. You can find the full feature comparison at http://aka.ms/apimfeatures

[2019-07-15 22:18] #110 closed

[2019-07-24 15:22] #102 closed

[2019-07-25 03:40] LucyWengCSS commented on #105
Hi @mikebudzynski, thanks so much for your kind reply. The screenshots below show the headings which are not easy to understand. May I ask if we have any plan or workarounds to change them?

![image](https://user-images.githubusercontent.com/48007485/61844092-d286f000-aed0-11e9-8701-d94333f7cebc.png)
![image](https://user-images.githubusercontent.com/48007485/61844107-dadf2b00-aed0-11e9-8658-4c6c8

[2019-07-25 18:10] mikebudzynski commented on #105
@LucyWengCSS

1. Name of a Schema Objects (definition) is defined through your OpenAPI specification file. If you want to change it, you need to modify the information in your API Management instance. The developer portal only displays the name that you specified.
2. We will improve the dropdowns, thanks for pointing that out.

[2019-07-25 18:57] Sacratees opened #118 "How to mark API or product as deprecated in developer portal"
How to mark exposed APIs or Product as deprecated in API management.  Right now i could see the only option to update the descriptions.
Including deprecated flag in swagger does not work. Is there any better way available to mark exposed entities as deprecated?

How to efficiently deprecate an API and announce to consumers?

[2019-07-26 21:40] mikebudzynski commented on #118
@Sacratees

Even though we currently don't support it, we have plans to allow API deprecation in API Management. You can let us know more details (or just upvote the item) here: https://feedback.azure.com/forums/248703-api-management/suggestions/6684898-mark-api-operations-as-obsolete-deprecated

Since your request has a much broader scope than the new developer portal, I will close this Issue.

[2019-07-29 20:56] mikebudzynski opened #121 "Old portal deprecation"

[2019-07-29 20:58] mikebudzynski opened #122 "Community: "Issues" functionality not available"
If you have questions, comments, or concerns related to *Issues* not being available in the new portal, please post them here.

[2019-07-29 21:59] kaylakirzinger opened #123 "Deployment strategy - questions"
What is the recommended approach for deploying the development portal? We are having the following issues (in general for APIM deployment):

- git repo includes swagger json (not reference to swagger json) so it overwrites pipeline changes. i.e. if we save to repo, deploy API code, and then deploy repo back to APIM, all swagger changes are overwritten

- as such, can't use the repo to deploy the d

[2019-07-29 22:07] mikebudzynski commented on #89
Fixed with the latest release.

[2019-07-29 22:07] #89 closed

[2019-07-29 23:22] mikebudzynski commented on #29
Irrelevant

[2019-07-29 23:22] #29 closed

[2019-07-30 21:57] mikebudzynski opened #124 "Documentation: content migration between environments"
Document how to run the migrate.bat script.

[2019-07-30 22:01] mikebudzynski commented on #123
@kaylakirzinger

**Regarding general API Management deployments**

What do you mean by pipeline? What swagger changes are overwritten? Would using the tools from our dev-ops resource kit help? You can find them at http://aka.ms/apimdevops

It would be helpful, if you could give us an example.

**Regarding developer portal deployments**

We're still working on finalizing our story on the portal dev

[2019-07-30 22:32] mikebudzynski opened #125 "Community: API Management widgets configuration"
What would you like to achieve with API Management-related widgets that you can't achieve today? How would you like to be able to configure them?

1. APIs:
   a. List
   b. Details
2. Products:
   a. List
   b. APIs
   c. Subscriptions
   d. Details
   e. Subscription form
3. API operations:
   a. List
   b. Details
4. Developer console

[2019-07-31 19:30] mikebudzynski commented on #124
Added wiki article: https://github.com/Azure/api-management-developer-portal/wiki/Migrate-portal-between-services

[2019-07-31 19:30] #124 closed

[2019-07-31 23:01] #50 closed

[2019-08-01 18:17] kaylakirzinger commented on #123
Thank you for the sample script, much appreciated.

If I can deploy the portal without deploying the entire APIM instance we should be fine.

I think your tools should help - we were using home-grown deployment pipeline steps that were not working correctly apparently.

Thanks!

[2019-08-01 18:17] #123 closed

[2019-08-01 18:25] mikebudzynski commented on #123
Regarding portal-specific DevOps - we have just extended our documentation: https://github.com/Azure/api-management-developer-portal/wiki/Migrate-portal-between-services and provided more comments in the script to make it easier to understand.

[2019-08-02 22:37] mikebudzynski commented on #83
@sdementen Thanks, I can confirm the bug. We'll work on a fix.

[2019-08-05 05:18] dcbrown16 commented on #121
Is there a timeline for deprecation, i.e. months or a year after GA?

[2019-08-05 16:55] mikebudzynski commented on #121
@dcbrown16 - not at this moment. Any concerns whether it's for example 6 months vs 1 year?

[2019-08-06 02:20] dcbrown16 commented on #121
@mikebudzynski I'm checking in for a customer in Japan through support. They don't have any particular requests regarding the period, as long as it is announced clearly. Thanks!

[2019-08-06 06:42] dcbrown16 commented on #121
We have some additional detailed questions:

1. Are there any changes in the network configuration required for API Management instances in virtual networks (internal or external) when switching from the old to new portal?
2. Do we specifically know what notifications will be provided to users when deprecation is determined/approaching? Documents/Portal notifications/emails (to whom)?

[2019-08-07 00:17] mikebudzynski commented on #121
@dcbrown16 Thanks, good points. Just to clarify - there won't be an automatic switch to the new version. It's a manual process to configure the new portal in a similar manner to the old one, as indicated here: https://docs.microsoft.com/azure/api-management/api-management-howto-developer-portal#faq

1. Yes, VNET configuration needs to be modified to take the new portal into account. We're working

[2019-08-09 20:00] smpilo opened #134 "Show non-product subscriptions in user's profile page"
**Is your feature request related to a problem? Please describe.**
When attaching a user to an api-specific subscription, the only way to get the subscription key is through the azure portal. Shouldn't the subscriptions show up in the user's profile?

**Describe the solution you'd like**
I'd like to see a subscription that is not attached to a product show up in the user's profile.

[2019-08-09 22:22] mikebudzynski commented on #134
@smpilo Thanks for opening this Issue. We'll follow up once we triage/repro it.

[2019-08-20 11:08] Nikkaannika opened #135 "Can't save changes to layouts template"
**Describe the bug**
I've been trying to change the default layout template. Changes are not being saved. UI says Changes Saved but in the Network log of the browser I get this 400 Bad request response:

{"error":{"code":"ValidationError","message":"Content item doesn't match content type schema.","details":null}}

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Layouts
2. Change someth

[2019-08-21 18:11] mikebudzynski commented on #135
Thanks @Nikkaannika, I can reproduce the error. We'll work on resolving the problem.

[2019-08-21 21:15] mikebudzynski commented on #134
@smpilo Direct API subscriptions are indeed not shown in user's profile - in both the new and the old developer portals. Thanks for raising this issue.

[2019-08-22 09:40] Nikkaannika opened #136 "Styling menus with dropdowns"
**Describe the bug**
I have a drop down menu and I can't set the background for the drop down. Because my navigation menu uses white text color I get an unreadable dropdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a navigation menu ready and use white text color and some background color.
2. Add a sub menu to it
3. Click to open sub menu
4. Sub menu is unreadable until items are

[2019-08-22 11:42] nikos4github opened #137 "Multilingual support"
Can we have a multilingual dev portal? Is this supported?

[2019-08-23 00:45] mikebudzynski commented on #137
@nikos4github

Currently localization is not supported in the developer portal.

In general, there are two areas that fall under localization:

1. Localization of static content (for example, text, headers, titles)
2. Localization of dynamic data (for example, API descriptions)

We're planning to implement the first one after the portal reaches general availability. We don't have timelines for the

[2019-08-26 09:21] Nikkaannika opened #138 ""Add subscription" button glitches"
**Describe the bug**
I have added a widget for Add Subscription. When pressing it it moves to the right and shows a field containing the name of the subscription. If pressing it again the request for subscription is being sent.

Also, caption of button in edit portal mode is "Add Subscription" while it is only "Subscribe" on published page. Minor glitch, should text be configurable?

I also added

[2019-08-27 10:05] Nikkaannika opened #139 "Permalink of page is hard to set"
**Describe the bug**
Trying to set a permalink to suitable value. Link gets reverted or just one char at a time gets added

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a new page
2. Give it a name and a permalink
3. Save (is this a needed step here? Not sure.)
4. Close developer portal in browser
5. Reenter developer portal and open pages
6. Look at the permalink for the new page.

[2019-08-27 11:53] Nikkaannika opened #140 "Formatted text can't handle multiline"
**Describe the bug**
I have a block of JSON I want to display as formatted text. The styling "Formatted" can't handle multiline correctly.

**To Reproduce**
Steps to reproduce the behaviour:
1. Use the styling "Formatted" on a block of code/code example
2. Block gets divided into several formatted sections, one per line

**Expected behavior**
I want my entire code/json example formatted like code

[2019-08-27 12:40] Nikkaannika opened #141 "Format single words as code/formatted text"
**Is your feature request related to a problem? Please describe.**
Names of parameters etc are often formatted as code to stick out. This can't be done now for a single word inside a textblock.

**Describe the solution you'd like**
I want to be able to format a word as "code" (i.e. terminal font or similar)

**Describe alternatives you've considered**
I can use bold but it makes the text look mess

[2019-08-31 20:49] #139 closed

[2019-09-01 14:32] jstallm commented on #121
Once the new developer portal is GA, how do we disable the legacy developer portal explicitly if we wanted to? Say for instance that we wanted to avoid having 2 locations for documentation, and instead simply migrate exclusively to the new portal. Im wondering if this is an option.

[2019-09-03 11:19] Perspektyva opened #146 "Can't find blob storage connection string of a managed instance"
Hello,

I'm currently trying to pull the contents of the new dev portal (managed instance) into source control. I'm using migrate.bat and the capture bit works, but I'm stuck at media downloading - I don't know where to get the storage connection string. Ln3 @ migrate.bat directs to the full documentation, but I've looked at the docs here and the single [MS Doc](https://docs.microsoft.com/en-us/az

[2019-09-03 15:15] mikebudzynski commented on #146
This documentation article explains how to retrieve the storage account for the managed version: https://github.com/Azure/api-management-developer-portal/wiki/Retrieve-managed-portal-storage-account

Let us know if you still have problems setting up the script.

[2019-09-03 15:15] #146 closed

[2019-09-03 16:26] mikebudzynski commented on #121
This will be possible after GA - probably a few months after the release.

A workaround in the meantime would be to use the Application Gateway with API Management in VNET and not expose the old developer portal to the public.

[2019-09-03 17:48] jstallm commented on #121
thank you @mikebudzynski , Im happy to hear this will be supported after GA. Thank you as well for the secondary idea for isolating the old developer portal from public.

[2019-09-03 22:59] azaslonov commented on #141
Feature added.

[2019-09-03 22:59] #141 closed

[2019-09-06 08:00] cristianhosu opened #151 "Custom CSS for styling"
To be able to customize the look and feel you need to clone/download the repo, change stuff in it and then self-host it.
There should be a way in which a user can upload a custom CSS that would be injected globally.

[2019-09-06 08:03] cristianhosu opened #152 "Configure the operation-details widget"
I had the need to remove the "try it" button from the operation-details widget.
Please add the possibility to remove that button and make this widget read-only.

This will allow the portal to behave like a simple API docs page

[2019-09-06 16:26] mikebudzynski commented on #151
Thanks, @cristianhosu for opening this request. Could you tell us more about why you need to inject CSS rather than style the portal through the provided functionality?

[2019-09-06 16:40] mikebudzynski commented on #125
Merging https://github.com/Azure/api-management-developer-portal/issues/152

[2019-09-06 16:42] mikebudzynski commented on #152
Thanks @cristianhosu, I merged your feature request with a collective thread on this topic. At this moment you can achieve that with a self-hosted version.

[2019-09-06 16:42] #152 closed

[2019-09-08 07:01] cristianhosu commented on #152
I know you can, that is how i worked around this limitation. But out of the box, that try it functionality will not allow me to block unauthorized users from executing it. They will click try it, the endpoint will hit APIM which in turn will count for billing and the response will be probably 401/403 if properly configured. Having to pay extra just because i want to remove one little button seems

[2019-09-08 07:04] cristianhosu commented on #151
@mikebudzynski I want to be able to style the buttons according to a clients corporate identity.
I want to be able to add animations when scrolling.
I want to be able to customize the layout in a different manner than already available through paper bits.
All of these can be done by allowing the add of custom css.

[2019-09-09 16:47] mikebudzynski commented on #122
Related: https://github.com/MicrosoftDocs/azure-docs/issues/38481

[2019-09-09 17:27] mikebudzynski commented on #152
The call shouldn't count for billing - the pricing model is based on a monthly fee, not per API execution.

[2019-09-09 18:11] mikebudzynski commented on #151
Thanks, @cristianhosu

We do not support custom CSS or JS injection in the managed version of the portal, so that we can guarantee safety during service upgrades. If we allow for injection of custom CSS, we won't be able to check for compatibility of new portal releases with customers' portals, which may result in service upgrades breaking customers' portals.

We'd like to offer enough flexibility

[2019-09-09 18:11] #151 closed

[2019-09-10 23:44] azaslonov opened #153 "API analytics widget (for use in user's profile)"

[2019-09-11 17:53] mikebudzynski opened #155 "Captcha"

[2019-09-12 00:58] glav opened #156 "Support adding client certificates when using the 'Test API' feature in the Developer portal"
**Is your feature request related to a problem? Please describe.**
We have a few customers who use client certificates as part of the authentication process to the API's managed by APIM. in APIM we have defined policies to check various aspects of incoming client certs such as thumbprint (for example). When trying to test API's using the developer portal for registered users, they are unable to ex

[2019-09-16 23:56] mikebudzynski opened #161 "Fix app initialization and APIM client in managed version"

[2019-09-16 23:56] mikebudzynski commented on #161
Closed with https://github.com/Azure/api-management-developer-portal/commit/86d55cd052931ae0e90122356b8c9f838635cd4b

[2019-09-16 23:56] #161 closed

[2019-09-18 17:29] mikebudzynski opened #162 "Using a newly added font for typography styling not working"

[2019-09-18 17:57] mikebudzynski commented on #162
Closed with https://github.com/Azure/api-management-developer-portal/pull/159

[2019-09-18 17:57] #162 closed

[2019-09-19 21:06] #153 closed

[2019-09-19 21:08] mikebudzynski opened #164 "Require signing in for portal access if configuration selected in API Management (managed version)"

[2019-09-23 23:59] #27 closed

[2019-09-24 00:32] mikebudzynski opened #166 "Sign-in form enhancements"
- Should warn of mismatching passwords
- Should indicate which fields are required
- Should warn of invalid input in fields (e.g., password strength, name too short etc.)

[2019-09-24 00:33] #166 closed

[2019-09-26 07:46] yull1860 opened #168 "Show blank page when access new portal within Internal VNet"
follow the docs to deploy APIM to internal vnet , everything fine.

config hosts mapping to 5 ServiceEnd Point *.azure-api.net
Old admin/developer accessible without problem .
**new portal only show blank page** , from F12 trace can see loading config.json error with timeout
and it is refer to APIM public ip : 443

![image](https://user-images.githubusercontent.com/17472445/65668570-87c25980-e074-

[2019-09-26 20:57] mikebudzynski commented on #168
@yull1860 Thanks for opening this Issue. We have a task to enhance the documentation on configuration with VNET: https://github.com/Azure/api-management-developer-portal/issues/97

In the meantime, @ygrik / @azaslonov - could you please assist?

[2019-09-28 13:49] KannanKalisamy opened #172 "API operation widget - missing details in service API response"
**Expected behavior**

When i try to extend the operation detail component to include more detail.  i couldnt find the service api doesn't have much detail compared to pervious portal operation page

example : sampleurl

/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/xxxxx/providers/Microsoft.ApiManagement/service/{}/apis/{Operation}/operations/{operation}?api-version=2018-06-0

[2019-09-30 11:10] DonatasMaz commented on #121
Hello,
Currently, we are building our new API Product which will be released at the end of 2019. Here, we do have a dilemma.:
- Having in mind that MS plans to launch the GA version at the end of the year and we plan to launch our API platform at the same time, what your general advice would be for customizing/and prepare dev portal?  Should we develop our Dev Portal based on New Dev Portal or sho

[2019-09-30 11:53] sidtheblue opened #173 "Support for displaying Callbacks documentation"
The operations page does not display details of "Callbacks" section included in Open API 3.0:
https://swagger.io/docs/specification/callbacks/

Please could any callbacks defined against an operation be displayed in the new developer portal, in a similar way to Swagger UI

[2019-09-30 17:28] mikebudzynski commented on #97
Added an explanation in documentation: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal#what-do-i-need-to-configure-for-the-new-portal-to-work-in-my-api-management-service-in-vnet

Other articles have been updated as well.

[2019-09-30 17:28] #97 closed

[2019-09-30 17:29] mikebudzynski commented on #168
@yull1860 - apologies for delay in the response. We have added an explanation in the Azure documentation: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal#what-do-i-need-to-configure-for-the-new-portal-to-work-in-my-api-management-service-in-vnet

Other articles also describe allowing the connectivity on new developer portal's endpoint.

[2019-09-30 17:29] #168 closed

[2019-09-30 17:55] mikebudzynski commented on #121
@DonatasMaz

We plan to have a production-ready version of the portal in mid-November and the new version will include significant changes to the widgets (some are already there) and default content and structure. If this timeline works for you, I suggest that you hold off until then and go with the new developer portal - especially because there won't be an automated migration between the old and

[2019-09-30 18:00] mikebudzynski commented on #173
@sidtheblue Could you please let us know if you're able to see callbacks in the OpenAPI file generated by API Management, after you create an API by importing your own OpenAPI file with callbacks defined?

You can access the API Management generated file through Azure portal (https://docs.microsoft.com/en-us/azure/api-management/edit-api#update-the-swagger) or through the developer portal (downloa

[2019-09-30 18:03] mikebudzynski commented on #172
@KannanKalisamy What information do you need that the API doesn't return?

[2019-10-01 01:27] KannanKalisamy commented on #172
@mikebudzynski  i tried to get the request url please see the attached screen shot from old portal

![image](https://user-images.githubusercontent.com/16281799/65927784-6a0f3e80-e43e-11e9-82e3-db90d1f6030e.png)

[2019-10-01 10:47] KannanKalisamy opened #176 "Operation-detail widget - Missing schema details"
Operation-detail widget missing response schema detail. When i tried to debug the page schema-detail components widget is not loading the schema detail.  I checked open api definition schema was loaded correctly in azure portal.

![image](https://user-images.githubusercontent.com/16281799/65955894-7de19180-e48c-11e9-87b7-75b7a9a03542.png)

[2019-10-01 11:39] sidtheblue commented on #173
Hi, the answer is no. APIM seemingly "ignores" the callbacks block in Open API 3 specs. When you then choose to export the API Definition in the classic (or new) developer portal, the spec that is returned omits the callbacks section that was originally included in the imported swagger.

[2019-10-01 15:08] mikebudzynski commented on #173
@sidtheblue - Thanks for checking. We first need to implement support for `callback` in API Management (I took a note of that) and then include it on the developer portal.

Our goal for GA of the new portal is feature parity with the old one. We'll look again into this request at a later date.

[2019-10-01 21:59] mikebudzynski opened #177 "AAD B2C sign-in/-up"

[2019-10-01 23:41] azaslonov commented on #172
Hi @KannanKalisamy, that's fair, we'll add a helper method to generate sample URL. We'll also include it into default widget template.

Please use this issue for tracking.

[2019-10-02 13:02] KannanKalisamy commented on #172
HI @azaslonov  Thanks and also few other attributes are missing in the operation detail response .
Example under the response object missing statusDescription. which will be used in the operation-detail template to show the response status code and status description,

![image](https://user-images.githubusercontent.com/16281799/66046009-36c8ce80-e568-11e9-8689-8dcb5ff3f8d4.png)

[2019-10-02 16:23] dgrospelier opened #178 "Body is empty in the TryIt page"
Hi,
I have an API I want to test from the dev portal. I have defined the definition of the request/response and also examples of requests/responses.
But when I do a TryIt, the body of the request is empty.
In the previous dev portal, the body contains the sample of request coming from the definition of the API.

[2019-10-02 16:26] azaslonov commented on #178
Hi @dgrospelier, yes, this coming soon.

[2019-10-02 16:28] azaslonov commented on #172
Hi @KannanKalisamy, understood, we'll add it as well.

[2019-10-02 16:28] dgrospelier opened #179 "Sign-up for Product button is missing"
Hi,
In the current version of the dev portal, it is not possible for a developer to subscribe to a product or an API. It is very important to provide this feature because it is the main workflow to ask for API access for external developers.

[2019-10-02 17:27] mikebudzynski commented on #172
@KannanKalisamy Thanks for letting us know. We're currently working on a new version of this widget, we appreciate every comment or suggestion.

[2019-10-02 17:30] mikebudzynski commented on #179
@dgrospelier Could you please share the details and repro steps? The new portal has a subscribe functionality through the "Products" page in the default content. Note: it's not available to administrators, you need to publish the portal first.

[2019-10-02 17:31] mikebudzynski opened #180 "New widget: API revision history"

[2019-10-02 19:48] dgrospelier commented on #179
@mikebudzynski: I have just published the default portal, open the portal in a private browser session, signup as a new user, open the product page, open a product and then I can see that I have no subscription and there is no action button to ask for a subscription.

[2019-10-02 21:57] mikebudzynski opened #184 "Analytics don't work for non-admin users"

[2019-10-02 22:08] #184 closed

[2019-10-02 23:31] mikebudzynski commented on #179
Could you please provide us with your API Management service name?

[2019-10-02 23:59] mikebudzynski opened #185 "New widget: list of Products"

[2019-10-03 00:01] mikebudzynski opened #186 "Widget redesign: API reference (operation details)"

[2019-10-03 00:02] mikebudzynski commented on #105
Merge to https://github.com/Azure/api-management-developer-portal/issues/186

[2019-10-03 00:02] #105 closed

[2019-10-03 00:05] mikebudzynski opened #187 "Widget redesign: product's details"
Also address:

- https://github.com/Azure/api-management-developer-portal/issues/83

[2019-10-03 00:06] mikebudzynski commented on #57
The new Product widgets will reflect subscription states. Merging with #187

[2019-10-03 00:06] #57 closed

[2019-10-03 00:08] mikebudzynski commented on #138
This will be addressed as part of the product widgets redesign. Merging with #187

[2019-10-03 00:08] #138 closed

[2019-10-03 00:10] mikebudzynski commented on #172
The new API operation details widget will contain the helper method as well as response description. Merging with #186

[2019-10-03 00:10] #172 closed

[2019-10-03 00:11] mikebudzynski commented on #176
Merging as this will be addressed with #186

[2019-10-03 00:11] #176 closed

[2019-10-03 00:16] mikebudzynski commented on #178
Thanks @dgrospelier - I'm merging the Issue as it will be addressed as part of #186

[2019-10-03 00:16] #178 closed

[2019-10-03 04:30] dgrospelier commented on #179
thuasnedemo

[2019-10-03 22:10] mikebudzynski commented on #179
@dgrospelier I allowed myself to sign up on your portal, since the Products page is currently restricted to logged in users. I can confirm the button to sign up for a product is missing in your developer portal, thank you for reporting the issue. We will investigate this as part of #187

[2019-10-03 23:45] #180 closed

[2019-10-03 23:52] mikebudzynski opened #188 "Authentication delegation"

[2019-10-04 00:05] mikebudzynski commented on #49
Merge with #186

[2019-10-04 00:12] mikebudzynski commented on #179
@azaslonov - seems like you have more context on this?

[2019-10-04 04:09] dgrospelier commented on #179
Ok thanks @mikebudzynski

[2019-10-04 06:39] KannanKalisamy opened #189 "Navigation - can't nest menu items"
**Describe the bug**
I tried to add a new menu item under main menu . there is no option to add child menu item under the main nav.  and also i couldnt create a new Navigration group menu.

can you please let me know how to add a child menu and also how to create a new nav menu group.
![image](https://user-images.githubusercontent.com/16281799/66186380-70fbb280-e6c5-11e9-9828-b956195b7727.png)

[2019-10-04 16:51] mikebudzynski commented on #189
Thanks, @KannanKalisamy - we're aware of the problem and the bugfix is coming (most likely) next week.

[2019-10-04 19:51] #185 closed

[2019-10-04 23:22] mikebudzynski opened #191 "Custom domains support"
https://feedback.azure.com/forums/248703/suggestions/37934869

[2019-10-07 02:27] tyakubiv opened #192 "Delegation of product subscription"
Hi,
Current developer portal supports delegation of product subscription. Will this feature be available in GA release?

[2019-10-07 13:10] mikebudzynski commented on #192
Yes. Merging with the right Issue: https://github.com/Azure/api-management-developer-portal/issues/188

[2019-10-07 13:10] #192 closed

[2019-10-08 02:58] KannanKalisamy commented on #186
@mikebudzynski  can you please confirm #186 details are merged to master branch ?

[2019-10-08 12:20] KannanKalisamy opened #196 "Schema Model Detail - Array Object is not rendering in the schema detail compoent"
**Describe the bug**
I have imported swagger definition file into APIM Publisher portal. It shows operation details and  model definition is not rendered correctly. example model has array of object and schema detail is not showing correctly . DataType is missing and it's not linked actual schema object.

**To Reproduce**
i've attached the swagger definition and screen shot [current operation deta

[2019-10-08 14:28] mikebudzynski commented on #196
Merging with #186

[2019-10-08 17:45] #177 closed

[2019-10-08 17:45] #189 closed

[2019-10-10 13:26] mikebudzynski opened #198 "Widget redesign: API list"

[2019-10-10 19:52] #198 closed

[2019-10-11 23:03] mikebudzynski opened #201 "VNET support for managed portal"
Support VNET natively, without a need for enabling additional connectivity

[2019-10-11 23:04] mikebudzynski opened #202 "Widget redesign: API operations list"

[2019-10-13 13:24] KannanKalisamy opened #204 "Azure AD Login - Issue"
**Describe the bug**
Ive configured api management "Azure Active Directory" identity provide. Im not able to login  into  preview developer portal. After sign-in process its redirect to signin page doesnt process the token and profile page was empty.  but when i try the same process in old portal its works.

And also menu still doesnt show the logged in user name . i was expecting after sign-in pr

[2019-10-14 15:57] #187 closed

[2019-10-14 17:24] mikebudzynski commented on #204
A dynamic menu is coming with #77 (although it may not contain profile name).

@azaslonov Could you please take a look?

[2019-10-14 23:25] mikebudzynski commented on #202
Closed with https://github.com/Azure/api-management-developer-portal/pull/205

[2019-10-14 23:25] #202 closed

[2019-10-15 09:58] rndthoughts opened #206 "Clarification of Azure B2C Authentication"
The pricing tiers for API Management on the Azure website make it clear that Active Directory Integration is only available at the Standard tier or higher.  The recent release of #177 enables B2C authentication.

Can someone please clarify - does the new developer portal support B2C authentication regardless of payment tier or would I need to be on the Standard tier or above purely to use B2C on t

[2019-10-15 10:05] rndthoughts commented on #206
OK I've found the relevant documentation stating Basic isn't supported.  This is a bit of a blow, Amazon offer Cognito integration by default and we already use B2C integration in the rest of our solution.  Could someone shed any light on why Basic doesnt include B2C?

[2019-10-15 14:28] KannanKalisamy opened #207 "Operation console - missing oauth token generation"
**Describe the bug**
After configured the oauth 2.0 server and api security has enabled to use the oauth server. but new portal operation console ( Try It ) option doesn't have the functionality to generate the access token from oauth  provider. Missing oauth token generation option in the Authorization section. However old portal has option to generate the token and its works.

**Portal environme

[2019-10-15 17:12] mikebudzynski commented on #206
@rndthoughts - AAD integration in the developer portal is supported only in the Standard and Premium tiers of API Management: https://aka.ms/apimpricing

[2019-10-15 17:12] #206 closed

[2019-10-15 17:17] mikebudzynski opened #208 "Authenticate with OAuth in the interactive developer console"

[2019-10-15 17:18] mikebudzynski commented on #207
Thanks @KannanKalisamy for feedback! This feature is coming in a month or two.

Merging with https://github.com/Azure/api-management-developer-portal/issues/208

[2019-10-15 17:18] #207 closed

[2019-10-16 19:11] mikebudzynski opened #212 "Products delegation"

[2019-10-16 19:13] mikebudzynski opened #213 "Error handler and alerts"
Handle and surface portal runtime errors (for example, failure of API Management REST API)

[2019-10-16 19:45] #188 closed

[2019-10-16 21:43] #213 closed

[2019-10-16 23:37] #155 closed

[2019-10-17 22:24] KannanKalisamy commented on #204
@mikebudzynski Also after AAD Sign process is completed , if user not exists in the APIM user store, then redirect to sign up form to complete the sign process ? Can you confirm this functionality will be included  ?

[2019-10-18 14:25] rndthoughts opened #216 "Failure to add pictures to content."
**Describe the bug**
I am no longer able to add pictures to pages.

**To Reproduce**
1. Open the new developer portal from the azure portal.
2. Navigate to a page.
3. Add a new section.
4. Add a "picture" element.
5. Select the picture in the toolbox.
6. Receive an error message (Oops, something went wrong).

**Expected behavior**
A picture is added to the current section.

**Portal environment**

[2019-10-18 16:12] tvanfosson opened #217 "URL in API documentation reflects the portal domain, not the gateway domain"
In the new portal, when displaying a resource within the API the URL shown for the request uses the hostname for the developer portal not the hostname for the API gateway. For example, using a self-hosted custom domain named portal.contoso.com with an API gateway at api.constoso.com, the documented URL for a customer API method that returns the current customer's profile would read:

`https://port

[2019-10-18 16:21] tvanfosson opened #218 "Try It URL in new portal does not reflect a custom domain even when selected as the default SSL binding"
In the Try It section for an API resource in the new portal, the hostname used in the URL is the default name of the API gateway endpoint regardless of whether a custom domain is set as the default SSL binding for the API Management service.  This is true both for self-hosted and managed portals.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a custom domain for the API gateway
2. Ma

[2019-10-18 17:09] mikebudzynski commented on #217
Will be closed with #186

[2019-10-18 17:10] mikebudzynski commented on #218
Will be closed with #186

[2019-10-18 22:07] RupengLiu opened #219 "Implement Validation Summary Widget"
**Is your feature request related to a problem? Please describe.**
We have many sources of user related validation errors from user-signin, user-signup, reset-password, change-password, etc. And we don't want to show these errors on different places and it doesn't make sense, also to improve components reuse and reduce duplicate code, we  decided to make this validation summary widget.

**Describe

[2019-10-18 22:08] #219 closed

[2019-10-18 22:29] mikebudzynski opened #220 "Unpublish portal button in the menu"

[2019-10-18 22:29] mikebudzynski opened #221 "Purge portal content button in the menu"

[2019-10-21 14:54] KannanKalisamy opened #223 "API Products - componet is not list product"
**Describe the bug**
Product search is not working and doesnt show product details

**To Reproduce**
Steps to reproduce the behavior:
taken the latest code form master branch and configured APIM detail.

**Portal environment**
Managed / Self-hosted

**Additional context**
![image](https://user-images.githubusercontent.com/16281799/67216409-806d5080-f466-11e9-92fa-d8d100f6b14d.png)

[2019-10-21 18:07] azaslonov commented on #204
Hi @KannanKalisamy, yes, if not exists, user will be created as part of the process.

[2019-10-22 22:07] RupengLiu opened #228 "Add terms of use to the user sign up"

[2019-10-22 22:07] #228 closed

[2019-10-23 00:47] mikebudzynski commented on #223
Could you please give us an SHA of the commit you're running your portal off?

[2019-10-23 00:52] #77 closed

[2019-10-23 00:52] #136 closed

[2019-10-23 00:52] #186 closed

[2019-10-23 05:26] azaslonov commented on #223
Fix has been merged.

[2019-10-23 05:26] #223 closed

[2019-10-23 05:27] azaslonov commented on #191
Custom domains are now supported.

[2019-10-23 05:27] #191 closed

[2019-10-23 11:01] tomkerkhove opened #230 "Provide capability to run the developer portal as Docker container"
Provide capability to run the develop portal as Docker container so that we can run it wherever we want - In Azure, on-premises or on our local box for local experimentation.

Would allow us to test things out before pushing changes to other stages.

[2019-10-23 19:37] #212 closed

[2019-10-23 20:25] mikebudzynski commented on #230
@tomkerkhove Could you please elaborate more on why the current solution isn't enough? The developer portal doesn't require a backend, so I'm not sure what could be packaged in the Docker container. Portal can be served through storage or a simple proxy.

[2019-10-23 20:32] mikebudzynski commented on #201
@mikebudzynski to change documentation

[2019-10-23 20:32] #201 closed

[2019-10-24 22:20] #230 closed

[2019-10-24 22:23] mikebudzynski commented on #230
Tom, I closed the issue because feature requests should now be posted at https://aka.ms/apimwish as per our readme instructions.

Feel free to clarify your scenario here though.

[2019-10-24 23:57] #49 closed

[2019-10-25 00:00] #217 closed

[2019-10-25 00:04] #218 closed

[2019-10-25 06:38] tomkerkhove commented on #230
Makes sense, thanks!

[2019-10-25 15:14] njdnet101 commented on #125
A simple table widget would be useful when writing general pages. Not all content fits neatly into lists. I might be able to something creative with sections but that feels wrong

[2019-10-25 20:06] mikebudzynski commented on #156
Closing this Issue, the feature request is available to upvote or comment on here: https://feedback.azure.com/forums/248703-api-management/suggestions/17047705-client-certificate-authentication-in-developer-co

[2019-10-25 20:06] #156 closed

[2019-10-25 20:59] #220 closed

[2019-10-28 15:12] molinch opened #238 "Feature request: allow selection of template data"
APIM developer portal would be fully templatable if it was possible to choose the data which goes into portal template data. Currently this seems hardcoded.

It would allow much richer interactions, like having a single page where you see the APIs, and their operations. Furthermore you could select data which you don't have today, like if the operation is deprecated. This is part of OpenAPI but no

[2019-10-28 16:59] kdelgadod opened #239 "Publishing the portal doesn't work"
Since the last week i was published new content (new images and new texts) iin my new azure api managment developer portal and since yesterday all changes are not show. The only message is " The website is being published..." and nothing else happens.  Is there a reported issues?

Tha last week works normal.

**API Management service name**
new developer portal

**Environment**
Azure

[2019-10-28 17:58] #204 closed

[2019-10-28 18:07] mikebudzynski commented on #239
@kdelgadod Could you please:

1. Retry and see if the error still persists
2. If it does, provide us with the service name and reproduction steps

[2019-10-28 18:20] #164 closed

[2019-10-28 19:19] kdelgadod commented on #239
I retry and nothing happens
![pub](https://user-images.githubusercontent.com/54553759/67710400-e0478800-f98d-11e9-8a07-d5d36805a6bb.png)

[2019-10-28 21:34] kdelgadod commented on #239
I retry and nothing happens

![pub](https://user-images.githubusercontent.com/54553759/67719920-c5324380-f9a0-11e9-81f9-f0aafbb36541.png)

[2019-10-29 08:47] samb0803 opened #246 "Dependencies aren't Linux compatible"
**Describe the bug**
The @paperbites dependencies aren't consistent with their usage of capitals. So running an npm run publish fails on Linux as it's case sensitive.

**To Reproduce**
Steps to reproduce the behaviour:

On a Linux OS (Docker image).
1. Go to where this repository is cloned on your local.
2. docker run -it -v $PWD:/opt node bash
3. cd /opt
4. npm install
5. npm run publish

![image

[2019-10-29 17:27] mikebudzynski commented on #246
@samb0803 We're aware of the problem; we'll update the issue when it's resolved.

[2019-10-29 17:28] mikebudzynski commented on #239
Thanks for the reports, we will investigate the problems as soon as possible

[2019-10-29 17:47] kdelgadod opened #247 "Error page 404 when we click in a product in the Products Page"
Hello

When i logging to the APIM  and choose the page Products it shows me the list of products subscribed. WHere i click in the subscription it shows me the error page: "Page you're looking for doesn't exist"

Whats is the problem? weeks ago it works normally

**API Management service name**
contoso-api

**Environment**
AZure

![image](https://user-images.githubusercontent.com/54553759/67793234-

[2019-10-29 19:21] #246 closed

[2019-10-29 20:39] RupengLiu opened #251 "Link from api reference to api history"

[2019-10-29 20:39] #251 closed

[2019-10-29 20:42] mikebudzynski commented on #221
Closed with e163f73425383e778b17387b4b2cc988257d1212

[2019-10-29 20:42] #221 closed

[2019-10-30 17:44] mikebudzynski commented on #239
The fix has been deployed and is being rolled out. Your service should be upgraded by the end of the week.

Please, reopen the issue if the problem still persists after that.

[2019-10-30 18:04] mikebudzynski commented on #173
@sidtheblue We're moving all the feature requests to our Feedback Forum. Could you please open this feature request again at https://aka.ms/apimwish?

[2019-10-31 00:07] mikebudzynski opened #268 "Default content refresh"

[2019-10-31 04:01] Blackbaud-BenLambert opened #270 "How to leverage the APIM portal content API in the context of a user?"
The new developer portal makes calls to endpoints in APIM to fetch portal content (APIs, operations, products, etc.). From looking at the code here and observing the runtime behavior, I believe these endpoints can be called anonymously (no Authorization header) or with a Bearer or SAS token (and I believe the SAS can either be a publisher-facing SAS token for admin operations, or a user-facing SAS

[2019-10-31 18:15] mikebudzynski commented on #268
Closed with ecfcc82d63d7e080600d9cdcd8d10c4405a416c4

[2019-10-31 18:15] #268 closed

[2019-10-31 18:23] mikebudzynski commented on #270
Ben, you can use the following API endpoint:
https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/user/getsharedaccesstoken

You can call it either through ARM or through the direct access API.

[2019-10-31 18:23] #270 closed

[2019-10-31 18:27] Blackbaud-BenLambert commented on #270
Ah, thanks Mike that's exactly what I needed...sorry, I just completely missed seeing that endpoint in the docs..

[2019-10-31 19:21] mikebudzynski commented on #179
Closing the inactive issue. We'll be rolling out new portal updates in the following days; please reopen if issue persists.

[2019-10-31 19:21] #179 closed

[2019-10-31 19:21] mikebudzynski commented on #83
We'll be rolling out portal updates in the coming days. Please, reopen the issue if problem persists.

[2019-10-31 19:21] #83 closed

[2019-10-31 19:26] mikebudzynski commented on #247
We're not able to provide support on individual case basis. Please, make sure you haven't removed the product details page. If problem persists, contact Azure support.

[2019-10-31 19:26] #247 closed

[2019-10-31 21:47] mikebudzynski commented on #238
@molinch Thanks for your feedback. The developer portal combines portal-specific data and APIM-specific data (like APIs or Products). In your example, the list of API operations is retrieved through an API Management REST API.

If you'd like to vote on the deprecation feature, you can do it here: https://feedback.azure.com/forums/248703-api-management/suggestions/6684898-mark-api-operations-as-obs

[2019-10-31 21:47] #238 closed

[2019-10-31 21:51] mikebudzynski commented on #45
@mikaelsand Thanks for this great suggestion. It does make a lot of sense and we'll keep it in mind for future, but we won't be able to implement it in the coming weeks. As per our latest guidelines in the readme file, feature requests need to be now moved to our Feedback Forum at https://aka.ms/apimwish

[2019-10-31 21:51] #45 closed

[2019-10-31 21:59] mikebudzynski commented on #35
Thank you for your feedback, Massimo. We won't be able to fit this feature in the scope of the portal's general availability.

As per our new guidelines from the readme file, we now manage feature requests in our Feedback Forum at https://aka.ms/apimwish

[2019-10-31 21:59] #35 closed

[2019-10-31 23:07] #134 closed

[2019-11-01 08:17] molinch commented on #238
Thanks for the feedback @mikebudzynski
I understand that feature request shouldn't be here. Just two remarks.

Regarding deprecation feature, well you could argue that it's an issue not a feature. Seems APIM claims it supports OpenApi3 documents and it is part of OpenAPI3...

The struggle with the template data is real, right now you can't design pages the way you would like them to be. I don't th

[2019-11-01 16:09] molinch commented on #123
@mikebudzynski it seems like new portal templates aren't saved to Azure git
Is it normal?

[2019-11-01 16:35] molinch opened #275 "Question: how to move customizations"
Hello, this is just a simple question regarding the new portal.
I couldn't find an answer in FAQ or elsewhere.

If you have two APIM instances, for example one for dev and for prod.
What is the recommended way to move your customizations from one environment to the other?

[2019-11-01 16:42] mikebudzynski commented on #238
There are limitations in how API Management supports OpenAPI and deprecation is one of them. It is on our roadmap to look into how we can provide support for deprecation.

Could please give a particular example how you want to combine the data? What would A, B, and C be in this case?

[2019-11-01 16:44] mikebudzynski commented on #123
Yes, they are not part of the DevOps repository or ARM templates.

[2019-11-01 16:46] mikebudzynski commented on #275
The recommended approach is described here: https://github.com/Azure/api-management-developer-portal/wiki/Migrate-portal-between-services

[2019-11-01 16:46] #275 closed

[2019-11-01 23:18] mikebudzynski commented on #239
This should already be fixed for most Developer and all new services. It's still being rolled out to higher tier API Management services.

[2019-11-04 14:05] techports commented on #179
Existing products are not available in products page in new developer's portal
API's are listing as teaser box. but unable to open and try it from new developer portal.
Any idea how to try api from new portal.
Thanks

[2019-11-05 15:44] rholloran commented on #121
Any idea on timing of the old portal deprecation?  It would be good to know for planning purposes.  We would prefer at least 8 months notice - 12 months preferred.

[2019-11-05 16:54] mikebudzynski commented on #121
The deprecation plans are not finalized yet. Any deprecation will be announced at least 6 month in advance

[2019-11-07 12:38] dwall123 opened #290 "CORS - since the browser initiates the request, it requires Cross-Origin Resource Sharing (CORS) enabled on the server."
Unable to use the new developer portal to send requests to APIM instance using 'Try It' functionality as the following message occurs.

"Since the browser initiates the request, it requires Cross-Origin Resource Sharing (CORS) enabled on the server."
I have set the CORS policy in the APIM Inbound section to allow all.

**To Reproduce**
- Navigate to the developer portal for a new APIM instance.
-

[2019-11-07 13:54] mikebudzynski commented on #290
Make sure you have specified the policy correctly, including allowed methods and headers. For example

[code]

If you're still having problems, please contact Azure support.

[2019-11-07 14:13] mikebudzynski commented on #179
@techports Which version of the portal are you using? Managed or self-hosted? If self-hosted, what's the release number?

You shouldn't be seeing these problems. Have you followed this tutorial? http://aka.ms/apimdocs/customizeportal

[2019-11-07 23:15] tomkerkhove opened #291 "Funky behavior when running on different port"
**Describe the bug**
We're running the portal as part of a Docker container that is exposed on `:8899` but the links to other pages no longer work then.

While the link adapts, for example `http://localhost:8899/apis` but in the end it will redirect to `http://localhost/apis`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Docker image, ([example](https://github.com/CoditEU/microserv

[2019-11-08 10:30] DerPate2010 opened #293 "Roles seem not to work in published mode"
**Describe the bug**
I'm using a self-hosted version. The "Visible to" option seem not to work for the published version. I was not able to debug the issue further. Is there any guidance to debug the published version of the portal (the version you get from "npm run publish")? I was not able to let Chrome map the compiled JS to the original TS files.

**To Reproduce**
Steps to reproduce the behavi

[2019-11-08 11:47] atrujillofalcon opened #294 "Error importing valid OpenApi example"
**Describe the bug**
When trying to import a valid OpenAPI file it fails because it does not correctly recognize the schema of one of the examples. This file has been validated as correct in editor.swagger.io and other tools.

**To Reproduce**
Steps to reproduce the behavior:
1. Go 'Add new Api'
2. Select OpenAPI type
3. Import attached OpenAPI file
4. Parsing errors are displayed:

- Parsing erro

[2019-11-08 11:48] atrujillofalcon commented on #294
[open_api_yml.txt](https://github.com/Azure/api-management-developer-portal/files/3824403/open_api_yml.txt)

[2019-11-08 13:14] sk-bln commented on #208
Is this the same issue that in my case prevents AAD authentication when accessing the managed Developer Portal?

[2019-11-08 13:18] sethwenzel opened #295 "Unable to view API in the Developer Portal"
**Describe the bug**
Unable to browse an API on the new API-M Developer Portal.  After clicking on the API from the API list, we briefly see the API's methods, then about 1-2 seconds later are redirected to a 500 error page.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in to the API-M Developer portal as a user
2. Click on APIs
3. Click the API you want to see
4. See error (seems to

[2019-11-08 21:31] erbg commented on #293
Same issue on Managed Version

[2019-11-09 03:02] AdrianSanguineti commented on #295
I've managed to reproduce the conditions which cause this error to occur. It appears to be occur whenever an operation has a response representation defined.

The steps I used to recreate the bug is:

1. Create a new blank API through Azure Portal
2. I added it to the default `unlimited` product to let me see the API published as anonymous user.
3. Create a new GET operation, name it anything and

[2019-11-09 04:56] AdrianSanguineti commented on #295
Curiosity has gotten the better of me and I've investigated the error further myself. It looks like the expected `SchemaContract` in the portal's code does not match the response that the schemas operation return in the management API:

[code]

[Line 10 of models/schema.ts](https://github.com/Azure/api-management-developer-portal/blob/master/src/models/schema.ts#L10) is expecting the response to b

[2019-11-09 12:14] SahinOzdemir opened #296 "Adding a block to library, not showing up"
I created a block on one of the pages and added it to th library of the hosted developer portal, when I want to select it from another page, it says my library is empty.

Perhaps I'm misunderstanding the functionality, but I would assume that adding a block to the library will result in being able to select it

[2019-11-09 13:39] SahinOzdemir commented on #239
The issue still exists on the developer tier. When I Publish 404 page, the changes arent being reflected in the live environment.

[2019-11-09 13:44] SahinOzdemir opened #297 "Signing in does not work."
Just checked the legacy developer portal and signing in works as expected. When I try to sign in on the new developer portal, I end up on the following page.

![image](https://user-images.githubusercontent.com/7938059/68529483-918bdd80-02ff-11ea-98e8-96ac9db3764e.png)

[2019-11-09 18:19] azaslonov commented on #297
Hi @SahinOzdemir, there is a known issue with users with a "dash" sign in their IDs, in the managed version of the portal. I believe this is your case as well (please let me know if it's not). The fix for this is ready and waiting to be shipped. ETA is 2-3 weeks.

[2019-11-09 18:19] #297 closed

[2019-11-09 18:21] azaslonov commented on #296
Hi @SahinOzdemir, yes, this is a known issue. The fix should be out some time next week.

[2019-11-09 18:30] azaslonov commented on #295
Hi @sethwenzel, @AdrianSanguineti (thanks for investigation!), thank you for reporting the issue.

I believe we don't distinguish properly between OpenAPI 2.0 (Swagger) and OpenAPI v3.0. We'll have a closer look into it and fix it. I'll update the thread once it's done.

[2019-11-09 18:45] azaslonov commented on #293
Hi @DerPate2010, @erbg. Sorry to hear that. Would you be able to email me your APIM service names to alzaslon@microsoft.com? I could look at your configuration closer and tell what's going on.

Regarding the debugging of runtime code: there is a file webpack.runtime.js describing build configuration. By default, it is set to production build with minimization enabled. What you can do is switch to

[2019-11-09 18:51] azaslonov commented on #291
Hi Tom, are we talking about the published version of the portal or you're running webpack development server in your container?

[2019-11-09 18:53] azaslonov commented on #239
Hi @SahinOzdemir, could you please email me your APIM service name at alzaslon@microsoft.com, I'll check if it has received the latest fixes. Thank you.

[2019-11-09 18:56] azaslonov commented on #294
Hi @atrujillofalcon, thanks for reporting the issue. We'll investigate this.

[2019-11-09 19:11] VitaliyKurokhtin commented on #294
This is a known problem. Should be fixed soon.

[2019-11-09 20:34] dornstein opened #298 "AAD auth to developer portal "could not resolve endpoints""
I'm trying to configure a new instance of APIM.  I want users of the developer portal to use AAD exclusively.  I created a new AAD app registration following the instructions here: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad

Now I go to the signin page and pick "Azure Active Directory."  I get this error:

**Unable to obtain id_token with client ID: 73c95b47-86f

[2019-11-09 20:38] azaslonov commented on #298
Hi @dornstein, sorry to hear that. There is known issue happening with AAD sign-in and we're working on it. The fix should be available in 2-3 weeks.

[2019-11-09 20:40] azaslonov commented on #294
@atrujillofalcon, please allow 1-2 weeks for the fix to be deployed. Thank you.

[2019-11-09 20:40] #294 closed

[2019-11-09 20:40] dornstein commented on #298
Yuck.  OK, well does that only impact the issues with the developer portal.  Can I still do things like protect my APIs using AAD?

[2019-11-09 20:43] azaslonov commented on #298
Yes, you should be able to do this using i.e. Validate JWT policy. Here's respective article: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad

[2019-11-09 21:06] dornstein commented on #298
Thanks for that.  There are a few things about that document that are unclear as I tried working through it.  It talks about setting up an OAUTH 2.0 auth server in APIM and in the example we create a new AAD app to represent the upstream API client.  In the example we do it for the developer portal and plug in the client id/secret for the developer portal.  But that suggests that every client of t

[2019-11-10 08:24] tomkerkhove commented on #291
We are using the published output which you can find in the sample mentioned above.

Do note that this was before GA but don't have source anymore so not sure how to find the version.

[2019-11-10 08:24] tomkerkhove commented on #291
Just wanted to report to verify that this is fixed or not.

[2019-11-11 11:22] SahinOzdemir commented on #297
Hi @azaslonov , I actually do not have a dash in my ID, only a dot. Same issue or something different?

[2019-11-11 11:22] SahinOzdemir commented on #296
Ok, could you let us know when this is rolled out then?

[2019-11-11 11:23] SahinOzdemir commented on #239
Just sent you an email @azaslonov

[2019-11-11 12:58] mattosaurus opened #299 "Incorrect AAD Redirect URL"
**Describe the bug**
I'm not sure if this is related to #298 or not but the AAD redirect URL appears to go to /signin rather than /signin-aad

**To Reproduce**
Steps to reproduce the behavior:
1. Add Azure Active Directory Identity to API Management Portal
2. Add "Sign in OAuth" widget to the signin page
3. Add redirect URL to AAD application, e.g. https://apimanagement.developer.azure-api.net/sig

[2019-11-11 14:14] ashemedai opened #300 "Migrate to the new, non-preview API version"
**Describe the bug**
The wiki in this repository mentions the use of `"managementApiVersion": "2018-06-01-preview"` a few times.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to wiki
2. Click on `self-hosting the portal`
3. Scroll down to `Step 2: Configure`
4. See error

**Expected behavior**
Expected to see `"managementApiVersion": "2019-01-01"` as per visiting https://docs.microsoft.

[2019-11-11 16:00] sethwenzel opened #301 "Unable to view API-M Trace in new Developer Portal"
**Describe the bug**
In the developer portal, if you use the "Try it" feature, and have tracing enabled, when you view the trace, about a second or so after viewing the trace you are redirected to a 500 error page.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in to the developer portal
2. Click on APIs
3. Select an API, and choose an operation
4. Select "Try it", which pops out a sid

[2019-11-11 18:24] mikebudzynski commented on #298
You can use OAuth for authentication of the API requests by applying the `validate-jwt` policy: https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#ValidateJWT

Setting up an OAuth server is for the ability to use OAuth in the interactive console of the developer portal (still not supported in the new dev portal: #208).

[2019-11-11 19:23] ygrik commented on #299
I do not see any steps with publishing.
Did you publish your changes (Step 2. Add "Sign in OAuth" widget to the signin page)?

[2019-11-11 19:48] #298 closed

[2019-11-12 00:18] mikebudzynski commented on #291
@tomkerkhove Thanks for reporting the problem, we'll investigate it and come back to you. It may take a while as we're working on other, high-priority issues at this moment.

[2019-11-12 01:00] mikebudzynski commented on #300
@ashemedai Thanks for opening this issue. Migrating to the new API version is one our roadmap.

[2019-11-12 01:02] mikebudzynski commented on #216
I'm closing the issue due to its inactivity. Please, let us know if the problem persists.

[2019-11-12 01:02] #216 closed

[2019-11-12 09:42] mattosaurus commented on #299
Hi, yes I have published. Sorry, should probably have put that in the steps.

The URL of my developer portal is https://datofyapimanagement.developer.azure-api.net (it's just a test one).

An example of signing in and being redirected back to the sigin page can be seen in this image.

![developer-portal-signin](https://user-images.githubusercontent.com/22458485/68658775-faf13380-052d-11ea-9466-848

[2019-11-12 10:54] jordiverav commented on #293
Hi Alexander,
We have this problem in our APIM instance.
I have seen that you commented on a possible solution on GitHub, in our case we have it hosted in Azure, we do not have it self-hosted.

Thank you very much for your help.

[2019-11-12 14:06] ashemedai commented on #300
@mikebudzynski Awesome to hear. I did try the 2019-01-01 API calls yesterday to retrieve the various data of a portal I clicked together and it all worked as it should (which shouldn't be a surprise, but still nice to know hopefully). I might actually write a blog post about this.

As an aside: awesome work on the new portal.

[2019-11-12 16:25] mikebudzynski commented on #300
Thanks, @ashemedai! Although the endpoint works, we still need to document the API [here ](https://docs.microsoft.com/rest/api/) before we switch the versions.

[2019-11-12 18:32] sethwenzel opened #303 "Unable to page through operations on api-details page"
**Describe the bug**
When viewing the operations in an API, I am unable to page through the operations

**To Reproduce**
Steps to reproduce the behavior:
1. Log into dev portal
2. APIs
3. Select an API with a large number of operations
4. on left hand navigation, below the operation list, select the greater than button (to page right)

**Expected behavior**
Should go to the next page of operations

[2019-11-12 18:38] azaslonov commented on #303
Hi @sethwenzel, thank you for reporting the issue, we're investigating.

[2019-11-12 18:40] azaslonov commented on #301
Hi @sethwenzel, thank you for reporting the issue. We're working on it.

[2019-11-12 18:56] #295 closed

[2019-11-12 19:07] #303 closed

[2019-11-12 20:42] sethwenzel opened #307 "All Definitions view-able on operation (not just the definitions used by the operation)"
**Describe the bug**
When viewing an API with many operations and definitions, each operation has the full list of all definitions, not just the ones that apply to the selected API operation.  With a large API, this is odd.

For example, we have an operation with 4 different definitions in it's swagger, but we have 100s of types in the API operations overall, so there's 100s of definitions on the

[2019-11-12 20:45] sethwenzel opened #308 "API operation page doesn't search"
**Describe the bug**
When viewing Operations for an API, the search box appears to not work.  No errors appear in the console

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in
2. APIs
3. Select an API
4. Search for an operation

**Expected behavior**
Expect the search to limit the operation list to just the operations that match the supplied search text

**Portal environment**
Managed

[2019-11-12 21:35] azaslonov commented on #308
Hi @sethwenzel, it looks like I can't reproduce the issue. Could you please check if there are errors in F12 console?

[2019-11-12 21:37] azaslonov commented on #307
Hi @sethwenzel, thank you for reporting the issue. We're looking into it.

[2019-11-12 22:24] azaslonov commented on #293
Understood. We're investigating it now.

[2019-11-12 22:34] mikebudzynski commented on #239
Update: the release is still being rolled out. We expect the rollout to finish by Nov 22nd.

[2019-11-13 00:14] RupengLiu commented on #301
@sethwenzel , thank you for reporting, btw, trace can be checked only in the design time

[2019-11-13 02:01] azaslonov commented on #301
Just to clarify a bit, Trace is available only to Admins. Therefore, this functionality was exposed to developers by mistake, which we're addressing now.

[2019-11-13 07:53] techports commented on #239
Just APIs are listing in new developer;s dashboard. Unable to open APIs and Products are also not listed,

[2019-11-13 09:10] SahinOzdemir commented on #239
I noted the same.  @techports @mikebudzynski

[2019-11-13 15:34] mikebudzynski commented on #239
@techports , @SahinOzdemir - can you please open a separate Issue with the bug report? Please include reproduction steps and the answers to my questions below:

1. I don't understand what you mean by "developer's dashboard". The user profile page doesn't show subscriptions to Products?
2. Why would you like to see open Products listed in the portal, if users can't subscribe to them?
3. What do you

[2019-11-13 15:44] sethwenzel commented on #308
There is an error about hasPrePage is not defined

Hitting enter, clicking the little search icon, both actions do nothing and have no console logging.
Also, I've noticed that the selected operation is not bolded in the list (after clicking, reloading does bold it)

Here's the only error i see:

`Uncaught (in promise) ReferenceError: Unable to process binding "if: function(){return hasPrePage }"
M

[2019-11-14 00:00] ygrik commented on #308
Hi @sethwenzel
This issue is because of #303

[2019-11-14 00:00] #308 closed

[2019-11-14 02:09] #301 closed

[2019-11-14 02:09] azaslonov commented on #301
Hi @sethwenzel, we decided to remove the Trace tab from the developer portal completely. Basically this is the legacy that came from the old portal, where it was added at times when there was no Test console in Azure portal, plus it was only available to administrators.

[2019-11-14 02:49] azaslonov commented on #299
Hi @mattosaurus, thank you for reporting the issue. We're working on the fix.

[2019-11-14 07:03] phil-deveau-3 opened #314 "500 Error on viewing API List"
**Describe the bug**
Creating a brand new portal, when navigating to the api list after several seconds I receive a javascript error and I am redirected to a 500 page.  No page customizations.

**To Reproduce**
Create a new api instance
Create post api definition with required query string, request body and response body
Publish portal
Create a user, subscription, login
visit api list page
receive

[2019-11-14 12:09] SahinOzdemir opened #315 "Running Migrate.bat gives errors"
Hi I am trying to push the developer portal from the APIM development instance to production.
In order to do so, I have installes nodejs, npm (and additional mkdir and azure-storage) locally. Everything is set up and I downloaded the scriptd folder locally. Also set all params in the migrate.bat file.
When running migrate.bat file it get errors like:
node:23296) UnhandledPromiseRejectionWarning: E

[2019-11-14 12:18] SahinOzdemir commented on #315
Ok found the issue, never mind.

[2019-11-14 12:18] #315 closed

[2019-11-14 13:18] sethwenzel commented on #295
@azaslonov & @ygrik - this is happening again, but with a new error, only if it's openapi 3.0.

`TypeError: "this.definition is undefined"
    initialize webpack:///./src/components/operations/operation-details/ko/runtime/type-definition.ts?:41
    node_modules paperbits/core/ko/knockout.loaders.ts?:74
    node_modules paperbits/core/ko/knockout.loaders.ts?:71
    c webpack:///./node_modules/knock

[2019-11-14 13:38] phil-deveau-3 commented on #314
I created a duplicate api without any request/response information similar to #295, perhaps this is related?

[2019-11-14 13:58] sethwenzel commented on #314
It does appear that OpenAPI 3.0 is broken again, in a new way

[2019-11-14 15:24] EdiFabric opened #316 "Support for multipart/form-data"
**Describe the bug**
Can't try API operation with multipart/form-data content type

**To Reproduce**
1. Set header Content-Type to be multipart/form-data
2. No button to upload file

**Expected behavior**
Provide a button to browse for files and include multipart/form-data in request body

**Portal environment**
Managed

**API Management service name**
contoso-api

**Environment**
 - Operating sys

[2019-11-14 20:05] ygrik commented on #295
@sethwenzel we did not deploy this fix to the managed version. Planning to deploy the fix this week.

[2019-11-14 21:03] azaslonov commented on #314
Hi @sethwenzel, looking at your screenshot, I think that you don't have the latest bits (if we're talking about self-hosted version, managed version wasn't updated yet, ETA end of this week).

[2019-11-14 21:03] #314 closed

[2019-11-14 22:24] azaslonov commented on #316
Hi @EdiFabric, thanks for reporting the issue. We're working on it.

[2019-11-14 22:28] azaslonov commented on #299
Hi @mattosaurus, we updated Azure portal Identities blade to show Reply URL for new developer portal:
![image](https://user-images.githubusercontent.com/2320302/68901494-e5753880-06ea-11ea-9fa0-4e2e6ef02676.png)

Please note, there is another issue with AAD authentication which is going to be resolved by the end of this week.

[2019-11-14 22:28] #299 closed

[2019-11-14 23:18] davidjsteele commented on #290
Also seeing this issue with the above policy in place, are you positive this is not a bug?

[2019-11-14 23:21] mikebudzynski commented on #290
@davidjsteele Can you please check if you applied the policy on the right scope (inbound for all operations in an API)?

[2019-11-15 00:03] #307 closed

[2019-11-15 07:48] dgrospelier opened #321 "Azure AD and Azure AD B2C authentication"
Hi,
In the new portal, I'm not able to sign-in or sign-up with Azure AD and Azure AD B2C identity is it a feature planned in the roadmap?

[2019-11-15 08:21] EdiFabric commented on #316
Thank you

[2019-11-15 10:20] davidjsteele commented on #290
@mikebudzynski Thanks for coming back to me so quickly.  The policy has been applied on the <inbound> scope at a product level and the API is associated with that product.

Bit more investigation; the browser error does indeed suggest a CORS issue as is initiating a pre-flight request with OPTIONS
![image](https://user-images.githubusercontent.com/7621977/68935844-2889e700-0791-11ea-934e-4c0fc884b

[2019-11-15 17:17] shwetashukla opened #322 "Product and API list are empty"
**Describe the bug**
I don't see any products or API on the portal

**To Reproduce**
Steps to reproduce the behavior:
1. Login to the developer portal
2. Click on menu item products
3. The list is empty
4. Click on the menu item API
5. The list is still empty

**Expected behavior**
Since I have subscription I should be able to see products and API

**Portal environment**
Managed / Self-hosted

**R

[2019-11-15 18:09] mikebudzynski commented on #290
@davidjsteele I'll reopen this issue and we'll investigate the problem. In future please open a separate issue.

[2019-11-15 20:00] ygrik commented on #291
Hi @tomkerkhove
The problem is in **Nginx** configurations and how it works with trailing **/**
For example, if you click a button with ref="/apis"
**Nginx** redirects the request to "/apis/" but Nginx does not know that you run the container on 889 port and redirects to http://localhost/apis/
You can find more info by this link
https://stackoverflow.com/questions/15555428/nginx-causes-301-redirec

[2019-11-15 20:00] #291 closed

[2019-11-15 20:09] mikebudzynski commented on #322
@shwetashukla This bug report doesn't contain enough information. As per [our guidelines](https://github.com/Azure/api-management-developer-portal#-interactions) we don't provide support through GitHub,

[2019-11-15 20:09] #322 closed

[2019-11-15 20:13] mikebudzynski commented on #321
This feature is already implemented in the developer portal: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#-developer-portal---add-azure-ad-account-authentication

If you need further assistance, see [our guidance](https://github.com/Azure/api-management-developer-portal#-interactions).

[2019-11-15 20:13] #321 closed

[2019-11-15 20:51] azaslonov commented on #290
Hi @davidjsteele, the legacy, portal works through proxy service. We'll add this option, in addition to direct browser calls in nearest future.

[2019-11-15 20:58] mikebudzynski commented on #290
@davidjsteele Can you confirm:

1. Your subscription key is part of the Product, which has the CORS policy
1. You're using the correct header for the subscription key (the header may be in the top section of the console)

If that still doesn't resolve your problem, you can email us with precise reproduction steps and the name of your service at apimportalfeedback@microsoft.com

[2019-11-18 15:18] davidjsteele commented on #290
Thanks @mikebudzynski - have replied by email.

[2019-11-18 19:37] Blackbaud-BenLambert opened #324 "new portal REST API returns backend serviceUrl"
Related to the question I asked in #270, I'm calling the new developer portal REST API `/apis` endpoint from our site, and it returns an array of api entities.  The `properties` object includes a `serviceUrl` that contains the URL to the backend API:

For example:
`    "value": [
        {
            "id": "/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.ApiManagement/service/xxx/apis/1

[2019-11-18 19:54] mikebudzynski commented on #290
Upon further investigation - this behavior exists by design.

The OPTIONS call is automatically issued by the browser and it doesn’t contain a header with the subscription key. Because API Management doesn't receive the subscription key, it can’t associate the OPTIONS call with a Product, so it can’t apply the CORS policy.

There are two workarounds:
-	Pass the subscription key in a query paramete

[2019-11-18 19:54] #290 closed

[2019-11-18 20:01] mikebudzynski commented on #324
@Blackbaud-BenLambert - thanks for reporting the issue, we're aware of the problem. Currently the new developer portal uses the direct access API in API Management.

We're planning to create a separate data endpoint for the portal. The new data API won't expose certain information, such as the backendServiceUrl property.

We don't have an ETA yet.

[2019-11-19 13:39] joeystdio commented on #122
In the new Developer Portal delegation doesn't seem to work anymore. The sign-in and sign-up buttons will always show the built-in pages and not redirect.

[2019-11-19 16:58] mikebudzynski commented on #122
@joeystdio Did it stop working or has it never worked? Could you open a separate issue with reproduction steps for tracking?

[2019-11-19 17:13] ygrik commented on #122
@joeystdio did you publish portal after saving delegation settings in Azure portal?

[2019-11-19 18:13] joeystdio commented on #122
@mikebudzynski actually I've never seen it working correctly.

@ygrik Indeed when publishing the portal after changing the delegation settings it's somewhat working. But what actually happens is that you first see the built-in register page followed by a  redirect to the delegation URL.

[2019-11-19 18:22] ygrik commented on #122
@joeystdio
yes, this is the designed flow. The built-in register page load and check is the delegation enabled and redirect to the delegationURL

[2019-11-19 18:33] joeystdio commented on #122
Wow, that's pretty ugly. Why not the same redirect as in the old developer portal? Why show a page first.

[2019-11-19 18:37] ygrik commented on #122
@joeystdio
We are working to move this logic to the backend in the nearest future.

[2019-11-19 18:50] mikebudzynski opened #326 "Portal should redirect to the delegation URL without showing the registration page"
Copied from another thread:

![image](https://user-images.githubusercontent.com/40186513/69176315-60a76780-0aba-11ea-8e06-436cd38d25ba.png)

[2019-11-19 18:51] mikebudzynski commented on #122
Thanks for your feedback @joeystdio

I'll be removing the comments from this thread because they are completely unrelated to this Issue. Please continue the conversation in #326

[2019-11-19 19:35] melborp opened #327 "Portal prompts for client certificate"
## Bug description

~~Hi, I created a new APIM instance yesterday night and as signed up with new user using username/password. i cant sign in such that would show me correct menu items (i continue to see "Home APIs Products Sign in Sign up" .. Sign In just takes me to home again when i have logged in. No authenticated user menu items, but i can manually navigate to https://apim/profile~~ See #293

[2019-11-19 19:43] azaslonov commented on #327
Hi Taavi, this is a duplicate issue, please track this item #293.

[2019-11-19 20:36] mikebudzynski commented on #327
Thanks for reporting the problems. As Alex indicated, we're tracking the menu visibility through #293  I've edited this issue to reflect the client certificate prompt only.

[2019-11-19 21:34] #293 closed

[2019-11-19 22:09] melborp commented on #327
Additionally, when i try to test an api and enter the subscription key into the field on the testing form .. the subscription key is not sent with request (with f12 debugger i can see its sent as undefined) and i get 401.
when i add custom header with "Ocp-Apim-Subscription-Key" header, then it works.

[2019-11-19 22:13] ptzbguenter opened #329 "Update documentation to reflect new portal URL in `generatessourl`"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2019-11-19 23:12] azaslonov commented on #327
Thanks Taavi, I could repro the issue. We'll fix it soon.

[2019-11-20 01:19] ygrik commented on #329
@ptzbguenter for the new dev portal the old approach doesn't work but you can generate it by yourself

for example, you can use APIM REST API to get sso url for
**user_id = 53d7e14aee681a0034030003**

**Method POST**
https://**service-name**.management.azure-api.net/users/**53d7e14aee681a0034030003**/token?api-version=2018-06-01-preview

**Headers:**
content-type: application/json
Authorization: S

[2019-11-20 08:43] joeystdio commented on #329
@ygrik isn't this something that belongs in the documentation? I just ran into the same problem.

I think it's a bit worrisome the new developer portal is no longer in preview while there is functionality missing/changed compared to the old (deprecated) developer portal.
It is a paid product but the current experience in using it doesn't give much confidence.

[2019-11-20 08:49] joeystdio commented on #122
@mikebudzynski Thanks for moving the comments to a new issue. The fact that there is functionality no longer working as before sounded to me like "functionality not available".

[2019-11-20 08:52] joeystdio commented on #326
It would also be nice if you don't have to publish the new developer portal after changing the delegation settings. Seems like a hack to me.

[2019-11-20 09:06] tgossler opened #330 "AAD sign-in and sign-up flow not working"
## Bug description

I have configured the AAD identify provider for one of our APIM instances and I'm trying to switch to the new portal.

I had to add the new redirect URL to the AAD application so that the sign-in is basically working.

Now I have the following problems.

1. When "Redirect anonymous user to sign-in page" is enabled in the Identities settings, then the sign-up page is not shown b

[2019-11-20 09:41] joeystdio commented on #329
@ygrik Actually when using the redirect URL as you suggest it is not working. Error message:

[2019-11-20 15:00] swebb2 opened #331 "POST Operations not loading in Developer Portal"
## Bug description

When viewing API operations in the developer portal, POST operation details do not load (spinning loading icon)

## Reproduction steps

1. Create new API Management instance.
2. Add sample Demo Conference API (make sure anonymous access is allowed).
3. Open developer portal and navigate to API Details page.
4. Click on SubmitSession operation.

## Expected behavior

Details for

[2019-11-20 16:01] ptzbguenter commented on #329
Hi @ygrik, thanks for the response.
I'm getting the same error as @joeystdio
Just to be extra clear, I am able to get a token from your provided token api, the response also includes the username and expiry in the value like so:
[code]

However, at this point, when I redirect to my APIM service like
https://**service-name**.developer.azure-api.net/signin-sso?token=user-to-find&201912200000&returne

[2019-11-20 17:35] KevinBacas opened #332 "Subscription Key not present in the "try-it" pane"
I tried the new Azure Developer portal. When I log in and browse the API, I'm unable to try to call it from the portal because the field **Subscription key** is not provided :
![image](https://user-images.githubusercontent.com/1434393/69262197-5755f200-0bc3-11ea-9055-67f6910ee7da.png)

Is there a way to fill this field automatically so users can try the API as we have in the legacy developer porta

[2019-11-20 17:44] KevinBacas opened #333 "Anonymous view even when logged in with AAD"
I added the ability to sign in with Azure Active Directory on the new developer portal but even when I'm logged in, I still have the anonymous view.
When I hit the sign-in button again, I'm redirected to the home page.

I configured the Identity and added the Widget on the website with the editor, published it.
It seems like I have the same problem when I use the Login/Password authentication meth

[2019-11-20 17:55] ygrik commented on #329
Hi @ptzbguenter
It looks like you use **user name** that contains dashes.
If you create a user with ID like **userToFind** without dashes, the token should work.

This is known issue was fixed and will be deployed in the next release

[2019-11-20 17:59] ygrik commented on #329
Hi @joeystdio
We are working hard to fill all gaps in documentation.
Unfortunately, we did not get much feedback during the preview stage.

[2019-11-20 18:05] azaslonov commented on #332
Hi @KevinBacas, thank you for reporting the issue.

Since you see keys in the old developer portal, but not in the new one, can you please check couple of things:
- you're signed in as a developer user (not admin) and you have a subscription to a product containing this API.
- in the old portal (when you see keys), you're not logged in as admin.

If you still think there is an issue after that, pl

[2019-11-20 18:07] azaslonov commented on #331
Hi @swebb2, would you please email is your service name to apimportalfeedback@microsoft.com, we'll have a look what's happening exactly.

[2019-11-20 18:22] azaslonov commented on #333
Hi @KevinBacas, this is a duplicate of #293. I assume you're reporting the managed version of the portal. If yes, there is a fix that is still to be deployed.

[2019-11-20 18:22] #333 closed

[2019-11-20 19:07] mikebudzynski commented on #331
This problem has been already fixed by this commit: https://github.com/Azure/api-management-developer-portal/commit/0daa6b8b85ae109477a183851b0ac2d52a26a15b

The new release will be rolled out in the next few days.

[2019-11-20 19:07] #331 closed

[2019-11-20 19:09] ygrik commented on #331
Hi @swebb2
It was fixed with the pull request
https://github.com/Azure/api-management-developer-portal/pull/325

[2019-11-20 19:22] ptzbguenter opened #334 "APIs secured by group don't show up"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2019-11-21 00:15] ygrik commented on #334
@ptzbguenter as I understand you did the following steps:

1. create **API**
2. create **Product**
3. added created **API** to **Product**
4. create **User**
5. create **Group**
6. added created **User** to **Group**
7. added **Group** to **Product**
8. **publish** Product

if you did all these steps, **User** must see the **API** in the developer portal after login.
if not, please send email us y

[2019-11-21 01:02] mikebudzynski commented on #329
Just to clarify - the old portal is not deprecated and we haven't announced any deprecation plans.

[2019-11-21 01:06] mikebudzynski commented on #239
The new release with the portal improvements has been rolled out to most of the API Management services.

[2019-11-21 01:06] #239 closed

[2019-11-21 01:59] azaslonov commented on #330
Hello Thomas, thank you for reporting the issue. We're investigating it now.

[2019-11-21 02:01] azaslonov commented on #326
Hi @joeystdio, yes, it makes sense, we'll fix that.

[2019-11-21 06:00] joeystdio commented on #329
@mikebudzynski that's good to hear. Actually in Azure the button to go to the old portal shows the deprecation message.

[2019-11-21 15:29] ptzbguenter commented on #334
Thanks @ygrik, I have completed all those steps, I'll send an email to that address.

[2019-11-21 17:53] ygrik commented on #297
Hi @SahinOzdemir
I think you muss up user **ID** with user **Name**. A user ID can not contain dots.

The User ID may contain only numbers, letters, and dash (-) sign when preceded and followed by a number or a letter.

[2019-11-21 23:01] mikebudzynski commented on #334
Duplicate of #293

[2019-11-21 23:01] #334 closed

[2019-11-21 23:04] mikebudzynski commented on #327
The issue has been fixed, please allow a few weeks for the API Management service deployment to roll out.

[2019-11-21 23:04] #327 closed

[2019-11-22 03:20] biplab023 commented on #121
@mikebudzynski - how can we  deploy the components(including images) of apim developer portal in different environments ?
 2. how can we take the back up for the contents of the  developer portal ?
 3. I am getting Problem while signing up and signing in  from the new developer portal. a) If i try to sign up with new profiles - it always tells you are a member .b) if i try to sign in - it still sh

[2019-11-22 13:39] avenieuw commented on #330
Dear Alexander

I just want to mention that we are having exactly the same issue.

Kind regards
John Bilay

[2019-11-22 19:11] mikebudzynski commented on #121
@biplab023

1. https://github.com/Azure/api-management-developer-portal/wiki/Migrate-portal-between-services
2. You can alter the script from the link above to perform backups.
3. Please open a separate bug report for this.

This thread is dedicated to portal deprecation, so I'll be deleting your comment in a few hours. If you'd like to report a bug, please open a new Issue. If you need assistance

[2019-11-22 19:11] erbg commented on #332
Hi,

I confirm the problem reported. In the new portal, allthow the subscription key is provided in the Subscription field, it is not valorized in the Header:

The Ocp-Apim-Subscription-Key is valorized with "undefined".

![image](https://user-images.githubusercontent.com/23281925/69453430-2e209780-0d64-11ea-924c-d09940a44d5e.png)

[2019-11-22 19:25] mikebudzynski commented on #332
@erbg

1. Is it in the published portal?
2. Could you please send us your service name to apimportalfeedback@microsoft.com and indicate the user and the API for which the problem manifests?

[2019-11-22 23:06] mikebudzynski commented on #208
@sk-bln No, it's authentication with OAuth credential in the interactive developer console.

[2019-11-25 09:15] biplab023 opened #337 "New Developer Portal sign in and sign out menu ."
@mikebudzynski- If I try to sign in to the new developer portal - it still shows sign in and sign up option in home screen  and also menu still doesn't show the logged in user name , was expecting after sign-in process menu should show profile name and sign out link . It would be great if you could address this issue.

[2019-11-25 11:49] chris9263 opened #338 "Unable to load section from library"
## Bug description

I am trying to add a section in the Home layout. I have saved the top section from the default layout to the library, but when i try to insert the new section it is only loading and not finding anything in the library. When saving the section to the library i get an OK message so the section should be there.

![image](https://user-images.githubusercontent.com/37179957/69538042-

[2019-11-25 13:58] dgrospelier commented on #333
Hi @azaslonov, is it possible to have more details on the deployment, just to know if our version of the portal contains the fix or not? Thanks.

[2019-11-25 18:09] azaslonov commented on #333
Hi @KevinBacas, yes, the fix has been deployed last week, please give it a try.

[2019-11-25 18:14] azaslonov commented on #337
Hi @biplab023, would you please send your service name to apimportalfeedback@microsoft.com, we'll check if you received the latest updates.

[2019-11-25 18:15] azaslonov commented on #338
Hi @chris9263, thank you for reporting the issue, but this is a duplicate of #296.

[2019-11-25 18:15] #338 closed

[2019-11-25 18:19] mikebudzynski commented on #337
Also, please make sure you re-published your portal

[2019-11-25 19:45] azaslonov opened #339 "Subscription scope "All APIs" not supported in Test console."
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2019-11-25 19:48] azaslonov commented on #332
Hi @erbg,

The issue with subscription in question here is the scope, currently, it is set to `All APIs`, which new portal doesn’t support just yet. I have filed a separate issue for tracking it: #339.

[2019-11-25 19:48] #332 closed

[2019-11-25 20:31] azaslonov commented on #330
Hi @tgossler, @avenieuw,

Here's an update:
_**Problem 1** - AAD signup doesn't work when `Redirect anonymous users to sign-in page` setting is on_: We figured out the issue and working on the fix. Unfortunately, there is no workarounds.

_**Problem 2** - Signed-in users still see menus for anonymous users_: This issue has been fixed and managed portal version deployed last week. Please give it a

[2019-11-25 20:31] #330 closed

[2019-11-25 20:58] ryangs1 commented on #121
What are the migration steps to convert an existing APIM instance to use the new dev portal? Or does a new APIM instance have to be created at this time as a replacement?

[2019-11-25 20:59] mikebudzynski commented on #121
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal#how-can-i-migrate-from-the-old-developer-portal-to-the-new-developer-portal
No need to recreate API Management service.

[2019-11-26 00:54] #339 closed

[2019-11-26 14:23] ilyabelkin commented on #121
Hi Mike, thanks for all the work on the new Developer Portal! Do you have a timeline for enabling social login providers for sign-up and sign-in? I've noticed you have a card titled "[Later] Sign in/up with online identity providers", is it planned in the short-term? We came to rely on Google for sign in since AD is not supported in some tiers of the API Management.

[2019-11-26 14:57] pedwards1 opened #341 "Changed subscription key header name not being used on the 'try it' page"
Hi,

I've deployed a new instance of APIM with the managed developer portal. A single test API has been added (an Azure function) which I was able to 'try' successfully from the dev portal (GET/POST).

Having changed the subscription key name however at API level (The 'header name' under 'subscription' on the 'settings' tab of the API) i'm experiencing an issue.

The new subscription key header na

[2019-11-26 15:49] tgossler commented on #330
Perfect, thanks!

I will give it a try soon.

Best regards,
- Thomas

From: Alexander Zaslonov <notifications@github.com>
Sent: Montag, 25. November 2019 21:31
To: Azure/api-management-developer-portal <api-management-developer-portal@noreply.github.com>
Cc: Gossler, Thomas (SHS DI DH TP PL) <thomas.gossler@siemens-healthineers.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/api-man

[2019-11-26 16:51] yinlaurent commented on #341
## Bug description

Hello, I have the same issue and was a bit late on the post :).

I modified the name of the APIM subscription key header to "Apim-Subscription-Key". In the previous developer portal, it was displayed correctly but in the new developer portal, the name of the header remains Ocp-Apim-Subscription-Key.
Consequently, basic calls from the new developer portal fall in error.

Does th

[2019-11-26 19:48] mikebudzynski commented on #121
@ilyabelkin That's valuable feedback, thanks for sharing it. We don't have a timeline yet, but we'll prioritize this work item; I'll update you once we know more. Realistically, we can aim at January/February.

[2019-11-26 20:34] ilyabelkin commented on #121
Thank you Mike, please don't deprecate the old portal before you implement this!

[2019-11-26 21:03] mikebudzynski commented on #121
We're not deprecating the old portal yet and any deprecation will be announced more than 6 months in advance.

[2019-11-26 23:13] azaslonov commented on #341
Hi @pedwards1, @yinlaurent, thank you for reporting the issue, we'll address it.

[2019-11-27 16:14] seekingtheoptimal commented on #121
In the new portal, the "Try it" functionality seems more limited compared to the "legacy" portal: I couldn't find a way to test authorization for example.

Another problem I've found, related to authorization also on the legacy portal, but couldn't find any place to report it: when doing the authorization once I select my configured Oauth2 from the dropdown, in the token I get in the end, the aud

[2019-11-27 23:51] mikebudzynski commented on #121
If you mean OAuth - it's a duplicate of #208

Please open a separate issue here and we'll triage it accordingly.

[2019-11-28 03:09] mmcmasterd3 opened #342 "Uploaded media files expire after 1 day"
##  Bug description

The URL's for uploaded media files (eg. favicons, logos) have a default expiry of 1 day in the generated SAS token in the Azure Storage account. The logos aren't visible in the "Media"
library anymore and appear as fully transparent empty squares. The logos disappear from the published portal. Attempting to download the files fail:

[code]

## Reproduction steps

1. Upload a n

[2019-11-28 03:21] mmcmasterd3 commented on #342
Looks like this issue was previously raised as #216 which was closed without a resolution.

[2019-11-28 03:29] mmcmasterd3 commented on #342
1-day expiry is generated by @paperbits/azure AzureBlobStorage.getDownloadUrl function.

[2019-11-28 09:25] seekingtheoptimal opened #343 "OAuth audience value in token prepended with the address of AD when testing authorization in legacy portal"
## Bug description

We are moving an existing API behind APIM. In APIM, I have set up OAuth 2.0, filled in all the details (implicit flow). The WebAPI is configured to check the aud (audience) value in the token within .AddJwtBearer(...), which is set to the Application ID of the registered app in the AD (as it should according to https://docs.microsoft.com/en-us/azure/active-directory/develop/id-

[2019-11-28 09:42] seekingtheoptimal commented on #343
Did some more looking around, and according to [this answer](https://social.msdn.microsoft.com/Forums/vstudio/en-US/06e3b4c7-4230-4573-aa43-fcc1bf0aeabe/audience-in-an-access-token-to-be-app-uri-id?forum=WindowsAzureAD) _"The "AUD" value in the token should match whatever the "Resource" value in the token request is. If you request a token where you specify the resource as an App ID, then you will

[2019-11-28 10:42] seekingtheoptimal commented on #343
Just for the sake of completeness, the WebAPI can be set up to handle multiple audiences, just not sure if this should be the good/only solution in this case:
[code]

[2019-11-30 02:22] rodsenra opened #344 "Developer Portal gives oops while legacy developer portal works fine"
For this portal https://gx-api-mngt.developer.azure-api.net/ after navigating to the API details, the page is rendered but there is a redirect to the /500 Oops page that prevents proper diagnose of the problem.
I was able to capture a screenshot before the redirect.
The same API renders just fine using the legacy portal.

![Screen Shot 2019-11-29 at 9 25 19 AM](https://user-images.githubuserconten

[2019-12-02 07:49] techports opened #345 "How to get oauth token from new developer portal console"
Unable to generate OAuth token from developer portal console as there is no security option is available on the new developer portal condole.  This option is available in Legacy developer portal console.

Unable to create checkbox button in Signup  page in new developer portal.

Thanks

[2019-12-02 07:57] techports commented on #208
OAuth selection is missing in new developer portal console whereas old developer portal had this feature.

[2019-12-02 07:59] techports opened #346 "Unable to add checkbox button in new developer portal"
Unable to add checkbox button in new developer portal pages.

Able to add only submit button.

How to add and where to write click event codes.

[2019-12-02 18:33] mikebudzynski commented on #208
You can issue this issue for tracking the feature.

[2019-12-02 18:33] mikebudzynski commented on #345
@techports - I saw you created respective issues separately, so I'll close this one.

[2019-12-02 18:33] #345 closed

[2019-12-02 18:34] mikebudzynski commented on #346
Can you please explain this scenario? Why do you need a checkbox and what do you want to achieve with it?

[2019-12-03 08:03] akhmaladi commented on #294
@azaslonov, im facing the same problem. has this fix deployed?

[2019-12-03 08:14] VitaliyKurokhtin commented on #294
Not yet

[2019-12-03 09:20] techports commented on #346
check box required in sign in page where  users must accept the terms and conditions before logging to the portal.  If this check box the checked ,then user will be  prompted to accept the terms and conditions before sing in to developer portal.

one more issue here is unable to add client scripts[java script] and html tags [table tags on the new developer portal.

[2019-12-03 16:16] jjohndrow commented on #344
I am getting this same issue. I created a new api management instance, imported and api. I assigned users, products, subscriptions and it works fine from the legacy portal but not the new portal. When I sign into the new dev portal I get "Oops. Something went wrong. Please try again later".  Any updates would be appreciated.

[2019-12-03 21:43] danpanaite opened #349 ""Required" property is not being displayed for request body parameters"
It looks like the "required" property of my request body parameters is not showing up in the "Operation Details" page.

Currently, the definition body schema is structured as below, where "required" is a list of references to properties:
[code]
Looking at the elements, I see that the request body table is referencing "required" directly on the property instead of the array:

`<div class="col-1" da

[2019-12-04 00:39] azaslonov commented on #349
Hi Dan, that's right, schema definition and view model are different entities and they don't (always) match.

Could you please clarify what do you mean by request body parameter here? If possible, using particular examples.

[2019-12-04 00:43] azaslonov commented on #344
Hi @rodsenra, @jjohndrow, thank you for reporting the issue.
It has been fixed by #347. The managed version of the portal is expected to be updated in 2 days.

[2019-12-04 00:43] #344 closed

[2019-12-04 00:47] azaslonov commented on #342
Hi @mmcmasterd3, thanks for reporting the issue. We're investigating.

[2019-12-04 01:06] azaslonov commented on #343
Hi @seekingtheoptimal, I agree the documentation is not super clear, but in the [article you provided](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens#payload-claims) they do mention the format of the audience:

![image](https://user-images.githubusercontent.com/2320302/70103025-c8979b00-15ee-11ea-9101-1a0362398d5f.png)

Hope that helps.

[2019-12-04 01:06] #343 closed

[2019-12-04 01:15] azaslonov commented on #346
Hi @techports, as you figured out, terms consent for the sign in is not supported in managed version. We haven't seen requests like this before, so there is a coulple of things I can suggest:
- submit your request at https://aka.ms/apimwish;
- go self-hosted route: fork this repository and add the required logic;

Hope that helps.

[2019-12-04 01:15] #346 closed

[2019-12-04 01:21] danpanaite commented on #349
Hi Alexander, thanks for the fast response.

Using the Swagger Petstore API as an example, I have a POST endpoint to add a new pet to the store. This endpoint takes a `Pet` definition which holds a set of properties. As defined in the schema, the `name` and `photoUrls` properties are required to be set in the request body.

<img width="443" alt="firefox_pyjr61fKBf" src="https://user-images.githubu

[2019-12-04 01:30] mikebudzynski commented on #346
Also, note that the sign-up form contains Service Terms (not the sign-in form)

[2019-12-04 01:34] azaslonov commented on #349
Hi Dan, yes, I was able to repro. Let me fix that.

[2019-12-04 02:37] #349 closed

[2019-12-04 02:44] azaslonov commented on #349
Fixed. The managed version is expected to be out in the next 2 days.

[2019-12-04 03:47] mikebudzynski commented on #337
Closing due to inactivity

[2019-12-04 03:47] #337 closed

[2019-12-04 17:46] danpanaite commented on #349
Great. Thank you!

[2019-12-04 20:08] #341 closed

[2019-12-05 17:48] mirsaeedi opened #354 "User is not able to view APIs when it's subscription type is "All APIs""
## Bug description

It is expected that when a subscription's scope is **All APIs**, then the user should be able to view all apis in the dev portal. But the portal shows "**_No APIs found_**" on the APIs page.

## Reproduction steps

1. Create a user
2. Assign a subscription with a scope of **All APIs**
3. Explore the portal using the user's credentials

## Expected behavior

The user should see

[2019-12-05 17:54] spyder007 opened #355 "Unable to login when the user's email contains a dash"
## Bug description

Users are unable to log in when the user's email address contains a dash (-)

## Reproduction steps

1. Invite a user whose email contains a dash
2. Accept the invite and set a password
3. Click sign in
4. Enter the email and password
5. User is unable to login

## Expected behavior

A User with a valid email (including dashes) should be able to log in

## Is your portal manage

[2019-12-05 18:14] mirsaeedi commented on #344
I ran to this issue today. Is it going to be fixed anytime soon?

[2019-12-05 18:17] azaslonov commented on #355
Hi @spyder007, thanks for reaching out. This is a known issue, the fix is being rolled out, but this may take a few days.

[2019-12-05 18:17] #355 closed

[2019-12-05 18:20] azaslonov commented on #354
Hi @mirsaeedi, thanks for reaching out. This issue has been fixed by #340. The managed version of the portal is being deployed this week.

[2019-12-05 18:20] #354 closed

[2019-12-06 10:24] bydynamics opened #358 "Missing try it button"
I cannot find the try-it function anymore? Did something change?

![apim-try-it-missing](https://user-images.githubusercontent.com/53540575/70315893-ce71c400-181a-11ea-9299-a909e34b017b.png)

[2019-12-06 11:08] dwall123 commented on #358
We've noticed this as well. Took down the latest to get the fix for #344 and the Try_It button has disappeared

[2019-12-06 20:59] #358 closed

[2019-12-06 21:00] azaslonov commented on #358
Hi @bydynamics, @dwall123, thanks for reporting the issue. It has been fixed.

[2019-12-06 21:01] azaslonov commented on #342
Issue has been fixed.

[2019-12-06 21:01] #342 closed

[2019-12-09 18:53] nathanvv opened #360 "Controlling when the subscription check happens in azure API management"
In Azure API Management, Azure portal provides a way to configure the "subscription required" in the setting of the APIs. However is it possible to control when this validation occurs. Currently it happens before it hits the inbound policies. Would I be able to set it to happen after certain inbound policies are executed. Else is there a way to control the trigger of the validation from the policy

[2019-12-09 19:20] nathanvv commented on #360
Also tied to see if I can do
        <rate-limit-by-key  calls="10"
              renewal-period="60"
              counter-key="@(context.Subscription.Key)"/>

Is that valid?. If so getting a "rate-limit-by-key Policy is not allowed in this sku 'Consumption'"

[2019-12-09 20:02] VitaliyKurokhtin commented on #360
There is no way to control that. Subscription key check happens before any part of the policy is invoked. Why do you want to control that behavior?

[2019-12-09 20:06] nathanvv commented on #360
@VitaliyKurokhtin : Thanks for the response. The subscription key is embedded in the API key that we are providing. I am decoding the custom key to obtain the subscription key in the inbound policies. Now I want to validate if the subscription key is valid and do rate limiting based on that

[2019-12-09 20:32] VitaliyKurokhtin commented on #360
Yeah, we heard this scenario before. Please, submit it here: http://aka.ms/apimwish For now though subscription key is required to be passed either as a header or as a query parameter. You can make your API/product not require subscription key at all and do your own auth check in policy followed by rate-limit. This is usually done for certificate or OAuth.

[2019-12-09 20:47] #360 closed

[2019-12-09 21:26] spyder007 opened #361 "Responses are not shown unless they have a return type"
## Bug description

Response description for an operation are only shown if they have a valid schema definition.  Responses which only have a description set are not shown.

## Reproduction steps

1. View the Echo Api's GET endpoint in the old portal and compare it to the new portal view.
2. Note that the Responses section in the old portal has an entry for 200 OK, but the new portal has no respon

[2019-12-09 23:27] azaslonov commented on #361
Hi Matt, Thank you for reporting the issue. It has been fixed in #362.

[2019-12-09 23:44] #361 closed

[2019-12-09 23:48] nathanvv commented on #360
@VitaliyKurokhtin: I did try disabling the is required check. However, we would also want to throttle requests based on the subscription key. If I do the rate-limit as a policy, is there a way to read the subscription limit based on the subscription key.

[2019-12-09 23:50] spyder007 commented on #361
Alexander,
Thank you so much for the quick response.  Is there any documentation regarding the release cadence for the managed portal roll outs?  I'm just trying to determine when I might be able to see this and other fixes rolled out to managed portals.

Thanks again
Matt

[2019-12-09 23:55] azaslonov commented on #361
Hi Matt,
There is no specific cadence. As soon as we accumulate enough fixes, and integration tests passed, we release it. On average this happens every week or so.

Hope, that helps.

[2019-12-10 00:18] VitaliyKurokhtin commented on #360
With "Require subscription" disabled APIM will not look for or validate subscription key, so context.Subscription will be null. But you can use any other data available in context to calculate your rate-limit key. Parts of OAuth token can be used easily, or client IP, or anything really.

[2019-12-11 08:05] jonatanP1993 opened #364 "REST API documentation"
Hi, I am trying to create a DevOps pipeline to move the Developer portal templates between our environments (dev -> test -> prod), but I am having some issues finding the reference documentation for the REST API.

Tried finding it at:
- https://github.com/Azure/api-management-developer-portal/wiki
- https://docs.microsoft.com/en-us/rest/api/apimanagement/

But I can't find the api-version referenc

[2019-12-11 20:09] cadabloom opened #365 "Calling an api secured by apim gateway from developer portal"
We are trying to implement some customizations on our developer portal and we are trying to call a custom api secured through apim gateway.

On the client site, we only have the basic user authentication and we saw that we could generate a shared access token for a given user. But we have some questions below regarding the shared access token generated for a user.

Is there a mechanism to validate

[2019-12-11 20:23] azaslonov commented on #365
Hi Freddie,
You can call `/identity` with the token in the `Authorization` header to see if it is valid.

For user information, there are several endpoints starting with `/users/{userId}`, like
`/users/{userId}/subscriptions` or `/users/{userId}/groups`. Please refer to [the documentation](https://docs.microsoft.com/en-us/rest/api/apimanagement/) for more details

[2019-12-11 20:23] #365 closed

[2019-12-11 20:31] azaslonov commented on #364
Hi Jonatan,

I guess you're looking for Content API used by those scripts? If yes, you can find it [here](https://github.com/Azure/api-management-developer-portal/wiki/Content-management-REST-API).

Also, the version you're referring to (2018-06-01-preview) is still with `-preview` suffix, mainly because it yet to be documented. Please refer to #300 for tracking.

[2019-12-11 20:31] #364 closed

[2019-12-11 22:40] ExpoundDS opened #366 "Blank header values"
Headers without values are affecting results. For example, we have a header named 'DataOwner' that has no default value populated in portal. When default, we receive a 404, despite it being an optional parameter and the backend API operation setting the default value to null. However, if a value is added to the header the removed after calling the API, the call returns a 200. It would appear that

[2019-12-11 22:47] azaslonov commented on #366
Hi @ExpoundDS, thanks for reporting the issue, we'll fix this shortly.

[2019-12-12 19:57] #366 closed

[2019-12-13 01:38] TianyuHou commented on #208
When can we have a GA version of this feature? Also can we contribute on this one?

[2019-12-13 01:50] azaslonov commented on #208
Hi Tianyu, ETA for this feature is 1/15.

[2019-12-13 09:19] romm333 opened #368 "Styling of elements in a visual editor"
Is it possible to add more options for the customization of the elements, selection in a visual editor?  For example, I am editing a home page template. I would like to add a section above the content. I add section from one of the available options. That creates an empty section with an article inside. The Article panel is not expandable, located in the middle of the screen, I cannot edit the wid

[2019-12-14 18:29] azaslonov commented on #368
Hi @romm333, this question comes up pretty often. A few things here:
You can change sizes of a section and grid container inside it, and the grid ("article" is part of it) will adapt according to the pre-defined _configuration_. This might solve your problem (or part of it).

Besides that, we're working on grid editor which will allow you to change that _configuration_ (unfortunately, I can't prov

[2019-12-14 18:29] #368 closed

[2019-12-16 09:34] dudelis opened #370 "Question: How often does the managed version receive updates?"
I have seen a number of releases in the current repo. Also I noticed, that v.2.0.0 is a GA version. Afterwards, there are a couple of minor version.
So which releases are pushed to the central repo of the manged version and become available across all portals of Azure API Management Service?

[2019-12-16 11:22] velsietis opened #371 "Display of SOAP Services"
There's currently nothing on the [roadmap](https://github.com/Azure/api-management-developer-portal/projects/4) that relates to the display of SOAP APIs

In the new portal:
- Operation URLs each display with the `soapAction` query parameter.  The legacy portal displays the same URL for each.
-  API Definition does not display WSDL as an option (it does in the legacy portal).

Is there a plan to ad

[2019-12-16 12:37] stephanieberl opened #372 "API Gallery - List of APIs widgets - dynamic links to the APIs are wrong"
## Bug description

In both widgets "List of APIs" and "List of APIs title" the dynamic link is not working / incorrect and do not refer to the "API reference" page.

## Reproduction steps

1. Go to API Gallery
2. Add the widget "List of APIs"
3. Save and publish the page
4. Open the page in the "published" mode
5. Use the Hyperlink for one API --> Result: Nothing happens

## Expected behavior

Th

[2019-12-16 13:02] stephanieberl opened #373 "API Reference page - Operation Details - response codes (4xx and 5xx) are missing"
## Bug description

response codes (all 4xx and 5xx) are not shown in the API reference Page.

## Reproduction steps

1. Go to api reference page
2. Click on a specific API and choose one operation
3. only the request body and the Resonse: 200 OK
4. the used are missing

## Expected behavior

response codes 4xx and 5xx with a short description for whate they are displayed in a table like:
401 Unat

[2019-12-16 15:49] pkraeutli commented on #49
The hosted APIM Developer Portal still does not show enum values. Is this fix already deployed? @mikebudzynski

[2019-12-16 18:09] mikebudzynski commented on #370
We suggest that you always use the latest version for self-hosted. 2.0.0 is the GA version and the releases after it contain bugfixes and additional features.

Managed version is updated automatically and follows the same releases. It may take a week or two for the managed version to update to the latest release.

[2019-12-16 18:09] #370 closed

[2019-12-16 18:10] thardy opened #374 "Where is the source code for legacy Developer Portal?"
Is that available somewhere?

[2019-12-16 18:12] azaslonov commented on #373
Hi @stephanieberl, I think this is a duplicate of #361. It has been fixed already, we'll start rolling it out to managed version in the next few days.

[2019-12-16 18:12] #373 closed

[2019-12-16 18:14] azaslonov commented on #374
Hi @thardy, unfortunately, there is no publicly available source for legacy dev portal.

[2019-12-16 18:14] #374 closed

[2019-12-16 18:47] azaslonov commented on #49
Hi @pkraeutli, looks like your service has very old bits. Could you please send your service name to apimportalfeedback@microsoft.com?

[2019-12-16 19:49] azaslonov commented on #372
Hi @stephanieberl,
Just in case, have you tried to set the URL on API list itself?
![image](https://user-images.githubusercontent.com/2320302/70937887-ff5faf00-1ff9-11ea-954c-3f31f14a8738.png)

[2019-12-17 07:34] dgrospelier opened #378 "Restoration of the portal content generates issues in the portal"
Hi,
I have customized the portal with a logo in the default layout.
I have extracted the content thanks to the node scripts.
I have a data.json file and a content directory where I can see the media I have uploaded into the portal (the file name is a GUID with no extension).

When I cleanup the portal (reset content) and upload the data.json and content folder directory into the portal, it works b

[2019-12-17 09:37] stephanieberl commented on #372
Yes i did - but why is the default value doing NOTHING - the user experience is more than strange in this case and there ist nowhere a hint to change the Link in the "edit" mode.

[2019-12-17 10:52] dudelis opened #379 "Wiki Update - Wrong Header name"
Could you please update the code snippet on the following wiki page:
https://github.com/Azure/api-management-developer-portal/wiki/Retrieve-managed-portal-storage-account

It is written that the Header is Authentication, but it should be **Authorization** instead.

[2019-12-17 17:45] azaslonov commented on #379
Hi Konstantin, that you for reporting the issue. We'll fix this.

[2019-12-17 17:51] #379 closed

[2019-12-17 19:21] azaslonov commented on #372
Hi @stephanieberl, thanks for the feedback.

The `default value` here means redirect to the same page, e.g. If you place API list and API details onto one page, clicking on items in API list would trigger selection in API details. Same way operation list and operation details have been setup in our default template.

The issue you describe was there in the default template at some point, I believe

[2019-12-17 19:21] #372 closed

[2019-12-17 20:52] azaslonov commented on #371
Hi @velsietis, yes, we're working on it.

[2019-12-18 21:21] DavidFreetly opened #381 "Try it > Add parameter or Add header links result in the Oops page"
The Try It feature on any API operation brings up a side panel with the options to + Add Header and + Add Parameter.  Clicking on either of these links results in the 'Oops, something went wrong' page.

Here is the console trace that I was able to capture from Chrome Dev Tools.

![Screen Shot 2019-12-18 at 3 09 13 PM](https://user-images.githubusercontent.com/4295769/71123494-67ec8e80-21a8-11ea-80

[2019-12-18 22:05] azaslonov commented on #381
Hi David, thanks for reporting the issue. We'll fix it shortly.

[2019-12-18 23:42] #381 closed

[2019-12-19 02:16] azaslonov commented on #378
Hi @dgrospelier, thanks for reporting the issue and sorry for the late response.

I could not repro it, so could you please send your service name to apimportalfeedback@microsoft.com, we'll take a close look.

[2019-12-19 02:29] azaslonov commented on #381
David, the managed version has been updated as well. Please re-publish the portal to pickup fixes.

[2019-12-19 12:59] DavidFreetly commented on #381
Thank you for the quick fix!

[2019-12-19 16:03] dgrospelier commented on #290
@mikebudzynski: we have the same issue on our APIM instance.
When we apply this policy at the "All APIs" level, it is not working. It is working only when we apply the policy at the API level or API Operation level. Is it a bug?

[2019-12-20 02:21] ngobw opened #384 "How do I preview actual API Detail pages?"
I am reviewing the new developer portal and while the portal is on a live preview concept, I am unable to see how my API content will be displayed. Is there a way I can preview the entire portal without being in editing mode? Thanks!

[2019-12-20 02:29] azaslonov commented on #384
Hi @ngobw, the "preview mode" feature is planned. However, you can see your API content in the design mode even now. For example, by holding Ctrl (Windows) or ⌘ (Mac) button, you can interact with the portal as you would do with its published version, navigate to API details page, etc.

Hope that helps for now.

[2019-12-20 02:29] #384 closed

[2019-12-20 02:32] ngobw commented on #384
Nice, I wasn't aware of that! Thanks!

[2019-12-20 02:40] ngobw commented on #121
Will samples be still available in the new API Details page?

[2019-12-20 18:37] azaslonov commented on #121
Hi @ngobw, representation and code samples are there already. Is there something particular missing?

[2019-12-24 13:53] yinlaurent opened #385 "No dropdown list for enum parameters"
Hello,

I have observed a small difference in functionnality between the old and the new developer portal.

## Bug description

The new developer portal does not provide a dropdown list for enumeration parameters in header.

## Reproduction steps

1. Import the [swagger.txt](https://github.com/Azure/api-management-developer-portal/files/3998410/swagger.txt) in Azure API Management (it is a yaml de

[2019-12-27 10:24] dgrospelier opened #386 "Management REST API is not returning the URL of the new Dev portal"
I'm calling this API (https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/apimanagementservice/get) in order to retrieve the Custom Domains URL of my APIM instance. I have the Management URL for example and also the Developer (legacy) URL but unfortunately not the New Developer Portal URL in the hostNameConfigurations section of the result.

[2019-12-28 09:00] azaslonov commented on #385
Hi @yinlaurent, thanks for reporting the issue.

[2019-12-30 21:05] zane-woodard-drc opened #387 "List of Operations not refreshing on API selection until page refresh"
Hello,
I have observed a bug with the currently live version of APIM developer portal in Azure where operations are failing display on first load, but display after refreshing the page.

My setup has multiple top level APIs configured, each with multiple operations under them. They're all tagged by the name of the top level API that they're under.
My APIM page has "List of APIs", under which there

[2019-12-31 09:09] dgrospelier opened #388 "Not able to force HTTPS on the developer portal"
I want to force HTTPS on the Developer Portal but there are no configuration settings for that.
By default, HTTPS is used by the browser but when I change it manually in the URL and switch to HTTP I don't have a redirection to HTTPS which is what I'm looking for.
I'm using the Managed version of the developer portal.

## Reproduction steps

1. Go to the developer portal
2. Change the HTTPS to HTTP

[2020-01-06 03:26] azaslonov commented on #387
Hi @zane-woodard-drc, thanks for reporting the issue. We'll take care of it.

[2020-01-06 06:04] s8mathur opened #391 "[META] Page load speed improvements"
## [META] Page load speed improvements - meta bug

The page load speed of the new developer portal can be easily improved by adopting standard performance practices. The following were observed by running the foo.developer.azure-api.net developer portal link through the WebPageTest.org test harness:

1 . GZIP compression is not used by the server

2. The theme's static assets are not served with C

[2020-01-06 19:30] michaeltnguyen opened #393 "Model definition names are overflowing into the description"
## Bug description

This appears to be a UI bug.  In the "definitions" section of an endpoint description, if the model name is long, it flows into the "description" section.

Screenshot:

![Screen Shot 2020-01-06 at 1 20 51 PM](https://user-images.githubusercontent.com/14219683/71842652-c1e5c300-3087-11ea-9b14-233df56e989f.png)

## Reproduction steps

This is visible on our "new" developer portal

[2020-01-06 19:34] azaslonov commented on #393
Hi @michaeltnguyen, thanks for reporting the issue. We'll take care of this.

[2020-01-06 19:57] #393 closed

[2020-01-06 19:57] azaslonov commented on #393
Fixed. Please allow it about a week to reach the managed version.

[2020-01-06 20:00] michaeltnguyen commented on #393
awesome, thanks for the quick response!

[2020-01-07 01:26] azaslonov commented on #391
Hi @s8mathur, thanks for reporting the issue. We'll see what we can do.

[2020-01-07 01:30] azaslonov commented on #386
Hi @dgrospelier, thanks for reporting the issue, we'll see what we can do.

[2020-01-07 01:33] azaslonov commented on #388
Hi @dgrospelier, thanks for reporting the issue. We'll fix this on the server-side.

[2020-01-07 01:39] azaslonov commented on #386
@dgrospelier, looks like we do support it in version `2019-01-01` of Management API. Is this a version you use? Also, what do you use? REST API or PowerShell?

[2020-01-07 06:08] dgrospelier commented on #386
Yes you are right, using the 2019-01-01 version of the API works fine.

[2020-01-07 06:08] #386 closed

[2020-01-07 06:10] azaslonov commented on #386
Great! Thanks for confirmation.

[2020-01-07 15:42] adefalque opened #396 "OAuth SignUp always redirects back to SignIn"
## Bug description

I'm trying to integrate B2C Signin / Signup with the new portal.

Sigin is working fine, I've dropped the Sign In:OAuth button on a Signin page, and I'm able to click on the button that opens the B2C signin page.

Now I'm trying to use the Sign Up:Oauth widget. I've dropped the widget on a SignUp page in the portal. When I try to navigate to the Signup page in the published ver

[2020-01-07 18:46] azaslonov commented on #396
Hi @adefalque, yeah the name of the "OAuth: Sign up" widget is confusing (we'll change it). Basically, its purpose is to complete the signup in APIM, so the flow looks like this:

A user signs in with the identity provider (and, if needed, creates an account in it) using **OAuth: Sign in** widget. Then, with received *id_token*, gets redirected to a page with **OAuth: Sign up** widget (in default

[2020-01-07 18:46] #396 closed

[2020-01-07 23:05] azaslonov commented on #388
The fix has been done on APIM service backend and comes out with the next release. Please allow it about 3 weeks to be applied to your service.

[2020-01-07 23:05] #388 closed

[2020-01-07 23:07] azaslonov commented on #378
Hi @dgrospelier, do you still need help with the issue?

[2020-01-07 23:32] mikebudzynski commented on #329
Please follow the @ygrik's [instructions above](https://github.com/Azure/api-management-developer-portal/issues/329#issuecomment-555791207) to retrieve the portal token.

The API operation [/user/generatessourl](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/user/generatessourl) will soon be deprecated.

[2020-01-07 23:32] #329 closed

[2020-01-07 23:34] azaslonov commented on #326
The issue has been fixed, but we need to wait until the backend gets rolled out. We expect it to happen in the next 3 weeks.

[2020-01-07 23:34] #326 closed

[2020-01-08 06:09] dgrospelier commented on #378
Hi,
No I think I got mistakes in my scripts, I have now fixed it.

[2020-01-08 06:09] #378 closed

[2020-01-08 10:55] adefalque opened #397 "[OAuth SignUp Widget] Invalid Api Management Url"
## Bug description

I'm trying to integrate our Api Management portal with Azure B2C.
Using the OAuth:SignUp widget, when clicking on the SignUp button, nothing happens. When I open the browser console, I can see that the page is trying to do an HTTP POST to the Api Management Url, but the Url is invalid:
POST https://myapim.management.azure-api.net/subscriptions/xxx/resourceGroups/xxx/providers/M

[2020-01-09 11:52] BobbyCGD opened #399 "Footer doesn't stay where it belongs"
## Bug description

1. Footer in the middle of the page, jammed up against content too small to fill the viewport.
    - There is no way to make the footer in the developer portal stay at the bottom of the page.

2. Footer immobile and stuck to the bottom of the page on top of content that is taller than the page.
   - The only way to bring the footer down is to make it stick to the bottom. This i

[2020-01-09 18:30] azaslonov commented on #399
Hi @BobbyCGD, yes, we're working on this, should be ready some time next week.

[2020-01-09 18:34] azaslonov commented on #397
Hi @adefalque, could you please check if you have Object ID in your app claims:
![signin-signup policy](https://user-images.githubusercontent.com/2320302/72094445-4ffdbb80-32cb-11ea-9062-f0c8fd28ca78.PNG)

If after that you still have the issue, please mail us your service name and HAR file capturing the sign-in session to apimportalfeedback@microsoft.com, we'll have a closer look.

[2020-01-09 18:53] azaslonov commented on #208
Updating ETA to 1/31. Looks like we won't make it by 1/15.

[2020-01-10 13:53] BobbyCGD opened #401 "Menu disappears in mobile view"
## Bug description

When viewing the website on a mobile device such as a phone (smaller resolution) the menu dissapears.

When using the developer tools in Chrome, it seems that the element to expand the menu is there but there is no glyph to show that there is a menu. In addition when clicking the element the menu does not push content down, instead the area becomes scrollable and a sidebar appe

[2020-01-10 16:22] spyder007 commented on #329
@ygrik's instructions worked great to retrieve the token but i'm seeing an issue with trying to add **returnUrl** as a parameter.  I have a few questions:

1. Do I have to encode that token before passing it along in the URL?  It seems to include a few & delimiters in it?
2. Is it possible to provide signin-sso with a returnUrl as part of the query string to redirect the user to a specific page?

[2020-01-10 18:01] azaslonov commented on #401
Hi Bobby, thanks for reporting the issue. We'll fix this soon.

[2020-01-10 21:51] krispenner opened #402 "Could not find model binder for widget type "USERSIGNUP"
I am currently using the legacy developer portal and wanted to try the new one. When clicking through the pages to edit, the signup page renders the below error. All other pages appear to be working fine.

![image](https://user-images.githubusercontent.com/8837910/72188814-1b176480-33b0-11ea-88df-4dec05aa4b04.png)

Let me know if there is anything more I can provide.

[2020-01-10 21:54] michaeltnguyen commented on #402
you might need to reset the portal and republish.  I had a similar issue.  (we were using the legacy portal for a while, and it seems like the "new" portal didn't pick up code changes until reseting content).

[2020-01-10 21:54] azaslonov commented on #402
Hi @krispenner, I believe your service has been created before GA? If yes, can you please just delete the widget and add it back again?

[2020-01-10 21:55] azaslonov commented on #402
Right, resetting the portal is even better. Thanks, @michaeltnguyen!

[2020-01-10 22:10] krispenner commented on #402
Thank you for our suggestion and fast response. I tried performing a reset and I am told to try again later.

I had invoked a publish website operation about 15 minutes ago. Maybe that is still processing and a reset cannot happen yet? The website URL still says "Developer portal has not been published yet." Do you know how long a publish should take? Would this cause the rest to fail?

![image](h

[2020-01-10 22:13] krispenner commented on #402
Hmm regardless of the error that the reset failed. It seems to have occurred anyways. I now have a fresh site and many more pages to select and edit than I did earlier.

This looks good so far so I will see how I go. Thanks again!

[2020-01-10 22:16] azaslonov commented on #402
Great, thanks for confirming this. Publishing usually takes a few seconds. We'll work on better visual feedback for this process.

I guess I can close the issue for now.

[2020-01-10 22:16] #402 closed

[2020-01-11 00:15] ygrik commented on #387
Hi @zane-woodard-drc,
I can't reproduce it, could you please send more details like the service name, API names on apimportalfeedback@microsoft.com

Does this issue exist in the editor or on the published site?

[2020-01-11 00:29] zane-woodard-drc commented on #387
Hey @ygrik, just sent an e-mail with the service name and a link to our portal where you should be able to reproduce the issue.

The issue seems to happen in both the editor and the published site.

[2020-01-11 01:11] krispenner opened #403 "Feature Request: Set Authorized Pages"
Please let me know if this is already achievable.

I would like certain pages to be for authorized (signed-in) users only, such as /products and /apis.

I can move navigation menu items around to be under the authorized users group which hides/shows the menu items based on their sign-in status, however, users can still go to the actual pages via URLs themselves.

It would also be great to show/hid

[2020-01-11 01:25] ygrik commented on #387
The issue is not a bug and happens because you did not allow to make a selection to Operation list widget.
When you select an API, API list widget select API and Operation list do nothing because you did not allow to make a selection.
Just open editor for Operation list widget, check option Allow selection and publish.

[2020-01-11 01:25] #387 closed

[2020-01-11 04:31] krispenner opened #404 "Redirect anonymous users to sign-in page causes infinite redirect loop"
When I enable the "Redirect anonymous users to sign-in page" option and navigate to the developer portal, the sign in page just keeps redirecting to itself infinitely.

This does not always happen. It happened at first in MS Edge followed by Chrome. Now Edge is working properly and an Incognito Chrome instance also works correctly but my regular Chrome tab continues to redirect. This may have some

[2020-01-11 04:42] krispenner opened #405 "Redirect anonymous users to sign-in page is ignored after signing out"
## Steps to reproduce
1. Enable **Redirect anonymous users to sign-in page** in the Azure Portal for the API M instance.
1. Go to developer portal
1. Redirected to sign-in page
1. Sign in
1. Redirected to home page
1. Sign out
1. **Remain at home page**
1. Click APIs nav menu link
1. **API listing page is shown**

## Expected
1. Enable **Redirect anonymous users to sign-in page** in the Azure Port

[2020-01-12 10:55] ppotturi commented on #346
OAuth sign-up widget doesn't have Terms of Use, it's only there in the basic Sign-up.

[2020-01-12 11:22] ppotturi commented on #405
Hi, I am also facing the same issue. When I click on Sign-out it's redirecting to the home page instead of the sign-in page.

I think the Auth cookie is not immediately expiring after sign-out. The home is accessible until the cookie is expired, but when I am trying to access the profile page it's immediately redirecting to the sign-in page.

[2020-01-13 03:17] krispenner opened #406 "Question: Can I export and import?"
We have test and production API Management instances, I would like to keep them looking and behaving the same. Is there a way to export all content, media, styles from one and import it into another?

The new portal does not yet look like it's been integrated with the git repo, I only see what appears to be the old portal styles and templates there.

Thank you for your help.

[2020-01-13 08:55] DrReedo commented on #294
I am also facing this problem.  Has it been fixed?  We can't deploy without this fix.

[2020-01-13 10:24] atrujillofalcon commented on #294
@azaslonov why close this issue when is not yet deployed?

[2020-01-13 15:20] michaeltnguyen commented on #294
This is an issue with the implementation of OpenApiReader.

https://github.com/microsoft/OpenAPI.NET/issues/407
https://github.com/microsoft/OpenAPI.NET/issues/420
https://github.com/microsoft/OpenAPI.NET/issues/429

We've run into this problem as well, and our workaround is to ensure strings and doubles are not parseable as integers.  For example, if you have zipcode: string, it needs to be "1234

[2020-01-13 17:28] mikebudzynski commented on #294
The issue is closed, because it's not related to the developer portal (this repository). Thank you @michaeltnguyen for clarifying the scenario.

[2020-01-13 17:36] mikebudzynski commented on #406
For the time being, we don't integrate with Git, but you can use the underlying REST API: https://github.com/Azure/api-management-developer-portal/wiki/Migrate-portal-between-services

Note: If you're using a managed portal, there's also a script to generate a storage SAS URL from a connection string.

[2020-01-13 17:36] #406 closed

[2020-01-13 17:37] michaeltnguyen opened #407 "Long endpoint description pushes detail text off screen."
## Bug description

This is a UI issue.  When the description for an endpoint is long, the text does not wrap, so it pushes content off the screen.

![Screen Shot 2020-01-13 at 11 35 01 AM](https://user-images.githubusercontent.com/14219683/72278045-c581c880-35f8-11ea-88cd-3b8ae0a768fd.png)

## Reproduction steps

This is viewable on our developer portal instance.

https://developer.hcssapps.com/a

[2020-01-13 18:24] azaslonov commented on #407
Hi @michaeltnguyen, thanks for reporting the issue, we'll fix this.

[2020-01-13 18:29] azaslonov commented on #404
Hi @krispenner, I could not reproduce this, can you please provide step-by-step instructions?

[2020-01-13 19:22] krispenner commented on #404
Interestingly today I'm getting a very different result which is still an issue for me.

## Steps

Using Chrome or Edge, I get the same result.

1. A side note on this is that I have both `Azure Active Directory` and `Username and password` identity providers enabled, maybe you need to do the same...

2. Enable 'Redirect anonymous users to sign in page'
![image](https://user-images.githubuserconte

[2020-01-13 19:24] azaslonov commented on #404
Understood. Thank you, we'll work on it.

[2020-01-13 21:45] krispenner commented on #49
@azaslonov @pkraeutli was this resolved for you? I am not seeing my enums, they are only showing as type `string`.

Here is my schema, is it wrong? Maybe it is not generating the correct documentation?
[code]

How are they expected to be rendered? As their own type listed elsewhere and linked to?

I only see:
![image](https://user-images.githubusercontent.com/8837910/72294667-d89d9400-360a-11ea-94

[2020-01-13 22:19] azaslonov commented on #49
Hi @krispenner, in the example you provided, this field is still of type "string", and enumeration is just possible values. Not sure where should we display those values. We'll discuss this internally, but we open for suggestions as well. For now, the workaround would be to put those values into description.

Regarding the issue described above, if you had separate type representing Enum, it would

[2020-01-13 22:29] krispenner commented on #49
OK, I also like this option you have fixed. I am using ASP.NET Core 2.2 and Swashbuckle to generate the Swagger file. I don't suppose you know how to get my enum as it's own type definition? I tried this method but it does not seem to do anything...
[code]

I may be able to just add a ISchemaFilter in Swashbuckle to list off enum values in the description until you sort out your UI or I figure out

[2020-01-13 22:32] azaslonov commented on #49
No idea, sorry. Thanks for the suggestion, we'll see what we can do.

[2020-01-13 22:38] krispenner commented on #49
Oh, is there an issue to track my enum use case? Should I create one? I would just like to be able to receive updates on progress and when it will be available. Thanks!

[2020-01-13 22:39] mikebudzynski commented on #403
@krispenner - thanks for raising this feature request. At this moment, the portal doesn't allow for scoping the pages to logged in users only. We will consider it for future.

For now, as a workaround you can create a custom widget that fetches data from a 3rd party source. The source can check whether a user is authenticated.

As per our guidelines, we ask to open feature requests at https://aka.

[2020-01-13 22:39] #403 closed

[2020-01-13 22:41] azaslonov commented on #49
Yes, please create a separate issue for this, and maybe include the screenshot with your suggestion. Thank you.

[2020-01-13 22:42] zane-woodard-drc commented on #387
Hello @ygrik,
I made that change for both Operations List and API List and published and the issue persists. If I remember correctly, we have experimented with that setting previously to try and fix this.

Inspecting the DOM seems to indicate the allowSelection = true setting was successfully changed and published, so it doesn't seem like some caching issue that I'm still seeing.

[2020-01-13 22:51] krispenner opened #408 "Enum values are not displayed for simple types with enum"
Given string property defined with enum listed values.

[code]

The displayed model in the portal does not list the enum values.

Maybe a separate column after description listing the values would work but that could waste a lot of room for properties that have no enum values to list. I think its best to let the description column stay expanded.

I think instead it might be best to offer a dropdow

[2020-01-13 22:53] azaslonov commented on #408
Hi @krispenner, thank you, we'll see what we can do.

[2020-01-14 00:12] krispenner commented on #408
It may be nice to add instead a **Validation** column and do something like:

1. if property as enum defined, display values (maybe in an expandable dropdown to save room)
2. otherwise, if property has a pattern defined, display the pattern
3. otherwise, if property has any min/max values or lengths defined, display these

I think displaying them in this order puts the most useful validation/restr

[2020-01-14 03:17] krispenner opened #409 "Model Type column text overflow tooltip does not show array brackets"
With the Type column being so narrow many type names are being cut-off, it may be good option to expand this column a little bit more. More importantly though, when the text is cut-off any array bracket indicator is not shown in the tooltip. There is effectively no way to tell that any of the below types noted are an array other than the property name being plural. I would propose three changes. S

[2020-01-14 08:01] krispenner opened #410 "Preload post/put body with example data"
I spent a lot of time adding example values to every single model property so our customers can see real sample requests and responses in the documentation when using the portal. The legacy portal also used these example values of each property to preload the body of the request when interactively trying the APIs through the browser. The new portal does not appear to support this yet. This would b

[2020-01-14 08:43] krispenner opened #411 "Definitions listing table - poor column sizing"
Please expand the Description column of the Definitions listing table, I have some descriptions that are much longer than my example shows as well which is just wasted space there.

![image](https://user-images.githubusercontent.com/8837910/72327866-bd607200-3666-11ea-9567-ee765c3ac3dd.png)

Thank you.

[2020-01-14 10:16] SahinOzdemir opened #412 "Basic Authentication on sign in page doesn't seem to work"
When I sign in with basic authentication, the developer portal redirecta me, but leaves me unauthenticated.

When going to the sign in page again, redirection directly happens.

Because of this, I'm not able to navigate to pages for which you need to be signed in, like API Reference page

[2020-01-14 10:30] SahinOzdemir opened #413 "API gallery link to API not working"
When I go the API Gallery, and I click on an API card, nothing happens. It seems to add a querystring to the URL, but I don't get to see the API details (what I would expect to happen)

![Untitled](https://user-images.githubusercontent.com/7938059/72336536-41474800-36c1-11ea-89f8-06268c36d745.png)

[2020-01-14 10:43] SahinOzdemir opened #414 "When Clicking on API in API reference page https://...developer.azure-api.net/reference, operations of a service are not listed until a refresh"
When I go to the API reference page https://...developer.azure-api.net/reference, operations are not when selecting an API.
![Untitled](https://user-images.githubusercontent.com/7938059/72336815-cc284280-36c1-11ea-8c73-a8ec05134eb9.png)

I do see that the URL changes to: https://....developer.azure-api.net/reference#api=aansluitingservice

When I manually hit F5, the operations become visible.
![U

[2020-01-14 15:02] pkraeutli commented on #49
@azaslonov not sure if I understand correctly, but in Swagger/OpenAPI there is no type `enum`. There is only `string` with `enum`: https://swagger.io/docs/specification/data-models/enums/

![Screenshot 2020-01-14 at 16 00 28](https://user-images.githubusercontent.com/886082/72355034-ff30fd00-36e6-11ea-8846-db032490d7bc.png)

So in my opinion, if a Swagger/OpenAPI spec is imported with type `string

[2020-01-14 17:20] azaslonov commented on #49
That's right, there is no `enum` type in OpenAPI spec. What I meant is a case like this:
[code]
... where `CountryCodeEnum` is a structure like:
[code]

[2020-01-14 17:29] azaslonov commented on #414
Hi @SahinOzdemir, it looks like a rendering issue. Can you please send us your service name to apimportalfeedback@microsoft.com, we'll have a closer look.

[2020-01-14 17:34] azaslonov commented on #413
Hi Sahin,

I wonder if you have specified the API details page URL:
![image](https://user-images.githubusercontent.com/2320302/72367330-e60d5980-36b0-11ea-9129-8dd336149ede.png)

[2020-01-14 17:38] azaslonov commented on #412
Hi Sahin, please send us your service name to apimportalfeedback@microsoft.com.

[2020-01-14 17:43] azaslonov commented on #411
Hi @krispenner, thanks for reporting the issue, we'll fix that.

[2020-01-14 17:48] azaslonov commented on #410
Hi @krispenner, hmm, we do pre-load body from request example:
![image](https://user-images.githubusercontent.com/2320302/72368318-b3fcf700-36b2-11ea-8929-9a7f33c712e2.png)

Probably something else happening specific to your API. Can you please send us your service name to apimportalfeedback@microsoft.com

[2020-01-14 17:51] azaslonov commented on #409
Hi @krispenner, thank you, we'll see what we can do.

[2020-01-14 18:10] krispenner commented on #49
I was able to generate my enums as their own definitions and reference them via the $ref property.
This is in my opinion a much better solution as it treats the enum as its own type with its values listed in its own table. No need to list the enum values within the string property. I'm glad I came across this issue as I had no idea I could generate enums as their own definition. Thanks!

If anyone

[2020-01-14 18:18] azaslonov commented on #49
I agree, that is a bit cleaner approach. Thanks for the feedback.

[2020-01-14 18:48] krispenner commented on #403
Thank you for your reply and thanks for pointing me in the right direction. I have found this exact feature request for anyone else who wants to vote for it!

https://feedback.azure.com/forums/248703-api-management/suggestions/39141355-ability-to-secure-new-developer-portal-pages

[2020-01-14 19:03] krispenner commented on #408
FYI, I have switched my enums to be their own type definition using the $ref on the property now, so this issue for me is not required. That said, I'm sure you will still want to support this for others in some way. I'd also like to see the regular expression displayed per property as well...

[2020-01-14 19:15] krispenner commented on #410
@azaslonov sent thanks!

[2020-01-14 19:39] krispenner commented on #414
I am also experiencing refresh issues throughout the portal quite often.

One specific example is:

1. Go to the API details page for any API.
2. Select a new API from the dropdown.
3. The API dropdown refreshes its list twice for no apparent reason (**kind of weird**).
4. The API then loads on the page but the drop down remains open (**it should ideally close itself**).
5. Only 40% of the time th

[2020-01-14 20:19] mikebudzynski commented on #403
I forgot to mention that the documentation is coming soon (a week or two).

[2020-01-14 20:28] mikebudzynski commented on #412
@SahinOzdemir - please follow an Issue template next time. It helps us respond to your problems faster.

[2020-01-14 21:00] dfjones91 commented on #122
Will "issues" be added as a widget for the new developer api? My company is using the old one and want to continue using it in the new one

[2020-01-14 21:20] #411 closed

[2020-01-15 00:13] #385 closed

[2020-01-15 01:11] mikebudzynski commented on #122
We don't have immediate plans to add a widget for Issues in the new portal. Could you please describe how and why you use Issues and if you've considered third party services for managing issues / tickets?

[2020-01-15 08:39] AnRei123 opened #418 ""Error: Cannot find module 'azure-storage'" message received when running the migration scripts"
When running the "migrate.bat" script from the released version 2.3.1, I receive the following error after the cleanup.js has been invoked: Error: Cannot find module 'azure-storage'
(I have already installed node.js, npm packages and I have already installed the azure-storage package: `npm install azure-storage`). Has anyone an idea what the issue could be?
Here some more details from the log text

[2020-01-15 09:29] AnRei123 commented on #418
This issue has been solved. I am very new to all this topics. I found out that the npm package needs to be installed in the same folder where the package.json file is.

[2020-01-15 10:28] SahinOzdemir commented on #412
Didn't have time te respond earlier. I just sent you the apim service names to mail.

[2020-01-15 10:58] SahinOzdemir opened #419 "Not able to download WSDL of SOAP Service in Developer portal"
When i select an API, I cannot download the WSDL, which was possible in the old developer portal.

![image](https://user-images.githubusercontent.com/7938059/72428574-4a521b00-378e-11ea-98dc-176b9e41f94b.png)

[2020-01-15 11:51] SahinOzdemir commented on #413
Hi, just checked this and indeed there was no details page.
I created it, but still it's strange that this doesn't come out of the box.

[2020-01-15 11:51] #413 closed

[2020-01-15 12:01] SahinOzdemir commented on #414
Hi @azaslonov sent an email with apim instances earlier today.
Do need to notice that I have changes the pages on acceptance. I'll keep production as is for now, so you can have a look at it.

[2020-01-15 12:22] SahinOzdemir opened #420 "Response: Cross-Origing Resource Shareing not enabled on server when trying service"
When I want to try an operation from the developer portal I get the following exception/response:
**Unable to complete the request**
Since the browser initiates the request, it requires Cross-Origin Resource Sharing (CORS) enabled on the server. Learn more

I would expect this to work out of the box, just as in the new portal.
![image](https://user-images.githubusercontent.com/7938059/72433648-184

[2020-01-15 14:19] SahinOzdemir commented on #418
@AnRei123 can you then close the issue?

[2020-01-15 14:27] DrReedo commented on #294
When will this be fixed?

[2020-01-15 14:36] michaeltnguyen commented on #294
@DrReedo this team just works on the portal, so you'll get a more accurate answer from the folks at https://github.com/microsoft/OpenAPI.NET

[2020-01-15 18:01] #418 closed

[2020-01-15 18:03] mikebudzynski commented on #420
This is by design: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal#im-getting-a-cors-error-when-using-the-interactive-console

You can open a feature request at https://aka.ms/apimwish

[2020-01-15 18:03] #420 closed

[2020-01-16 08:37] DrReedo commented on #294
@michaeltnguyen thank you, I will have a look over there.

[2020-01-16 15:28] dgrospelier opened #422 "Complete SignUp redirection issue"
## Bug description

After an Azure B2C sign-in, and for the first time, we need to complete a SignUp form in order to create the User in API Management.
When we Send this form, we have a 403 forbidden because the portal tries to post the form to this url : https://management-dev.thuasne.com/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.ApiManagement/service/xxx/users?api-version=2018-06

[2020-01-16 16:06] calloncampbell commented on #294
I am getting this error from the Developer Portal.

[2020-01-16 18:11] azaslonov commented on #414
Hi Sahin, I could not repo the issue. Can you please tell which browser you use and its version?

[2020-01-16 18:39] azaslonov commented on #410
Hi @krispenner, here's the thing: the legacy developer portal generates the example out of schema and, specifically, "example" fields, but the new developer portal renders examples attached either to the request body or to the definition referenced by the request.

You can easily generate en example of your request body, or better definition, by using a helper command:
![image](https://user-images

[2020-01-16 18:41] azaslonov commented on #419
Hi Sahin, thanks for reporting the issue. We'll fix this.

[2020-01-16 18:57] azaslonov commented on #422
Hi @dgrospelier, those "xxx" is just a placeholder, when MAPI gets accessed directly, it doesn't look at those values. This is a temporary solution, and this is done for ARM compatibility, don't worry about this one.

Regarding 403, there might be something else, for example, there might be missing Object ID in application claims configured for your API. Please check this:

![signin-signup policy]

[2020-01-16 18:57] #422 closed

[2020-01-16 19:05] azaslonov commented on #397
Closing it due to inactivity. Please feel free to reopen if the recommended steps do not help.

[2020-01-16 19:05] #397 closed

[2020-01-16 19:12] azaslonov commented on #407
Fixed in #415.

[2020-01-16 19:13] azaslonov commented on #399
Fixed in #415.

[2020-01-16 19:13] #399 closed

[2020-01-16 19:16] azaslonov commented on #401
Fixed in #415. However, there is still a lack of customization control for the "hamburger" button (e.g. you can't change its color). That will be fixed soon as well.

[2020-01-16 19:16] #401 closed

[2020-01-16 20:23] dwivedipriyaranjan commented on #414
Duplicate of # I have the same issue of API card box click is not working. I am getting this URL when I click [](https://xyz.developer.azure-api.net/apis#api=demo-conference-api)
With the addition to that many APIs are missing from the new developer portal however it is listed in the developer portal(legacy). Please help!

[2020-01-16 20:33] azaslonov commented on #414
Hi @dwivedipriyaranjan, please check settings of API list:
![image](https://user-images.githubusercontent.com/2320302/72560519-0f1e1d80-385c-11ea-8e03-a824bdb7a351.png)

For the list of visible APIs please check under which user you're signed-in, what groups assigned and what products this user subscribed to.

[2020-01-16 21:12] dwivedipriyaranjan commented on #414
Dear @azaslonov , I'm extremely sorry! I can't find this List of APIs.
and regrading the URL redirections please help!
I am attaching the screenshot for your reference.
![SharedScreenshot2](https://user-images.githubusercontent.com/7353195/72563100-36e9a180-38ad-11ea-9880-4a6067a3e67b.jpg)

[2020-01-16 21:27] krispenner commented on #410
Hi @azaslonov, thank you for your response. I'd like to keep this issue open as a bug, specifically because the Open API Specification states that examples provided higher should be used but fallback to examples lower down the chain when not provided.

So in my case, since I did not provide an example on the request body, it should instead look at the request object and if no example there, it sho

[2020-01-16 21:42] azaslonov commented on #410
We may implement the auto-generation in the future, with a specific setting in API details for this. Of course, please feel free to contribute.

[2020-01-16 21:44] azaslonov opened #423 "Add example generation option for schema using "example" properties of each field."
In absence of request example and schema example, it still can be generated using "example" property of each field in a definition (similarly as in legacy developer portal).

[2020-01-16 21:45] azaslonov commented on #410
I added a separate item for tracking: #423

[2020-01-16 21:51] krispenner commented on #410
OK sounds good. I don't think you need a specific setting for this though, it should just automatically fallback on its own.

[2020-01-16 22:01] azaslonov commented on #414
Oh, just click here:

![image](https://user-images.githubusercontent.com/2320302/72566470-b99c3d80-3868-11ea-9c24-f629f29cbef1.png)

[2020-01-16 22:03] azaslonov commented on #414
Also, looks like you have started of Preview version of the content. If not too much customizations, I would recommend you to reset it to default:

![image](https://user-images.githubusercontent.com/2320302/72566594-f9632500-3868-11ea-8ee6-d3f3ef8a103e.png)

[2020-01-16 22:35] vincehorst opened #424 "Response representation samples are not appearing on API documentation page"
I've added a response representation sample for an API endpoint via the APIM in Azure Portal. A tab appears on the API endpoint's documentation page where the representation should be shown but the representation is not actually present.

![image](https://user-images.githubusercontent.com/1152384/72568509-2addef80-386d-11ea-9a46-0a781b328d66.png)

![image](https://user-images.githubusercontent.com

[2020-01-16 22:40] azaslonov commented on #424
Hi @vincehorst, just in case, when did you publish the portal last time? If more than 2-3 weeks, it might be missing some fixes. Please try that and, if the issue still there after that, please send us your service name to apimportalfeedback@microsoft.com. Thank you.

[2020-01-16 23:36] vincehorst commented on #424
Hi @azaslonov! I have just republished the portal and confirmed that the issue is still present. The sample is not being shown.

[2020-01-16 23:37] azaslonov commented on #424
Ok, please send service name.

[2020-01-16 23:46] vincehorst commented on #424
@azaslonov do you mean that you want me to email you the URL and login credentials for the affected API Portal to apimportalfeedback@microsoft.com, so that you can see it for yourself?

[2020-01-16 23:47] azaslonov commented on #424
No, just the name of APIM service.

[2020-01-17 00:08] vincehorst opened #425 "API documentation page fails to load when response representation has a "Definition" set"
## Bug description

I've added a response representation sample for an API endpoint via the APIM in Azure Portal. If I elect to configure a Definition for the representation then the API endpoint's documentation page fails to load due to a JavaScript error.

* The failure occurs regardless whether I use an existing definition or create a new definition.
* The failure occurs regardless of the HTTP

[2020-01-17 00:09] vincehorst commented on #424
I have emailed the name of the APIM service.

[2020-01-17 00:57] #419 closed

[2020-01-17 07:08] krispenner commented on #409
Thanks @azaslonov, we have already had this raised as an issue from our customers as well.

[2020-01-17 07:31] adefalque commented on #397
Thanks @azaslonov that fixed the issue.

[2020-01-17 08:17] SahinOzdemir commented on #414
Hi I have been making some changes on acc so these might have affected my observations earlier. I'll give it a retry after the weekend and let you know the outcome.

[2020-01-17 08:19] SahinOzdemir commented on #419
Thanks! When will the fix be available?

[2020-01-17 08:20] SahinOzdemir commented on #412
It now seems to work. Did you made any changes?

[2020-01-17 08:52] adefalque opened #427 "Unable to subscribe to a product"
## Bug description

I'm using a Subscriptions page, with the "List of products" widget.
Listing the products works fine. When I click on the product, it displays below a small section with a text "Your new" and a cut button "Subscribe":
![SubscribeBugPortal](https://user-images.githubusercontent.com/8939280/72597674-7eece080-390e-11ea-9c17-58f64069a78f.PNG)

So 2 issues there:
- the small section

[2020-01-17 18:18] mikebudzynski commented on #419
It's already available in the self-hosted version. It will become available in the managed version in a week or so.

[2020-01-17 21:57] #371 closed

[2020-01-20 06:20] rkraveesh opened #429 "No value for URL parameters will result in invalid API call in APIM Dev Portal"
Issue Description:
The APIM Dev Portal which is  failing to validate the mandatory URL parameter. While testing the API from APIM Test console and we do not put any parameter, then try to send the request, it throws field required validation error. But when the same API is tested with Developer portal, it is not throwing the field required validation error and carries URL Parameter variable name a

[2020-01-20 08:48] dwivedipriyaranjan commented on #414
Hi @azaslonov,

Thanks for instant reply. I trie tired the same, however, issues remain the same.
Let me elaborate on the issue:

Problem: List of APIs available in editor mode is not listing the same to the UI portal after publishing it and opening it to incognito.

Description:  I have around 25 APIs and i have given tag value to most of the APIs and so that I can list them using the tag. After

[2020-01-20 15:16] BobbyCGD commented on #427
Hi @adefalque

To make the Subscribe button work you have to first type in a name in the text box. I also didn't notice this at first and confused me. Maybe the workflow can be changed? For example the user clicks 'Subscribe' and then they are asked to enter a name for the subscription. That would definately be a good improvement.

I do agree with

There should be better styling maybe min-width an

[2020-01-20 21:30] rbarbany opened #431 "Problems migrating Portal between subscriptions"
Hello,

We are using the migrate.bat script, to migrate our managed environment from DEV to PRO and we always reproduce the same error, the portal is lost.

## Reproduction steps

1. Configure vars in migrate.bat
2. run migrate.bat
3. Go to Api Management Portal Overview and open "Developer Portal"
4. The portal does not load properly. Only footer is displayed correctly.

## Expected behavior

Hav

[2020-01-21 11:12] jerryanto opened #432 "'npm run publish' failing with 'Could not search object pages' error, while publishing the code locally"
After configuring and doing the config changes, I tried to publish it locally using the command 'npm run publish' which got failed with the below error.

Publishing website...
Error: Could not search object 'pages'. Error: Unable to complete request. Error: Could not complete the request. Please try again later.
    at MapiObjectStorage.<anonymous> (D:\Catalyst\Catalyst-Dev-Portal\dist\publisher\i

[2020-01-21 17:56] ygrik commented on #425
this issue was fixed with commit #398

[2020-01-21 17:56] #425 closed

[2020-01-21 19:06] azaslonov commented on #432
Hi @jerryanto,

Please check that you have specified the correct settings in `config.publish.json` file. If still can't figure this out, please send your service name to apimportalfeedback@microsoft.com and we'll help you to make the right config.

[2020-01-21 19:07] azaslonov commented on #432
I'm closing this issue since we're taking it offline.

[2020-01-21 19:07] #432 closed

[2020-01-21 19:26] mikebudzynski commented on #414
Please, check if all your APIs are assigned to Products and if Products are assigned correctly to user Groups. If you still don't know how to proceed, please open an Azure support request.

As per our [guidelines](https://github.com/Azure/api-management-developer-portal/blob/master/README.md):

[2020-01-21 19:26] #414 closed

[2020-01-21 19:34] ygrik commented on #431
It was a bug in the script. The script starts to download media content from blob storage and exit without upload.

[2020-01-21 19:40] #431 closed

[2020-01-21 20:54] vincehorst commented on #425
Hi @ygrik! I see that the commit #398 has been merged into the master branch on 1/8/2020. In practice, when could I expect this fix to arrive into my API Portal that is hosted by Microsoft in my Azure subscription? I am not able to find an online article describes what I can expect.

Also, once Microsoft updates their version, do I need to take any steps (e.g. to republish my portal)?

P.S. I repu

[2020-01-21 21:01] mikebudzynski commented on #425
Please allow a week or two for the change to propagate to the managed portal - most likely it will happen this week. After the release is rolled out, you'd need to republish the portal.

[2020-01-22 01:10] ygrik commented on #329
@spyder007
1. You do need to encode
2. The returnUrl does not support for now
3. We keep code of signin-sso component in our repo for managed portal

[2020-01-22 20:36] azaslonov commented on #412
Hi Sahin, sorry for the late response. Actually no, we didn't do any changes, probably something got fixed on your side.

I'm closing the issue then.

[2020-01-22 20:36] #412 closed

[2020-01-22 22:54] #424 closed

[2020-01-22 22:54] azaslonov commented on #424
Fixed.

[2020-01-23 11:57] varpitoo commented on #316
Any update?

[2020-01-23 15:11] AnRei123 opened #436 "New DevPortal - style issues with unresoved style/colors dependencies in button styles"
## Bug description
Deletion/renaming of an existing color item that is referenced in a button style hinders the users to apply new colors to a button style element, prevents the display of the button shape on the pages and hinders the user to apply inline colors to a dedicated text section on a page.

## Reproduction steps
1. Go to 'Styles' configuration page of the New DevPortal from the API Mana