[2021-06-04 21:42] azaslonov commented on #1338
@stinggray, the OAuth specification doesn't tell us anything about "bearer" word casing. The service that accepts the token should take this into account. Also, we've seen questions about both casing variants, which means someone will always be unhappy. The only way to solve it, it seems, is to allow users to choose the casing, but it's not a high priority for us (please feel free to contribute th

[2021-06-04 21:58] azaslonov commented on #1337
Hi @LeHaine, yep known issue, we'll fix this.

[2021-06-04 22:07] azaslonov commented on #1325
@AnRei123, I can't repro this on my services, also don't see anything related in our logs. Can you please try to peek into F12 console errors if you still can repro, or better send us the service name so that we could try it from here?

[2021-06-07 06:40] Vinoth-44 commented on #1331
Alex,
I've updated all the required scss files but still the issue is exist. Can you give one example application for sub menu option at latest release ?
Given example by you is not having multi menu option (https://alzasloneuap03.developer.azure-api.net/)

This is the current menu at our application after upgrade. But user will not know the Main MENU has sub menus without chevron icon.

Actual me

[2021-06-07 07:00] kasperbrandenburg commented on #1237
@mikebudzynski is this actively being planned for any future sprint? We had this shown up in a recent Information Security scan.

[2021-06-07 12:48] AnRei123 commented on #1299
The above described issue happened again!!!!

Created new page with contents, but document content (contentTypes/document/) is not reflecting in the backed up data.json! Did not receive any error message during upload. Therefore, did not recognize for days that the content is not backed up. Even when creating new pages on the affected instance, no document content  (contentTypes/document/) is refl

[2021-06-07 13:08] AnRei123 commented on #1326
The "Did you now?" messages also pop up again after a reset of the portal via the GUI. Due to issues with the managed portal, we sometimes need to fix issues in the data.json and recover our backups by uploading them again. Before uploading, cleaning up the data is required. Don´t show up the messages again and again. This is very much bothering, especially if you try to troubleshoot issues in you

[2021-06-07 13:39] AnRei123 commented on #1325
I am also not able anymore to reproduce the issue. After restarting my PC on Monday, resetting the DevPortal of an instance via GUI was possible again.

[2021-06-07 21:08] mjazwinski commented on #600
Hi,

Update from my side - it seems that angular components required to register widget in Paperbits are missing. Docs (https://paperbits.io/wiki/widget-anatomy) even recommend using a Component decorator from Angular but this fails to register in Paperbits.
I am working on React widget now.

/Maciej

[2021-06-08 00:30] azaslonov commented on #1286
I have to close this issue because it is nearly impossible to bring the number of security audit warnings to zero. There is always a "dependency of a dependency of a dependency" that has some reported issues. However, this doesn't always mean that your users are vulnerable. For example, the current audit brings up an issue in `meow` library which is a dependency of `saas-loader` which used for the

[2021-06-08 00:30] #1286 closed

[2021-06-08 17:20] #1325 closed

[2021-06-08 17:22] mikebudzynski commented on #582
@nahojs, the original problem has been fixed and this issue has been already closed. Could you create a new one with precise reproduction steps?

[2021-06-08 17:28] mikebudzynski commented on #1237
Thanks for bringing this up. We have prioritized the fix, but at this moment I am not able to share the ETA. Most likely, we won't be able to address it in the next two months.

[2021-06-09 23:59] davidipaq commented on #1068
yes we are looking forward for that update too. Appreciate advice.

[2021-06-10 08:03] harryzsh opened #1340 "AAD B2C sign out and then sign in without asking user for credentials"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-06-10 14:34] AnRei123 commented on #1323
We faced similar issues the last week and it even reoccurred after a while again. Today, clearing the browser cache helped to fix the issue for a while. The same issue occurred in the normal Chrome browser as well as in incognito mode of the browser. After clearing the cache, adding pages was possible again w/o error messages in the normal browser and in incognito mode.
Adding pages seems to be a

[2021-06-10 17:53] mikebudzynski commented on #1301
We will use #1068 for tracking this improvement.

[2021-06-10 17:53] #1301 closed

[2021-06-10 17:54] mikebudzynski commented on #1340
@harryzsh, thanks for opening the issue - we will prioritize it for the development. Please, refer to #1068 for tracking and updates.

[2021-06-10 17:54] #1340 closed

[2021-06-11 07:33] restlessankyyy opened #1341 "Unable to start the website using npm start"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-06-11 23:04] azaslonov commented on #1228
Fixed on the backend, awaiting deployment.

[2021-06-11 23:04] #1228 closed

[2021-06-11 23:04] azaslonov commented on #1243
Fixed on the backend, awaiting deployment.

[2021-06-11 23:04] #1243 closed

[2021-06-15 05:19] SSanjeevi opened #1342 "API list page and details page tags on expanding UI alignment border issue"
## Bug description
API list page and details page tags on expanding UI alignment border issue - as highlighted in red in image attached

## Reproduction steps

Consider having many tags of apis around 15.

1. Go to 'API details page or API list page'
2. Click on 'tags'
3. you will see border, alignment, and content going beyond the border.
4. See error screenshot

## Expected behavior

A clear ali

[2021-06-15 15:03] AnRei123 commented on #118
We currently have the issue that an API version can be associated to two different API products. To call the API version, you need to subscribe at least to one of the API products. But when you decide to deprecate one of the two API products, this would mean a breaking change for the API consumer as he/she is required to change the subscription key in her/his deploy pipeline.
To avoid this, subscr

[2021-06-16 06:29] AnRei123 commented on #1326
This morning I got again the same onboarding pop up messages. Clicking them again and again **feels very annoying**. Sorry, but I need to tell you even you have already planned to fix the issue.

[2021-06-16 13:30] OllisGit opened #1343 "[Feature] Disable/Enable "Try it" stage dependent"
Currently there is only a simple checkbox "Enable API Console" in the designer, but it would be really helpfull if its possible to assign a "condition" e.g. ```hostingUrl.startwith("https://production.myapi") == false```

Background:
We use two stages (2x API Management Service): production and qa. The API-Dev-Portal is not self-hosted!

In the qa-environment the developer should be able to try ou

[2021-06-17 06:26] Sachin4dotnet commented on #1208
Can you give some custom URL to be triggered when someone subscribe the product? That URL must be configurable from portal.

[2021-06-17 06:44] Sachin4dotnet opened #1344 "Reset password is not showing proper message"
## Bug description

Whenever we are trying to reset password, and then entering wrong email address, it should response that the email address is incorrect. But instead, it is always refreshing the captcha, so user frustrates by entering captchas.

## Reproduction steps

1. Proceed to API Manager
2. Complete the Sign up with a new email address with activating from email
3. Proceed to API Manager

[2021-06-17 12:15] Berbe opened #1345 "Updating Portal Revision results in indefinite "pending" state"
## Bug description

Using the shipped tools to download/upload content from/to the developer portal of an API Management instance, I ended with a split-brain situation o nsaid developer portal:
- Developer portal (`https://<service name>.developer.azure-api.net/`) entered in _user/unauthenticated_ mode shows published content
- Developer portal (`https://<service name>.developer.azure-api.net/`) e

[2021-06-17 17:42] mikebudzynski commented on #1343
@OllisGit, thanks for opening the issue. The current workaround is to self-host the portal, where you can extend this functionality with custom code.

[2021-06-17 17:56] mikebudzynski commented on #1208
Yes, you can use the delegation functionality: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-setup-delegation

[2021-06-17 18:38] mikebudzynski commented on #118
@AnRei123, deprecation is always a breaking change. API consumers need to be notified about the deprecation and provided with transition instructions. You might want to use separate phases for the deprecation and retirement. Deprecation is a warning to the consumers that the API / operation / product is no longer supported except for high severity security incidents. Retirement is when it stops wo

[2021-06-17 18:41] mikebudzynski commented on #1345
@Berbe, it's not expected and we need to go through the logs and your service configuration to figure out the issue. Could you open an Azure Support request?

[2021-06-18 06:44] wkarratoon commented on #1068
Thank you Alexander! Do you know when will this be formally released/available for use for the managed Developer Portal?

-Mark

From: Alexander Zaslonov ***@***.***
Sent: Friday, June 18, 2021 2:45 AM
To: Azure/api-management-developer-portal ***@***.***>
Cc: Arratoon, Mark ***@***.***>; Comment ***@***.***>
Subject: Re: [Azure/api-management-developer-portal] Developer Portal to set up Sign Out

[2021-06-18 09:57] ghost opened #1347 "Self-hosted developer portal not maintaining AAD session between browser tabs"
Hello,
We have cloned this repo and followed instructions for self-hosting developer portal. And we currently have this issue with AAD sign in:

Steps to reproduce:
- Open Developer Portal
- Sign In using Azure AD
  -  User is signed in
  -  User can keep clicking through pages and continue to be signed in.
- Open a new browser tab in the same browser window (Chrome 79.0.3945.117)
- Navigate to De

[2021-06-18 21:46] mikebudzynski commented on #1068
@wkarratoon, the improvement is included in the just-released portal version 2.10.0. We expect to roll it out to all managed portals within the next 3-4 weeks.

[2021-06-19 11:16] kye opened #1348 "Show legal text by default on the developer portal"
The APIM admin portal allows admins to enter legal text on the Product Settings page. The text is hidden on the developer portal product page but is displayed by clicking “Show”. The Subscribe button is not enabled until the user clicks “I agree to the Terms of Use”.

Not showing the text by default, or forcing the user to click “Show” before enabling the Subscribe button creates legal problems fo

[2021-06-21 07:16] AnRei123 commented on #118
Let me try to further depict the two scenarios that I mentioned above.

**Scenario 1** (subscribe to API products only):
- **API product A** (_discontinue_: subscription key A) includes **API xyz, v2**
- **API product B** (_continue_: subscription key B) includes **API xyz, v2**
As a developer who subscribed **API product A**, to continue consuming **API xyz, v2**, I need to manually subscribe to

[2021-06-21 11:56] akga commented on #1274
I have the same issue and found a crude workaround. By doing a http get on  {{apimName}}.developer.azure-api.net/signin-oauth/code/callback/{{authorizationServerName}} we can extract access token.

Change method _authenticateClientCredentials_ in **src/services/oauthService.ts** as follow:

[code]
I managed to get the token in console with this change. It's not perfect but works till its fixed by

[2021-06-22 14:59] AnRei123 opened #1350 "Timestamp required for last content update of DevPortal in designer/editor mode (GUI and API-based)"
##Problem statement

We currently do the editing of the DevPortal contents in a separate portal environment. From there, we deploy the updated contents to about 20 target environments.
Before publishing the contents one of these target environments, it is important to know the timestamp when the content has been modified the last time to ensure that only controlled and released content is publishe

[2021-06-22 19:47] azaslonov commented on #1331
Hi @Vinoth-44, sorry for the late response. You're right, we should get the chevron back. Clearly a usability issue.

[2021-06-22 19:55] azaslonov commented on #600
Hi @mjazwinski, sorry for the late response. Do you still have issues with Angular? If yes, can you please give more details on how are you registering it? Also, have you checked [this example](https://github.com/paperbits/paperbits-demo/tree/master/src/components/click-counter/angular/runtime) by chance?

Regarding the docs on Angular, we're resuming documentation works on it soon.

[2021-06-22 20:05] azaslonov commented on #1341
Hi @restlessankyyy, sorry for the late response. I could not repro this on Mac. Did you do any modifications to package.json? Are you using the latest commit?

[2021-06-23 06:52] sbenji77 opened #1351 "Search bar in the portal"
Hello,

Do you have plans to make a search bar available on the developer portal?
Our users are starting to get lost and it would be really appreciated.

Cordialy
Benjamin

[2021-06-23 08:29] Berbe commented on #1345
@mikebudzynski I immediately forwarded your answer internally and a support case will be open in order to dig through instance logs.

In the meantime, I left the affected instance untouched and went on testing another one. It seems I hit the bug again, and while I am still unsure on what exactly caused it, I got more precise steps to share with you, in case they ring a bell.
Here is what I did:
1.

[2021-06-23 10:03] restlessankyyy commented on #1341
I can share the issue in a private email. Thanks for coming back :)

[2021-06-23 10:37] mjazwinski commented on #600
Hi @azaslonov, no problem. I gave up on angular and did react example. This was a POC to show that a modern web framework can be used. I saw the example, but as it was, it was missing some imports. Classes that register components import from angular directory while there are not components in angular directory - see imports in https://github.com/paperbits/paperbits-demo/blob/master/src/components

[2021-06-23 19:30] ErikMogensen opened #1352 "Cannot sign in to the portal using Azure AD"
## Bug description

Signing in to the developer portal using Azure AD does not work after publishing the portal running on the following versions:

"CodeVersion":"20210618223831",
"Version":"0.20.1219.0"

It worked before publishing. This happened to two APIM instances. It works fine to log in to the old portal. I used the Azure portal to publish an old version but it showed the same behavior.

##

[2021-06-23 20:02] azaslonov commented on #1352
Following up offline.

[2021-06-24 10:18] vinoth12988 commented on #121
Hello @kmurari029 @mikebudzynski  Any one has issue in accessing the Publisher portal link.
Looks like publisher portal links are not opening anymore in the Administrative interface for Legacy Developer Portal?

[2021-06-24 10:41] Berbe opened #1353 "Revision deletion"
At the moment, [portal revisions](https://docs.microsoft.com/en-us/rest/api/apimanagement/2021-01-01-preview/portal-revision) can only be created or modified.

An expected feature would be to be able to also delete them. The `DELETE` method on a revision URL yields an error.
Have you got such a feature considered/coming?

[2021-06-24 10:46] Berbe opened #1354 "Any new Portal Revision is published / marked as current"
Currently [newly created portal revisions](https://docs.microsoft.com/en-us/rest/api/apimanagement/2021-01-01-preview/portal-revision/create-or-update) are automatically published.
This makes `isCurrent` property of the REST API `Create or Update` and the `Current publish` check box on a new revision created from the Web GUI useless.

Would it be possible to create revisions based on the _administ

[2021-06-24 14:35] erwinkramer opened #1355 "config.runtime.json is being ignored"
## Bug description

`config.runtime.json` is being ignored during design time and after deployment.

For instance, it should show the API list based on the settings in that file.

## Reproduction steps

1. Use self hosted version 2.10.0
2. Modify `config.runtime.json` to another instance.
3. See that it's not having any effect. I still see the API list from the design instance.

## Expected behavi

[2021-06-24 17:31] mikebudzynski commented on #121
@vinoth12988, we haven't made any changes in that area. Please, contact Azure support for assistance.

[2021-06-24 17:33] mikebudzynski commented on #1351
@sbenji77, we have plans to:

- Support static search of content
- Improve searchability in the API Management specific widgets (i.e., APIs, Products, etc.)

At this moment we don't have an ETA. I am merging this issue with #1014

[2021-06-24 17:33] #1351 closed

[2021-06-24 18:01] mikebudzynski commented on #1347
@AElharouny, thanks for reporting the issue. A mental note to the development team: we could implement a global handler in the portal that will check for the user session and redirect to the auth flow.

[2021-06-24 18:21] mikebudzynski commented on #1353
@Berbe, can you explain why you need the deletion functionality? The revisions are unmodifiable by design, just like git commits.

[2021-06-24 18:21] mikebudzynski commented on #1354
I could reproduce the issue by creating a revision in the Azure portal.

[2021-06-24 18:31] mikebudzynski commented on #1345
Thanks for the reproduction steps, @Berbe. Switching the portal revisions only changes the published (user view) portal. Content in the administrative mode will always be the latest, regardless of the published revision. There seems to be a bug in handling the revision updates, like changing the description - I was able to reproduce it.

[2021-06-24 22:31] mikebudzynski commented on #1350
@AnRei123, thanks for requesting those features. Regarding:

We are working on migration of the portal's administrative interface to Azure Resource Manager APIs (not direct access APIs), which will allow you to set access permissions for portal operations.

[2021-06-25 06:37] AnRei123 commented on #1353
At least the latest revision should be displayed on top (descending) to always see the latest.

[2021-06-25 08:01] Berbe commented on #1354
I am glad you indeed see this as an issue!
A (quite frightening, if you ask me) warning banner is displayed on the `Revisions` tab of the `Portal overview` page on the API Management Web GUI:

This banner presence underlines the fact it seems to have been a known issue for a while.

[2021-06-25 08:12] Berbe commented on #1353
_Git commits can be modified/reorganised/removed at will from branches; orphans commits wille get GCed. It is what you'll be required to do on a source branch of a PR, for instance, only bothering upstream with nicely organised code into atomic, correctly annotated, commits.
It is only an organisational constraint, a shared protocol, not to modify a branch being collaboratively worked on._

In gen

[2021-06-25 08:42] Berbe commented on #1345
The last steps are even more worrying, as they seem to permanently break the administrative view refresh from content upload or revisions switch.
This was the main problem leading to my investigation and this bug report, which I see has been renamed.

Per my own tests, this is not recoverable, and renders the developer portal, in essence, unusable.

[2021-06-25 18:37] arshadazeem opened #1356 "[Feature] Surface OAuth Server Configuration visually on the Developer Portal"
**Feature Request**

Currently the OAuth server configuration is only included in the API spec that can be downloaded from the developer portal. Requesting a feature to surface it visually in the API reference pages. This would help developers to understand what the appropriate default scope to use for the Client Credentials grant for consuming that API.

[2021-06-28 11:10] ZarTrox opened #1357 "Publishing with scripts_v3 failing"
## Bug description

Automatically publishing with scripts_v3 causes the publishing step to fail for **some** instances.

Failed publish overview instance 1:
![image](https://user-images.githubusercontent.com/58420097/123625863-7fcab700-d810-11eb-8aef-122324454881.png)

Working publish overview instance 2:
![image](https://user-images.githubusercontent.com/58420097/123625973-9a049500-d810-11eb-91a9

[2021-06-28 15:50] hansukyang opened #1358 "Feature Request/Question - API usage metering by custom metric instead of per API call"
Would it be possible to track API usage by custom metric instead of API calls? I operate a weather data service through this platform and will be metering by how much data is being requested in each call - for instance, one month of weather data vs. 70 years of weather data volumes are very different but still logged as single API call at the moment.

Not sure if this is something that can be acco

[2021-06-28 21:04] azaslonov commented on #1355
Hi @erwinkramer, can you please pull the latest version, the issue should be gone now.

[2021-06-28 21:04] #1355 closed

[2021-06-28 21:39] erwinkramer commented on #1355
Hi @azaslonov, you mean it's fixed in https://github.com/Azure/api-management-developer-portal/commit/f5f94b945bc5374edb5ba3034526e094483449ef? I'd rather wait on a new release though...

[2021-06-28 21:43] azaslonov commented on #1355
Yep, that's the one.

[2021-06-28 21:45] erwinkramer commented on #1355
Thanks

[2021-06-29 04:46] kye commented on #1348
@mikebudzynski Hi. Would this improvement gain priority if I created a PR with the fix?

[2021-06-29 17:14] mikebudzynski commented on #1348
@kye, absolutely. We will be happy to review the PR. If you decide to contribute this improvement, please make it configurable in the widget configuration and turned off by default, so it doesn't affect existing developer portal deployments.

[2021-06-29 17:17] mikebudzynski commented on #1358
Absolutely, you can find more information on the observability options in API Management at: https://docs.microsoft.com/azure/api-management/observability

If you have further questions, please reach out to Azure Support. This repository is dedicated to the developer portal only.

[2021-06-29 17:17] #1358 closed

[2021-06-29 17:22] mikebudzynski commented on #1354
Can you explain why you find this banner frightening? It's completely unrelated. The banner states that whenever you create a new revision or switch between revisions, your developer portal will be upgraded to the latest portal version - i.e., software version that powers the developer portal, not the content version.

[2021-06-29 19:16] mikebudzynski commented on #1345
@Berbe, I am not sure if I understand your point.

The portal revisions apply only to the published portal's content. At this moment, we don't provide revisions for the administrative mode content, although it is something we've been exploring for the future. If you need to version the administrative mode content, we suggest that you:

1. Perform backups using the scripts
2. Always deploy develope

[2021-06-30 09:04] AdeZwart opened #1361 "API definition export"
## Bug description

On our developer portal we have the "API details" component on the "API details" page which shows a dropdown that can generate an API definition. This dropdown is used by our integrators to generate code with NSwagStudio.

Currently when the YAML or JSON definitions are selected the request only returns:
`Unable to convert message to API definition`

Not any indication on why i

[2021-06-30 14:12] ericfran commented on #1165
Hi,
using migrate.bat command to copy a Apim portal to another but some font doesn't seem correct.

source APIM Fonts
![image](https://user-images.githubusercontent.com/71752480/123975725-da554600-d9bd-11eb-8943-dfa609b016ed.png)

target after migrate.bat
![image](https://user-images.githubusercontent.com/71752480/123975887-fce75f00-d9bd-11eb-8274-44e7576f0413.png)

not the correct font style :-(

[2021-06-30 21:30] mikebudzynski commented on #1357
@ZarTrox, looks like this issue is specific to your service and there are no errors or reproduction steps. Could you contact Azure support?

[2021-06-30 21:30] #1357 closed

[2021-07-01 06:59] RobBowman commented on #216
I have the same problem:

paperbits.js:2 Uncaught (in promise) Error: Unable to upload blob 52ae9a05-1f20-993a-620b-f1066fd80a47. Error: <?xml version="1.0" encoding="utf-8"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.
RequestId:4abd5743-f01e-0057-0f46-6e533b0000

[2021-07-01 08:10] Berbe commented on #1345
Because content needs to be edited/generated through the WYSIWYG tool part of the developer portal instance, content download/upload through scripts can only be used as a disaster recovery mechanism.
The only way to externalise this WYSIWYG tool would be to self-host this portal.
In the current state of things, I do not see how a user could generate contentItems, using a complex templating system,

[2021-07-01 08:17] Berbe commented on #1354
The way I understood it was it described what is actually happening: revision creation will also immediately publish it.
If the message is unrelated, that's fine, but would it be possible it also confused other people?

Anyway, if this is unrelated to the problem at hand, let's not get sidetracked here.

[2021-07-01 15:33] jtourlamain commented on #999
What are the possible providers? While using a delegated login, it makes sense to add "oidc", but that doesn't seems to be supported. Now we need to login the user and set the provider to basic and provide a password. That doesn't make sense for a delegated login where the password is stored in an identityprovider.

[2021-07-01 17:42] mikebudzynski commented on #216
@RobBowman, could you please open another issue with precise reproduction steps? We try to avoid reviving old issues due to the confusion it causes.

[2021-07-01 18:33] mikebudzynski commented on #1361
@AdeZwart, a fix for this issue will be rolled out with the next API Management service release. It may take several weeks for your service to receive the update (starting from July 6).

[2021-07-01 18:35] #208 closed

[2021-07-01 18:36] #939 closed

[2021-07-02 14:38] Berbe opened #1363 "Publishing without using revisions"
# Context
Since revisions seem to be bogus (#1354) and lack cleaning features (#1353), using them might not be wise at the moment.

# Question
The developer portal WebUI discloses a publishing ability in the shape of a `Publish` button displayed in the `API Management` > `Portal overview` page, `Overview` tab.
Is this actionable through the [API Management REST API](https://docs.microsoft.com/en-g

[2021-07-05 17:54] ErikMogensen commented on #1352
It is now working when using CodeVersion 20210628210326. However, it is not possible to log out.

[2021-07-06 15:01] ben-002 commented on #871
Any news on this issue? I try to import an OpenApi definition file in api management and I face a similar issue with the one described by @mikaahopelto. The definition file itself is ok, all the examples are in the correct format. So there is no problem if using Swagger. However, the API management developer portal alters the examples format for Date and Time Span. A date will contain also the tim

[2021-07-06 17:02] mikebudzynski commented on #1363
The *Publish* button will soon use the Portal Revisions API to publish the developer portal. It currently uses a legacy, undocumented API endpoint, which will soon be removed.

[2021-07-06 17:02] #1363 closed

[2021-07-06 17:52] mikebudzynski commented on #871
@ben-002, could you send us your swagger file to apimportalfeedback@microsoft.com for investigation?

[2021-07-06 21:29] mikebudzynski commented on #1354
If the message is unrelated, that's fine, but would it be possible it also confused other people?

We'll display a more explanatory message to avoid confusion.

[2021-07-07 12:53] AnRei123 opened #1364 "Table widget - buggy and unmatured UX"
## Bug description/ Expected behavior

1) Even if the height is not manually specified for a row, the height of the rows is not automatically adapted according to the amount of inserted text rows. Even if I insert only one or two rows of text through a text widget, the height of all rows is not reliably and automatically adapted -even after publishing.
2) Alignment settings for each cell are buggy

[2021-07-07 15:30] Dietatko opened #1366 "An allOf schema does not render correctly."
## Bug description

An API schema using allOf OpenAPi construct to model "inheritance" is successfully used but not correctly rendered in the developer portal. The "inherited" schema is not showing any details and "parent" schema is missing completly.

## Reproduction steps

1. Import API with single operation returning follwoing schema:
[code]
2. Open developer portal.
3. Review operation respons

[2021-07-08 16:40] mikebudzynski commented on #1366
Linking to #1248, which we will use for tracking the `allOf` support.

[2021-07-08 16:40] #1366 closed

[2021-07-08 17:12] AnRei123 opened #1367 "Cannot open DevPortal in editing/designer mode after triggering publishing anymore"
## Bug description / expected behavior

Since this week, I cannot open DevPortal in editing/designer mode after triggering publishing for about 2 minutes. Even if the DevPortal in editing/designer mode is already open, after triggering publishing there are several loading issues.

As I need often to publish to test how the modified content is reflecting in the published mode, these times of unavai

[2021-07-09 07:19] AnRei123 opened #1368 "Media container - adding a "link file" - UX issue"
## Bug description

Adding a "link file" to the media container is currently only possible through opening the media dialog from the main tool panel on the left in the editor/designer mode of the DevPortal. But I need to also be able to add or update a "link file" when modifying the image settings of a "picture" widget.
![Snag_317214](https://user-images.githubusercontent.com/58981351/125038683-fc

[2021-07-09 15:02] adamstruck opened #1369 "Can't sign out from portal"
## Bug description

Users cannot sign out of the developer portal.  The portal in question uses delegation.

## Reproduction steps

1. Sign in
2. Click "Sign Out" & nothing happens (just a fetch of `config.json` and `config-apim.json` according to the network profiler)

## Expected behavior

A redirect to the configured delegation endpoint to sign out.

## Is your portal managed or self-hosted?

M

[2021-07-09 15:27] adamstruck commented on #1369
I can trigger the delegated sign out action by manually navigating to `/signout` in the portal, but after being redirected back to the portal the user is still signed in.

Clicking "Sign Out" in the navigation bar just adds `#signout` to the current path.

[2021-07-09 15:28] azaslonov commented on #1369
Hi Adam, the fix is being rolled out right now. ETA end of this week.

[2021-07-09 20:18] #848 closed

[2021-07-10 18:50] shaneholder commented on #1202
I'm also interested in this feature and was wondering if using something like the X-Forwarded-Host header would be a reasonable idea.  This way in the Azure App Gateway one could configure a rule to add the appropriate X-Forwarded-Host.  Also, ideally the call to the management api hostnames would not be used for generating the sampleHostname.

[2021-07-12 08:20] BernhardRode opened #1370 "Invalid options object | Terser Plugin Error"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-07-13 00:23] azaslonov commented on #1369
@adamstruck, can you please try to re-publish the portal and try the sign-out again? It should work now.

[2021-07-13 00:23] #1369 closed

[2021-07-13 00:25] azaslonov commented on #1364
Yep, all bullet points make sense.

[2021-07-13 00:27] azaslonov commented on #1368
Good point, we'll add this.

[2021-07-13 00:33] azaslonov commented on #1370
Indeed! I wonder why it didn't complain before. I'll fix this.

[2021-07-13 13:59] AnRei123 opened #1372 "Issues with copying and pasting formatted text from one text widget to another one."
## Bug description

When copying and pasting formatted text from one text widget to another one, some inline formats get lost such as a specially assigned text color. This is very error prone, annoying and laborious.

## Reproduction steps

1. Select text snippet in a paragraph of a text widget and assign a customized text color.
2. Copy the whole paragraph with the assigned color format and paste

[2021-07-13 21:04] lenisha commented on #529
@mikebudzynski  - any news please?

[2021-07-13 21:33] mikebudzynski commented on #529
Support for multipart/form-data is already implemented in the test console: https://github.com/Azure/api-management-developer-portal/commit/69e7f489324bf7e6976a79a45477b2368d8fa640 but not yet released. We're working on implementing the support for it in the API reference pages.

[2021-07-14 03:20] azaslonov commented on #1372
Makes total sense. Thanks!

[2021-07-14 11:14] saikovvuri opened #1373 "Sign up page does not show other idp like AAD B2C"
Hello - We have added azure AD b2c to the identities under "Developer Portal" .  When we browse to sign up page , we only see "username and password" option but no option to sign up using Azure AD B2C

This is however working correctly in the now (deprecated) developer portal

[2021-07-14 18:51] ErikMogensen commented on #1352
After getting the latest update and the publishing it, it was possible to sign out.

[2021-07-14 18:51] #1352 closed

[2021-07-14 18:53] ErikMogensen commented on #1369
As mentioned in #1352 the sign out works for me now.

[2021-07-14 19:02] adamstruck commented on #1369
It is working now. Thanks!

[2021-07-14 19:55] jdm4344 opened #1374 "Accessibility, Section 508 Compliance: List of APIs widget keyboard trap"
## Bug description

After opening the tag filter popup within the List of APIs widget, a keyboard trap is created in the popup elements that cannot be exited without navigating to another page or interacting via mouse.

## Reproduction steps

Using a List of APIs widget:
1.  Move keyboard focus to the Tag Search button on the widget using Tab.
2. Open the Tag Search popup using Spacebar or Enter.

[2021-07-14 20:26] jdm4344 opened #1375 "Accessibility, Section 508 Compliance: Reports widget <svg>'s are not accessible"
## Bug description

Reports widget graph and map `<svg>` elements are missing accessibility attributes.

## Reproduction steps

N/A

## Expected behavior

`<svg>` elements have the necessary ARIA attributes to make them recognizable by accessibility software and either a descriptive `<title>` or `<desc>` as its first child element.

## Is your portal managed or self-hosted?

Managed

## Environmen

[2021-07-15 10:31] ZarTrox opened #1377 "Publishing fails with scripts.v3 or from revisions tab"
## Bug description

Publishing a DevPortal instance with either the "scripts.v3" or with the "revisions" tab in the Azure Portal fails inconsistently.
There are multiple different scenarios:

1. Uploading a data.json. Publishing in the revisions tab
        1.1 Works most of the time. Cannot actively reproduce issue when fails.
2. Uploading the same data.json and publishing with the scripts.v3

[2021-07-15 13:36] jdm4344 opened #1378 "Accessibility, Section 508 Compliance: Operation Details widget & Try It panel text contrast"
## Bug description

When viewing the “Raw Schema View” for an endpoint’s responses in the Operation Details widget, the formatting characters, i.e., brackets and commas, as well as the blue text in the HTTP Request section of the Try It panel do not meet a minimum color contrast ratio of 4.5:1.

## Reproduction steps

N/A

## Expected behavior

Meaningful text meets a minimum color contrast ratio

[2021-07-15 14:49] jdm4344 opened #1379 "Accessibility, Section 508 Compliance: HTML Tables missing ARIA attributes"
## Bug description

In the Operation Details Widget, response tables have no [role=columnheader] or [role=rowheader] attributes for cells. Definition tables are also missing the [role=row] attribute.

## Reproduction steps

N/A

## Expected behavior

HTML tables and child elements have the ARIA attributes necessary to be properly recognized by accessibility software.

## Is your portal managed or

[2021-07-15 15:57] jdm4344 opened #1380 "Accessibility, Section 508 Compliance: Browser zoom function causes overlap and text truncation"
## Bug description

Zooming greater than 125% with a browser’s built-in zoom function causes card widgets placed within a multi-article block to overlap. Zooming greater than 125% when viewing the Operation Details widget causes text on the list of endpoints to overlap and be truncated with ellipses. Zooming greater than 150% on the User: Subscriptions widget causes text to be truncated and overla

[2021-07-16 00:29] azaslonov commented on #1377
@ZarTrox, I'll need to take a look at all the reset point, but "Error: Data doesn't contain styles." usually means that data is not present (or not fully present) in DB (I know the error message doesn't mean much to our support, we'll improve it). This might be related with the migration script failures. I'll try to play with the steps you provided.

[2021-07-16 04:48] watson20201 opened #1382 "Table view of a schema definition does not render $ref object when inside an array"
When using a $ref to a common object when inside an array, the object does not render in Table view as shown below.

![image](https://user-images.githubusercontent.com/62035456/125892692-7c122428-6465-4772-9fbf-2297ae3a0419.png)

However the in the raw schema view, the schema is displayed correctly.

![image](https://user-images.githubusercontent.com/62035456/125893160-c3b161dd-0012-4b29-8ab1-1cc6

[2021-07-16 13:51] christopherwoodland opened #1383 "508 compliance issues (Accessibility) APIs page tab order"
## Bug description

Our client has noticed the following accessibility concerns and asked that we submit these concerns to the product team for resolution. These issues violate the 508 compliance, which the customer is bound to.  I am willing to aid in any way to bring these concerns to resolution. Please let me know if additional context or information is required to help move these concerns alon

[2021-07-16 13:53] christopherwoodland opened #1384 "508 compliance issues (Accessibility) Reports page, the maps do not have any accessibility features"
## Bug description

Our client has noticed the following accessibility concerns and asked that we submit these concerns to the product team for resolution. These issues violate the 508 compliance, which the customer is bound to.  I am willing to aid in any way to bring these concerns to resolution. Please let me know if additional context or information is required to help move these concerns alon

[2021-07-16 13:54] christopherwoodland opened #1385 "508 compliance issues (Accessibility) Try It panel on the API Details page does not have the correct minimum contrast ratio of 4.5:1 against its background"
## Bug description

Our client has noticed the following accessibility concerns and asked that we submit these concerns to the product team for resolution. These issues violate the 508 compliance, which the customer is bound to.  I am willing to aid in any way to bring these concerns to resolution. Please let me know if additional context or information is required to help move these concerns alon

[2021-07-16 13:55] christopherwoodland opened #1386 "508 compliance issues (Accessibility) Zooming greater than 125% with a browser’s built-in zoom function causes card elements placed within a multi-article block to overlap"
## Bug description

Our client has noticed the following accessibility concerns and asked that we submit these concerns to the product team for resolution. These issues violate the 508 compliance, which the customer is bound to.  I am willing to aid in any way to bring these concerns to resolution. Please let me know if additional context or information is required to help move these concerns alon

[2021-07-16 13:56] christopherwoodland opened #1387 "508 compliance issues (Accessibility) Table row elements on both the API Details and Reports pages are missing the necessary html "role=row" accessibility attributes."
## Bug description

Our client has noticed the following accessibility concerns and asked that we submit these concerns to the product team for resolution. These issues violate the 508 compliance, which the customer is bound to.  I am willing to aid in any way to bring these concerns to resolution. Please let me know if additional context or information is required to help move these concerns alon

[2021-07-16 17:18] jdm4344 commented on #1387
Hi @christopherwoodland,

Apologies, but each of these 508 concerns were added already as the following issues: #1374, #1375, #1378, #1379, #1380. Guess we had some miscommunication going on. I'm sure the product team would prefer less clutter, so one of us could close our set of issues and reference them in the ones that we keep open.  I was able to provide a little more detail about what was fou

[2021-07-16 17:54] carlos-rian opened #1388 "Import OpenAPI Specification exclusiveMinimum"
The bug happens when updating an "API" via the OpenAPI specification or trying to create.

The "APIM" gives the error, however this error is not objective and clear. After a few tries I found that this error occurs when there are some "parameters" with a "schema" that have the argument "exclusiveMinimum".

When it is removed, you can try to import it and it will work.

Path to reproduce the error:

[2021-07-16 20:24] christopherwoodland commented on #1387
@jdm4344  Perfect!  I will reference and close these issues.

#1374, #1375, #1378, #1379, #1380.

[2021-07-16 20:24] #1387 closed

[2021-07-16 20:25] christopherwoodland commented on #1385
@jdm4344  Perfect!  I will reference and close these issues.

#1374, #1375, #1378, #1379, #1380.

[2021-07-16 20:25] #1385 closed

[2021-07-16 20:25] christopherwoodland commented on #1386
@jdm4344  Perfect!  I will reference and close these issues.

#1374, #1375, #1378, #1379, #1380.

[2021-07-16 20:25] #1386 closed

[2021-07-16 20:25] christopherwoodland commented on #1384
@jdm4344  Perfect!  I will reference and close these issues.

#1374, #1375, #1378, #1379, #1380.

[2021-07-16 20:25] #1384 closed

[2021-07-16 20:25] christopherwoodland commented on #1383
@jdm4344  Perfect!  I will reference and close these issues.

#1374, #1375, #1378, #1379, #1380.

[2021-07-16 20:25] #1383 closed

[2021-07-19 14:56] SNathani commented on #823
Yes, this should be by default in searching

[2021-07-19 19:05] gsuttie opened #1389 "APIM Administrator"
I click to launch the developer portal and wanting to log in as the Admin (ive just created the resource) and I don't get automatically logged in - how do i log on as the Admin.

I'm an MVP using my Azure subscription, I created the resources in my Azure subscription and following some videos and the getting started docs and it just doesn't work as it should.

p.s. would it be possible to give som

[2021-07-19 22:16] #1370 closed

[2021-07-20 17:22] mikebudzynski commented on #1389
@gsuttie, you should be able to open the portal in the administrative mode by clicking the developer portal button in the Azure portal:

![image](https://user-images.githubusercontent.com/40186513/126368133-e3b4537d-6149-4213-84cb-fe96f54dd32e.png)

If you have troubles with it, please contact Azure support.

We'd be happy to hear you feedback - please share it via email to apimportalfeedback@micr

[2021-07-20 17:22] #1389 closed

[2021-07-20 17:47] adrianhall commented on #1388
Hi @carlos-rian,

The `exclusiveMinimum` value is meant to be a true/false minimum.    For example, you could put:

[code]

And it would be a floating-point number from 0-50, but excluding 0.  Can you retry your test setting the "exclusiveMinimum" according to the spec?

Ref: https://datatracker.ietf.org/doc/html/draft-wright-json-schema-validation-00#section-5.5

Please let us know if this solves

[2021-07-20 18:00] carlos-rian commented on #1388
Hi @adrianhall,

Thanks.

FastAPI framework is generating wrong schema.

✌

[2021-07-20 18:00] #1388 closed

[2021-07-20 20:24] mikebudzynski commented on #1373
@saikovvuri, make sure you:

1. Republish the developer portal.
2. Have the "OAuth buttons" widget placed on the page.

If you need further assistance, please reach out to Azure support.

[2021-07-20 20:24] #1373 closed

[2021-07-20 20:27] mikebudzynski commented on #1202
@shaneholder, could you clarify how the X-Forwarded-Host header is related to displaying a custom hostname in the developer portal? Header is strictly on the API runtime side and could be used by the API gateway, while the custom hostname in the developer portal is just API's metadata.

[2021-07-21 21:10] mikebudzynski opened #1398 "Capture sign-in events in App Insights / Google Analytics"
The client-side loggers currently don't capture sign-in events, which are required for audit purposes.

[2021-07-21 23:44] senthilkumardhanapal2 opened #1399 "Username Enumeration"
The Developer portal forgot password functionality that allowed an attacker to determine if a given username was valid. Specifically, when accessing the signup and reset password pages, the application's response differed depending on if a valid or unknown username was provided.

[code]

[code]
[code]

[code]

[2021-07-21 23:51] senthilkumardhanapal2 opened #1400 "Developer Portal user password change controls bypass"
## Problem description
The developer portal did not expose a “Change Password” function within the graphical web interface. However, we discovered that a user’s password could be changed by directly browsing to a specific URI. This allowed users with valid sessions to change their password without knowing the current password, and without being constrained by password complexity requirements.

If

[2021-07-22 20:03] jvdenning-cf commented on #1363
Was this change actioned? We're seeing now massive problems where saved changes aren't published. A capture shows the page's navigation item but the actual document is missing. APIM instance is a developer instance. Other developer instances not currently having this issue but they don't see as much content editing activity (just migrated to using an azure pipeline)

Publish (in dev portal or azur

[2021-07-23 20:23] mikebudzynski commented on #1399
@senthilkumardhanapal2, could you explain why this is an issue? We're also open to hearing your suggestions for the improvements. Many online services, like GMail or GitHub, have the endpoints to check if the username already exists (for example, this logic is used in the sign-up flow to check the account name availability). The managed portal employs Captcha to greatly reduce the risk of abuse by

[2021-07-23 20:33] senthilkumardhanapal2 commented on #1399
Mike, issue is when we use APIM management for users (Username and Password), it doesn't return any error page. We don't even know request was failure r success. To me it looks like CSS / error component issue. Same behavior observed during signup as well.

From: Mike Budzynski ***@***.***>
Sent: Friday, July 23, 2021 1:24 PM
To: Azure/api-management-developer-portal ***@***.***>
Cc: Dhanapal, Sen

[2021-07-23 21:24] mikebudzynski commented on #1399
@senthilkumardhanapal2, sorry, I don't understand your response. Could you elaborate?

I explained above why we don't think the reported "issue" is actually a security issue and can be used as an attack vector. In short:

- It's common for online services to surface the information whether the username is already taken or not
- API Management uses Captcha for protection against bots
- API Manageme

[2021-07-26 14:30] Camilo2k commented on #1271
Hi, Any update on this issue?
It's is really important for our project in order to launch to customers.

[2021-07-26 20:31] wkarratoon commented on #1068
Please explain in a sequenced way what a Developer Portal developer using a B2C tenant is expected to do to get *full* sign-out (both B2C and default Developer Portal SAS token) working. I have tried various reply url settings in the modified B2C sign-in button and likewise for my custom sign out button and *nothing* works for complete sign out. Same issue is present.
I was expecting that a simple

[2021-07-26 21:06] msteffl opened #1403 "Programmatically created SAS Token not working in publish step"
Hello,

During the publish step of the self hosted dev portal a SAS Token is required in the config.publish.json (described here: https://docs.microsoft.com/en-us/azure/api-management/developer-portal-self-host)

when I use the manually created token over the azure portal, everything works fine. But when I try to use the programmatically created SAS token as described here [link](https://docs.micr

[2021-07-27 17:06] mikebudzynski commented on #1271
@Camilo2k, no updates. It's on our roadmap, but we are unable to provide an ETA at this moment.

[2021-07-27 17:07] mikebudzynski commented on #1068
@wkarratoon, have you republished your portal to make sure it's based off the latest release?

[2021-07-27 22:05] mikebudzynski commented on #1363
@jvdenning-cf, please, open an Azure support request to solve the issues in your service.

[2021-07-28 12:44] wkarratoon commented on #1068
@mikebudzynski, for our QA environment **_prior_** to fix/publishing we had a **Sign out** button linked to (tenantName is deliberately not exposed below):
https://<tenantName>.b2clogin.com/<tenantName>.onmicrosoft.com/B2C_1_devportal-signin/oauth2/v2.0/logout?post_logout_redirect_uri=https%3A%2F%2F<devPortalDomainName>%2F
This was able to logout of B2C but because default SAS token was still pres

[2021-07-28 13:48] gaurav-p-sood commented on #290
Hi Ryan

Despite implementing it , I could not make it work . I have tried to allow CORS on Operation/API and finally at Product level , still doenst work . Any Suggestions ?

Regards
Gaurav

[2021-07-28 17:50] vu-pb commented on #1068
Having the same issues as @wkarratoon.  Any update on this would be much appreciated!! Republished the portal yesterday too.

[2021-07-28 17:58] azaslonov commented on #1068
Hi @vu-pb, @wkarratoon, I assume you guys are running self-hosted portals? If yes, at least one thing you could check for your published website, is that [AadSignOutRouteGuard](https://github.com/Azure/api-management-developer-portal/blob/db41fa30e1784feec69a6cd3adfc69495f67bbd9/src/routing/aadSignoutRouteGuard.ts) gets executed during the sign-out.

[2021-07-28 18:52] wkarratoon commented on #1068
**_Not_** self-hosted but we are running our APIM service in a VNet behind App Gateway

[2021-07-28 19:11] azaslonov commented on #1068
Ok, I reproduced the issue: the token gets restored from the cookie which is not cleared in case of B2C sign-out. We'll fix this.

[2021-07-29 07:34] wkarratoon commented on #1068
When done could you also advise as to what we need to do? (There's no update to documentation.) Specifically, there was no new OAuth sign-**_out_** button - so what URL should we link to with our custom sign-out button?

For example, this: https://**_tenantName_**.b2clogin.com/.onmicrosoft.com/B2C_1_devportal-signin/oauth2/v2.0/logout?post_logout_redirect_uri=https://**_devPortalDomainName_**/

OR

[2021-07-29 10:14] ZarTrox commented on #1377
Hi @azaslonov, are there any news yet? Were you able to replicate this issue on your end? What could be our next steps? Thanks in advance!

[2021-07-29 19:33] mikebudzynski commented on #1403
@msteffl:

1. We checked the documentation and the steps and the sample code appear to be correct.
2. You can use this endpoint to programmatically retrieve the keys to generate the token: https://docs.microsoft.com/en-us/rest/api/apimanagement/2021-01-01-preview/tenant-access/list-secrets
3. Here is a sample code for generating the token in JavaScript: https://github.com/Azure/api-management-deve

[2021-07-30 07:23] msteffl commented on #1403
@mikebudzynski

Thanks for response.

Generating key works as described. But the problem is not the generation, it is the format of the token which is not accepted by the build system. When I execute the publish step the SAS token within the "config.publish.json" gets parsed in the following method:

https://github.com/Azure/api-management-developer-portal/blob/c523c10a7ab07eb10842e8d909d62fd141bf

[2021-07-30 20:15] christopherwoodland opened #1404 "Accessibility, Section 508 Compliance: On the APIs page, A user is able to tab into the Search field. However a user is unable to tab out of the search field."
@MikeBazMSFT Budzynski

Our client has noticed the following accessibility concern. This issue is an extension of the previous issues entered pertaining to 508 compliances (#1374, #1375, #1378, #1379, #1380.), which the customer is bound to. I am willing to aid in any way to bring these concerns to resolution. Please let me know if additional context or information is required to help move these c

[2021-07-31 02:13] MikeBazMSFT commented on #1404
I do not understand why I was tagged here - I'm guessing a typo and that @mikebudzynski was intended.

[2021-08-04 12:17] shaneholder commented on #1202
We are hosting the developer portal behind an application gateway.  We could add something like the x-forward-host header to indicate to the dev portal the base URL we actually want to use.  This could then be used to override the base URL.  It might be slightly hacky but it's in line with how App Services work.  I realize that there are side-band calls to go get the API information and that the U

[2021-08-04 22:37] mikebudzynski commented on #1403
@msteffl:

1. Are you referring to the developer portal publisher as the "build system", when saying that the format isn't accepted by the build system?
2. Can you alter your token generation logic to produce token in the other form, as per the note at the bottom of [this documentation page](https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-aut

[2021-08-04 22:38] mikebudzynski commented on #1404
@MikeBazMSFT, it's likely a mistake, please disregard.

[2021-08-06 09:46] msteffl commented on #1403
@mikebudzynski

1.) Yes exactly. The error occurs during the developer portal publish step.

2.) I also tried this. To just format the token to the accepted format. But then I got a not authorized exception. Seems that the token is not valid then.

But in the meanwhile I talked to Azure Support and they give me a solution that works for me. Instead generating the token programmatically, you can us

[2021-08-08 09:42] krishrocks1904 opened #1406 "API Management Signup process shows password in plain text"
While debugging API Management I found that, the signup process shows the user password in plain text , this is correct??

![image](https://user-images.githubusercontent.com/67486994/128627782-9aaddc60-40ff-4753-a6ce-c7238c729995.png)

**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, c

[2021-08-09 09:29] codebrane commented on #387
Updating the Function App that contains the API isn't reflected in the APIM that uses the Function App. I had to delete the APIs and re-import. Also Azure doesn't clean out Functions that no longer exist in a Function App so when re-importing to APIM I have to deslect Functions that no longer exist.

[2021-08-09 20:40] mikebudzynski commented on #1406
@krishrocks1904, yes, this is correct. Are there any concerns around it?

[2021-08-09 20:41] #1406 closed

[2021-08-10 04:28] CER-ChrisA opened #1407 "Hide secondary key in developer portal"
Our business stakeholders would like to have the secondary key hidden from vie in the developer portal. Is this easily achieved?

[2021-08-10 07:31] ErikMogensen commented on #1274
@azaslonov, what do you think of the workaround above?

[2021-08-10 13:05] ben-002 commented on #871
@mikebudzynski any update on this one? I will also paste the data sent in the email.
The api definition looks like this in the swagger file:

[code]

And like this after imported in api management:

[code]

After importing the swagger file in api management `dataProperty` from the POST method body example should follow the swagger file and should not have a time component. Also, `timespanProperty`

[2021-08-10 14:32] Yeckdy opened #1408 "Read only fields displayed/hidden in portal"
For compenent schema definitions, a property with a "readOnly": true flag.

The property is not being displayed when showing the definition of that compenent in the portal, it should be displayed.

The property is being included in the example JSON request body in the portal, it should not be included.

[2021-08-11 07:26] manjzu opened #1409 "Open API schema - Reference schema"
## Bug description

When you use Open API Specification with referenced schemas, It seems to show up full schema in deprecated Developer portal but in new developer portal. Referenced schemas are very much useful when we use reusable schemas across operations.

## Reproduction steps

1. Go to Azureportal, open APIM instance
2. Create definition of an object say "invoice"
3. Create another definiti

[2021-08-11 09:54] krishrocks1904 commented on #1406
@mikebudzynski do you really think its correct we are showing someones password in plain text?

i though there must be security around that.

[2021-08-11 10:55] AnRei123 opened #1410 "Issues after publishing - pages are unprotected in incognito mode!!!"
## Bug description

As this is a security-relevant issue, I cannot offer to test this bug for further APIM services. The issue occurred for one of my test environments. And I do not know when this error occurred the first time. Suddenly, I recognized that signing in is not mandatorily required anymore to see the DevPortal pages that should be protected according to the current APIM configuration.

[2021-08-12 06:00] v-mosh21 opened #1411 "Password Reset Questions in APIM Developer Portal"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-08-12 11:41] AnRei123 opened #1412 "Broken navigation link in published mode (inconsistency between designer and editor mode)"
## Bug description

After publishing, in the published mode, one navigation link is broken - even it is working in designer mode correctly.

Currently, it seems that only one topic is affected.

Even reassigning the affected page link to the affected navigation element nor republishing from inside the editor mode nor from the revision tab of the APIM portal did resolve the issue. The same page alr

[2021-08-12 16:53] mikebudzynski commented on #1407
@CER-ChrisA, this scenario isn't currently supported out of the box and isn't on our roadmap. As an immediate workaround:

- You can use the self-hosted portal to modify the behavior of the widget
- You can contribute the change (widget configuration setting to hide the secondary key from the display) as a pull request, so we could incorporate it into the managed portal

[2021-08-12 16:59] mikebudzynski commented on #1406
@krishrocks1904, the password is part of the body, which is transferred over the secure HTTPS protocol. API Management doesn't store the password in plain text in the backend service. I don't see an issue here, please correct me if I am wrong.

[2021-08-12 18:05] mikebudzynski commented on #1410
@AnRei123, we couldn't reproduce the issue in any of the several services we tried. Could you please open an Azure Support request and walk them through the issue?

[2021-08-12 18:05] #1410 closed

[2021-08-12 18:21] mikebudzynski commented on #1412
@AnRei123, this is a service-specific issue that can't be reproduced in our environments. Could you request assistance from Azure Support?

[2021-08-12 18:31] mikebudzynski commented on #1411
Related to #1230.

[2021-08-12 18:53] VitaliyKurokhtin commented on #871
The fix is pending review and deployment. Will update on ETA once that's clear.

[2021-08-13 02:23] alex-lin-livi opened #1413 "unfriendly error message in apim developer portal when using b2c login"
![image](https://user-images.githubusercontent.com/87695180/129295682-41978087-6b60-4854-b6ae-7296290554d0.png)
as pic above, apim developer portal user sometimes will get error message which is not meaningful for them when we use azure AAD B2C as portal login method.

but it's not possible for us to customize the error message neither in apim nor b2c.
however we have to have the error message sec

[2021-08-13 07:39] traviswhipps commented on #1348
@mikebudzynski, hello. Please note we have create a pull request that contains the code for this fix (added functionality to show legal text by default on product page load #1414).

[2021-08-13 07:49] traviswhipps commented on #1407
@mikebudzynski, Hi. We are thinking of going with the work-around to contribute the change as a pull request for this feature. As hiding the secondary key needs to be specific to an API, I was thinking of adding a checkbox to the Product Subscribe Form editor widget that will then pass through a boolean to the Subscription component on create that will then hide the secondary key if selected. The

[2021-08-13 17:43] mikebudzynski commented on #1407
@traviswhipps, on a second thought, changing the developer portal to not display the secondary key isn't sufficient - the key would still be part of the HTTP response, which the logged-in user could inspect using the browser's developer tools. Disabling the access to the secondary key needs to be implemented in the API Management's backend service. We wouldn't be able to accept a PR that just hide

[2021-08-16 08:01] azaslonov commented on #1413
Hi @alex-lin-livi, right, there are some common B2C errors that we do handle and translate it into user-friendly messages, but not every possible case. We'll need to explore possible solutions.

[2021-08-16 08:37] manjzu commented on #1409
Hi @mikebudzynski ,

Just noticed, this is duplicate issue of #1382.

Table schema seems to showing correct with reference object. Only issue is about open api schema ref object

[2021-08-16 08:37] #1409 closed

[2021-08-16 11:06] azaslonov commented on #1403
Hi everyone, if you just don't want to generate the token, you can specify `sourceId`/`destId` (e.g. `integration`) and `sourceKey`/`destKey` (which is primary or secondary key) parameters in the `migrate.bat` file instead of `sourceToken`/`destToken`.

Just in case: the token parsing logic you mention above is for dev portal itself and it has other overrides that can handle `uid=...` format. Howe

[2021-08-16 11:06] #1403 closed

[2021-08-16 11:30] devopsenggineer opened #1415 "How to publish apim developer portal using rest command or shell script or using this repo."
How to publish apim developer portal using rest api calls throw a shell script or using this repo https://github.com/Azure/api-management-developer-portal/tree/master/scripts.v3

![image (2)](https://user-images.githubusercontent.com/43744709/129556354-5b4e4b28-1219-4a34-91cf-5841f0ee0a62.png)

Method-1

Using this repo https://github.com/Azure/api-management-developer-portal/tree/master/scripts.v

[2021-08-16 11:48] azaslonov commented on #1415
Hi @devopsenggineer, please refer to [Portal revisions API](https://docs.microsoft.com/en-us/rest/api/apimanagement/2020-12-01/portal-revision) to run portal publishing for managed services. You can use either direct endpoint `https://<yourservice>.management.azure-api.net` with `SharedAccessSignature` authentication, or ARM endpoint `https://management.azure.com/subscriptions/<subscription>/resou

[2021-08-16 11:48] #1415 closed

[2021-08-16 20:00] mauricio-msft commented on #1412
@mikebudzynski this issue has been reproduced in "CodeVersion":"20210719232253","Version":"0.21.1271.0" of the Developer portal.
However, it isn't reproduced in environments like "CodeVersion":"20210708215354","Version":"0.21.1270.0"

[2021-08-17 10:53] pierrehody commented on #610
Hi there! Any news about that feature? Seems to be still unavailable. My yaml example looks like below, and no luck with it in developer portal. Any idea to have the example properly shown on the portal?

Thanks

get:
      summary: ************
      description: Return ************.
      operationId: ****************
      parameters:
        - name: objectid
          in: query
          descr

[2021-08-17 22:40] gregroe commented on #1122
the CDC found this bug and wondered when we'll fix.  any estimate?  thanks

[2021-08-18 11:19] azaslonov commented on #1068
When done, the handler for #signout route should take care of everything, effectively cleaning up dev portal and B2C sessions. No action on your side.

[2021-08-18 11:27] azaslonov commented on #1377
@ZarTrox, I was never able to reproduce this. It doesn't seem like there is an issue with script.v3, at least not with the one in our repo. If you could send us (by email) your script, data.json and step, we could try to investigate further.

I'm closing this issue to follow up offline.

[2021-08-18 11:27] #1377 closed

[2021-08-18 11:44] azaslonov commented on #1274
This may work for client credentials flow because it doesn't require popup, but I think you guys should wait for proper solution with the right policies in place.

[2021-08-18 14:42] makemefeelgr8 opened #1416 "It is impossible to get the reason why publish failed"
I made a few changes to developer portal and tried to publish it. Next, I've navigated to Portal Overview / Revisions in Azure. Publish has been running for over 8 hours and then failed. All I can see is revision name and Status "Failed". I've tried to get more info by exploring logs or using API with no success.

So, publish failed and I have no way of telling why. Thus, it might be a good idea t

[2021-08-19 02:21] kye commented on #1348
@mikebudzynski - Hi. Any idea on when this update will be rolled out?

[2021-08-19 14:03] madhancock commented on #1284
Any progress on this? I see it's been labeled P1 and given it has associated bugs that will no doubt confuse some developers can anyone give an update on when it might be addressed?

We're using the managed version but if it's relatively straight forward to get this repo running on local I could possibly look at fixing some of the samples.

[2021-08-19 17:20] mikebudzynski commented on #1416
@makemefeelgr8, could you please open an Azure support request to investigate and resolve the problem?

Meanwhile, I will scope this issue to an improvement about providing error details.

[2021-08-19 17:24] #1416 closed

[2021-08-19 18:03] mikebudzynski commented on #1348
@azaslonov will soon review the PR (#1414). We will start a developer portal release by mid-September and it should roll out to all services within 1-2 weeks. Would those timelines work for you?

[2021-08-19 19:01] stevedown commented on #330
For what it's worth, this is still happening to me.

[2021-08-19 21:37] mkimbro opened #1417 "Can't add most widgets to layouts in 2.11.0 (self-hosted developer portal)"
## Bug description

When running the self-hosted developer portal version 2.11.0 locally, the user can only add three widgets, button, table and text-block, to layouts. In 2.10.0, they were able to add any widget.

## Reproduction steps

1. Set up a new APIM instance in Azure and publish the portal (I did this with a clean instance to make sure it wasn't something I had introduced)
2. Get the sour

[2021-08-19 22:25] mkimbro commented on #1417
This appears to have been fixed in paperbits-core commit [9c22be89733b91d998608600a899fa50ff5b1b8e](https://github.com/paperbits/paperbits-core/commit/9c22be89733b91d998608600a899fa50ff5b1b8e) and in paperbits-core release 0.1.436.

[2021-08-20 03:56] azaslonov commented on #1417
Yup, just please upgrade libraries to 0.1.436+ to mitigate it quickly. We'll push updates to this repo shortly.

[2021-08-20 05:41] #1417 closed

[2021-08-20 05:47] azaslonov commented on #330
Hi @stevedown, can you please send your service name to apimportalfeedback@microsoft.com. We'll take it from there.

[2021-08-20 12:26] stevedown commented on #330
The service is payments-cus-dev-apim, in resource group payments-cus-dev-infra-rg. The portal is at https://payments-cus-dev-apim.developer.azure-api.net.

Regards,
Steve

Steve Down
Sr. Systems Manager
The Amynta Group
email: ***@***.***
office: 720-878-2371
________________________________
From: Alexander Zaslonov ***@***.***>
Sent: Thursday, August 19, 2021 11:47 PM
To: Azure/api-management-dev

[2021-08-20 13:01] azaslonov commented on #330
Thank you!

[2021-08-20 15:17] DarrenWainwright opened #1419 "Unable to upload images to the developer portal"
## Bug description

When attempting to upload an image into the developer portals media library, or into a picture widget the error message "We're unable to complete your operation at this time. Please try again later" - images are below.

Secondary to this is now experiencing images previously uploaded are not displaying - there is a console error
![image](https://user-images.githubusercontent.co

[2021-08-23 12:09] nosvalds opened #1420 "UI Enhancement Suggestion - Try It Panel"
If there's space, it would be nice to have a small link to the subscription page after you click "Try it >" where the Subscription Key goes. So as a new developer, you're prompted to sign up if you want to trial the endpoint that requires a key
Ideally in a little (i) icon next to the Subscription Key box.

<img width="604" alt="Screenshot 2021-08-23 at 08 06 33" src="https://user-images.githubuse

[2021-08-23 20:17] DarrenWainwright commented on #1419
I think this can be closed. I republished the portal the next day and it seems to be ok now. Unsure what the root cause was though...

[2021-08-23 20:17] #1419 closed

[2021-08-24 17:58] mikebudzynski commented on #1122
@gregroe, which issue specifically and what's the flow that triggers the issue? I listed 4 points in the comment above, some of which have been implemented.

[2021-08-24 22:11] mikebudzynski commented on #1284
@madhancock, this item is a high-priority issue on our roadmap, but at this moment it's unclear whether we will be able to address it by the end of the year. The scope of the improvement is to:

- Revise the languages that we provide the code samples for (for example, Objective C is of little value and we don't provide samples for Swift)
- Update the existing code samples (for example, the Python

[2021-08-24 22:51] madhancock commented on #1284
@mikebudzynski I would suggest the following changes:

- **HTTP & Curl** - These are both very useful, review and update if necessary.
- **C#** - review for errors. I've fixed some issues for this in #1421 - I could also correct that query parameter issue if you're happy for me to push an update to that PR or I can review C# in full in a separate PR?
- **Java** - review and update.
- **JavaScript*

[2021-08-24 23:59] #1276 closed

[2021-08-25 13:32] stevedown commented on #330
Any update on this, Alexander? Thanks!

[2021-08-26 06:14] dibyaranjanjll opened #1424 "Policy expression not supported in rate-limit-by-key policy"
Policy expression not supported in rate-limit-by-key policy

[2021-08-26 16:25] #1424 closed, assigned to nobody

[2021-08-31 10:42] martinsamanek opened #1426 "Copy button doesn't work"
## Bug description

Copy button for copy code example doesn't work

![image](https://user-images.githubusercontent.com/43401497/131487905-9957481e-9c1d-4a91-bce1-aa247597fbb5.png)

## Reproduction steps

1. Go to the operation details page
2. Click on the Copy button
3. Paste content of your clipboard to Notepad
4. Clipboard doesn't contain the code

## Expected behaviour

Code is inserted to Note

[2021-08-31 11:17] exig0 opened #1427 "API is not appearing on the API List on the Developer Portal website"
** Azure API Management Developer Portal issue **

Hi,

I added a new API in the Azure API Management Platform, and deleted the Echo API. When I want to edit the Developer Portal, it is appearing in the API List, but when I publish the website, it is not in the API List, and the published website (Contoso example), says "No APIs found".

Any assistance will be much appreciated.

Thank you.

Igor

[2021-08-31 11:17] AnRei123 opened #1428 "List of APIs or products appears suddenly empty (UX issue)"
If you keep your DevPortal session open for a longer period of time, it might be that the list of APIs and API products appears empty to the user.

## Bug description

 It seems that this might be the case if the AAD user session has been ended. But their is no indicator in the Developer Portal that the AAD user session ended as the articles are still accessible - only the APIs and products vanish

[2021-08-31 17:36] #1427 closed

[2021-08-31 17:36] mikebudzynski commented on #1427
You probably haven't assigned the API to a Product and/or published the Product. Please, work with Azure support to troubleshoot the problem.

[2021-08-31 20:40] mikebudzynski commented on #1308
@mpowers-3c, at this moment this scenario isn't supported in the self-hosted portals. Could you please open a separate GitHub issue for it?

[2021-08-31 20:41] mikebudzynski commented on #1237
@v-mosh21, we plan to fix the issue and the issue has already been prioritized - see the comment directly above yours. At this moment, we don't have an ETA to share.

[2021-08-31 20:56] mikebudzynski commented on #1428
@AnRei123, we will make sure the token is correctly refreshed in the published portal and that a proper error message is displayed if the session expires.

[2021-08-31 21:03] mpowers-3c opened #1431 "Invite Flow for Self-Hosted portal throws 404"
## Bug description

We're self hosting the developer portal as a static website in a storage account. I've updated the notification template to use the URL of the self hosted portal and the invite link is being sent out as follows:

https://sa-name.z19.web.core.windows.net/confirm-v2/identities/basic/invite?userid=id&identity=identity&ticketid=ticketid&ticket=ticket (scrubbed values)

When I click

[2021-09-01 09:55] ptdurrant opened #1432 "OAuth2 Client Credentials in developer portal - client secret not URL encoded when generating Basic auth header"
## Bug description

Generating OAuth2 client_credentials in the developer portal was failing against an Azure AD OAuth2 endpoint. Tracing the request being sent by Azure API Management showed that it was using a Basic authentication header to pass the client ID and client secret from the backend config.

Double-checking ![Azure AD Client Credentials documentation](https://docs.microsoft.com/en-us/

[2021-09-01 14:28] AnRei123 opened #1433 "Support of deep links with hash keys for dedicated subchapters after redirect from sign-in"
## Bug description

Currently, deep links including hash keys for dedicated paragraphs on the target pages are cut of from the URL when redirected from the Sign-in page to the target page.

Some of our articles are little lengthy. For example, our glossary consists of several entries. If we like to reference a dedicated glossary entry from our Azure DevOps wiki, after sign-in to the DevPortal, the

[2021-09-01 19:21] azaslonov commented on #1433
@AnRei123, can you please provide an example of such deep link, just to be on the same page?

[2021-09-01 19:22] da314pc opened #1434 "Sign Out B2C AAD,"
I tried to implement sign out

I get routed to the page https://login.microsoftonline.com/common/oauth2/v2.0/logoutsession

I want to be redirected to the home page after sign out,

I added the home page url to: Front-channel logout URL in B2C

It still gets ignored,

Also for sign in, with openidconnect

the accesstoken claim mappings get ignored

and im still redirected to the sign up oauth page

[2021-09-01 19:36] azaslonov commented on #1434
@da314, we'll see about redirect to home page. Regarding the mapping, can you please copy names of fields in your tokens? Are they given_name, family_name and emails? Something else?

[2021-09-01 19:42] azaslonov commented on #1431
@mpowers-3c, this is because invitation flow requires backend, which doesn't exists for self-hosted portal. We'll work on supporting this scenario reusing the backend of managed service and provide respective guidance. No ETA at the moment.

[2021-09-01 22:02] Ledger94 opened #1435 "After creating a menu style in Portal, null data was created which prevents Portal from working at all."
## Bug description

When creating a new menu item in styles and saved it. Somehow null data was created, which in turn caused Portal's Designer to  not to work at all. Specifically within JS, **style[variationKey]** is the null value, which is throwing the error, I'm unaware of how to manually remove this invalid data:

[code]

## Reproduction steps

1. Go to APIM Instance
2. Click on Developer Po

[2021-09-01 23:46] AElharouny opened #1436 "Subscription keys should be masked out as it supposed to be a secret"
Hi team,

We think that `Ocp-Apim-Subscription-Key` should not be visible in clear text in developer console UI as it suppose to be treated as a secret.

Steps to reproduce:
1- Navigate to "Try it" console for an API operation where you have an existing subscription.

Actual behaviour:
UI displays subscription key
![image](https://user-images.githubusercontent.com/52023187/131759336-dbd67413-ba3c-

[2021-09-03 09:09] TobiTh opened #1438 "OpenAPI 3.0.1 "examples" property is not getting visualized"
## Bug description

The OpenAPI 3.0.1 "examples" property is not getting visualized in the developer portal. Only the "example" property is currently being visualized.

## Reproduction steps

1. Import the following openapi.yaml in the api management:
[code]
2. Open the developer portal and navigate to the operation

## Expected behavior

The examples that are defined in the api definition should

[2021-09-03 19:12] #1438 closed

[2021-09-04 05:02] TobiTh commented on #1438
Thank you for fixing this really quickly! When is it going to be released?

[2021-09-06 18:12] eXXL opened #1440 "API Developer Portal does not show contact information provided in OpenAPI specification"
## Bug description

The API Portal does not display contact information provided in the OpenAPI specification.

## Reproduction steps

Create an API based on an OpenAPI specification with contact information:

[code]

## Expected behavior

When I open the API description on the /api-details page of the Developer Portal, I want to see a "Contact" section showing both name and URL values.

## Is you

[2021-09-06 20:22] ncroad opened #1441 "Control of custom domains for APIs"
We require the ability to have certain APIM custom domains visible for specific APIs to customers on the Portal and some not to show on the developer portal at all.

For a client, we have at three APIM Gateway custom domains. e.g. api.something.com, sandbox.api.something.com, and api.internaldomainname. In this situation API1 should only be accessed through api.something.com, API2 through sandbox.

[2021-09-07 12:53] mgiovonizzi commented on #1400
We have a client that is pushing for resolution of this issue. Is it possible to provide an indication of where this sits on the backlog, and when it may be fixed?

[2021-09-07 13:08] mgiovonizzi opened #1442 "Developer Portal -WCAG Compliance Issues"
**Attention**: Mike Budzynski

Cognizant uses the Developer Portal as part of our Interoperability solution. As part of our agreement with Horizon BCBS of New Jersey, we performed a WCAG Compliance scan using AXE. The scans found 500+ issues, come critical, which appear to be in areas of the developer portal which must be solved by the organization that controls the source code.  The attached XLS

[2021-09-07 13:16] mgiovonizzi commented on #1442
#accessibility

[2021-09-07 15:03] papadakis-cts commented on #1399
Hi Mike,

This came from a third-party pen test we had executed on a solution that uses APIM and the dev portal.  The objection noted is one can use this is to determine if the user account exists.  The recommended solution by the vendor is to have an error message that is more generic not giving the user feedback on if the account exists or not.  In theory, the current message gives a potential h

[2021-09-07 15:21] madhancock commented on #1399
Pen testers often report this but the fix isn't as simple as making the message more generic. Attackers can use response times or backend HTTP codes to determine if a user exists or not.

Solving these still don't actually soft the root issue if your application has any form of signup form. Instead they make your application less user friendly, but an attacker can easily test if an account exists

[2021-09-07 17:30] vu-pb opened #1443 "CORS error when using the `Use CORS proxy` option."
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-09-07 18:01] mikebudzynski commented on #1440
Duplicate of #997

[2021-09-07 18:01] #1440 closed

[2021-09-07 18:03] mikebudzynski commented on #997
@LockTar - I am sorry, I missed your comment. We would be happy to review your PR - if you'd like to contribute, please reach out to apimportalfeedback@microsoft.com so we can agree on the design.

[2021-09-07 18:14] mikebudzynski commented on #1400
It's part of the Backlog project, so it's prioritized for implementation. At this moment we don't have an ETA to share.

[2021-09-07 18:16] mikebudzynski commented on #1443
@vu-pb, make sure that you republish your portal. If the issue still persists, please contact Azure support.

[2021-09-07 18:16] #1443 closed

[2021-09-07 22:21] mikebudzynski commented on #1399
@papadakis-cts, I agree with @madhancock's response above; see my previous comments in this thread. The sign-up endpoint already informs the user whether a username is taken - it's a common practice in web development and I wouldn't consider it a security vulnerability. We protect against scraping or automated attacks with Captcha and throttling. If the tests find that these protection levels are

[2021-09-08 00:01] azaslonov commented on #1438
It should reach all the regions in a couple of weeks.

[2021-09-08 00:21] mikebudzynski commented on #1441
Thanks for opening the feature request; I recommend tracking #1202 for updates.

[2021-09-08 15:08] nosvalds opened #1445 "Support adding Google Global Site Tag (gtag) for managed portal"
Currently it's possible to add GTM container Ids to the managed developer portal following [these instructions](https://docs.microsoft.com/en-us/azure/api-management/developer-portal-integrate-google-tag-manager)

My marketing department would like to add a Global Site Tag (gtag) as well. The code snippet looks similar to GTM, but is different:

[code]

The plugin used by the managed portal https:

[2021-09-08 17:05] azaslonov commented on #1435
Hi @Ledger94, thanks for investigation and suggestion, that is super helpful. We'll apply the fix in paperbits libraries.

[2021-09-08 18:18] #1435 closed

[2021-09-08 18:25] azaslonov commented on #1445
Hi @nosvalds, this is not something hard to add, but before doing it, can you please tell a bit more about what you're trying to achieve and what GTM doesn't allow you to do? I'm asking because GTM kind of covers everything GTAG goes: https://support.google.com/tagmanager/answer/7582054?hl=en

[2021-09-09 04:31] knutwannheden opened #1447 "Support W3C Trace Context"
I think it would be very useful if the developer portal would provide some option to automatically add a W3C `traceparent` header with a randomly generated value.

An accompanying `tracestate` header could also be interesting, but it would probably need to be configurable. In our case we would like to set it to some fixed value.

[2021-09-09 16:24] da314pc commented on #1434
@azaslonov

Here are the claim mappings

![image](https://user-images.githubusercontent.com/5604956/132724525-df37d72b-6755-4df3-8b62-926c69faea5a.png)

The claim value of name from the access token is Email,

So I just map the value to all the required fields, but it still fails and redirects to oauth sign up

[2021-09-09 19:29] jdm4344 opened #1448 "Basic Auth Sign-Up - Registration With Duplicate Email Fails But Does Not Display An Error"
## Bug description

Using the Sign Up Form: Basic widget, if a user tries to create an account with an existing email address, the registration fails but no error message is displayed. The only outcome is the captcha image changes.

## Reproduction steps

1. Create and confirm an account using basic authentication
2. Sign out of account
3. Return to page with Sign Up Form: Basic widget
4. Attempt

[2021-09-09 20:46] azaslonov commented on #1448
This has been fixed in #1437. Managed version will get this by 8/15.

[2021-09-09 20:46] #1448 closed

[2021-09-09 22:50] azaslonov commented on #798
@MayankBargali-MSFT, is this important to you to specify type of resource in CSP (like `script-src` or `img-src`) or generic fallback `default-src` would be sufficient?

[2021-09-13 09:31] erwinkramer commented on #1284
@mikebudzynski  With release 2.11.2, the example field isn't added by default to the 'Try It' body, this is always empty now. This should be added again.

[2021-09-13 19:12] azaslonov commented on #610
Fixed in #1449

[2021-09-13 19:12] #610 closed

[2021-09-13 20:56] mikebudzynski commented on #1284
@erwinkramer, thanks for reporting the issue. We're now investigating it.

[2021-09-13 21:54] michaelweidmann opened #1450 "Unable to find documentation for configuring Azure AD and Azure AD B2C in self-hosted variant"
Hi all!

I'm currently trying to deploy a self-hosted version of the developer portal. So far everything works. Now I wanted to configure security (Azure AD and Azure AD B2C) for the developer portal and I am not able to find any documentation related to that topic.

I think I need to edit the `src/config.validate.json` file? If so how do I fill it out correctly?

Thanks,
Michael

[2021-09-13 21:55] azaslonov commented on #1284
Fixed request body propagation in #1451

[2021-09-14 07:52] erwinkramer commented on #1284
Thanks. That works.

[2021-09-14 14:00] phfrc opened #1452 "Directly signing-in with ADB2C"
Hello! 😄

Currently working on a self-hosted version of the APIM Developer Portal, I'm trying to display only what is needed for my customers, hence, only the possibility to sign-in with Azure AD B2C (the only one used in our context).

As you already know, there's a default page "/signin" in the portal that displays two inputs (email, password) and buttons (forget password, Sign in with Azure AD

[2021-09-14 17:54] mikebudzynski commented on #1450
@michaelweidmann, this documentation article lists the precise steps for enabling Azure AD B2C identity provider: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad-b2c Don't forget to republish your portal once you configure this option. If you have troubles configuring the portal, please reach out to Azure support.

[2021-09-14 17:54] #1450 closed

[2021-09-14 17:57] mikebudzynski commented on #1452
@phfrc, you can remove the "Sign in" button from the menu and add the "OAuth buttons" widget next to the menu (for example, at the top of the screen / in your Layout).

[2021-09-14 18:03] mikebudzynski opened #1453 "Sign-in and sign-up forms should display error messages when API Management throttles requests"
API Management's authentication API imposes throttling. The sign-in/-up form should display an accurate error message, if the requests fail due to exceeding the limit of allowed calls.

[2021-09-14 21:56] michaelweidmann commented on #1450
First of all, thanks for your answer and sorry for reopening this issue.

I can't even manage to configure the Azure AD. As you see in the following picture I am trying to click to sign in via Azure AD but an error appears. I think that there is some configuration missing, but I wasn't able to find any documentation about that.

![grafik](https://user-images.githubusercontent.com/37302540/13333874

[2021-09-15 17:35] mikebudzynski commented on #1450
@michaelweidmann, have you republished your self-hosted portal after enabling the Azure AD B2C identity provider? If you did, please open an Azure support request - they will be able to help you troubleshoot the problem.

[2021-09-16 14:58] AnRei123 opened #1455 "Question: Planned deadline for support of legacy portal and associated application mgmt. in APIM service"
## Problem

We do still have several applications (cloud and on-premise) that are still relying on the application management provided through the legacy Developer Portal and the APIM services in order to generate application tokens. For most of these applications, we would NOT be able to migrate to the new Developer Portal approach regarding the application management in 2022.

## Question

How l

[2021-09-16 15:24] phfrc commented on #1452
Thank you for your quick response @mikebudzynski! But what I really need to do is redirect directly to Azure ADB2C sign-in page when landing on the "/signin" in the developer portal. How would you handle this?

Thank you!

[2021-09-16 18:00] mikebudzynski commented on #1452
@phfrc, this scenario isn't supported at the moment; I will reopen the Issue and mark it as a feature request. The best workaround is to place the OAuth buttons directly in the menu.

[2021-09-16 20:24] mikebudzynski opened #1456 "Render OpenAPI properties that are now supported in API Management"
We need to introduce developer portal support for OpenAPI properties that are now supported in the API Management backend:

- ~~examples~~ (done)
- contact
- license
- termsOfService
- externalDocs (soon)

[2021-09-17 02:19] #1375 closed

[2021-09-17 05:59] AnRei123 commented on #1455
I just saw that there is already an announcement on the following Microsoft docs page:
https://docs.microsoft.com/en-us/azure/api-management/developer-portal-deprecated-migration

There is the following statement regarding the legacy Developer Portal: "You can continue to use it, as per usual, until its retirement in **October 2023**". As my question is already answered with this statement, I clos

[2021-09-17 05:59] #1455 closed

[2021-09-17 12:15] phfrc commented on #1452
Hey @mikebudzynski!
Do you think this is something that you guys can implement quickly? What's your process for feature requests?
I'm asking because I was thinking of creating a widget that redirects to the given page.
I'd be happy to talk more about this with you.

[2021-09-17 16:39] mikebudzynski commented on #1455
@AnRei123, that is correct. The legacy developer portal will not be removed prior to October, 2023.

However, could you elaborate how you use "applications" to generate tokens? Is it a manual process? Do you mean OAuth tokens? This "applications" functionality wasn't designed with that purpose in mind. We will soon start working on a self-serve OAuth applications functionality in the developer por

[2021-09-17 20:45] #1378 closed

[2021-09-17 20:45] #1379 closed

[2021-09-21 10:47] ZarTrox opened #1461 "Hamburger icon for smaller screen resolutions not working as intended"
## Bug description

In the DevPortal we are using multiple menu items which are stored in collapsible panels so that when users with smaller screen sizes, e.g. a smartphone, are using this Portal can navigate through the DevPortal with the hamburger Icon.
But when the hamburger icon appears, the Menu is just moved to a different location and does not disappear. See first image.

![image](https://u

[2021-09-21 13:37] Ledger94 commented on #798
Hi @azaslonov, this feature will be very useful on the project, I'm working on as well. Is this feature's implementation currently being working on at this time? If so is there an ETA?

[2021-09-21 17:22] azaslonov commented on #798
Hi @Ledger94, yes, this feature is in development right now. It's hard to say ETA at the moment, roughly it'll be mid-November for managed version because it requires backend deployment. For self-hosted version, however, metatag-based implementation should come much earlier: `<meta http-equiv="Content-Security-Policy"  content="default-src 'self'">`.

Btw, I have same question to you: is this impo

[2021-09-21 18:03] mikebudzynski commented on #1452
@phfrc, this improvement is not on our immediate roadmap - we are not able to prioritize it or give you a time estimate at this moment. We have logged this feature here as a feature request; if your company works with Microsoft representatives (account executives or cloud solution architects), you can inform them about this requirement as well.

[2021-09-21 18:08] Ledger94 commented on #798
If it is easier / less time consuming. It would be better to implement a generic solution first so that sooner rather that later user's can take advantage of CSP to make their Portal website more secure. Then perhaps in the future after some feedback is provided it can be expanded to the full CSP specifications. This is however just my personal opinion but, I appreciate the transparency from your

[2021-09-22 07:29] Nzamuyejoram commented on #1453
@mikebudzynski , thanks for the concern raised . we will try it soon.

[2021-09-22 07:34] Nzamuyejoram commented on #1372
@azaslonov thanks for requesting on this feature. we gonna give a trial on it

[2021-09-22 07:56] hansukyang opened #1462 "Page doesn't render when editing pages in developer portal"
## Bug description

When trying to edit pages in developer portal, one of the pages don't render properly and even if I navigate away from the page other pages also stop rendering properly. This always happen with this particular page ('Sign Up') on my developer portal, always showing "Oops, something went wrong. We are unable to complete your request this time. Please try again later.'

## Expect

[2021-09-22 09:17] sdg002 commented on #833
We would like an easy way to un-publish/disable the Developer portal. This was flagged via a security audit.

Any updates?

[2021-09-22 17:07] azaslonov commented on #1462
Hi @hansukyang, please send us your service name to apimportalfeedback@microsoft.com. We'll take it from there.

[2021-09-22 17:46] christopherwoodland commented on #1374
Do we have a sense of when #1454 will be merged?

Thanks

[2021-09-22 17:54] christopherwoodland commented on #1380
Any updates on the triage of this issue?

Thanks

[2021-09-22 17:54] christopherwoodland commented on #1380
Any updates on the triage of this issue?

Thanks

[2021-09-22 18:48] christopherwoodland commented on #1379
Thank you for fixing this issue!

[2021-09-22 18:48] christopherwoodland commented on #1375
Thank you for fixing this issue!

[2021-09-22 19:44] sdg002 commented on #833
@azaslonov Thanks for the MS support idea.

Is there any **REST** end point which will tell me whether Administrative Portal has been turned on ?
If there is one, then it would be very helpful to us in creating security Alerts.

[2021-09-22 19:47] azaslonov commented on #833
@sdg002, unfortunately no, that's why we still rely on MS Support.

[2021-09-23 23:19] SDGhoshal opened #1463 "Import to APIM fails with "valid against no schemas from 'oneOf'" error"
My GET API receives collection of Enum as query parameters. My swagger works perfectly fine and below is how the parameter in swagger.json looks like:
{
            "type": "array",
            "name": "colors",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "$ref": "#/definitions/Color"
            },

[2021-09-27 12:47] ValliammaiMuthiah opened #1464 "Health & Activity features in the user reports"
Hi,
When will API's health & activity features be available in user reports page of new developer portal.

[2021-09-27 15:06] phfrc opened #1465 "Creating custom widgets in React"
Hello !

Awhile back, I tried to implement paperbits-react into the developer portal (self-hosted) but I was never able to get it working. There's not a lot of documentation about creating your own widgets with React inside the Azure APIM Developer Portal project. Is there any way to get some informations about this?

Thanking you in advance.

[2021-09-28 02:30] anshul-kumar-agl opened #1466 "After update to v 2.11.4, AAD failing"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-09-28 03:13] AElharouny commented on #1466
Hey I believe the old behavior is SignIn tenant defaults to "common" if not defined in backend.

[2021-09-28 03:18] antonsalimAU opened #1467 "User Profile widget has the registration date format wrong for non-US regions"
The User Profile widget has the registration date has a fixed format (US format). However for us in AUSTRALIA, it should be dd/MM/yyyy not MM/dd/yyyy.

Support engineer (Shuai Hao) has confirmed the issue. Quote:

•	I’ve checked the code, you may also view the code of developer portal here: https://github.com/Azure/api-management-developer-portal/blob/51d97bba8654e81f48a231ef68d88c3c39a12027/src/c

[2021-09-29 11:06] TimMnz09 commented on #935
Hello @mikebudzynski, any update on this?

[2021-09-29 22:35] preetiben commented on #1466
We're facing the same issue as well. I wanted to check if you found a workaround or possible solution for this.

Thanks!

[2021-09-30 06:34] rob-elschot commented on #1466
I got the same issue on the managed instance. I tried recreating the the APIM and the AAD service principal with the same outcome as above. Seems the back-end got broken with the latest update.

[2021-09-30 17:32] mikebudzynski commented on #1464
Could you provide more details on what you expect the developer portal to show? What's the scenario? We don't have any plans to implement health and activity reports in the developer portal at this moment.

[2021-09-30 17:33] mikebudzynski commented on #1467
Related to #137 #1254

[2021-09-30 17:35] mikebudzynski commented on #935
No update at the moment. We do hope to address API reference page bugs by the end of the year, but this timeline may shift.

[2021-09-30 17:56] mikebudzynski commented on #1463
@SDGhoshal, the issue is specific to your OpenAPI file and it relates to the API import process in API Management, while this repository is only for the developer portal. Please, reach out to Azure support for assistance.

[2021-09-30 17:56] #1463 closed

[2021-09-30 18:07] VitaliyKurokhtin commented on #1463
@SDGhoshal, the schema in sample is invalid, you should not mix array and enum inside same type. If you mean array of enums, "enum" should be placed inside "items". See online schema validator: https://www.jsonschemavalidator.net/

[2021-09-30 23:09] #1466 closed

[2021-09-30 23:30] azaslonov commented on #1462
As we spoke offline, there is an issue with third-party proxy, not a portal bug. We'll continue working with you guys offline to help resolving it, but I'm closing this github issue.

[2021-09-30 23:30] #1462 closed

[2021-10-01 11:02] ValliammaiMuthiah commented on #1464
In Legacy portal, There are few features like filter by date range, status & cache graphic representations. Especially **filter by feature** is really helpful, it would be great if this particular one is implemented in user-reports page.
![image](https://user-images.githubusercontent.com/75632710/135609554-0d57240a-edd8-45e6-bba7-5c767cb3865a.png)

[2021-10-01 16:25] i-walker opened #1469 "Error in TLC protocol for https://dev.azure.com"
## Bug description

It seems the TLC protocol used for the dashboard is unsafe, and throws this error in the browser

## Reproduction steps

1. Go to https://dev.azure.com
2. Click on "Board" - after login
4. See error

## Expected behavior

viewing the Board or repo without this error message and forcing Safari to go to an unsafe website.

## Environment

 - Operating system: MacOs
 - Browser: Sa

[2021-10-01 16:32] #1469 closed

[2021-10-01 21:00] mikebudzynski commented on #1466
We have just released version 2.11.5, which resolves the Azure AD authentication issue: https://github.com/Azure/api-management-developer-portal/releases/tag/2.11.5 Apologies for the inconvenience.

[2021-10-02 00:15] #1374 closed

[2021-10-04 12:59] char000 opened #1475 "Access token generated by Management API has too long lifetime"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Description

W

[2021-10-04 21:41] azaslonov commented on #1465
Hi @phfrc, there is no docs for this yet, but can you please take a look at an example `ClickCounter` widget implemented in React [here](https://github.com/paperbits/paperbits-demo/tree/master/src/components/click-counter/react). Feel free to ping me if this example is not clear.

[2021-10-04 21:45] azaslonov commented on #1475
Hi @char000, right this is not possible to configure the token lifetime currently. I'm leaving it as a feature request.

[2021-10-05 14:03] pacharanero commented on #1021
I have also noticed the links in the emails direct to the Legacy Developer Portal not the new one. This is a super annoying bug and it is hard to see where (if possible) I can change the URL in the APIM control panel.

[2021-10-05 14:06] pacharanero commented on #854
It is highly frustrating that there is no way to preview or test the emails that are going to be sent to customers. This is basic stuff. This kind of lack of functionality makes it increasingly hard to run a professional-looking API service using Azure APIM.

[2021-10-05 14:50] vnpsari commented on #1466
We are currently using https://github.com/Azure/api-management-developer-portal/releases/tag/2.11.5 endpoints in our Azure APIM Developer portal Automation scripts.

Can you please advise if it is possible to access API endpoints by release version (may be by passing a release identifier in the API endpoint url)?

For example, can we switch between https://github.com/Azure/api-management-developer

[2021-10-05 14:50] senthilkumardhanapal2 opened #1477 "sorting function[link] on reports page not working"
## Bug description

/reports page has a table for Products and Subscription and it has sorting function for ASC and DESC.

## Reproduction steps
1. login into developer portal as a developer
2. Go to 'reports'
3. you may see Products and Subscription table for you try with sorting links.

## Expected behavior

table should list data either ASC or DESC based on what we clicked.

## Is your portal m

[2021-10-05 17:59] mikebudzynski commented on #1466
@vnpsari, what do you mean by API endpoints for release versions? I don't understand your question.

[2021-10-05 18:04] mikebudzynski commented on #1021
@pacharanero,

1. Could you clarify which email flows are impacted? For example, are those the emails that are sent to users after they sign up in the developer portal or are they the emails sent when you invite users in the Azure portal?
2. Which variable do your email templates contain? Is it $DevPortalUrl?

[2021-10-05 18:31] vnpsari commented on #1466
For Publish, the old API endpoint we used was

POST https://usg-apim-innov.developer.azure-api.net/publish

After release 2.7.1, the publish endpoint has been updated to the following

PUT https://apim-innov.management.azure-api.net/subscriptions/xyz/resourceGroups/innov-rg/providers/Microsoft.ApiManagement/service/APIM-Innov/portalRevisions/202104065?api-version=2020-06-01-preview

Is it possible

[2021-10-05 18:55] mikebudzynski commented on #1466
This is the new API endpoint for publishing the portal that we recommend using from now on. The old endpoint shouldn't be used.

There is no way to specify a developer portal release version when publishing the portal. We upgrade managed developer portals for you; you can self-host the portal to control its version.

[2021-10-06 15:07] bvallet75 opened #1478 "Developer Portal - ENUM displayed in Table View"
Hello,

I would like to escalade a missing feature of the AZURE Portal. Indeed, it seems the possible list of "ENUM" are not listed in the view "Table View" althought they are mentionned in the "Raw Schema View".

I attach two pictures, one of the RawSchemaView displaying 2 enums "Private" and "Professionnal", and the same entry in a TableView format. This cause some confusion with our API Consume

[2021-10-06 15:43] vnpsari commented on #1466
Got it, thank you Mike.

[2021-10-06 17:25] azaslonov commented on #610
Hi @pierrehody, have you tried to re-publish portal recently? This feature has been deployed everywhere.

[2021-10-06 23:48] azaslonov commented on #1079
Closing, looks like all the questions answered.

[2021-10-07 00:02] azaslonov commented on #1028
Looks like this issue has been solved in scope of another work. At least I can't reproduce it with the accessibility scanning tools. Please feel free to re-open if the issue still persists in your case, and if yes, what can I do to reproduce it.

[2021-10-07 10:37] kashishm opened #1479 "Delegate product subscription doesn't work when authentication delegation is not enabled"
## Bug description

When delegation is enabled only for product subscription and not authentication. Clicking on subscribe button for a product results in `404` page. It works fine if I enable delegation for both authentication (sign in/up) and product subscription.
This is not reproducible on legacy developer portal and works fine.

<img width="1406" alt="delegation" src="https://user-images.gith

[2021-10-07 11:50] MeNqma opened #1480 "Customizing the managed Dev Portal does not look like the Video Example"
Hi, hopefully someone can give me a helping hand :)

As I am going trough the Dev Portal Documentation I see a really nice looking implementation.
![image](https://user-images.githubusercontent.com/34955612/136378108-b7fb0ab0-f219-43e3-bd19-d15d6fa60109.png)
As seen here https://www.youtube.com/watch?v=5mMtUSmfUlw&t=204s

But when I add the widgets they look quite different.
![image](https://user-

[2021-10-08 09:12] pierrehody opened #1483 "Example in query parameter"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-10-08 14:15] pierrehody commented on #610
Hi Mike,

Cf 1483<https://github.com/Azure/api-management-developer-portal/issues/1483>

Regards,

Pierre

From: Mike Budzynski ***@***.***>
Sent: Thursday, 7 October 2021 19:51
To: Azure/api-management-developer-portal ***@***.***>
Cc: Hody Pierre ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/api-management-developer-portal] Query parameter examples are not displayed (#610)

@pierrehody<

[2021-10-12 04:27] kashishm commented on #1479
@mikebudzynski Thanks for adding it to the backlog. It would be great if you could share the expected timeline of this getting fixed and released.

[2021-10-12 17:41] mikebudzynski commented on #1478
@bvallet75, could you check if this issue is related to https://github.com/Azure/api-management-developer-portal/issues/408?

[2021-10-13 02:50] VitaliyKurokhtin commented on #1483
Conversion of "example" to "examples" is expected. Resetting supplied example to "null" is not. This is a bug in APIM backend, not dev portal. Will be addressed in next release.

[2021-10-13 23:16] #1483 closed

[2021-10-18 09:14] Yogesh-BK opened #1486 "Description"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-10-18 10:04] Yogesh-BK opened #1487 "File upload not working for multipart/form-data"
## Bug description

When we publish an api using openApi specification and add an endpoint with request body "content-type = multipart/form-data", we are not able to see the Upload file option in developer portal

![image](https://user-images.githubusercontent.com/92719848/137707510-e93b3df7-50b4-492e-a810-7ccd985bad25.png)

## Reproduction steps

1. Add an api using openApi specification
2. Add a

[2021-10-18 10:06] #1486 closed

[2021-10-18 12:54] janoosthoek opened #1488 "Can't create User with some characters in First or Lastname"
We discovered that at least the following characters are blocked in the portal and also the REST API
- !
- %

But there is no documentation on this to be found, would greatly appreciate some explanation about why this is and also a correct filter so we can prevent problems like people creating an account like:
'Admin' 'Yahoo!'

which will not succeed when creating a User.

Thanks!

[2021-10-20 10:59] cristian-eriomenco opened #1489 "Is it possible to source multiple CORS origins from named values?"
### Objective:

Dynamically pass cors origins to the cors policy from [named values][1].

### Example:
Suppose I have the following named values:

    name: cors-origins
    value: https://domain1.com;https://domain2.com

and the CORS policy which intends to make use of this named value `cors-origins`:

    <policies>
    <inbound>
        <cors>
            <allowed-origins>
                // He

[2021-10-20 16:52] ygrik commented on #1487
Hi @Yogesh-BK
Now we support OpenAPI 2.0 https://swagger.io/docs/specification/2-0/file-upload
To be able to see the Upload file option in the developer portal you should use **type: file**

[2021-10-20 18:47] mikebudzynski commented on #1489
@cristian-eriomenco, this repository is dedicated to the developer portal only. Could you open an Azure support request?

[2021-10-20 18:47] #1489 closed

[2021-10-20 19:34] azaslonov commented on #1465
Hi @phfrc, to include the component (assuming you do ClickCounter), you need to just copy the entire folder and add register modules respectively:

**apim.design.module.ts**
`injector.bindModule(new ClickCounterEditorModule());`

**apim.runtime.module.ts**
`injector.bindModule(new ClickCounterRuntimeModule());`

**apim.publish.module.ts**
`injector.bindModule(new ClickCounterModule());`

Hope that

[2021-10-21 09:33] ZarTrox opened #1490 "Settings for the YouTube video player not transferred to all screen resolutions"
## Bug description

Size specifications for the YouTube video player are not transfered to different screen resolutions.
In comparison to the image widget where the size settings are transferred across all screen resolutions

Extra large Resolution with Image:
![image](https://user-images.githubusercontent.com/58420097/138248827-3fd9586e-c245-46f7-b05a-4e81c9712b93.png)

Large Resolution with Imag

[2021-10-21 10:59] danielmartenssonbyggtjanst opened #1491 "Collapsible panel - how does it work?"
Hi,

I'm trying to add a collapsible panel (widget) inside my developer portal (access through azure portal).
I don't understand how it's suppose to work.
It's just an empty area. I can not edit anything except min/max width. And add content to it.
After saving and publishing. I'm heading to a new browser window and having a look at the result. But it's just text.
No collapsible. I was expecting l

[2021-10-22 00:30] azaslonov commented on #1491
Hi @danielmartenssonbyggtjanst, yeah, the name of it is a bit misleading. This widget collapses into a hamburger on smaller views and used mostly for menus. The widget you're referring to is coming a bit later this year.

[2021-10-22 00:30] #1491 closed

[2021-10-24 23:59] azaslonov commented on #1465
@phfrc, just added better example and simple steps here: https://github.com/paperbits/examples/tree/master/ui-frameworks/react/components

[2021-10-24 23:59] #1465 closed

[2021-10-26 01:36] chunliu opened #1496 "Need a widget to list all tags and APIs for each tag"
We use tags as categories of APIs. We need a user interface on Dev Portal to display the categories, and when users click a category, he/she will see the list of APIs in that category. From there, he/she can navigate further to the API's page.

If there could be such a widget it, it would make it much easier to build such a UI.

[2021-10-26 01:48] chunliu opened #1497 "Enhancements to the user subscriptions widget"
When there are many products and subscriptions in APIM, it is not easy to filter them on the dev portal now. Users have to navigate through the whole list to find the one they need. If there could be a widget which can do the following, it would be very helpful.

- Accept product id as a parameter, such as from the query string of the URL etc., and use it to filter the products.
- Have a search bo

[2021-10-26 02:08] chunliu opened #1498 "The capture.js script shouldn't stitch resources to a single, large data.json file"
A single large data.json file is not very friendly for the source control. If it can separate the file into multiple smaller files, the source control would be easier.

[2021-10-27 15:50] Roeland54 opened #1501 "Adding wiki style documentation to the portal"
Hi,

We started use the api portal and want to add some complementary (wiki style) documentation for our api's to the portal.
Seams like there is no easy way to do that or it is not documented in the documentation.
How would you add structured documentation pages to the portal?

Regards Roeland

[2021-10-28 14:38] sykesjd opened #1503 "Samples for response definitions with Problem JSON content type failing to show in developer portal"
## Bug description

In the event a response definition for an endpoint is specified to have content type of `application/problem+json` (per [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807#section-6.1)), the sample for that response definition will not display properly on the developer portal page for that endpoint, instead displaying the generic JavaScript `[object Object]`. If the conten

[2021-10-29 03:19] nileshsawant80 opened #1504 "Allow custom ports for configuring Application Gateway listeners"
## Bug description
I have single application gateway service used for Dev and UAT and separate Dev API Management and UAT API Management service deployed internal mode inside VNET.
We have Azure AD B2C as Identity Management for users trying to use APIs.
Due to organisation standards Dev should be internal (private IP) and UAT is like preprod exposed externally using public IP.
I have configured U

[2021-10-29 13:00] patidar-jaishree opened #1505 "Publishing POST API endpoint without body, Body textarea is getting displayed on UI"
## Bug description

When we publish an api using openApi specification and add an POST endpoint without request body, it is displaying body text area in developer portal

## Reproduction steps

1. Add an api using openApi specification
2. Add an POST endpoint with the no request body
3. Open the developer portal, go to the endpoint and click on the Try it button

## Expected behavior

Body text ar

[2021-10-29 23:23] mikebudzynski commented on #1247
We're now working on defining the scope of a feature that will enable content access control in the developer portal. If you're interested in this improvement, please respond to our survey: https://aka.ms/apim/survey/devportal/accesscontrol - your feedback will help us better understand your requirements and design the right solution.

[2021-10-29 23:24] mikebudzynski commented on #533
We're now working on defining the scope of a feature that will enable content access control in the developer portal. If you're interested in this improvement, please respond to our survey: https://aka.ms/apim/survey/devportal/accesscontrol - your feedback will help us better understand your requirements and design the right solution.

[2021-10-29 23:24] mikebudzynski commented on #782
We're now working on defining the scope of a feature that will enable content access control in the developer portal. If you're interested in this improvement, please respond to our survey: https://aka.ms/apim/survey/devportal/accesscontrol - your feedback will help us better understand your requirements and design the right solution.

[2021-11-01 18:44] mikebudzynski commented on #1504
@nileshsawant80, could you please reach out to Azure support to troubleshoot the problem? In general, we recommend having full separation between the environments, including having separate Application Gateways.

[2021-11-01 20:27] mikebudzynski commented on #529
@kashishm and @ArkimeraMattias, please check the issue #1487.

[2021-11-02 03:07] nileshsawant80 commented on #1504
We have separated Application Gateway for Dev and UAT since the setup did not work. Application Gateway is costly resource and using it as common resource for non-prod environment would help to reduce cost.
Even if we use one application gateway, azure apim developer portal will not work if we choose different port in the application gateway.

Another issue is Application gateway does not allow to

[2021-11-02 13:41] swjensen commented on #1122
@mikebudzynski
It would be great, if the notification templates were aligned with the new portal  - #3 in the above list. Is there an update for this issue?

[2021-11-02 14:22] MikeS1042 commented on #1479
Just an FYI, this bug is stopping us from moving forward with publishing our API's in Azure API management. Is there an ETA on it yet?

[2021-11-02 16:05] #1191 closed, assigned to ygrik

[2021-11-02 16:58] mikebudzynski commented on #1504
This repository is specific to the developer portal in API Management. I don't know what the feedback channels for the Application Gateway product are.

[2021-11-02 19:00] mikebudzynski commented on #1479
We're now investigating the scope of the improvement and we will come back to you with more details shortly.

[2021-11-02 19:00] mikebudzynski commented on #1122
No update at this moment, it's on our backlog.

[2021-11-02 21:42] mikebudzynski commented on #1479
Although we will soon start working on the fix, it will be included in a (bi-)monthly, [main API Management service release](https://aka.ms/apim/releases). The fix will likely roll out in January due to the deployment freezes during the winter holiday season.

[2021-11-03 11:55] JBac opened #1508 "Parsing error(s): Error reading JObject from JsonReader. Current JsonReader item is not an object: String. Path ''"
Hi,

Getting this error whenever I make any change to the 'Frontend' JSON in any of my APIs:

Parsing error(s): Error reading JObject from JsonReader. Current JsonReader item is not an object: String. Path ''

Even if I just change the title and click save, I get this error, for example, all I've done here is add a '2' to the title:

![image](https://user-images.githubusercontent.com/9397535/14005

[2021-11-03 12:51] ArkimeraMattias commented on #1508
We are experiencing the same issue. We can not update any API definitions without this error showing up.

A speedy resolution to this issue would be appreciated.

[2021-11-03 16:19] oemhjell opened #1509 "APIM OpenAPI Editor reports error when saving JSON or YAML spec without any changes"
Trying to edit existing APIs in APIM using the OpenAPI editor (JSON), when I experience errors saving the spec after editing.
"One or more fields contain incorrect values:
Parsing error(s): OpenAPI specification version '{ "openapi": "3.0.1", "info": { "title": "my-products-v1", "description": "Product operations v1", "version": "v1" }, "servers": [{ "url": "https://testapis.vinmonopolet.no/my-pro

[2021-11-03 16:28] VitaliyKurokhtin commented on #1508
We're rolling out fix for the issue, should be resolved very soon.

[2021-11-04 01:00] mikebudzynski commented on #533
Just a reminder that the survey closes in 2 days.

[2021-11-04 01:01] mikebudzynski commented on #1247
Just a reminder that the survey closes in 2 days.

[2021-11-04 01:01] mikebudzynski commented on #782
Just a reminder that the survey closes in 2 days.

[2021-11-04 09:06] #1143 closed

[2021-11-04 10:17] AnRei123 commented on #1068
Currently, after logging in with a personal business account through the AAD button and signing out, it is not possible for a developer to log in again with a different (functional) account in a managed environment. How do you expect developers to easily login and switch between their different AAD accounts ? Should I raise an additional ticket for this describing this issue?

[2021-11-04 14:44] danielmartenssonbyggtjanst opened #1512 "Collaborate and read-only self hosted"
Hi,
I've a question regarding self hosting. If I want to host it in azure. Make it possible to collaborate for those who have access through the azure portal. But still only "readable" for those who don't.
What I can see now is that a token will always be returned in /src/components/app/app.ts line 38.
const token = await this.authenticator.getAccessTokenAsString();

It will always return the mana

[2021-11-04 15:04] oemhjell commented on #1509
Hi! The OpenAPI editor in APIM seems to work as normal again. No errors today! I will close the case.

[2021-11-04 15:04] #1509 closed

[2021-11-04 22:00] mikebudzynski commented on #1508
I will now close this issue, in the light of the fix being rolled out and the issue not being related to the developer portal.

[2021-11-04 22:00] #1508 closed

[2021-11-05 09:38] xedstr commented on #871
Hi,
Any news on the deployment of the fix?
Thanks

[2021-11-05 19:05] mikebudzynski commented on #871
The fix is included in the current API Management service release: https://github.com/Azure/API-Management/releases/tag/release-service-2021-10 Please allow several weeks for the release to fully roll out.

[2021-11-05 19:05] #871 closed

[2021-11-06 13:34] RamakrishnaPathuri opened #1518 "Please ensure that Authorization header contains valid token - SignUp"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-11-08 09:29] #1337 closed

[2021-11-08 16:12] #1328 closed

[2021-11-08 18:38] mikebudzynski commented on #1518
@RamakrishnaPathuri, this issue seems to be specific to your service only. Please, reach out to Azure support to troubleshoot it.

[2021-11-08 18:38] #1518 closed

[2021-11-08 18:41] mikebudzynski commented on #1512
@danielmartenssonbyggtjanst, please reach out to Azure support. They will be able to assist you with the setup of the self-hosted portal.

[2021-11-08 18:41] #1512 closed

[2021-11-09 07:59] freeriderND commented on #137
Is there any update on this feature request?

[2021-11-09 12:19] #1436 closed

[2021-11-09 18:13] jsorohova commented on #1382
Fixed in a scope of #1516

[2021-11-09 18:13] #1382 closed

[2021-11-09 18:38] alexrainman commented on #208
My new developer portal is not showing the OAuth2.0 dropdown. It shows in the deprecated one though. I thought this issue was fixed.

[2021-11-09 20:23] mikebudzynski commented on #208
@alexrainman, that is not expected - please open an Azure support request to get assistance with your issue.

[2021-11-10 08:04] falrnacn commented on #316
Is it implemented yet?

[2021-11-10 22:37] mikebudzynski commented on #1142
Merging the duplicate #1146 into this issue.

[2021-11-10 22:38] mikebudzynski commented on #1146
Closing this issue as a duplicate of #1142

[2021-11-10 22:38] #1146 closed

[2021-11-11 04:59] antonsalimAU commented on #447
Please reopen this issue, as it has not been solved.

[2021-11-11 10:47] elisabethvolkinshtein opened #1524 "Not recognizable template through permalink of a page."
## Bug description

While opening a page, you can see the permalink of the page. However the permalink dose not reveal which template the currently opened page is assigned to.
When you work with several layouts it is difficult to identify the right template.

For example:
- Template1
/docs/*

- Template2
/docs/services/*

- Template3
/docs/services/notifications/*

Page permalink: /docs/services/n

[2021-11-11 18:19] #1093 closed

[2021-11-11 20:03] mikebudzynski commented on #316
Yes, it's implemented in all OpenAPI versions, with the exception of this bug https://github.com/Azure/api-management-developer-portal/issues/1487

[2021-11-11 20:08] mikebudzynski commented on #447
@antonsalimAU, we will soon start working on a fix and it will likely be deployed in the first quarter of 2022.

[2021-11-11 20:12] mikebudzynski opened #1525 "Order API responses by status code in the API operation details widget"
Currently, there's no deterministic ordering of API responses in the API reference pages. Responses should be sorted by the HTTP status code in the increasing order (i.e., first show 1xx, then 2xx, etc.).

[2021-11-12 22:46] mikebudzynski commented on #137
No update at the moment. We don't plan to work on this feature in the next 6 months.

[2021-11-15 15:01] dylan-rtfm opened #1528 "Feature request: Code snippit box"
We are publishing sample code within a documentation narrative (cookbooks) but the only decent way to show code within the text is to use a text block and monospace font.  Not great.

On the API pages, in the Try It section, there is highlighted code, including a Copy button.  I would like this on the 'documentation' pages too, as a widget.
![image](https://user-images.githubusercontent.com/943756

[2021-11-16 09:57] EwanNoble commented on #1312
Hi @mikebudzynski , is there an update to the ETA on this now we're 6 months down the line?

[2021-11-16 13:42] nosvalds opened #1529 "Query Parameter "No default" option defaults to first value in list of values if provided in the Try It sidebar"
## Bug description

If you have a query parameter where you set "No default" and provide other optional values, the "Try It" sidebar defaults to the next possible value under "No default", rather than starting as blank (without a default) as expected.

## Reproduction steps

1. Go to an API -> Operation -> Edit Frontend -> Query
2. Define a query parameter that has optional values, but select "No

[2021-11-17 10:35] Varun270489 opened #1531 "Pagination to be implemented in all widgets - For better user experience"
As of today we only have basic pagination for navigation . Not all pages or total pages with page numbers are visible in all widgets.
This can be enhanced for better user experience

[2021-11-17 11:08] jsorohova commented on #1211
Hello @erwinkramer, thank you for reporting the bug. In order for us to fix it, could you please confirm that the bug still persists and if so, could you please also provide more details for the step 4? Thank you.

[2021-11-17 13:09] sbenji77 commented on #1041
Hi @mikebudzynski

I can see that you have made progress in the project to implement the functionality. Do you have a visual of the deployment for us users please?

We would like to be able to integrate a Calendly calendar for our users to make appointments with us. This is easily done with an Iframe but as not possible at the moment.

Benjamin from Cdiscount

[2021-11-18 08:43] erwinkramer commented on #1211
Hi @jsorohova I'm on an 2.11.x release of the dev portal and I see no issues anymore. I'll close this. Thanks for the reminder.

[2021-11-18 08:43] #1211 closed

[2021-11-18 17:21] azaslonov commented on #1528
Hi @dylan-rtfm, makes sense, we'll add it.

[2021-11-18 19:24] azaslonov commented on #1068
The issue should be fixed by now. Can anyone still reproduce it?

@AnRei123, sorry, missed your message. Same question, do you still encounter the issue?

[2021-11-19 04:46] Varun270489 commented on #1531
any expected delivery date ?

[2021-11-19 18:09] #1428 closed

[2021-11-22 08:50] #1380 closed

[2021-11-22 09:32] GeorgeNarcis commented on #527
Any news on this ? still not working.

[2021-11-22 16:23] pierslawson opened #1536 "OAuth that works in deprecated developer portal fails in new portal"
I have configured an Identity Server 4 instance to be used by the developer portal. This works fine in the deprecated developer portal but when I try using the new portal I get an unauthenticated response from the backend API. Taking the generated Access Token and plugging it into Postman everything works fine. It is only the new Devloper Portal that has a problem passing the token to the backend

[2021-11-22 19:58] mikebudzynski commented on #1531
No, we don't have an ETA to share at this time.

[2021-11-22 20:04] mikebudzynski commented on #527
@GeorgeNarcis, we now prepopulate the request body in the console. In addition to that, the "copy" button is working for me in Chrome, Edge, and Firefox.

1. Are you using a managed or self-hosted portal? Did you republish it lately?
2. Which browser are you using? Which version?
3. Do you have any browser settings that may prevent this functionality? For example, disabled JavaScript?
4. Please, t

[2021-11-22 20:07] mikebudzynski commented on #1528
Loosely related to #1207.

[2021-11-22 20:10] mikebudzynski commented on #1312
We're going to start working on the new endpoint in December. It will take several months for it to be fully released.

[2021-11-22 20:12] erwinkramer opened #1537 "Identitysettings reference case sensitive for Linux"
## Bug description

[IdentitySettings reference ](https://github.com/Azure/api-management-developer-portal/blob/master/src/contracts/IdentitySettings.ts) will fail because it's referenced as identitySettings (lowercase i). Casing differences are problematic on Linux machines, but not an issue on Windows machines.

Renaming this file to `identitySettings.ts` solves it.

## Reproduction steps

1. Ru

[2021-11-22 23:47] krispenner opened #1538 ""Your developer portal has not been published yet." - But it has..."
## Bug description

I have published our developer portal every other month for the past year. It's currently active and I am using it right now in another tab. But the Azure Portal is now telling me: "Your developer portal has not been published yet."

I'm worried that if I click `Publish` that it will reset my current portal to factory defaults. Can someone please comment on why it's confused an

[2021-11-23 00:22] mikebudzynski commented on #1538
@krispenner, could you please reach out to Azure support for assistance and troubleshooting the issue? They will be able to analyze the problem and walk you through the publishing.

[2021-11-23 00:22] #1538 closed

[2021-11-23 16:07] aaron-infomedia opened #1540 "Operation: Details widget no longer renders HTML content"
## Bug description

As title. Earlier versions of the Dev Portal would render HTML that was nested in the OpenAPI specification. For example, a table could be added into the description element and it would appear on the portal. This no longer works though the HTML is still in the OpenAPI specification.

Any text preceding an HTML tag renders without problem, but as soon as a tag is found, everyth

[2021-11-23 22:30] mikebudzynski commented on #1540
@aaron-infomedia, thanks for reporting the regression. We're already working on a fix.

[2021-11-23 22:33] mikebudzynski commented on #1501
Closing this issue due to inactivity. Probably related to #1207

[2021-11-23 22:33] #1501 closed

[2021-11-23 22:37] mikebudzynski commented on #1041
@sbenji77, we're working on a new widget that will allow you to inject custom HTML code in an iframe. Here's a draft version of the widget, we're still making improvements:

![image](https://user-images.githubusercontent.com/40186513/143139967-7f6e3d90-081f-489a-8aaa-d17ac09b2044.png)

[2021-11-24 03:02] y10e commented on #1068
@azaslonov
I use managed Developer Portal. I re-published developer portal(create a new portal version and marking as current.) in this week but the same issue is continuing. The version is following.

https://xxx.developer.azure-api.net/internal-status-0123456789abcdef
{"Status":200,"PortalVersion":"202111240222","CodeVersion":"20211104190824","Version":"0.23.1403.0","RoleNumber":"gwhost_1"}

I c

[2021-11-24 08:51] UIandX opened #1542 "Editor: Set Section stick to top doesnt work"
## Bug description

As title says, in the API Portal Editor in the settings for section under Miscellaneous is the option to set elements "Stick to top" which doesnt work on serverall elements like Menu or Text. It seems first like its sticky but after some time of scrolling it scrolls up with the content and the other elements, which are not "stick to top", on the page

## Reproduction steps

1.

[2021-11-24 09:53] restlessankyyy opened #1543 "Uncaught Promise error in reports page"
**Uncaught Promise error in reports page upon clicking on 90 days statistics**

## Bug description

In the user reports page, while filtering the stats for 90 days, we receive the below error.

`theme.js:51384 Cannot read properties of undefined (reading 'toUpperCase')
(anonymous) @ theme.js:51384
(anonymous) @ theme.js:51366
__awaiter @ theme.js:51362
trackError @ theme.js:51383
handlerPromiseRej

[2021-11-24 10:01] Varun270489 commented on #1531
I implemented pagination for api list and product list widgets. I raised pull request , Please review.
ChangeSet - 374f0ebc482e404af8ed1a4ca1ddf385e101df46

Hope I am able to contribute.

[2021-11-24 17:59] mikebudzynski commented on #1531
@Varun270489, it would be easier for us to review if you open a PR in this repository. Could you please do that?

[2021-11-24 19:19] restlessankyyy commented on #1341
issue fixed.

[2021-11-24 19:19] #1341 closed

[2021-11-25 12:36] Varun270489 commented on #1531
@mikebudzynski Thanks for the response. I made a better pagination with enhanced feature , please check change set 7a67a8618068b3556e32495f258ff6bb2687f78e

[2021-11-26 10:54] dhall19 commented on #1139
We are also seeing this issue, our use case is that we host a site that contains deep links to APIs which look like this:

`<a href="https://ourportalpage.com/api-details#api=anApp" target="_blank" >`

However while this URL works when we paste it into a browser tab, when a user clicks on the link on our site they are redirected to the sign-in page even if they are already signed in, and as mentio

[2021-11-29 02:53] khigashi1021 commented on #674
Hi I have the customer who would like to have this improvement applied. Are there any plan to improve this?

[2021-11-29 10:49] aaron-infomedia commented on #1540
I should have mentioned that this is affecting the Description fields for the Method, Request and Response. Possibly other places too but these are the only ones we have used.

![image](https://user-images.githubusercontent.com/61697128/143854566-31277879-a051-4c99-9c2f-656875c4b106.png)

![image](https://user-images.githubusercontent.com/61697128/143854615-3018b354-680c-4a84-9a9e-b9c68ec99be5.png

[2021-11-29 11:56] sjvarun opened #1547 "Api details widget - tags are always show as untagged"
When we are in api details page , on the left side section we have tags information along with other api verbs
These tags information is always shown as "untagged" (screenshot 1) . Also the tags information is not available in Filter (screen shot 2)

## Expected behavior

Tags details must be visible with option to filter tags in Filter .

## Is your portal managed or self-hosted?

Both Managed &

[2021-11-29 18:01] margani opened #1548 "Top navigation menu is not clickable"
## Bug description

Top navigation is fine in the home page but when I go to the API list page and click on it, nothing happens. It sees an element is blocking it.

## Reproduction steps

1. Click on "Explore APIs"
2. One of menu items on top, like Sign In or Sign Up

## Expected behavior

It should be clickable.

## Is your portal managed or self-hosted?

Managed

## API Management service name

[2021-11-29 18:27] mikebudzynski commented on #1547
@sjvarun, most likely you have not defined the tags or assigned the tags to API operations in the API Management service. The "Untagged" badge shows up, because none of your operations have tags and you have selected "Group by tags". Please, reach out to Azure support for assistance, if needed.

[2021-11-29 18:27] #1547 closed

[2021-11-30 12:51] restlessankyyy commented on #1543
This bug is noticeable only if when we are using APIM with Application Gateway in a private/ internal virtual network. The reports page in APIM loads with all the graphs except Geo-location graphs. The Geo-location graphs try to map the Global IPs to the respective geo-location. However, in our case, the IP is internal {Private} which doesn't map to any of the global geo-locations.

[2021-11-30 17:25] mikebudzynski commented on #1531
Thanks, we will review it shortly.

[2021-11-30 17:26] mikebudzynski commented on #674
We do not have ETA at the moment, but I have prioritized the issue.

[2021-12-01 17:04] hkd801 opened #1550 "Could not add any new section or widget if everything is deleted from Default Layout"
On the default Layout if we delete all existing sections and widgets, we are left with a blank CONTENT section.
Now we no longer have the '+' icon or Edit icon to add anything.

We do see a delete widget icon on top left corner of the CONTENT section, but clicking on this only give an error "Oops, something went wrong."

![Deveoper Portal Isssue](https://user-images.githubusercontent.com/72554816/

[2021-12-01 20:05] jdm4344 opened #1551 "Accessibility, 508 Compliance: List of APIs/Products (Dropdown) Widgets Keyboard Functionality and Button Name Attribute"
## Bug description

The List of APIs (Dropdown) and List of Products (Dropdown) widgets can not be minimized with keyboard controls, i.e. Enter or Spacebar keys when they are the object of focus on a page. The button element on both widgets is also missing an accessibility name attribute.

## Reproduction steps

### Functionality
1. Go to a page with either a List of APIs (Dropdown) or List of Pro

[2021-12-01 20:38] jdm4344 opened #1552 "Accessibility, 508 Compliance: Operation Details Try It Panel - Request code example language <select> is not accessible"
## Bug description

Request code example `<select>` element has no accessible name, associated `<label>`, or [title].

## Reproduction steps

Without tool:

1. Navigate to a page with the Operation Details widget
2. Click the Try It button on the widget to open the panel
3. Right click on the language dropdown/select element and choose Inspect option
4. Verify via the inspector that no accessibili

[2021-12-02 20:25] jdm4344 commented on #1380
Hi @Mielek, thanks for the PR with those fixes. Wanted to try to provide some more details to hopefully help with replicating the card overlap problem.

## Updated Environment Details:
Operating system: MacOS Monterey 12.0.1 - Macbook Pro 15-inch, 2017 model
Screen resolution: 2880 × 1800
Browser: Google Chrome
Version: 96

Details for section in portal editor:
<img width="1680" alt="Section Detai

[2021-12-03 07:03] MargretWang commented on #1068
Hello @azaslonov
I use managed Developer Portal and sign in with OAUTH "Azure AD B2C".
I'm having a similar issue.
When click a button to /#signout,it takes me to https://login.microsoftonline.com/common/oauth2/v2.0/logoutsession page and Developer Portal SAS token is not cleared.
When will it be fixed? Our service will be released on 26nd Dec 2021.

[2021-12-03 09:26] dhall19 opened #1554 "Using deep link to API page always takes you to the sign in page"
## Bug description

We host a site that contains deep links to APIs which look like this:

`<a href="https://ourportalpage.com/api-details#api=anApp" target="_blank" >test</a>`

However while this URL works when we paste it into a browser tab, when a user clicks on the link on our site they are redirected to the sign-in page even if they are already signed in, and when they do sign in they are not

[2021-12-03 17:59] azaslonov commented on #1068
Hi @Maeve878, since you see  https://login.microsoftonline.com/common/oauth2/v2.0/logoutsession, this means you've got the fix for the developer portal itself, - it terminates dev portal session, cleans up cookies, and execute B2C logout flow. The AAD/B2C session itself is out of APIM control. We're looking for advice from AAD teams right now, I'll keep you posted.

[2021-12-06 12:47] marcus118 opened #1557 "Unable to upload image"
The image that I uploaded previously is broken. I tried to re-upload the image but it keeps failed.

The error message I get:
![image](https://user-images.githubusercontent.com/81612357/144848639-5d2f8266-fbbf-4807-bbf7-d2958a9e976d.png)

[2021-12-06 16:39] hansukyang opened #1558 "Add og:image tag to Developer Portal metadata"
It would be great if there is a way to add og metadata property (https://ogp.me/) for sharing the developer portal via social media, at least for the home page.

Example from the link:

[code]

The main benefit would be to control the image that gets shown when the developer portal page is shared on LinkedIn, Twitter, Facebook etc.

[2021-12-06 20:04] mikebudzynski commented on #1557
@marcus118, could you please contact Azure support to resolve the problem?

[2021-12-06 20:04] #1557 closed

[2021-12-07 03:12] Maeve878 commented on #1068
Hi @azaslonov,
Thank you for your reply.
When I see https://login.microsoftonline.com/common/oauth2/v2.0/logoutsession,
If I don’t turn off the browser, and visit the developer portal again and click the Azure AD B2C OAUTH  button,
I will successfully sign in without authentication.
I look forward to hearing from you.

[2021-12-07 10:31] aaron-infomedia commented on #1540
Unfortunately this is still occurring in the current release (managed portal). I have republished as follows:

_Last published
Revision 202112071023 was created on 12/7/2021, 10:23:29 AM and published on 12/7/2021, 10:24:28 AM._
(Times in UTC+0)

Here is an example of one of the full Descriptions we have set:

[code]

Only the first sentence of the description is displayed on the portal:

![image]

[2021-12-07 16:44] azaslonov commented on #1540
@aaron-infomedia, the release of the managed version is still in progress. It should reach all the regions in a few days.

[2021-12-08 06:43] sjvarun opened #1562 "Developer portal - Route users to sign in page when unauthenticated or by default"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-12-08 07:08] sjvarun opened #1563 "Azure apim developer portal - mimic depreciated portal feature"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-12-08 09:45] aaron-infomedia commented on #1540
Hi @azaslonov

It seems the html is being brought in now, but all attributes are being stripped from the tags. Take a look at the screenshot below.

![image](https://user-images.githubusercontent.com/61697128/145185582-19202843-84f0-4846-9744-9cdf27ca51c5.png)

The source for this is:

[code]

All of the "role" and "class" attributes have been removed. The result is the content does not render pro

[2021-12-08 16:52] mikebudzynski commented on #1563
@sjvarun, the Azure portal is the interface for API providers, while the developer portal is the interface for API consumers. You can use the test console in the Azure portal to trace your API calls.

[2021-12-08 16:52] #1563 closed

[2021-12-08 16:53] mikebudzynski commented on #1562
@sjvarun, please contact Azure support for assistance - they will be able to troubleshoot your issue in a timely manner.

[2021-12-08 16:53] #1562 closed

[2021-12-09 12:38] driis commented on #1237
Any news on this issue ?

[2021-12-09 17:20] nosvalds opened #1565 ""New subscription requested notification" email portal link doesn't work"
## Bug description

When a user signs up for a Subscription that requires approval, an email is sent to an admin email. In this email there is a link to the portal so the admin can approve the subscription.

Currently that link looks to be pointed to Products instead of Subscriptions in the Portal. It also just takes me (after a bunch of redirects) to my default dashboard if I were to navigate to

[2021-12-09 18:55] mikebudzynski commented on #1354
Fixed with https://github.com/Azure/API-Management/releases/tag/release-service-2021-10

[2021-12-09 18:55] #1354 closed

[2021-12-10 06:13] sjvarun commented on #1562
@azaslonov , above guard helps in someway but location.assign is not redirecting to sigin page
location.assign(Constants.pagepageUrlSignIn);

What could be the reason .

[2021-12-14 01:26] azaslonov commented on #1380
@jdm4344, we have fixed the snippet for cards section in the library. So, if you re-create this section, the cards will behave properly on screen sizes:

![image](https://user-images.githubusercontent.com/2320302/145915658-7ad85d92-719d-4d2f-82a1-b63ce0ec7210.png)

[2021-12-14 23:40] quental opened #1570 "HTML snippets not rendered on API operation description fields"
## Bug description

We embed HTML snippets in API operation description fields to display rich content, such as tables. These snippets used to be interpreted perfectly and the content was rendered, but this is no longer the case: it seems like the HTML tags are stripped out and the content is being displayed as plain text.
While we're unable to pinpoint the exact version in which this started happ

[2021-12-14 23:53] azaslonov commented on #1570
@quental, this issue has been fixed in #1568. We're making a hotfix for managed version right now.

[2021-12-14 23:53] #1570 closed

[2021-12-15 00:21] quental commented on #1570
Excellent! Thank you for the prompt reply.
Should I then expect an update to be available in a couple of hours?

[2021-12-15 00:23] azaslonov commented on #1570
Unfortunately, I'll take 2-3 days to reach every region.

[2021-12-15 08:28] lwinch2006 commented on #629
Hi.
As of 15th December 2021 I can say the issue still presented. MIME type mismatch and nosniff option blocks loading of styles.css
This is how developer portal looks like in Firefox (in Chrome it looks good).
![image](https://user-images.githubusercontent.com/6912915/146150829-7b5468c6-695a-494f-8ff9-284a71d86d2c.png)

[2021-12-15 18:18] azaslonov commented on #629
Hi @lwinch2006, thanks for reporting this. Could you please send your service name to apimportalfeedback@microsoft.com?

[2021-12-16 07:16] lwinch2006 commented on #629
@azaslonov
Hi. Today I have checked again. It was very strange behavior in my FF. In one container tab issue was presented when clicking on dev portal link in Azure Portal. In another container tab in FF where I was logged in separately issue was away and dev portal looked like as it should. When I closed and opened FF from scratch. Issue disappeared in all container tabs in FF. So now I cannot re

[2021-12-16 12:22] marcin-m-dsv opened #1574 "Example time format changes to date-time if schema referenced through $ref"
When importing API through the developer portal / azure cli / azure PowerShell, example fields with format set to `time` are changed to full date-time if the example schema is referenced by `$ref`.

## Reproduction steps

1. Import the following API specification:
[code]
2.  Navigate to the imported API. Check the operations generated body in the _Test_ tab.

## Expected behavior

Both operations

[2021-12-16 13:54] ankrause commented on #1224
This was resolved by #1436

[2021-12-16 13:54] #1224 closed

[2021-12-16 14:12] ankrause opened #1575 "Bearer token in developer console initially not masked in the request"
## Bug description

When applying an authorization_code token to a request in the "try it" dialog of the new portal, the bearer token in the HTTP request section is not masked out by default. The header field itself, however, is masked out as expected.

If the user uses the "show" button above the request section and then re-selects "hide" the bearer token will be masked out in both the headers se

[2021-12-16 18:29] azaslonov commented on #629
@lwinch2006, understood. Thanks for getting back to us.

[2021-12-22 23:06] rpipkin opened #1580 "Sign In page error display is gone after removing the Sign Up button"
## Bug description

After customizing the Developer Portal by removing the Sign Up button from the Sign In page, the sign in error validations disappeared.  Now, someone attempting to login with the wrong password gets no feedback on the page, yet you can see a 401 response in dev tools.

Even after trying to revert to a previous version of the developer portal, the page does not change (which may

[2021-12-28 09:42] margani commented on #1548
Is there any update on this?

[2022-01-03 12:13] wolfgangas commented on #49
Any news on this? I am going to add my enumeration values within the description field, but something more nice regarding UI would be welcome

[2022-01-03 21:00] #1575 closed

[2022-01-03 21:01] #1552 closed

[2022-01-04 11:37] ArkimeraMattias commented on #1540
Any update on this?

This bug is affecting our public development portal and our clients. We are using the Azure Managed Portal.

[2022-01-04 12:14] jsorohova commented on #1540
Hello @ArkimeraMattias, classes should work now in the managed version.

[2022-01-04 12:19] aaron-infomedia commented on #1540
@jsorohova - I can confirm that `role` and `class` attributes are working now, however `style` attributes are still being removed.

[2022-01-04 12:39] ArkimeraMattias commented on #1540
Yes. We have identified the following `style` issues on our development portal within the Operation: Details panel.

[code]

[code]

Will this be fixed anytime soon?

[2022-01-04 17:46] #1540 closed

[2022-01-04 19:16] azaslonov commented on #1426
Fixed in PR #1507.

[2022-01-04 19:16] #1426 closed

[2022-01-04 19:18] azaslonov commented on #1531
The PR was merged.

[2022-01-04 19:18] #1531 closed

[2022-01-04 19:28] azaslonov commented on #1043
This issue has been fixed in the backend and deployed.

[2022-01-04 19:28] #1043 closed

[2022-01-04 20:43] azaslonov commented on #1537
Fixed in scope of another issue.

[2022-01-04 20:43] #1537 closed

[2022-01-04 20:45] erwinkramer commented on #1537
@azaslonov fixed in next release?

[2022-01-04 20:54] azaslonov commented on #1537
In another branch. But let me just cherry-pick it right now: #1583

[2022-01-04 21:03] azaslonov commented on #1321
Closing due to inactivity. @Ledger94, please feel free to re-open shall you need further assistance with pagination.

[2022-01-04 21:03] #1321 closed

[2022-01-04 21:07] azaslonov commented on #1192
@VitaliyKurokhtin, @harunrst, I assume this is API import issue?

[2022-01-04 21:08] erwinkramer commented on #1537
Cool, thanks.

[2022-01-04 21:10] azaslonov commented on #1220
Fixed in #1520.

[2022-01-04 21:10] #1220 closed

[2022-01-04 21:22] azaslonov commented on #922
Closing due to inactivity. @Vinoth-44, please feel free to re-open shall you need further assistance.

[2022-01-04 21:22] #922 closed

[2022-01-04 23:53] VitaliyKurokhtin commented on #1192
Yes, at the moment import disregards title. We'll need to fix it, meanwhile customer is free to alter schema object name after import.

[2022-01-06 17:25] #553 closed

[2022-01-06 18:03] #1027 closed

[2022-01-07 22:46] mikebudzynski commented on #1574
@VitaliyKurokhtin, it sounds similar to a bug that was fixed with the October's release: https://github.com/Azure/API-Management/releases/tag/release-service-2021-10

[2022-01-08 00:32] #1029 closed

[2022-01-08 12:20] s8mathur commented on #1554
+1 for the importance of this bug to how we use the portal deep links too.

[2022-01-08 12:21] s8mathur commented on #1558
+1 for this HTML hygiene feature for the 2020s :)

[2022-01-09 15:57] narla-vinil commented on #798
Hi @azaslonov : We have a similar request from our Security team for adding CSP header to our developer portal instance. I would like to know the ETA for this issue. Thank You.

[2022-01-10 10:40] ben-002 opened #1588 "date-span format (C#- TimeSpan) properties wrong example values"
## Bug description

Api management API definition for date-span(C#- TimeSpan) has a broken and different example value than the swagger file. Instead of having "12:00:00"(swagger file), it has the date of import, example: "2022-01-10" .

## Reproduction steps

1. Generate a swagger file that contains a date-span field with "12:00:00" as example value
2. Import the file inside an Azure API Manageme

[2022-01-11 13:40] NicolasHumann commented on #1479
Hi, do you have an update on this?

This bug is stopping us from moving forward with publishing our API's in Azure API management.

[2022-01-11 19:13] #1284 closed

[2022-01-12 05:31] patidar-jaishree opened #1591 "API Details Page UI: Endpoint navigation list displayed with some blank lines"
## Bug description

List on API endpoint details list is displayed with blank line breaks randomly. It seems like they are grouped but this is not the case (its random)
Some li.nav-item have more height then other randomly. Regardless of the text length (even ellipses is implemented, so it should not impact)

## Reproduction steps

1. Go to /apis page where endpoint details are displayed
2. Observ

[2022-01-12 06:18] patidar-jaishree opened #1592 "API Details Page breaks when endpoint URI or display name is long (Chrome, Safari on MacOS + Edge on Windows )"
## Bug description

1. Long Request URI - breaks the UI for side panel - having horizontal scroll. (Refer screenshot in comments)
2. API Details Page breaks when endpoint display name is long.
**Note: Works fine in Firefox. Seeing issue in Chrome(MacOS) , Safari(MacOS) & Edge 96(Windows 10)**
![image](https://user-images.githubusercontent.com/41952531/149071771-fda61f32-956d-493d-92ff-f6c5db41758d

[2022-01-12 21:53] mikebudzynski commented on #1237
No news since my last comment.

[2022-01-12 22:00] mikebudzynski commented on #1580
@rpipkin, I don't understand what you mean by removing "Sign up" button from the "Sign in" page. There's no sign-up button on the sign-in page in the default content. Could you please clarify this and, if possible, provide screenshots?

[2022-01-12 22:04] mikebudzynski commented on #1588
Adding @VitaliyKurokhtin.

[2022-01-13 08:46] patidar-jaishree commented on #1592
Adding more details - Even try it panel layout is also breaking because of large display name
![image](https://user-images.githubusercontent.com/41952531/149296235-f3af902c-d838-499d-afa9-0aaa0030779d.png)

[2022-01-13 18:05] #1505 closed

[2022-01-13 22:04] qsevers23 commented on #968
Is there any update on this?

[2022-01-13 22:08] azaslonov commented on #968
@qsevers23, sorry, not yet. Current ETA is mid-March.

[2022-01-14 08:25] d-burr opened #1595 "Resizable test console"
The current the test console has a fixed width which can make it difficult to enter the required information for a complex endpoint. Could it be changed such that the user can select the desired width for this pop out.

[2022-01-14 08:32] d-burr opened #1596 "Code sample & large JWT reduces usability of test console"
When using the test console with OAuth a HTTP code sample is automatically shown. As the token can be sizeable it can result in a significant amount of scrolling for a user to reach the send button and review the parameters to the request. Would it be possible to improve this situation? Could a code sample not be shown by default?

[2022-01-14 23:20] azaslonov commented on #1596
@d-burr, yes, makes sense.

[2022-01-17 18:35] kashishm commented on #533
@mikebudzynski Any update on this?

[2022-01-18 12:42] restlessankyyy opened #1598 "Using Azure Static web apps to host APIM dev portal"
### Trying to deploy azure APIM dev portal using Github actions to Azure static web apps

Objective: To build and deploy APIM dev portal to azure static web apps using Github actions.

Github Actions in use:
[code]

Issue: Deploy step throws an error

[code]

[2022-01-18 17:23] mikebudzynski commented on #1479
@NicolasHumann, we plan to fix it in the next few weeks. The fix will roll out with a main API Management service release around March or April.

[2022-01-18 17:24] mikebudzynski commented on #798
We are working on this improvement now. It will roll out with the main API Management service release in March or April.

[2022-01-18 17:25] #1598 closed

[2022-01-18 17:27] mikebudzynski commented on #533
We're now working on this feature. It will likely be released in preview in summer.

[2022-01-19 13:10] rajasekarMO opened #1599 "Signup form displays irrelevant error message, although Signup form is disabled in Identities"
Bug description
After customizing the Developer Portal by removing the Sign Up form, the form displays irrelevant error message than in dev tools

Both Sign Up button in Portal UI & Username, Password form with APIM Managed Identities has been removed.

Reproduction steps
Go APIM Developer Portal, remove Signup links
Go APIM -- Managed Identities - Delete Username, Password Identity
Save and Publi

[2022-01-19 17:47] #1235 closed

[2022-01-20 09:08] ZarTrox opened #1602 "External CSS styles not applied"
## Bug description

When styling the frontend of an api operation/the operation details we use an external CSS file which is located in a blobstorage.
But even simple styles are not applied. Meanwhile inline css is possible.
For example:

This code...
`<head>`
    `<link rel="stylesheet" type="text/css" href="https://********.blob.core.windows.net/publicmedia/DevPortal_styles.css" />`
`</head>`
`<

[2022-01-20 17:15] jsorohova commented on #558
Hello @VincentYan2018, can you please check if this is still reproducible? We fixed an array displaying but I would like to double-check this issue with you. Thank you.

[2022-01-20 17:16] jsorohova commented on #1074
Hello @konsta2106 , can you please check if this is still reproducible? We fixed an array displaying but I would like to double-check this issue with you. Thank you.

[2022-01-21 06:56] konsta2106 commented on #1074
Hi Elena.

Yes, I can confirm that this is fixed. Also, I’m very excited to see when this PR (https://github.com/Azure/api-management-developer-portal/pull/1601) will be closed.

From: Elena Shorohova ***@***.***>
Date: Thursday, 20. January 2022 at 19.16
To: Azure/api-management-developer-portal ***@***.***>
Cc: Konstantin Komovits ***@***.***>, Mention ***@***.***>
Subject: Re: [Azure/api-manage

[2022-01-21 09:38] jsorohova commented on #1074
Thank you. I will close this issue now.

Regarding the PR, it is planned to be out next release.

[2022-01-21 09:38] #1074 closed

[2022-01-21 11:05] tommyisaksson opened #1603 "Error 503 on "npm run publish" when behind a corporate proxy"
I am following the guide https://docs.microsoft.com/en-us/azure/api-management/developer-portal-self-host from tag 2.12.1

I get the below error when executing step 5 "npm run publish"

I am on a corporate intranet which uses a proxy with a self-signed certificate. I suspect it is the proxy causing the error. When I execute the exact same code and config from another PC which has no proxy then "np

[2022-01-21 15:38] jsorohova commented on #860
Hello @WeightyPrawn, could you please check if this is still reproducible? We recently added a correct version displaying but I would like to double-check this issue with you. Thank you.

[2022-01-21 18:58] #935 closed

[2022-01-21 20:35] #1356 closed

[2022-01-22 03:11] yanickgirouard commented on #137
This is a rather major feature to have if you plan on having any non-US customers using it. It will be a show stopper for most French companies that need the portal to be in French (i.e. in Quebec). Is there no way to localize the new developer portal at the moment?

[2022-01-24 13:04] Megha86834 opened #1607 "Migration from MSAL v1 to MSal v2 in APIM"
Hello ,I am trying to migrate my APIM from MSAL v1 to MSAL v2 .
But the issue that I am facing is when I sign in using MSAL  v2 the page does not redirects to authenticated home page after successful sign in ,it goes back to sign in page. Please look into this issue urgently.

[2022-01-24 13:55] #669 closed

[2022-01-24 13:56] #1248 closed

[2022-01-24 14:25] UniperMaster opened #1609 "GraphQL Test Console, doesnt include the version in the path"
## Bug description

The uri endpoint on the test console doesn't get included in the path, so when you click **try it** you get a 404 not found. It works OK for the  Azure APIM service test tab and via postman

![image](https://user-images.githubusercontent.com/58111142/150798347-e53b8cb3-5d8a-446d-80ed-55fa3e7b6555.png)

![image](https://user-images.githubusercontent.com/58111142/150799157-6a32fb

[2022-01-24 17:12] #1591 closed

[2022-01-24 19:26] mikebudzynski commented on #1607
@Megha86834, what do you mean by "trying to migrate my APIM from MSAL v1 to MSAL v2"? Do you mean you're attempting to make changes to the code base in the self-hosted portal?

[2022-01-24 19:27] mikebudzynski commented on #137
The only way to localize hardcoded English text in the widgets is to modify the portal's code for translations and then self-host it.

[2022-01-25 00:10] #1173 closed

[2022-01-25 04:50] Megha86834 commented on #1607
Hi Mike
yes I am making changes in the code base in the self hosted portal. I am migrating from MSAL v1 to MSAL v2 created a new sign in in widget for the same. When I sign in using "loginPopup"  it successfully logs in , also receive the desired response but it does not redirects to authenticated home page. Please help me with the same.
Thanks in adv.

[2022-01-25 04:54] Megha86834 commented on #1607
/**
     * Handles the response from a popup or redirect. If response is null, will check if we have any accounts and attempt to sign in.
     * @param response
     */
    private async handleResponse(response: AuthenticationResult | null) {

        if (response !== null) {
            this.account = response.account;

        } else {
            this.account = this.getAccount();
        }

[2022-01-25 10:23] tdysko-star opened #1615 "Undocumented endpoints for blob access and self-hosted backend API"
Hello,
I got two questions about undocumented enpoints the developer portal code is using.
**First**:
I think that the only way to backup or migrate managed developer portal blob files is by using secret from undocumented endpoint hidden under _/portalSettings/mediaContent/listSecrets_.

I found out about it, just because I saw you used it in you migration code:
https://github.com/Azure/api-manage

[2022-01-25 17:22] #1603 closed

[2022-01-25 20:06] mikebudzynski commented on #1607
@Megha86834, we're not able to provide support for custom changes in the portal's codebase, so I will be closing this issue. Keep in mind that we do have plans to migrate to MSAL v2 in the future.

[2022-01-25 20:06] #1607 closed

[2022-01-25 20:09] keg7271 commented on #1607
@mikebudzynski your team could at least let us know why the id_token received by MSAL v2 isn't valid against the /Identity endpoint of the APIM management API.  To just say "not supported" is not appropriate in this case.

[2022-01-25 20:25] mikebudzynski commented on #1607
@keg7271, based on what @Megha86834 wrote above, I was under the impression that the token works:

Is that not the case?

[2022-01-25 20:30] mikebudzynski commented on #1024
Referencing #1456

[2022-01-25 20:31] mikebudzynski commented on #997
Referencing #1456

[2022-01-25 21:05] keg7271 commented on #1607
I believe she has used MSAL v2 to get the id_token for the but when using the id_token to exchange for the SAS from APIM it fails with invalid token.

-Keith
________________________________
From: Mike Budzynski ***@***.***>
Sent: Tuesday, January 25, 2022 1:25 PM
To: Azure/api-management-developer-portal ***@***.***>
Cc: Geringer, Keith ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/api-m

[2022-01-25 23:11] azaslonov commented on #1602
@ZarTrox, this filtering of the HTML happens by design, and support of HTML in description fields comes from the days of the legacy portal. The problem we are trying to avoid here is a conflict of custom HTML/CSS/JS with the developer portal code base. Basically, if you use your own styles/classes, we can't guarantee that we don't break those with our own CSS when we release a new version of the p

[2022-01-26 11:06] UniperMaster opened #1619 "API List Widget - Show API Tags"
### Discussed in https://github.com/Azure/api-management-developer-portal/discussions/1606

<div type='discussions-op-text'>

<sup>Originally posted by **UniperMaster** January 21, 2022</sup>
When not "groups by tags", can the list widget show all tags in a column associate to an api.

![image](https://user-images.githubusercontent.com/58111142/150546519-0c9991ff-6cbb-428d-b3b1-c968d866c460.png)

[2022-01-26 11:07] UniperMaster commented on #1619
This is a new feature

[2022-01-26 11:07] UniperMaster opened #1620 "Can the developer portal recognize the deprecated attribute in OPEN API spec"
### Discussed in https://github.com/Azure/api-management-developer-portal/discussions/1605

<div type='discussions-op-text'>

<sup>Originally posted by **UniperMaster** January 21, 2022</sup>
I tried setting the following attribute and it wasn't recognized, is this cater for in the development portal or can it be added to the backlog.

maybe this is general APIM requirement and needs to be raised

[2022-01-26 11:10] UniperMaster commented on #1620
This maybe an overall API Management Service issue rather than Dev portal issue. I can currently create a Tag and display that (on an operation only) but it'd be nice if the deprecated attribute was recognized

[2022-01-26 13:10] WeightyPrawn commented on #860
Hi @jsorohova . After publishing the latest devportal it seems like this is now displayed as expected.

Thank you.

[2022-01-26 13:17] jsorohova commented on #860
Thank you for your answer. I will close this issue now.

[2022-01-26 13:17] #860 closed

[2022-01-26 15:41] Timico05 commented on #1241
As far as I understood the bugfix should have been rolled out.
But we still experience this issue in Azure Portal API Management.
Please clarify if that bugfix really had effect on that issue.

![image](https://user-images.githubusercontent.com/69272352/151195213-7194b6fb-7456-4095-87b6-cde2493f4a6d.png)
![image](https://user-images.githubusercontent.com/69272352/151195602-ccdaa3a7-6a86-45c0-8b43-

[2022-01-27 17:30] mikebudzynski commented on #1620
Yes, API Management in general doesn't support the `deprecated` property. We do have plans to implement support for it, but we do not have timelines to share at this moment.

cc: @VitaliyKurokhtin

[2022-01-27 19:51] esoterra opened #1625 "Impossible to generate requests with "%2F""
## Bug description
It is not possible to generate requests containing `%2F`, the singly encoded `/` from the tester UI.

## Reproduction steps
Steps to reproduce the behavior:

1. Click an API Operation
2. Click the "Test" heading
3. Provide an input field (template parameter or query parameter)
   a. A value containing `/`
   b. A value containing `%2F`

The result of test 3.a is that the slash p

[2022-01-28 05:38] Kumar-Ashwin-Hubert commented on #1241
Same here as well @mikebudzynski, the issue is still open after 8 months.

[2022-01-28 13:38] danielmokaomv opened #1628 "The pagination UI is misleading from the usability point of view"
## Change request

This is actually not a bug, but a change request. Many of our portal users reported that they find the UI of the pagination not clear and misleading, for example at the APIs or Products page of the developer portal. Namely, when we look at the pagination UI component, at first it always shows number "1" (meaning it is the first page) and an arrow to navigate to the next page. Th

[2022-01-29 00:14] azaslonov commented on #1628
Hi @danielmokaomv, this component has been reworked in #1544 and #1578. It will be out in managed version in a few days. It doesn't look exactly like that, but the approach is similar.

[2022-01-29 00:14] #1628 closed

[2022-01-29 09:53] UniperMaster commented on #1619
@mikebudzynski I've had a further thought regarding this. Rather than putting all the tags in a single column or the operation page. We could use the API Tags to define custom columns, within our enterprise.  i.e. add an **Owner** tag: John Doe or an **Approver** tag and in the widget define tags names to be include as column entries. You may want to exclude these from the **group by tag**. Hope t

[2022-02-01 08:33] konsta2106 commented on #935
@azaslonov Hello.
I see that PR is closed and the update is included in the last release. Is this already applied to the managed version of the developer portal? I have even tried to republish the portal, but can't see any changes so the issue is still reproducing for us.

[2022-02-01 17:57] restlessankyyy opened #1634 "Graphql Interface integration breaks the build"
## Bug description

Graphql Interface integration breaks build #1634.

## Reproduction steps

1. After cloning and updating the config details, npm start fails with the below error.

[code]

[
<img width="1300" alt="error" src="https://user-images.githubusercontent.com/23651587/152023968-d81a604b-f314-44d4-a3af-8a5c89de4ddd.png">
](url)

A clear and concise description of what you expected to happ

[2022-02-01 18:07] mikebudzynski commented on #935
The release is still rolling out. It may take up to two weeks to have it rolled out to all services.

[2022-02-02 06:21] gcsenthil opened #1636 "Response latency details Missing in new API developer portal"
## Bug description

Response latency missing in new azure API developer portal

## Reproduction steps

1. Go to 'developer portral'
2. select service and then operation
3. Click on try button and send the request
4. Response has the following details, but missing the response latency

HTTP response
HTTP/1.1 200 OK

content-encoding: gzip
content-type: application/json; charset=utf-8
date: Wed, 02

[2022-02-02 06:24] gcsenthil commented on #1636
[
<img width="960" alt="Screenshot_1" src="https://user-images.githubusercontent.com/31710889/152104580-ea8817b8-9137-4816-975f-45330292df67.png">
](url)

[2022-02-02 06:25] gcsenthil commented on #1636
<img width="481" alt="Screenshot_1" src="https://user-images.githubusercontent.com/31710889/152104668-c59cf5fb-2221-4bf7-bb8d-5bde33be0f2b.png">

[2022-02-03 09:16] dersia commented on #290
This is still an issue as of today. Event if I add an policy for the cors headers, there is still the issue, if the API is missing an OPTIONS operation, so the preflight always fails with a 404. I think this issue needs to be reopened.

@mikebudzynski the documentation is also gone and not available anymore.

[2022-02-03 13:28] RuiLoureiro opened #1638 "GraphQL Introspection query returns 403 Forbidden"
## Bug description

When running an introspection query for a GraphQL API hosted on APIM, the response is `403 Forbidden`. Regular queries work.

This happens when using an external API client (I'm using Insomnia), it does not happen on the `Test` tab in the Azure Portal.
When querying my API directly (without going through APIM), the issue is no longer present.

## Reproduction steps

Run the fol

[2022-02-03 19:06] mikebudzynski commented on #290
You can use the CORS proxy feature: https://docs.microsoft.com/en-us/azure/api-management/developer-portal-faq#what-is-the-cors-proxy-feature-and-when-should-i-use-it

[2022-02-03 19:11] mikebudzynski commented on #1634
@restlessankyyy, we're not able to reproduce this issue. You can try cleaning and reinstalling the dependencies. If the issue persists, please reach out to Azure support.

[2022-02-03 19:11] #1634 closed

[2022-02-03 21:02] azaslonov commented on #1638
@RuiLoureiro, seems like App Gateway blocks this request. I have to refer you to MS Support to resolve the issue. This GitHub repository dedicated to API Management Developer portal questions.

[2022-02-03 21:02] #1638 closed

[2022-02-04 10:34] gbajaj1 opened #1642 "Signin delegation stopped working in azure api-m"
The signin-in and sign-up delegation stopped working in the azure api-m. Irrespective of any url specified as the delegation endpoint, the sign-in link takes to the default sign-in page of the portal.

At the same time, the product subscription delegation is also problematic. The product subscription button outputs into error 404 page.

Both of them working fine, yesterday (3-Feb-2022).

## Reprod

[2022-02-04 17:29] azaslonov commented on #1642
Hi @gbajaj1, indeed we've got some changes that broke delegation, could you please send your service name to apimportalfeedback@microsoft.com, we'll rollback your service right away.

[2022-02-04 19:07] mikebudzynski commented on #1642
@gbajaj1, in the future, please make sure to also open an Azure support request for urgent issues and regressions - we may not be able to react to GitHub issues in a timely manner.

[2022-02-07 17:16] JMach1 commented on #1041
New widget was implemented and is ready to use. You can learn more about it [here](https://docs.microsoft.com/en-us/azure/api-management/developer-portal-faq#how-do-i-add-custom-html-to-my-developer-portal).

[2022-02-07 17:16] #1041 closed

[2022-02-07 22:08] ygrik commented on #1642
This issue was fixed

[2022-02-07 22:08] #1642 closed

[2022-02-08 10:10] jakubacek commented on #1338
**I'm not so sure that OAuth specification doesn't tell anything. First according to conventions**
[1.9](https://datatracker.ietf.org/doc/html/rfc6749#section-1.9).  Notational Conventions
   ...
   Unless otherwise noted, all the protocol parameter names and values
   are case sensitive.

**More details about bearer token are in section 7.1 where is example with Bearer and important advice to use

[2022-02-08 17:24] #1456 closed

[2022-02-08 17:24] #997 closed

[2022-02-08 17:25] #1602 closed

[2022-02-08 19:30] mikebudzynski commented on #1456
The support for new properties will be included in the release after 2.13.0.

[2022-02-08 21:49] mikebudzynski commented on #1342
@SSanjeevi, looks like this issue was resolved by the commit above. Let me know if you still run into it.

[2022-02-08 21:49] #1342 closed

[2022-02-08 21:51] mikebudzynski commented on #1536
Duplicate of #1338.

[2022-02-08 21:51] #1536 closed

[2022-02-09 08:54] tdysko-star commented on #1148
Any update on that ? @mikebudzynski

[2022-02-09 17:59] mikebudzynski commented on #1148
No update at the moment - support for the "deprecated" property is on our roadmap, but we don't have an ETA. It first needs to be supported by the API Management service backend during the API creation or editing experience and then we will add support in the developer and Azure portals.

[2022-02-10 11:06] pselvanayagam opened #1645 "Text color of button not changing in Hover state"
When I am trying to change the text color of the button to any color in Hover state, it is always changes to "Text-black".
[
![Bug-Button](https://user-images.githubusercontent.com/99399953/153394589-d56af464-862c-4070-b74d-732fef4e8ccd.JPG)
](url)
## Reproduction steps:
1) Go to APIM Developer portal in edit mode.
2) Go to Styles-->Buttons
3) Edit the button, change the State to Hover and under t

[2022-02-10 11:26] pselvanayagam opened #1646 "Roles switching is not working properly"
In APIM edit mode, when we are on Authenticated role, buttons are working fine and when we switch back to Anonymous ,the buttons are not appearing.

## Reproduction steps

1. Go to API Management Developer portal and open it in developer edit mode.
2. Add button visibility of Anonymous  so that buttons should not be visible in Authenticated mode.
3. Try to switch the roles and see the buttons.

##

[2022-02-10 11:34] pselvanayagam opened #1647 "Maps is not working in APIM Developer portal in edit mode"
## Bug description

When we try to add Map in the edit mode of Developer portal, it shows error "Oops, something went wrong" and map doesn't load.

## Reproduction steps

1. Go to APIM Developer portal in edit mode
2. Try to add Map widget.

## Expected behavior

When we try to add Map in the edit mode of Developer portal , map should load.

## Is your portal managed or self-hosted?

Managed

[2022-02-11 14:21] Andrei-Predoiu opened #1649 "Test console and GraphQL API reference don't load if there is no hostname for a self-hosted gateway"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2022-02-11 18:27] mikebudzynski commented on #1649
@Andrei-Predoiu, is this affecting only GraphQL APIs or REST APIs as well?

[2022-02-11 19:01] mikebudzynski commented on #1649
Yes, it's a known problem that the console doesn't load when the self-hosted gateways don't have hostnames specified. We plan to implement a fix next week and potentially roll it out with the next developer portal release. Can you clarify why your gateway doesn't have a hostname?

[2022-02-11 21:44] #450 closed

[2022-02-14 09:26] bengimblett opened #1653 "Generate and Capture v3 scripts when no customer media present"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2022-02-14 15:52] jdm4344 commented on #1551
Updated issue as of release 2.13.0. The widgets can now be expanded with keyboard controls, but still cannot be minimized. Added details on missing name attribute on the widget's button element, including screenshots.

[2022-02-14 17:37] azaslonov commented on #1653
Indeed. We'll fix this.

[2022-02-14 17:38] #1646 closed

[2022-02-15 13:54] frankdewaelle opened #1655 "API Portal is slow (API with 100+ methods) are there any ways to enhance performance"
API Portal is slow (API with 100+ methods) are there any ways to enhance performance

Check https://apipp.descartes.com/api-details#api=pixi (selfexplanatory)

[2022-02-15 18:47] azaslonov commented on #1655
@frankdewaelle, 100+ operations should not affect the performance, I guess something else is going on with your service. I have to send you to MS Support, so they could investigate it further.

[2022-02-15 18:47] #1655 closed

[2022-02-16 10:36] nosvalds opened #1656 "Try It Code Sample for Curl missing space before -H headers"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2022-02-16 18:08] frankdewaelle commented on #883
Was this issue solved?
I seem to experience similar things...

![image](https://user-images.githubusercontent.com/65818117/15432
![401](https://user-images.githubusercontent.com/65818117/154328387-4396b3a9-4003-443d-926e-5ffa39c1a8e2.png)
8224-e94da189-4960-4df8-9873-9e8b6fcac58d.png)

[2022-02-16 18:10] frankdewaelle commented on #883
![401_2](https://user-images.githubusercontent.com/65818117/154328678-01761445-df48-43bd-92dd-83826dd943a4.png)

[2022-02-16 18:15] frankdewaelle commented on #1655
The number of operations is 482, and the problems are with the "API Details" page
![401](https://user-images.githubusercontent.com/65818117/154329462-94ed96f3-bfe4-4636-ac73-138d1ce074ea.png)

[2022-02-16 22:29] azaslonov commented on #883
Now, if the token got expired, a user sees the message and gets redirected to `/signin` page. If this doesn't happen right now, probably the portal hasn't been published in a while. Can you please confirm that?

[2022-02-17 07:44] frankdewaelle commented on #883
This is all happening with "guest" access (unauthenticated).

mvg,
Frank.

On Wed, 16 Feb 2022 at 23:30, Alexander Zaslonov ***@***.***>
wrote:

[2022-02-17 08:12] dersia commented on #290
@mikebudzynski sounds great, where can I find that option? Either I am not seeing it or it's hidden really well :)

[2022-02-17 14:01] matejskubic opened #1658 "Apply liquid transformation from variable"
In the case where _liquid_ transformation is saved outside APIM we can't apply transformation with `<set-body template="liquid">`

## Bug description

Value from variable is not treated as liquid template.

## Reproduction steps

### Create API GET wit this policy
[code]
## Actual behavior
[code]

## Expected behavior
[code]

Liquid template should be applied to `<set-body template="liquid">` as t

[2022-02-17 14:26] s8mathur commented on #1647
Was going to open the same bug. Map is empty. A minimum competent map widget should have the following functionality, IMO:
1. Loads out of the box.
2. Has a default map marker preconfigured as a appropriate aspect ration and bounding box SVG image. (currently you have pick an image explicitly from image gallery which is a terrible idea for default functionality)
3. Allows picking of atleast 3 map

[2022-02-17 16:54] frankdewaelle opened #1659 "APIM Dev Portal creates a schema (under the covers) that slows down loading API details"
Hi,

it seems that APIM is creating a schema file with all "definitions" (in my case 620d1f4b519e23080cd4e8c4) that takes ages to load.
And it is (trying to get it) loaded every time an operation is selected.
![schema2](https://user-images.githubusercontent.com/65818117/154531076-6b59eb98-a049-44dd-89ee-2814fd2e1b42.jpg)
![schema](https://user-images.githubusercontent.com/65818117/154531085-347d0e

[2022-02-17 17:23] mikebudzynski commented on #290
You have to click on the API operation details widget in the admin mode and select the "Pencil" icon to see the pop-up with the options.

[2022-02-18 08:40] dersia commented on #290
@mikebudzynski wow, that was hard to find, but it does work, thanks! 😉

[2022-02-18 10:02] nosvalds opened #1660 "No Error or Warning Displayed in Sign Up page when user has outstanding activation email"
## Bug description

When a user has used the Sign Up form, but hasn't received or clicked the activation link in the activation email. If they try to Sign Up again, there is no error displayed to the user in the Sign Up form. It just looks like the Captcha is broken to them.

## Reproduction steps

1. Go to Sign up form
2. Fill out fields
3. Click Sign Up
4. Don't click the activation link in the

[2022-02-18 10:18] frankdewaelle commented on #1659
![image](https://user-images.githubusercontent.com/65818117/154663474-6d787364-305a-4821-9956-b45f1bf3f92d.png)

[2022-02-18 10:19] pselvanayagam opened #1661 "After Logging in using ADB2C, not redirecting to the custom reply url mentioned in the AD B2C button."
## Bug description

When we Sign in using ADB2C from the Developer portal, we are not getting redirecting to custom reply url mentioned in the AD B2C button. Its always redirecting to the Home page in case of AD B2C.

## Reproduction steps

1. Go to APIM Developer Portal edit mode
2. Click on edit in AD B2C button and add a custom reply url .
3. Login through AD B2C
4. See the redirected page and

[2022-02-18 10:26] Varun270489 opened #1662 "Try out - Does not load Subscription key & Add new parameter throws error"
Try out - Does not load Subscription key & Add new parameter throws error

## Bug description

API List -> Navigate to Operation details page and upon opening try out button - Screen does not load with Subscription keys event though products with subscription exists.

## Reproduction steps

1. Go to Api List -> Click on any API -> Opens operation detail s ->
2. Click on Try out button -> Authoriza

[2022-02-18 22:09] #1658 closed

[2022-02-19 16:29] gcsenthil commented on #1636
thank you for taking action on my request.

[2022-02-21 09:10] santo2 opened #1663 "Copy/Paste new developer portal to other APIM instance"
Hi,

APIM allows us to copy paste the full APIM data to another instance, the old portal is included here, but the new one doesn't seem to be in this repository anymore. How do you suggest doing staged deployments?
We copied the resources from our TEST to our ACC and then PROD environment for api management deployments.

[2022-02-21 09:11] santo2 commented on #1663
I found this question from more than a year ago and it wasn't answerd either.
https://feedback.azure.com/d365community/idea/5a5395f6-0025-ec11-b6e6-000d3a4f0858

[2022-02-21 14:19] nosvalds commented on #1660
Didn't see this ticket before: https://github.com/Azure/api-management-developer-portal/issues/1448

[2022-02-21 22:05] ncroad opened #1665 "Passing tags to filter by as URL parameters for the list of APIs and list of API operations widgets is not working"
Are we able to confirm that this functionality is still working as expected? If the appropriate thing is to raise a defect or issue, please let me know.
When you add a filter manually on the api list page, it works fine. If you refresh the page, or navigate to the page with the tag filter it doesn't filter the list 100% of the time, actually it is very hard to get it to work.

We had this previous

[2022-02-22 03:09] ncroad commented on #1665
Further to this, when we use the API Tiles control instead of the API List control, we don't even see the second request to get the list of apis mentioned above with the tags parameter included.

[2022-02-23 19:18] #1649 closed

[2022-02-24 09:32] RickOttenNS opened #1667 "Managed Portal: Access contextual data from other widgets"
We would like to access dynamic, contextual data from other, pre-defined widgets in the Managed portal. For example: the user navigates to a specific product. We would then like use the description or ID for said product in one of our own Text Block or custom HTML widgets on the same page, just as we could in the deprecated dev portal.

Is this possible already? If so: is this documented anywhere?

[2022-02-24 13:25] frankdewaelle commented on #1659
It is not really workable like this way. We cannot release this to customers.

[2022-02-24 19:23] #1596 closed

[2022-02-25 16:56] azaslonov commented on #1662
Hi @Varun270489, can you please send your service name to apimportalfeedback@microsoft.com. We'll take it from there.

[2022-02-25 16:56] #1662 closed

[2022-02-25 18:49] mikebudzynski commented on #1663
Thorough documentation is here: https://docs.microsoft.com/en-us/azure/api-management/automate-portal-deployments

[2022-02-25 18:52] mikebudzynski commented on #1659
Feedback taken, I agree that 1+ min load times are not acceptable. We need to evaluate our options for optimizations.

[2022-02-25 21:47] mikebudzynski commented on #1665
@ncroad, I am not able to reproduce the issue. When I visit my developer portal at `https://<my-apim-service-name>.developer.azure-api.net/apis#tags=testtag` and refresh the page, I always get a list of APIs with `testtag`. Can you provide more precise reproduction steps? If you aren't able to do so, please contact Azure support for assistance and they will troubleshoot the issue.

[2022-02-26 07:21] ncroad commented on #1665
@mikebudzynski , I've just sent an email with the steps to reproduce and recorded it using Problem Step Recorder. Hopefully that helps recreate it.

[2022-02-28 10:47] patidar-jaishree opened #1672 "API Details Page: Redirection to API Details page after login, unable to redirect to specific endpoint details page"
## Bug description

Redirection to API Details page after login, unable to redirect to specific endpoint details page.
URL - https://\<ServiceName\>.developer.azure-api.net/api-details#api=echo-api&operation=remove-resource
After Login redirects to - https://\<ServiceName\>.developer.azure-api.net/api-details
<img width="1509" alt="image" src="https://user-images.githubusercontent.com/41952531/156

[2022-02-28 12:38] patidar-jaishree opened #1673 "Side PTemplate parameter name length (more than 20 chars) not getting displayed completely on UI"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2022-02-28 12:44] patidar-jaishree opened #1674 "Try out Panel : Template parameter name length> 20 chars is not getting displayed completely on UI"
## Bug description

Try out Panel : Template parameter name length> 20 chars is not getting displayed completely on UI.

MacOS + Chrome
![image](https://user-images.githubusercontent.com/41952531/155985002-c7efe107-e5da-463b-96c2-df820d2a2aab.png)

## Reproduction steps

1. Publish an endpoint with template parameter name length>20 (Eg. LongNameTemplateParameterName)
2. Go to the endpoint details

[2022-02-28 12:44] #1673 closed

[2022-03-01 14:50] phfrc opened #1677 "CI/CD: Developer portal content synchronicity in different environments"
## Bug description

Hey 😄

Working on a **self-hosted** version of the Azure Developer Portal, I've been trying to create a workflow to deploy the project on different testing environments. I'm relying on **Github Actions** for this.

My workflow logic [(main.yml)](https://github.com/BeMoTech/api-management-developer-portal/blob/develop/.github/workflows/main.yml) would be to:
- Generate /designer

[2022-03-01 15:55] Alejo677 opened #1678 "Is Oauth 2.0 ROPC implemented in the new developer portal?"
I’m try to implement a Oauth2 ROPC flow  in the new developer portal.

When I add my user and password I’m getting the next error in green:

![image](https://user-images.githubusercontent.com/46354569/156201095-02149d12-8fe7-4f04-8e97-f358442474de.png)

The next images show my configuration in the developer portal:

![image](https://user-images.githubusercontent.com/46354569/156201168-7bcdfa1f-2ed

[2022-03-03 19:53] #674 closed

[2022-03-04 01:41] #1665 closed

[2022-03-04 01:42] azaslonov commented on #1665
The fix merged. We'll start a new release some time next week.

[2022-03-07 07:14] a2741890 opened #1682 "SignIn&SignUp delegation accessToken"
I am using Managed Dev Portal and delegating sign-in & sign-up
1. Click sign-in at home page and successfully logged in at delegated website and return to the home page.
2. Got accessToken and returnUrl in Session storage.
3. Click **Products** in developer portal, it seems to call sign-in again.

If I write the code to let it sign in again to get SAS token...
4. Return to Dev portal with sso-sign

[2022-03-07 21:33] mikebudzynski commented on #1677
Yes, you can use the `migrate.js` script to copy content (pages, styling, layouts etc.) from a source API Management service to a destination API Management service. After you execute the script, the content should appear in your destination portal's administrative panel. Publish your destination portal to have the content also reflected in your published portal. The script works for both managed

[2022-03-07 21:33] #1677 closed

[2022-03-08 11:34] knutwannheden opened #1683 "OpenAPI schema field `nullable` not imported correctly"
## Bug description

We have APIs defined with OpenAPI which we are importing into the Azure API Management. When the APIs define schemas with `nullable: false` the schemas don't appear to be imported correctly and are rendered very strangely in the developer portal.

## Reproduction steps

1. Define an API using OpenAPI 3.0 with a schema having `nullable: false` (see example below)
2. Import API i

[2022-03-08 12:16] knutwannheden commented on #1683
FWIW, when removing the `nullable: false` field the UI looks much better and as you can see the `id` property is also shown correctly:
![image](https://user-images.githubusercontent.com/408765/157236523-8f4f585b-c7df-4330-b232-a45d04efdebb.png)

[2022-03-08 18:00] madhancock opened #1684 "Authorization Details - Question/Feedback"
A relatively recent section added to the portal is the Authorization section. This is causing problems with our implementation and it seems like the only solution for us is to remove the Try It functionality (by removing the auth method from the APIs).

When googling this issue I did find someone else that has a problem with it so here's a link to that just for reference/clarity: https://stackover

[2022-03-08 22:58] mikebudzynski commented on #1678
@Alejo677, ROPC is now supported in the developer portal. I suggest that you reach out to Azure support for assistance in configuring the ROPC flow.

[2022-03-08 22:58] #1678 closed

[2022-03-08 22:59] mikebudzynski commented on #1682
@[a2741890](https://github.com/a2741890), we couldn't reproduce the issue on our side. I suggest that you contact Azure support to troubleshoot the problem.

[2022-03-08 22:59] #1682 closed, assigned to nobody

[2022-03-08 23:40] mikebudzynski commented on #1684
@[madhancock](https://github.com/madhancock), thanks for describing the issue in detail. We've heard similar feedback about the new authorization section and we're now considering the options to solve your and other customers' issues.

1. Is it accurate to say that in your case the configured authorization server is specific to the test console only and not the actual API usage? When you assign an

[2022-03-09 08:51] jonasanker opened #1686 "AAD is not configured message shown on the SignUp page when AAD is configured"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2022-03-09 08:57] jonasanker commented on #1686
It seems a similar fix for the Sign In page was made in #1621 but was not applied on the SignUp page.

My typescript/knockout-js is sparse but I suspect this might relate to the type comparison error in [signupSocial.html](https://github.com/Azure/api-management-developer-portal/blob/master/src/components/users/signup-social/ko/signupSocial.html):
[code]
where `mode` is an Observable and not a str

[2022-03-09 23:20] jonasanker commented on #1686
@azaslonov I have added a suggestion for fixing the bug in #1687 which you can take in as you desire 🙂

[2022-03-11 12:08] LeHaine opened #1689 "Development Portal is not using the latest AAD B2C identity config settings after updating in the identities blade"
## Bug description

We have an APIM instance that was initially set up to use a built in user flow in AAD B2C under the identities blade. When we update any of the policies field in the identity config, for our instance the sign-up and the sign-in policies, to a new custom policy from B2C, the sign in page of the development portal continues to use the old config settings. We see that happening by

[2022-03-11 20:53] mikebudzynski commented on #1689
@LeHaine, have you republished your developer portal after changing the identity provider configuration?

[2022-03-12 02:05] LeHaine commented on #1689
@mikebudzynski I did not. I went ahead and republished and that worked. Wasn't aware that updating those values required a republish. But it all works now. Thanks for pointing that out.

[2022-03-12 02:05] #1689 closed

[2022-03-14 21:18] jkiseeva opened #1690 "Cannot upload or see any images loaded by others in Developer Portal media library"
I have the managed version of the developer portal and having issues with being able to upload background images from my local machine to the media library of the portal. Please see screenshot below. None of the images uploaded by me or by my colleagues working on customizing the developer portal are visible to me, even after my colleagues have saved and published the portal. This happens whether