[2021-01-04 19:13] #1088 closed

[2021-01-04 19:45] adamstruck opened #1107 "Collapsible menu content alignment bug"
While customizing the menu for smaller factors I set the "content alignment".  Now the menu items are always shown regardless of device size.  So now for smaller forms, the menu is shown and the menu button is clickable. When this button is pressed the menu disappears and then reappears. Additionally, while the button is "there" and can be clicked,  it is invisible (possibly related to https://git

[2021-01-04 20:51] mikebudzynski commented on #787
No updates at this moment. Is it an urgent issue for you?

[2021-01-04 20:53] mikebudzynski commented on #1098
@david-schwartz-by On top of what @azaslonov mentioned, we also welcome contributions to the portal's codebase - we will consider incorporating every community-contributed widget in the managed portal.

[2021-01-04 21:36] mikebudzynski commented on #988
@MortenKartevoll At this moment there is no ETA. Is this an urgent issue for you?

[2021-01-04 21:38] mikebudzynski commented on #1079
@AjaySewradj I didn't say v3 scripts use ARM templates. They use ARM API as opposed to direct access API that previous scripts used. You can learn more about direct access API here: https://docs.microsoft.com//rest/api/apimanagement/apimanagementrest/api-management-rest

[2021-01-04 21:40] mikebudzynski commented on #1100
Thanks for opening the issue. At this moment it's not possible to remove the "No auth" option.

[2021-01-04 21:53] mikebudzynski commented on #1102
Thanks for reporting the issue, I was able to reproduce it.

[2021-01-04 21:56] mikebudzynski commented on #1103
@nluff80 Are you still experiencing the issue? Is it still limited to one region?

[2021-01-04 22:22] MortenKartevoll commented on #988
I am in a position where it is bloating the API documentation of our developer portal so it is important to me:) That said, it is not crucial for our documentation since it can be pushed to the bottom of the page.

I guess what I am saying is yes, but I understand that there are probably more important issues!

[2021-01-04 22:43] mikebudzynski commented on #208
@jf781 Have you tried republishing your portal?

[2021-01-04 22:46] mikebudzynski commented on #1105
@handersendk Thanks for reporting the issue. This repository is limited to the developer portal, I suggest that you open an Azure support request.

[2021-01-04 22:46] #1105 closed

[2021-01-04 22:54] mikebudzynski commented on #1099
@dhandapanitrimble Thanks for reporting the issue, I was able to reproduce the problem.

[2021-01-04 22:56] mikebudzynski commented on #1092
Yes, it should get uploaded if you configure the script correctly. Please, open an Azure support request if you need further assistance.

[2021-01-04 22:56] #1092 closed

[2021-01-04 23:24] azaslonov commented on #1107
Hi Adam, do you have a reproduction somewhere? I'm failing to visualize it. If can't be shared publicly, can you please send a link to apimportalfeedback@microsoft.com?

[2021-01-05 00:35] mikebudzynski commented on #529
@BendicoE, glad to hear that! We do not have this feature planned for the next 1-2 months.

[2021-01-05 00:38] mikebudzynski commented on #1106
Thanks for opening the feature request. You may consider using URL shortening services to temporarily mitigate your problem.

[2021-01-05 01:17] adamstruck commented on #1107
Please visit https://acmeaom-dev.developer.azure-api.net/ to see the issue.  All that was changed was the "content alignment" for the collapsible menu. Once this property is set the navigation menus are visible regardless of screen size. The only fix I have found is to delete the collapsible menu and recreate it.

Also note the "invisible" button for expanding the navigation menu:

![image](https:

[2021-01-06 12:29] nluff80 commented on #1103
Issue resolved after publishing the latest version of the Portal.

[2021-01-06 12:29] #1103 closed

[2021-01-06 18:23] lungosta commented on #388
our APIM is hosted in West US and I'm still able to browse our developer portal over HTTP.

@azaslonov do you know when it will be enforced in West US?

[2021-01-06 18:37] lungosta opened #1109 "HTTPS is not enforced in Developer Portal"
I want to force HTTPS on the Developer Portal but there are no configuration settings for that.
By default, HTTPS is used by the browser but when I change it manually in the URL and switch to HTTP I don't have a redirection to HTTPS which is what I'm looking for.

Reproduction steps
Go to the developer portal
Change the HTTPS to HTTP and refresh.

[2021-01-07 04:40] Vinoth-44 opened #1110 "bootstrap cdn is not included while application is running in server"
## Bug description

Bootstrap CDN library is added in local while we add cdn link in page.html (src\themes\website\assets\page.html) But when we deploy the same code in DEV server, Bootstrap CDN library is not loaded in sources.

## Reproduction steps

1. Go to page.html
2. Add bootstrap CDN links in the header
3. bootstrap resources are loading in local
4. But the same is not loading in dev serve

[2021-01-07 06:51] jack-collins94 commented on #1068
Hi @azaslonov. Is there an update on this issue as we cannot pass our security audit without it.

Thanks

[2021-01-07 07:59] AnRei123 commented on #1106
Hi Mike

Wish you a happy and healthy New Year!

Could you give me some more details on how to utilize URL shortening services? I am not familiar with this approach and do not have any clue about it. Is it an APIM setting? Would it be a special portal, Azure or Web service? Does this also apply for the managed approach and why does this service would temporary mitigate the problem?

Regards,
Angel

[2021-01-07 13:40] devedse commented on #1094
@azaslonov, when retesting the issue today we suddenly got a different error about a redirect uri not being correct. After fixing this everything now works.

[2021-01-07 20:11] azaslonov commented on #1109
Hi @lungosta, it is actually enforced (check this one for example http://alzasloneuap05.developer.azure-api.net/), unless you self-host the portal.

I'm closing the issue for now, if you think this is a problem with managed service, please raise this question with MS Support, they will help you out.

[2021-01-07 20:11] #1109 closed

[2021-01-07 20:13] azaslonov commented on #1107
Hi Adam, yep, I reproduced the issue. We'll fix this.

[2021-01-07 20:31] azaslonov commented on #1110
Hi @Vinoth-44, yep this is because the template used for publishing is different. Moreover, we're planning to remove page.html template and completely switch to the generation of the document through the number of plugins. In fact, they are already in use for place different artifacts into the page (i.e. JSON-LD structured data).

There is an interface that allows you to inject things into publish

[2021-01-07 20:31] #1110 closed

[2021-01-07 20:39] azaslonov commented on #1094
Hi @devedse, sure. For the investigation, we would still need to look into network traces. So, my previous request stands.

[2021-01-07 20:42] devedse commented on #1094
I understand. I'll work with my colleague to see what we get.

[2021-01-07 20:52] azaslonov commented on #1095
Hi @maheshkumagali, please send us your service name to apimportalfeedback@microsoft.com and mention this issue, we'll take it from there. Thanks.

[2021-01-07 20:52] #1095 closed

[2021-01-07 21:12] adamstruck commented on #787
This issue affects customer experience, but doesn't block anything on the technical side for us. So no, it is not urgent.

[2021-01-08 08:45] AnRei123 opened #1111 "Editor mode session expiration"
## Bug description/Reproduction steps

After some time, about 15 to 20 minutes, the session of the DevPortal in **editor mode** already expires. To seriously work on pages and contents, a session would need to be at least be 2 hours.

After the session has expired, an associated warning message pops up AND the content of the screen gets white.
After the screen got white, you need to close and reop

[2021-01-08 18:53] mikebudzynski commented on #1111
@AnRei123, we're planning to release a fix for this problem with the next portal release (in a few weeks).

[2021-01-09 02:08] azaslonov commented on #1111
@AnRei123, turned out that we can push it in next week's release.

[2021-01-09 12:15] AnRei123 commented on #1111
super, that´s great new. Many thanks in advance.

[2021-01-11 15:41] shanemcnallie commented on #208
I have republished the portal and am still getting the message, "{"error":"invalid_request","error_description":"The authentication request has an invalid 'state' parameter."}"

[2021-01-11 19:46] azaslonov commented on #208
Hi @shanemcnallie, can you please capture the request URL (with all the parameters the console generates) to the authentication endpoint (or even better capture network logs of the whole auth session), and send it to apimportalfeedback@microsoft.com, referencing this issue?

[2021-01-12 03:44] apaulro commented on #173
Any updates on this?

[2021-01-12 09:21] ZarTrox opened #1114 "[Feature Request] Numbered List to continue after interruption"
## Bug description

When working with numbered lists it is sometimes necessary to interrupt it with e.g. an image. So it would be beneficial if there could be an option to let it continue after this interruption in another text block. (Or to be able to insert an element into an other element - here: an image into a text segment)

## Is your portal managed or self-hosted?

Managed

## Additional co

[2021-01-12 13:36] AnRei123 commented on #1114
**Intended Behavior:**
Configure Text-widget so that a numbered list will be continued according to the last numbered list of the previous text widget irrespective if its in a different or in the same block/section.

[2021-01-12 18:25] #787 closed

[2021-01-13 01:44] mikebudzynski commented on #173
Reopening this issue, since we're now tracking feature requests on GitHub. There are no updates.

[2021-01-14 21:15] #693 closed

[2021-01-15 02:16] #1019 closed

[2021-01-15 10:29] ThangLuuQuoc opened #1118 "Can't config to remove prefix external redis cache and some random prefix byte can't show in cache value"
Please follow the link to clear for this issue
https://docs.microsoft.com/en-us/answers/questions/127711/possible-cache-set-value-issue-with-redis-and-api.html?childToView=232125#answer-232125

[2021-01-15 12:46] nealsimmons74 opened #1119 "Tabs not working in displaying additional Representations"
## Bug description

When you have multiple representation, they are display in the portal to the user as Tabs allowing the user to switch between the to see the example payloads. This function work in the old version of the portal, however in the new version clicking the tab does not display the content of the tab.

## Expected behavior

When a user clicks on a tab the content of the tabs is displ

[2021-01-15 19:10] mikebudzynski commented on #1118
@ThangLuuQuoc, this item isn't related to developer portal. Please, request assistance from Azure support.

[2021-01-15 19:10] #1118 closed

[2021-01-18 07:59] ZarTrox opened #1120 "Menu-widget setting disabling whole page"
## Bug description

"Show page headings" setting in the menu item is disabling a page and furthermore preventing to add this element to the page.

The first encounter with the bug was when one page wasn't loading in the editor mode. I would just get the error message and a blank screen. One could not access this page at all. It was impossible to find a solution in the editor itself (because the pa

[2021-01-18 22:18] watson20201 opened #1121 "API Issue Widget"
The API Management Rest API has support to add/update API Issues [https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/apiissue](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/apiissue)

However is there a widget to display this information in a custom page as the only one available is the History widget which displays the changelog?

[2021-01-19 08:05] smithimage opened #1122 "New subscription activated notification email of sent with incorrect Developer Portal Link"
After migrating to the new portal UI the "New subscription activated" template points at the old portal URL. Other tempaltes seemt fine 🤔 ?

[2021-01-19 09:06] ZarTrox opened #1123 "Widget setting gets reset and is not applied"
## Bug description

When creating a new link with the Setting "Link opens in" set to "New Window" it resets most of the time. (See Gif) In the end it still opens in the same window.
On a side note: Sometimes it even resets the link target, but this is not reproduceable.

## Expected behavior

If something is set and saved it should not be reset.

## Is your portal managed or self-hosted?

Managed

[2021-01-19 12:42] robofan69 commented on #396
Hi,
i have the same issue and I didn't figure out how to signup a new user. When not existing it can't signin when then the user is clicking to the signup page it's redirected to the signin page. How can I make the user to signup.

It the solution that i use in AzureB2C a signin/signup user flow instead of using a seperate sign in and sign up user profile?

Thank you for your support

[2021-01-20 07:31] abusse-interhyp commented on #669
@mikebudzynski @azaslonov
Hi Guys,
any update on this?

Actually it is a showstopper for us at the moment and brings up too many questions from our clients, because so many DTOs are not shown in the Api description page.

Just to clarify, will it be possible to have some functionality similar to the following screenshots?

![image](https://user-images.githubusercontent.com/64847387/105141308-3eafd

[2021-01-20 18:54] mikebudzynski commented on #396
@robofan69 Please, reach out to Azure support for assistance.

[2021-01-20 19:07] mikebudzynski commented on #1122
@smithimage, thanks for reporting the issue. We will make the following changes to solve the problem:
1. Dynamically change portal URL variable value based on the portal used.
2. Change the default email template going forward (remove links to issues, applications etc.).
3. Prompt API providers who use the new portal and the default template to change the email template to new default.

[2021-01-20 19:12] mikebudzynski commented on #1121
This API operation has been deprecated alongside the legacy portal. We have plans to create a new widget for managing Issues, which most likely will integrate with GitHub.

[2021-01-20 19:12] #1121 closed

[2021-01-21 09:28] nealsimmons74 commented on #1119
We  have Restful APIs, where i am adding the the callback response JSON as a representment example to the 202 which also has it own representment json
![image](https://user-images.githubusercontent.com/76526103/105330678-7aff3880-5bca-11eb-87d3-4ebe272f6e10.png)

when you go to the portal it displays the tabs to display the two json representments however you can't click on the second tab. In the

[2021-01-21 12:43] wi5nia opened #1124 "Developer portal demo"
Hi

do you have some code or a running demo of a very customized developer portal? Need for showcase purposes.

[2021-01-21 17:42] francismijares opened #1125 "CORS proxy for the interactive console"
Will hosting our new developer portal in the same domain as APIM resolve CORS issues? (e.g. will not require CORS policies)

We already have a lot of APIs deployed that do not have the <base> policy set and it will be difficult to enforce a CORS policy unless all APIs have added the <base> element.

Looking for an alternate solution for deploying the self-hosted developer portal so that it can be

[2021-01-21 18:51] azaslonov commented on #1124
Hi @wi5nia, yes, here's a couple of dev portals:
https://developers.cemexgo.com/
https://sbx-developer.bentley.com/

...and a couple of others built with the same engine:
https://hostmeapp.com/
https://restik-1.papersites.io/

[2021-01-21 18:51] #1124 closed

[2021-01-21 21:16] azaslonov commented on #610
UPDATE: looks like we're missing backend support for this before enabling UI. Our engineers are working on it already.

[2021-01-22 01:12] mikebudzynski commented on #1050
@kieranross89 I am closing this issue due to inactivity. Let me know if you're still facing problems.

[2021-01-22 01:12] #1050 closed

[2021-01-22 10:40] SteppingRazor commented on #1079
Do you guys know when publish arm api endpoint (the one that is used in scripts.v3) will be available?

[2021-01-22 19:00] mikebudzynski commented on #1079
In March.

[2021-01-22 19:04] mikebudzynski commented on #1119
We'll investigate the issue.

[2021-01-22 21:51] #1072 closed

[2021-01-22 22:42] #1119 closed

[2021-01-25 19:02] azaslonov commented on #1125
Hi @francismijares, just using a custom hostname won't resolve the CORS issue. Also, you don't need to define CORS policy on every API, you can define a global (All APIs-level) policy instead.

Another thing that we're shipping in one of the next releases is the CORS proxy that will be part of the portal backend. Switching to would allow you not to define CORS policy at all.

[2021-01-25 21:51] rvila7 opened #1128 "Does the self hosted portal version support the visual editor in the same way the hosted version does?"
Hello and thank you in advance for your support.

I have a self hosted portal and would like to edit the content with the visual editor in the self hosted endpoint in the Azure Storage Account. I can't seem to be able to activate the admin UI in the self hosted url to edit the content. Is this possible? Or am I only able to edit the content in the visual editor locally?

I still am able to access

[2021-01-26 02:11] KellyBennett commented on #480
@azaslonov
I understand that OP is using AAD B2C, but this problem is exactly the same in a non B2C AAD scenario. Please re-open this issue.

I have this very same issue in an in-house example where I want to use my company's organizational directory only.

Consider that I'm an employee at a company, and I'm using the developer portal to see our company's APIs, I try to sign in with my Azure Activ

[2021-01-26 02:26] azaslonov commented on #480
@KellyBennett, first of users see "Complete sign up" screen only when there is missing information in `id_token`. Sign-up logic expects to see *email*, *first name* and *last name*; and, if it's all there, it just creates account without showing that screen.

When you enable AAD B2C and, at the same time, disable Basic authentication, the issue `User with specified identity already exists` should

[2021-01-26 18:31] azaslonov commented on #1128
Hi @rvila7, managed version of the portal has a backend that does some of the additional things like authentication, routing, etc. At some point, we're going to open source it as well, but for now what you can do is host the designer in separate blob storage, using `/signin-sso` resource for authentication (some details are [here](https://github.com/Azure/api-management-developer-portal/wiki/Singl

[2021-01-26 18:31] #1128 closed

[2021-01-27 11:40] mattosaurus opened #1130 "Disable user sign-up"
Hi,

We are using the API Management Portal to allow clients to explore APIs we are hosting for them. These APIs return client specific data and access to the portal is managed by AAD, users are added by us authorising them in AAD and there should be absolutly no option for external users to be able to sign up and access these APIs.

I have managed to disable the sign up functionality in the devel

[2021-01-27 16:42] jpgough commented on #1130
+1, this feature is something we were about to ask for too.

[2021-01-27 20:02] KellyBennett commented on #480
@azaslonov ~Two days ago I was seeing this behavior with just AAD enabled (not AAD B2C), however I'm mysteriously not able to reproduce it anymore, and everything is working as you describe 🤷

Login flow is working good now. 👍

Thanks for the response!

[2021-01-27 20:05] azaslonov commented on #480
Hi @KellyBennett, thanks for confirmation. I'm glad it worked out for you.

[2021-01-27 20:59] mikebudzynski commented on #1130
To disable sign-up, you need to remove all identity providers:
![image](https://user-images.githubusercontent.com/40186513/106053147-4e9e5d00-609f-11eb-8782-ecb39b895398.png)

After you do that, you can also remove the sign-up pages from the developer portal (because they won't work).

I'll change this Issue to a documentation item, instead of a feature request.

[2021-01-27 22:45] watson20201 opened #1131 "Newline character not rendered in APIM Dev Portal"
Adding a newline character '\n' in the description field of the API specification as shown below does not get rendered as a newline in the Dev Portal.

Below is the raw text format of the description field. with the newline character highlighted.
![image](https://user-images.githubusercontent.com/62035456/106063647-65a38480-615d-11eb-8713-5191ad2b6885.png)

In the APIM Management portal it is show

[2021-01-27 22:55] watson20201 opened #1132 "Option to import static html content into APIM Dev Portal"
Is there a way to update static page content for custom pages created in the APIM Dev Portal?

An example is we have a custom Terms & Conditions page that was created in the APIM Developer portal.
![image](https://user-images.githubusercontent.com/62035456/106064877-56bdd180-615f-11eb-9f36-52d22fcea398.png)

Now instead of updating the content of this page through the Developer Portal, is there a

[2021-01-27 23:02] azaslonov commented on #1132
Hi @watson20201, yes, to manipulate the content you can use content management API. Please have a look [at this article](https://github.com/Azure/api-management-developer-portal/wiki/Content-management-API).

Please let me know if you need help with that. Since the content is stored in the form of JSON, you may need a tool to convert HTML or Markdown into it, and I can assist you better if you giv

[2021-01-27 23:05] azaslonov commented on #1131
Hi @watson20201, this field accepts Markdown/HTML (which of course we failed to mention in UI), so for the new line, you can try out methods [described here](https://gist.github.com/shaunlebron/746476e6e7a4d698b373).

Hope that helps.

[2021-01-27 23:05] #1131 closed

[2021-01-27 23:12] mikebudzynski commented on #1132
The latest API documentation is available at https://docs.microsoft.com/en-us/rest/api/apimanagement/2020-06-01-preview/contenttype/listbyservice

[2021-01-27 23:24] aizefler opened #1133 "Error add new pages "Oops, something went wrong. We are unable to complete your operation this time. Please try again.""
## Bug description

When trying to create new pages in the new Developer Portal, the error described in the title of this issue occurs.

The procedure mentioned in the documentation was followed, the RBAC was created and granted access via Powershell.

Import-Module Az
Connect-AzAccount
$contributorRole = Get-AzRoleDefinition "API Management Service Contributor"
$customRole = $contributorRole
$cus

[2021-01-28 10:28] mattosaurus commented on #1130
Is this the accepted path to remove sign-up functionality then?

1. Remove identity provider in Azure portal
2. Remove page links and buttons in developer portal
3. Delete pages using the API

As far as I can tell this works but it's not the most intuative process and although offical documentation around it would be good, it feels like this is a relativly common use case that would benifit from a

[2021-01-28 14:27] mbogaard-nutreco opened #1134 "Publish not working anymore after export/import of developer portal"
We're trying to export/import the Developer Portal from our development environment into an acceptance environment. This way we can do the needed changes in 1 environment and move everything nicely via pipelines to a next phase. Although this is not directly supported in the Developer Portal, there are several tools available for this purpose. I've looked at a few (see below) but all of them seem

[2021-01-28 16:04] verschaevesiebe opened #1135 "api-management gitignore + backends ARM"
Hi 👋🏽

We have a client where we have 3 environments (DEV, TST, PROD).
All API Management resources are using the Standard Tier. (Git repository support)

We noticed that whenever we add a .gitignore file to the repository we are not getting it back when pulling nor are the files we ignored delete from the repository.

The reason why we want to apply this is that we want to sync the Backends over

[2021-01-28 19:02] azaslonov commented on #1134
Hi @mbogaard-nutreco, can you please your service name(s) to apimportalfeedback@microsoft.com (and mention this issue, we'll take it from there.

[2021-01-28 19:02] #1134 closed

[2021-01-28 19:11] azaslonov commented on #1133
Hi @aizefler, this started to happen after applying RBAC rules? Or it never worked?

[2021-01-28 19:32] azaslonov commented on #1135
Hi @verschaevesiebe, since this is question is not related to the developer portal project, I have to refer you to MS Support, they will help you with this.

[2021-01-28 19:32] #1135 closed

[2021-01-28 19:52] aizefler commented on #1133
@azaslonov It never worked.

[2021-01-28 20:42] azaslonov commented on #1133
Got it, let me check. I'll get back to you.

[2021-01-28 21:16] campifoo commented on #646
Any workarounds for this?   We really need to disable notifications for a use case we have.  We have tried changing email source address and removing template (as much as possible) but emails still sent.

[2021-01-28 21:20] mikebudzynski commented on #646
You should be able to disable notifications via network configuration, if your API Management service is in a virtual network.

[2021-01-28 21:22] campifoo commented on #646
What network configuration do we need to do?  block smtp from tat virtual network?  we are on internal vnet.

[2021-01-28 21:24] mikebudzynski commented on #646
Yes, I would start with that.

![image](https://user-images.githubusercontent.com/40186513/106200582-0c8f1d00-616c-11eb-9e57-91680df6c162.png)
More details here: https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet

Please, test it in non-production services first and reach out to Azure Support if you have any questions.

[2021-01-28 21:25] campifoo commented on #646
Thanks for getting back so quickly!!  Really helps.

[2021-01-29 09:36] aizefler commented on #1133
Thank you!

[2021-01-29 16:34] PerMBlomqvist opened #1136 "Error when trying to edit API Management Service Developer Portal. We get the error when navigating to edit the portal "Oops, something went wrong. We are unable to complete your operation this time. Please try again.""
## Bug description
Error when trying to edit API Management Service Developer Portal.  We get the error when navigating to edit the portal "Oops, something went wrong. We are unable to complete your operation this time. Please try again."

This worked fine for several weeks but started failing consistently  recently (past 1-2 weeks).

Failure happens every time and we have tried various users with

[2021-01-29 16:48] azaslonov commented on #1136
Hi @PerMBlomqvist, yeah, this is known issue, it was fixed already, the release is coming some time next week.

[2021-01-29 16:48] #1136 closed

[2021-02-01 11:15] nealsimmons74 commented on #1119
Do you have a ETA when this fix will be visible in the hosted service?

[2021-02-01 13:29] xakpc opened #1138 "ApimDelegation callbacks with ChangePassword, ChangeProfile, SignOut operation don't contain returnUrl, therefore it's unclear how to calculate HMAC and validate sig for them"
I presume this is a bug in either codebase or a mismatch in the documentation. I spent several hours trying to get to the root of that, but failed - I'm not that familiar with knockout and paperback, unfortunately.

## Bug description

I use delegation to manage users and subscriptions myself (by AAD B2C and Paddle if it's matters). For security reasons you are advised to verify that the request i

[2021-02-01 16:55] mikebudzynski commented on #1119
@nealsimmons74 We'll start deployment this week, it can take 1-2 weeks for it to fully roll out. Once it is rolled out to your service, you'll need to republish your developer portal for the changes to apply in the published portal.

[2021-02-01 19:04] mikebudzynski commented on #1130
Yes, that's the process. You can delete the pages in the administrative interface, you don't need to resort to the management API calls.

I will keep this item open for tracking purposes.

[2021-02-02 01:20] mikebudzynski commented on #529
We're now aiming to release this improvement in April, give or take a few weeks.

[2021-02-02 01:59] ygrik commented on #1138
Hi @xakpc

Regarding our documentation
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-setup-delegation#-delegating-developer-sign-in-and-sign-up

The **returnUrl** parameter is used only for **SignIn** and **SignUp**
HMAC(salt + '\n' + returnUrl)

For **CloseAccount**, **ChangeProfile**, **ChangePassword**, **SignOut** the **userId** is used in signature
HMAC(salt + '\n

[2021-02-02 01:59] #1138 closed

[2021-02-02 09:23] ZarTrox opened #1139 "Enable deep links to API versions and operations"
## Bug description

When you share a link to an API-operation with colleagues/Partners those cannot immediately access the API. Instead after sign-in they are directed to an empty API details page. To see the API, one has to search the API-details page for the API  and it's operation or re-enter the Link. Either way a working deep link to an API version would facilitate communication.

## Reproduc

[2021-02-02 15:23] nealsimmons74 opened #1140 "Question: Is there a simple way to redirect customers from the deprecated portal to the new portal"
Using the hosted service is there a simple way to redirect customer from
*.portal.azure-api.net to *.developer.azure-api.net

I have changed all the email notifications to point to the new portal, which will prevent new users going to the old site, however existing user can still access the site.

Suggestions welcome

[2021-02-03 04:20] syedkasghar commented on #208
We are also facing this issue in East US2 subscription. Has this been fixed?

[2021-02-03 05:03] syedkasghar commented on #960
Any update on this issue?
We are also facing this issue. The name of the flow on the UI seems changed to "Password" instead of "resourceOwnerPassword"

[2021-02-03 14:23] shanemcnallie commented on #208
I did send the information that @azaslonov requested and he responded with "Looks like we don’t supply state in authorization code grant flow in our backend, which seems to be mandatory for Okta. We’ll fix this in next backend release."

Does anyone know when the next backend release will be?

[2021-02-03 17:43] azaslonov commented on #1140
Hi @nealsimmons74, unfortunately, there is no way I can think of. If you had a custom hostname, you could do some re-routing, but with .portal.azure-api, I don't think so, sorry.

[2021-02-03 17:43] #1140 closed

[2021-02-03 17:48] azaslonov commented on #1139
Hi @ZarTrox, actually you can use deep-linking, just like this:
`/api-details#api=echo-api&operation=600592153af4ef2b245bae53`

and, in case of sign-in, you can use `returnUrl` parameter (with URL-encoded value), so you that the link would look like this:
`/signin?returnUrl=%2Fapi-details%23api%3Decho-api%26operation%3D600592153af4ef2b245bae53`

Hope that helps. Please feel free to re-open this is

[2021-02-03 18:58] mikebudzynski commented on #960
ETA around April / May.

[2021-02-03 19:00] mikebudzynski commented on #208
ETA for the `state` field support is March / April.

[2021-02-04 15:12] AnRei123 opened #1141 "List of user subscriptions: Add sort option, a removal and undo action icon for canceled subscriptions in DevPortal GUI"
## Bug description / expected behavior

We showcase many API products in our DevPortal. Depending on the customers use case, a customer can subscribe several times to a single API product. Thus, the list of user subscriptions can become very lengthy over time for the individual customers.

1) Currently, as a DevPortal user **I am not able to sort the list of my subscriptions** by the Product name

[2021-02-04 16:55] RodrigoGroener opened #1142 "Use Authorization Code Flow with PKCE instead of Implicit Flow"
Currently authentication to Azure Active Directory is done with "adal-vanilla". It's only supports OAuth implicit flow.
Would it be possible to switch to "msal-browser" (MSAL v2) to use the authorization code flow with PKCE?

referencing last change of authentication
#302
#298

[2021-02-04 20:27] danamn opened #1143 "Try-It console encodes the $ character in OData query parameters"
## Bug description

When testing an OData endpoint in the Portal with the TryIt Feature and parameters, the request fails with status 404 Not Found. The names entered for parameters are encoded, including the first '$' character in the name (e.g. $filter becomes %24filter), which makes the request fail.

## Reproduction steps

1. Go to the developer portal
2. Click on a GET OData API
3. Click on T

[2021-02-04 21:30] AjaySewradj commented on #408
@krispenner Can you give an example of your solution, and a screenshot of what the API documentation looks like in the developer portal?

[2021-02-08 21:36] syedkasghar commented on #208
Thanks for the update. Will keep any eye on this issue

[2021-02-09 09:46] SSanjeevi opened #1144 "Migrate command using script v3 fails for migration of apim developer portal from one subscription to another subscription"
## Bug description

Migrate command using script v3 fails for migration of apim developer portal from one subscription to another subscription. Apim 1 in one subscription A and apim 2 is in subscription B when using script v3 for migrating the portal it fails with following error:

"Unable to complete migration. Unable to complete cleanup. Unable to delete content. Unable to fetch content types. U

[2021-02-09 10:01] AnRei123 commented on #1139
Hi, thank you for showing me how I can make of deep-linking even for APIs in the portal by encoding the URL value even in case of signing in!
But I like to ask you to reopen this ticket. For our notification service this approach helps us to solve the issue. But, we also like to easily like to exchange links to operation details (incl. sign-in) by just copying the URL from the address bar from the

[2021-02-09 15:37] SSanjeevi commented on #1144
I managed to succeed by using this PR changes.

Where i have added code to login to az cli with each subscription on source and destination.

https://github.com/Azure/api-management-developer-portal/pull/1145

[2021-02-09 15:37] #1144 closed

[2021-02-09 15:38] SSanjeevi commented on #1144
I managed to succeed by  using this PR changes
https://github.com/Azure/api-management-developer-portal/pull/1145

[2021-02-09 18:33] saikiran-karumuri-by commented on #1142
We are also looking for same feature. Any idea when it will be available?

[2021-02-10 18:32] mikebudzynski commented on #1142
We don't have an ETA yet, please track this issue for updates.

[2021-02-10 21:39] saikiran-karumuri-by opened #1146 "Support for Use Authorization Code Flow with PKCE instead of Implicit Flow - interactive console"
Hello Team, Is there any support for Authorization Code Flow with PKCE instead of Implicit Flow - interactive console ??

[2021-02-10 21:52] azaslonov commented on #1146
Hi @saikiran-karumuri-by, there is no support for PKCE currently, but we're planning to add it. I don't have ETA right now though.

[2021-02-14 17:47] azaslonov commented on #1120
@ZarTrox, I still cannot reproduce this issue. Is there anything else you can share? Maybe you have that JSON with a broken page by chance?

[2021-02-14 17:57] azaslonov commented on #1046
This issue has been fixed in the managed version in one of the previous releases.

[2021-02-14 17:57] #1046 closed

[2021-02-14 22:14] azaslonov commented on #1102
Implemented. Coming in next release.

[2021-02-15 15:57] AnRei123 opened #1148 "Hide deprecated APIs and operations by default in the list of APIs and operations"
## Bug description

Over time, the list of deprecated APIs and operations gets longer and longer. The developer experience for newly onboarded partners gets worse and worse. And it looks like very confusing to see all the legacy APIs and operations together with the current ones in long lists.

New API consumer must only see the list of APIs that are not deprecated yet. Nevertheless, for previous

[2021-02-15 16:26] AnRei123 commented on #1058
Yes, thank you very much!!!  It seems to work very well in my source instance. Hope it also work good after deploying it to other instances.

[2021-02-15 16:45] AnRei123 commented on #881
Yes, the missing search functionality for static content is also an issue for and urgently needed as our amount of static content is increasing continuously.

1) The search should allow to filter for all page titles that contain a dedicated string. Matches in the title shall be ranked higher than matches in the description. This must be reflected in the list with the search results.
2) The search

[2021-02-17 08:44] Radamonas opened #1151 "It is not possible to login and sign-up"
## Bug description

It was noticed on 2021-02-16, that:
* new customers can't sign-up to the developer porta;
* old customers can't login with existing accounts;

We use basic authentication (username and password).

## Reproduction steps

1. When new customer is signing up 400 error is received (check attached picture);
2. When existing user is logging in, 401 error is received.

## Expected beha

[2021-02-17 12:59] #1151 closed

[2021-02-17 19:25] mikebudzynski commented on #1014
From @AnRei123 in #881:

[2021-02-17 19:25] mikebudzynski commented on #881
@AnRei123, I copied your comment to the issue referenced above. This one is inactive.

[2021-02-17 19:27] mikebudzynski commented on #1148
Deprecation support is on our roadmap. We might have support for it this year.

[2021-02-18 03:44] mathewjustin opened #1154 "Different call limits for different API keys on Azure API Manager"
Hi Team,
   I have a use case where I need to monetize one of my existing API for different customers. Based on the plan they choose they will be able to access this API on different limits. Say a premium customer can call my api once in every minute and a customer on my Basic plan can call the API once in 10 minutes.

I am looking for a way to have different rate limits for different API keys. Ba

[2021-02-18 09:03] ZarTrox opened #1155 "Loading issues"
## Bug description

For a few days everything seems to be taking very long to load. Trying to login or even just navigating through the Devportal. Is there currently a problem with the servers? And if so are there any plans when it will be fixed?

## Is your portal managed or self-hosted?

Managed

[2021-02-18 10:57] gfchaves commented on #1154
If you create different products and for each defines different rate [limits by using policy expression](https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies), does this accomplish what you need?

[2021-02-18 11:51] ZarTrox opened #1156 "Increase publishing speed"
## Bug description

Currently when trying to publish the Developer Portal the process takes > 10min to finish. If you implement some changes and want to see it from the customer/partner view you need to wait this time, not sure if it even finished yet, and try to see the new changes. This interrupts the workflow

## Expected behavior

No matter how much content a Portal contains the publishing ste

[2021-02-18 16:59] mathewjustin commented on #1154
I have tried keeping some expression to obtains the calls like the below

  <rate-limit-by-key calls="@{
     return Int32.Parse(context.Subscription.Name.Split('-')[1]);
}" renewal-period="15" counter-key="@(context.Subscription.Id)" />

Here I have attached -[number of calls] in the Subscription name itself to split and use it. But unfortunately calls attribute on rate-limit-by-key and quota-by-

[2021-02-18 19:57] azaslonov commented on #1156
Hi @ZarTrox,
That is confusing, true. There is a work in progress to address this - portal revisions UI in Azure portal, which allows you to track the progress of your publications, view their history, and switch between them. Of course, it comes with an API endpoint to allow automation.

Publishing speed is another effort that is going on right now, I'm sure we'll see the results pretty soon.

[2021-02-18 20:05] azaslonov commented on #1155
Hi @ZarTrox, I tried one of your services (which is on Dev SKU I believe), looks pretty decent. Please feel free to email me specific service names, we can take a look closer.

[2021-02-18 20:06] #1155 closed

[2021-02-18 20:12] azaslonov commented on #1154
Hi @mathewjustin, I think you could [Control flow](https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#choose ) policies for this case. Here each `when` statement could match one of your products.

[2021-02-18 20:14] giovannaalves opened #1157 "Guest user verification failed"
## Bug description
When the user is invited to connect to the portal, he is directed to a page not found, which prevents him from registering his password and using the portal.

The link sent to the user's email is as follows:
https://mysite/confirm-v2/identities/basic/invite?userid=userId&identity=identity&ticketid=ticketid&ticket=ticket
It is generated from the "$ConfirmQuery" parameter in the n

[2021-02-18 20:26] mikebudzynski commented on #1154
@mathewjustin You can also apply the rate-limit policy on the Product scope. If you need further assistance, please contact Azure support; I will close this issue because it doesn't relate to the developer portal.

[2021-02-18 20:26] #1154 closed

[2021-02-18 20:31] ErikMogensen commented on #1156
Happy to hear that you are working on this, @azaslonov! How long time does it take before you know that the publishing failed? I am trying to publish it using REST API which does not seem to work (using code from Scrips.v2), and usually not through the Azure portal either. Best seems to be publishing it through the Developer portal itself.

[2021-02-18 20:37] azaslonov commented on #1156
Hi Erik, the API is not ready yet, publishing still relies on the portal endpoint. In your case, I believe the problem is related to VNET, and a new endpoint will address this issue as well. In the UI, in case of success or failure, the state of the publication will be updated immediately.

[2021-02-18 20:47] ErikMogensen commented on #1156
I knew that the ARM endpoint that has been commented out in Scripts.**v3** didn't but do you mean that the publish function in Scripts.**v2**\migrate.js does not work?

Thanks for the tip about VNet, that may explain some of the issues. However, I am also working instances running without any VNet which also have publishing problems.

[2021-02-18 20:51] azaslonov commented on #1156
The endpoint in v2 scripts should work fine unless it, again, related to VNET somehow. Do you have any errors that it spits out or it returns OK, and the publishing itself fails?

[2021-02-18 21:06] ErikMogensen commented on #1156
It returns Ok and then nothing happens. I dont know how long to wait though. I have waited up to one hour.

Is it extra difficult to get the portal to publish the first time after the apim instance has been created?

[2021-02-18 21:09] azaslonov commented on #1156
I see, so it is something we should look at then. Can you please send me service names?

It's not difficult. I believe you're asking in the context of the backup/restore scenario?

[2021-02-18 21:43] ErikMogensen commented on #1156
Thanks! I just mailed you.

I want to pick up saved portal content from disk and put it on an apim intance, modify it and then publish it, all done from inside an azure devops pipeline.

[2021-02-18 22:35] ygrik commented on #1157
Hi @giovannaalves
Thank you for submitting this issue.
Regarding our wiki https://github.com/Azure/api-management-developer-portal/wiki/Self-hosting-the-portal#step-8-change-api-management-notification-templates
You should change the notification template with URL https://mysite/signup?$ConfirmQuery

Now, this is the bug and the url does not work for self-hosted. The fix will be provided later.

[2021-02-19 02:43] #1157 closed

[2021-02-19 14:43] giovannaalves commented on #1157
Hi @ygrik
Ok, I will wait the next release.
Thank you so much!

[2021-02-19 14:45] giovannaalves commented on #1157
Hi @ygrik
Ok, I will wait the next release.
Thank you so much.

[2021-02-22 10:59] WeightyPrawn commented on #860
@azaslonov . Any update on progress for this, and/or when we can expect it to be in place?

[2021-02-22 12:33] AnRei123 commented on #1156
Since yesterday, I tried to publish again. Publishing does not work anymore for me - at least for two of the environments that I tested to publish - irrespective which option I have chosen to trigger it and irrespective how long I do wait for the results to show up!!! Even so the message occurs that "Publishing has been scheduled" and even so there was no error message indicating that something is

[2021-02-22 12:49] AnRei123 commented on #391
Today and the last week, the loading speed of DevPortal pages was a nightmare for different environments. The speed is varying from immediately if part of the cache up to several minutes for switching between single pages.
A high and consistent page load speed is crucial to get a good user experience. Currently, it is like an old car you try to start when you switch between pages. Could work prope

[2021-02-22 13:40] AnRei123 commented on #391
The last hour it was published once.

[2021-02-22 13:44] s8mathur commented on #1148
@AnRei123 You are my new hero. I also feel the urge to label every single UX touchpoint with a yellow (or red!) marker like you have - but never gather enough patience to do it :) They are too many broken things in the show API and try API experience still unfortunately.

[2021-02-22 18:47] mikebudzynski commented on #1156
@AnRei123 We're investigating the problem.

[2021-02-22 18:48] mikebudzynski commented on #391
@AnRei123 We're investigating the issue.

[2021-02-22 18:49] mikebudzynski commented on #860
Still on the roadmap. Most likely, we'll have a fix within a few months.

[2021-02-22 20:04] #996 closed

[2021-02-23 01:21] azaslonov commented on #1156
@AnRei123, this issue was, again, due to very scarce resources of Developer SKU, I made adjustments to one of your services that reported publishing errors, and launched publishing, which succeeded. We'll see if this results into a hotfix.

Regarding visibility of the publishing process, as I mentioned before, we're releasing a specific UI for this soon.

[2021-02-23 05:16] cyvinkaimo opened #1161 "Not all characters are passed on the output in request body"
I think there is a bug regarding appending the json object on the output for request body.

This is my set-body template on the inbound policy.
[code]

And this is my raw request.
[code]
As you can see this is the output
![image](https://user-images.githubusercontent.com/69888144/108804810-40c5f400-75d9-11eb-842e-84e9b82af814.png)

One comma is missing. If there is a solution, it will be a great h

[2021-02-23 07:22] AnRei123 commented on #1156
Developer SKU should not be a criteria for publishing the content in my opinion. Do you plan to support editing portal content also for Developer SKUs in future? We need the portal content for several instances - with Developer SKU and also for production.

[2021-02-23 09:02] dersia commented on #1039
Hi @mikebudzynski,
is there yet a release date for V3 publishing?

[2021-02-23 17:29] mikebudzynski commented on #1039
1-2 months, pending on the API Management service (backend) release roll-out.

[2021-02-23 23:26] #1071 closed

[2021-02-24 19:46] mikebudzynski opened #1163 "Built-in cookie management for GDPR"

[2021-02-25 06:38] apreshchandra commented on #1099
Hello Mike, is there a timeline on this issue? We have a managed APIM instance and we'd like to show the User of our portal to be able to see Reports.

[2021-02-25 14:57] LSchuster opened #1165 "Migrate Developer Portal - fonts are not transported correctly"
## Bug description

We transport our API Management Developer Portal via the migrate feature thorugh the different stages, everything seems to work, but when we upload a different font to the page and set this font the regular style, the correlation between the added font and the .ttf file seems to be lost, after we transport the Portal to the next stage.

I noticed that if we .capture the content

[2021-02-25 20:48] mikebudzynski commented on #1099
@apreshchandra Can you confirm that the user you're logged in as in the developer portal has made API calls with a product subscription key in the timeframe you're looking at?

[2021-02-25 21:30] mikebudzynski commented on #1161
@cyvinkaimo, thanks for reporting the bug - we're tracking it internally now. I will close this issue since the repository is specific to the developer portal. At this moment, there's no workaround.

[2021-02-25 21:30] #1161 closed

[2021-02-26 07:25] azaslonov commented on #1165
Hi @LSchuster, thanks for reporting the issue, we'll fix this.

[2021-02-26 11:00] apreshchandra commented on #1099
thank you for your reply. I can confirm that API calls were made. A few resulted in 200OK, a few in 500.

[2021-02-26 11:20] apreshchandra commented on #1099
![image](https://user-images.githubusercontent.com/3713329/109293955-86d9bc80-7852-11eb-8c34-ebbc2c23a615.png)

Other data points like API calls, API response times are also blank. Any suggestions are very welcome!

[2021-02-26 14:42] petenorth commented on #443
The documentation still doesn't include this information.

Also it would help enormously if the exact claim names were listed so that the 'Complete Sign Up' screen does not appear (not sure if that is even possible.)

Thanks.

[2021-02-26 18:15] ErikMogensen opened #1166 "Will capture.js and generate.js work to transfer content between different APIM instances?"
I want to be able to save the content of a developer portal to disk (and then put it in an Azure DevOps repo). Later I want to retrieve that information and use it to populate another developer portal (belonging to another instance of API Management).

However, I noticed that the downloaded data.json of some older developer portals contains some items with a  "downloadUrl" with a value starting wi

[2021-02-26 18:24] azaslonov commented on #443
Hi @simonness, sorry, if I remember correctly, my reply was about that missing screenshot which shows that ObjectID is required, and which is now there in the docs.

Regarding IEF, we don't really have expertise in it and what's covered in that article is just the most common B2C scenario. Though we may revisit it at some point.

[2021-02-26 23:14] azaslonov commented on #1166
Hi Erik, right in older versions we had that `downloadUrl` attached to media files metadata, but now this URL gets always re-calculated during content publishing to avoid issues related to migration or SAS token expiration, and now only source key matters, unless external media file is referenced.

So for #1 and #2, - yes scripts v2 and v3 are safe to use for capturing and restoring snapshots.
For

[2021-02-26 23:16] azaslonov commented on #1166
Closing for now since the answer is provided. Please feel free to re-open shall you have follow-up questions.

[2021-02-26 23:17] #1166 closed

[2021-02-28 21:57] mluker commented on #558
I am having the same issue, is this just how it works or is this a bug?

[2021-03-01 09:45] ZarTrox opened #1168 "Article and Aside arrangement with smaller screen resolutions"
## Bug description

When reducing the viewport size the "Article" & "Aside" elements from the Section seem to get rearranged with the "Aside" element always first. In our Use case where we use the "Aside" element primarily for Annotations/Links etc. this feels odd since in my understanding the main information should be stored in the "Article". If the "Aside" element is put before the "Article" it

[2021-03-01 18:28] azaslonov commented on #1168
Hi @ZarTrox, thanks. I agree, it should go below. Let me fix the template in the next release. Just in case, only newly added sections will have the new layout, all the existing ones will stay as is.

[2021-03-02 21:41] patst opened #1170 "Interactive Console OAuth2 Auth: 404 with self-hosted portal"
We are struggling to get the interactive console in the developer portal running for our OAuth2 secured APIs.

* we configured an OAuth2 service in the API-Management instance
* configured an API to use the OAuth2 service
* have an self-hosted portal with a custom domain behind an Azure Application Gateway
* deployed the self-hosted gateway to a storage account in the `$web` container as described

[2021-03-03 16:01] campifoo opened #1171 "Performance Test Dev Portal"
We have a customer that is performance testing the dev portal and is getting 429 response.  Too many requests.  Is this a limitation on the Management API?  Is there a way to increase the number?

[2021-03-03 18:55] mikebudzynski commented on #1171
@campifoo Were the tests run against the deprecated (legacy) portal or the new portal? What's the workload that it's failing for?

[2021-03-03 19:21] campifoo commented on #1171
It runs against the new portal.  The https://xxx.management.xxxx.com/subscriptions/xxx/resourcegroups/xxx/providers/MIcrosoft.ApiManagement/service/xxx/apis/provider-directory.......  REST api that is the first one to return 429 response.

[2021-03-03 20:04] azaslonov commented on #1171
Hi @campifoo, Ok that explains it, both new and legacy portals hardly depend on Management API, which indeed has throttling and which depends on the SKU/capacity of service and other factors. Therefore, the only suggestion I have is to scale up, but please feel free to follow up with MS Support on this topic, they might be able to better assist you.

[2021-03-03 20:04] #1171 closed

[2021-03-03 20:13] diegocantelli opened #1172 "Embed Azure DeveloperPortal in a corporate domain site"
Hi!

I would like to be able to embed it into an existing corporate site that is already describing our company, our products, even some APIs documentation in order to have the possibility to run the APIs from there. In this way, we will decrease the number of websites a customer must use in order to access all of our features. It can be annoying to have a website for the company and then another

[2021-03-03 20:14] azaslonov commented on #1170
Hi @patst, right, this endpoint is part of the portal's backend, and of course, if you self-host it without one, ther will be no such a handler. The `implicit` flow is the only one that doesn't require access to secrets on the backend side, that's why simple file replacement worked for you.

However, there is an option that we currently have called `backendUrl`. So if you specify it in your `confi

[2021-03-03 20:14] #1170 closed

[2021-03-03 21:50] afj88 opened #1173 "Standard DevOps CI/CD"
First things first, thanks for your work! This product is amazing!

I've setup CI/CD as explained here https://docs.microsoft.com/en-us/azure/api-management/devops-api-development-templates (more or less).

I'd like to include developer portal publish in my release pipeline and I've read that you're working on it - GREAT!

I'd also like to try to edit the developer portal UI on a local environment

[2021-03-04 10:06] patst commented on #1170
@azaslonov  thanks for your reply and the clarification.

It would be great to be aware of this limitations/ circumstances when starting to self host the portal. With the current documentation I had the impression I am getting the same features when using the self-hosted portal.

For others having the same challenge:
Now we use an Azure function to implement the auth code backend feature.

[2021-03-05 02:46] mikebudzynski commented on #1170
@patst, have you tried the backendUrl configuration option that @azaslonov mentioned? It would your self-hosted portal to the API Management's backend and you'd be able to use our OAuth functionality.

[2021-03-05 08:15] patst commented on #1170
@mikebudzynski yes I did try that, but we have a custom domain for the self-hosted portal the old domain seems to be no longer available. The DNS name cannot be resolved:

`nslookup <apim-name>.developer.azure-api.net`

=> *** UnKnown can't find apimname.developer.azure-api.net: Non-existent domain

`nslookup developer.<apim-namez.azure-api.net`

=> *** UnKnown can't find developer.apim-name.azure

[2021-03-05 19:08] mikebudzynski commented on #1172
@diegocantelli Currently the managed developer portal doesn't allow for injection into an iframe - we'll see if we can change it. In the meantime, you can use the self-hosted version and inject it into an iframe in your corporate site.

[2021-03-05 19:41] diegocantelli commented on #1172
@mikebudzynski Thanks for the reply!

[2021-03-05 22:28] mikebudzynski commented on #1173
@afj88, currently there are two options to source control developer portal content:

1. First, make the changes in the administrative interface of either a managed or a self-hosted portal (they will be saved to your API Management service). Then, run the `capture` script from the scripts folder to export the content of your portal from the API Management service.
2. Use ARM templates and/or [the c

[2021-03-07 18:43] gaurav-p-sood opened #1175 "New Development Portal of Azure APIM does not list APIs/Products when accessed from Internet."
Hi Team

Need some guidance here. I recently moved my custom domain to point to new Dev Portal of APIM instead of legacy dev portal. I'm able to browse the portal from internet using the custom domain but when tried to list products/apis it says no APIs found.

This wasn't the case with legacy portal. I was able to successfully list and test APIs using legacy portal.

My APIM is hosted in internal

[2021-03-08 09:42] ZarTrox opened #1176 "Support links on the same page - support jumping to anchor points are missing"
## Bug description

Currently when inserting a link pointing to the same page the whole page first is reloaded.

This is a problem for the following two use cases:
1. On the API details and on the API product details page, linking to a subchapter would lead to empty widgets. Because if you reload the page the API context is lost.
2. For longer pages with a lot of media it can be time consuming to

[2021-03-08 09:48] ZarTrox opened #1177 ""API: products (dropdown)" widget missing"
## Bug description/proposed behavior

Currently there are only two API: product widgets:
- API: products
- API: products (tiles)

A "API: products (dropdown)" widget is missing.

The missing widget should perfectly compliment the view of the already existing widget "List of products".
![image](https://user-images.githubusercontent.com/58420097/110300449-289d9e00-7ff7-11eb-84fa-b5ed900995f9.png)

T

[2021-03-08 15:21] mapoitras commented on #137
+1 request for this important feature.

[2021-03-08 18:39] mikebudzynski commented on #1175
The new developer portal requires connectivity to the management endpoint, the legacy portal didn't. There are also a few WAF rules you might need to disable: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgateway#exposing-the-developer-portal-externally-through-application-gateway Please, open an Azure support request for further assistance.

[2021-03-08 18:39] #1175 closed

[2021-03-08 19:10] gaurav-p-sood commented on #1175
I've a standard tier on application gateway and DO NOT have WAF implemented. Can you please reopen the issue?

Regards
Gaurav

[2021-03-08 19:28] mikebudzynski commented on #1177
@ZarTrox, that's an omission from our side - thanks for reporting it.

[2021-03-08 19:30] mikebudzynski commented on #1175
@gaurav-p-sood WAF could only be one reason for failure. I suggest that you reach out to Azure support, they will be able to troubleshoot your network configuration and find the problem.

[2021-03-08 20:00] gaurav-p-sood commented on #1175
Sadly I do not have a support plan. Might be a dumb question but if there is no WAF in play how can that be an issue?

Regards
Gaurav

[2021-03-08 21:11] rcg-dev commented on #969
I believe the issue has returned.

Just tried generating a cURL and got this

[code]

[2021-03-09 10:21] ZarTrox opened #1179 "Configuring links on images to image elements - not working as expected"
## Bug description/expected behavior

Currently, we would like to add references on images to themselves to allow the user to open the image in a higher resolution when clicking on the image - either in the same or in an additional browser tab.

**Case 1:**

Current behavior:
1. Add an image widget and select an image in the editor mode.
2. Configure the image widget by selecting a hyperlink from

[2021-03-09 10:30] gfchaves commented on #1175
@gaurav-p-sood probably you could have another resource in place that can be a blocker. Check for your available [support plan](https://azure.microsoft.com/en-us/support/plans/) or even the technical communities that can help you out.

[2021-03-09 11:44] ZarTrox opened #1180 "Additional "API: details" widget configurations"
## Feature request

Currently on the API details page the API detail description is shown in complete length

But if the description is very lengthy then the text takes the focus and a big part of the screen from the API operations away. While the description is an important part of the API it is not always necessary, especially if you visit the API details page of an API multiple times or browse

[2021-03-10 15:50] VickiFu opened #1181 "Add option to disable "Try it" console"
Our issue is our API encoding image with base64, but the code from try it use different encode

Can we have way to turn try-it console off or change the codebase for it? It doesnt help us with any value.
Below is the result:

HTTP/1.1 400 BAD REQUEST

content-length: 122
content-type: application/json
date: Wed, 10 Mar 2021 15:45:20 GMT
vary: Origin
{
    "message": "Failed to decode JSON object:

[2021-03-10 17:44] riordanp commented on #841
Hi @AElharouny @azaslonov , did you ever manage to solve this problem? I have just run into it also when trying to publish the portal. I have gone through some of the same diagnostic steps. My `/contentTypes/` call lists 8 different content types, but 'locale' or 'locales' is not among them, I believe this is why there is a 404 error.

I am using API version 2019-12-01 and portal version 2.7.0. If

[2021-03-10 18:13] azaslonov commented on #1123
Hi @ZarTrox, the option "Open in new window" works in the published portal only. Do you want it to open in a new window in design mode as well? If yes, what is expected behavior, another designer window?

[2021-03-10 18:19] azaslonov commented on #1179
Hi @ZarTrox, there is a "Popup" feature in development (ETA April), which will also open up the "Lightbox" feature for showing images in higher resolution (just like you described). However, we can also add an option to specify "download" vs "open" action (as soon as next release) for images and video files. Which one would you prefer (lightbox or action option)?

[2021-03-10 18:55] mikebudzynski commented on #1170
The `backendUrl` configuration option should also work with a custom domain, which is specified for the developer portal (so also its backend) in the API Management service.

[2021-03-11 02:05] azaslonov commented on #841
Looks like I was able to reproduce it, I'm investigating.

[2021-03-11 03:35] to-ogawa opened #1182 "Graph display on the reports page of the Developer Portal"
## Description
There seems to be a difference in the behavior of the graph display in the API Management's Developer Portal reports page.

## Reproduction steps
1. Go to 'The reports page of the Developer Portal'

## Conditions of occurrence
1. If there is no data to be displayed in the graph area.

## Differences that occur (browser is the latest version of Chrom)
1) Only the frame of the graph i

[2021-03-11 03:41] to-ogawa opened #1183 "Error on mouse hover on graph area of reports page in Developer Portal"
## Description
An error occurs when hovering the mouse over the graph area displayed in the API Management's Developer Portal reports page.

## Reproduction steps
1. Go to 'The reports page of the Developer Portal'
2. Hovering the mouse over the graph area

## Errors that occur
1) A JavaScript error will be output to the console.
   Error Description [Uncaught TypeError: d3.mouse is not a function

[2021-03-11 07:02] hbcondo commented on #454
Hi, @azaslonov. I know you closed this issue last year but the Azure feedback site has the [Add monetization ability of API](https://feedback.azure.com/forums/248703-api-management/suggestions/5922492-add-monetization-ability-of-api) feature request tagged as `PLANNED` since 2018. Would you consider re-opening this issue for sake of visibility and hopefully getting a follow-up from Azure Feedback?

[2021-03-11 19:46] dmancine9 opened #1184 "The API page Menu is not in alignment when we resize the web page"
The API page Menu are not in alignment when we resize the web page to half of the window.

Steps to reproduce:
1. Login to SIT Developer Portal
2. Navigate to the API page
3. Resize the webpage to hlf of the window
4. Verify the content in the page

Expected: The page should adjust the content as per the selected size

Actual:
![APIs_Misaligned](https://user-images.githubusercontent.com/80485059/1

[2021-03-11 20:49] #841 closed

[2021-03-12 10:29] riordanp commented on #841
Works great, thanks for the quick fix @azaslonov

[2021-03-12 15:57] VickiFu commented on #1181
@azaslonov Hi Alex, thank you for your help. Because the user (at least me) could assume that with upload images option all encode/decode will be taken care by the system with API need. So I feel console without any customization about how the image submit could confuse clients in some way.
Thanks
Vicky

[2021-03-12 17:52] adamstruck opened #1186 "Republishing portal (for new version) broke images"
Republishing my portal (to update to latest version) resulted in broken image links and javascript errors in console.

## Is your portal managed or self-hosted?

Managed

## API Management service name

acmeaom-dev

## Environment

 - Operating system: macOS
 - Browser: Google Chrome, Safari

## Additional context

![image](https://user-images.githubusercontent.com/5560701/110976853-48de9d00-8316-

[2021-03-12 18:43] azaslonov commented on #1181
@VickiFu. Yes, makes sense. I repurposed this item into a feature request, we'll add this option to disable "Try it" console for managed version.

Just in case, you still can go with the self-hosted portal route if you want to address this issue properly for your users. Unfortunately, we don't be able to add this encoding option into managed version because it is a super-specific case of yours.

[2021-03-12 18:48] adamstruck commented on #1186
Note: everything looks fine in the admin UI while editing the site.

[2021-03-12 18:51] azaslonov commented on #1186
Hi Adam, nope, no ideas. I just sent you an email with follow-up questions, since this looks like a service-specific thing.

[2021-03-12 18:51] #1186 closed

[2021-03-12 18:57] VickiFu commented on #1181
Yes. Thank you for that. we can wait this feature...

[2021-03-12 21:27] campifoo commented on #1068
Any status on when this will be done?  We are having same issue and trying to figure out a work around with our B2C tenant.

[2021-03-13 16:14] VickiFu opened #1187 "Menu isn't visible in mobile browsers"
Hi API management prod team,
I know that people should mostly use dev portal from desktop and web browser. What I noticed that when you login to dev portal with your phone browser. You cannot see sandwich menu Icons to browser your product or API detail. Please add that menu icon and menu for the mobile browser.
Thanks

[2021-03-13 19:38] #1181 closed

[2021-03-14 19:01] coskun commented on #1062
Any updates about this ?

[2021-03-15 01:46] adamcastle commented on #841
Hi,

I am still getting this issue using 2.7.0

I have noticed config.design.json defaults like the following structure.
{
    "environment": "development",
    "managementApiUrl": "https://<service-name>.management.azure-api.net",
    "managementApiAccessToken": "SharedAccessSignature ...",
    "backendUrl": "https://<service-name>.developer.azure-api.net",
    "useHipCaptcha": false
}

This is d

[2021-03-15 09:58] riordanp commented on #841
Hey @adamcastle I don't believe these changes have been tagged for release yet, it will probably be 2.7.1 but in the mean time I merged the master branch into my own portal repo

[2021-03-15 17:26] azaslonov commented on #1183
Hi @to-ogawa, thanks for reporting the issue, we'll fix this.

[2021-03-15 17:28] azaslonov commented on #1184
Hi @dmancine9, thanks for reporting the issue, we'll fix this.

[2021-03-15 17:30] azaslonov commented on #1187
Hi @VickiFu, yes, known issue, we're working on it.

[2021-03-15 18:38] azaslonov commented on #841
That's right, it's not tagged. Just please pull the latest version from master.

[2021-03-16 15:05] AnRei123 commented on #1179
Hi Alex,
many thanks for your question above. Here my answers and further questions.

1a) the "Lightbox" feature sounds very promising. Need to see how it will be finally implemented and how this works for the user. A pop-up would do.
1b) It would be great if the maximal resolution to display could be restricted for dedicated images with a low image resolution in max px or max percent. How do you

[2021-03-16 15:14] AnRei123 commented on #1123
Hi Alex, I wonder that you seem not to be able to reproduce the issue described above.
For our environments, open in new window works VERY sporadically for only VERY VIEW images. For most of them 95% it does permanently not work even after reconfiguring the setting. This behavior has been tested for our environments in the published mode several times for the same link after correcting the lost se

[2021-03-16 16:49] ErikMogensen commented on #1130
Hi @mikebudzynski,

Two questions,

1. Is it all right to remove the signin and/or signup pages? On https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal-customize#customize-the-portals-content it states:

We removed the signin and signup pages but then we were unable to access the portal so in AAD we added the email claim to the token that the portal gets, th

[2021-03-16 18:37] azaslonov commented on #1123
Hi Angelika (@AnRei123), I found a few cases today indeed, fixed some of them and working on the others. I won't be able to push it in the ongoing release, but will do it for the next one.

[2021-03-16 18:47] azaslonov commented on #1179
Hi Angelika (@AnRei123),

1a) I knew you'll like it :)

1b) These are good pointers to think about. Initially, I thought of the popup/lightbox as a separate piece of content, no matter how it gets triggered (picture, button, or anything else). So, that content could just have a separate, higher resolution image in it. This gives you full flexibility, but maybe we can come up with something to redu

[2021-03-16 18:51] #1073 closed

[2021-03-17 05:47] azaslonov commented on #1123
Fixed all cases, releasing soon.

[2021-03-17 12:45] AdeZwart commented on #1041
I would also love to see some possibilities to inject HTML code. Mainly to add a small table to a page.

[2021-03-17 17:20] sykesjd opened #1191 "Nested dictionary not displaying in 'Table view' for definition schema on developer portal"
## Bug description

In the event a dictionary field (i.e. an `object` type property with only `additionalProperties` specified, per [this specification](https://swagger.io/docs/specification/data-models/dictionaries/)) is present in a definition schema for an API as a field on a nested object or array (i.e. not as a top-level property of the schema object), the property will be missing from the 'T

[2021-03-17 17:47] azaslonov commented on #1191
Hi @sykesjd, thanks for reporting the issue, we'll try to repro and fix.

[2021-03-17 17:57] mikebudzynski commented on #1068
We don't have any update at this moment.

[2021-03-17 17:58] mikebudzynski commented on #1041
Referencing #931

[2021-03-17 20:48] mikebudzynski commented on #454
@hbcondo, you can monetize the APIs in the new portal in the same way you could monetize them with the deprecated portal. We're now working on a new piece of content around monetization. We also have monetization improvements on the roadmap, most likely for 2022.

[2021-03-17 21:33] t-higgs-qa opened #1192 "Developer portal doesn't respect open api schema title property"
## Bug description

Currently, the azure dev portal displays unfriendly names for request objects which are not generated from references types when generated from OpenAPI specs.

## Reproduction steps
Generate an API using OpenAPI similar to the following (truncated for brevity):
[code]

Then the resulting definition is created in the apim:
![image](https://user-images.githubusercontent.com/58445

[2021-03-18 00:25] #1123 closed

[2021-03-19 15:26] bszopa-mdg opened #1194 "Creating or importing api definition with openapi format does not respect custom SubscriptionKey headers"
Creating or importing API from json file in openapi format ignores value provided in "components/securitySchemes/apiKeyHeader/name" is ignored and always defaults to Ocp-Apim-Subscription-Key.
After creating SubscriptionKey header still can be properly changed via azure portal or Set-AzApiManagementApi powershell call.

Behaviour is same for both independently created jsons and files that are resu

[2021-03-19 18:54] mikebudzynski commented on #1194
@bszopa-mdg, the imported OpenAPI file describes configuration of the backend API, not the API that will be exposed through API Management. In particular, security information would be understood by API Management as security for communicating with the backend service. In future, we may provide extension properties to express API Management's configuration in the OpenAPI file, but we don't have th

[2021-03-19 18:54] #1194 closed

[2021-03-22 17:54] konsta2106 commented on #935
Hello @mikebudzynski. There is still no ETA for this issue?

[2021-03-22 18:49] mikebudzynski commented on #807
Closed with token auto-refresh: https://github.com/Azure/api-management-developer-portal/commit/e7da437560603331c38ce9075f05458e1c6a4cb8 The release was rolled out in January.

[2021-03-22 18:49] #807 closed

[2021-03-22 18:51] mikebudzynski commented on #1120
Fixed in release 2.7.1: https://github.com/Azure/api-management-developer-portal/releases/tag/2.7.1

[2021-03-22 18:51] #1120 closed

[2021-03-22 21:13] CoHealer commented on #558
It's a bug and it shouldn't be labelled as usability. This bug is a year old and marked as a P1. Are you only fixing P0 issues at this point?

[2021-03-22 21:17] ErikMogensen opened #1196 "Cannot publish using a generated sas token"
## Bug description

When creating a token using the following code from the scripts.v2/migrate.js file it works when calling the direct REST API, but the token does not work for publishing the portal.

[code]

However the publishing works if an access token is used which is generated using the Management API blade in the Azure Portal.

## Reproduction steps

1. Generate a token using the code abov

[2021-03-22 21:53] mikebudzynski commented on #935
I just added the item to the Backlog project, where we short-list items for development. We don't have an ETA to share at this moment.

[2021-03-22 21:58] mikebudzynski commented on #558
I updated the label.

There are no P0 issues at this moment and we're focused on fixing P1 items as well as rolling out support for new features. You can see what's coming up next in the Backlog project: https://github.com/Azure/api-management-developer-portal/projects/5 Release notes in the release section of the repository list all the fixes and features we've been rolling out.

[2021-03-22 22:44] azaslonov commented on #1196
Hi Erik, yes, there is a regression. We're working on it.

[2021-03-23 10:28] ZarTrox opened #1198 "Activating text field for editing often not possible"
## Bug description [sporadic issue - not reproducible]

We frequently edit content on several pages and require fluently working editing capabilities of the DevPortal.

Often, when we switch between different pages and click on several text fields to activate the edit mode by clicking once or double-click, the editing mode is not activated - even after several trials. Instead, multiple error messa

[2021-03-23 10:35] ZarTrox opened #1199 "Duplicate text fields including formats and hyperlinks (on the same page)"
## Bug description/expected behavior

Currently to duplicate the content of an existing text field we need to create a new text field with new texts and new formats.
To maintain and edit a lot of content pages, it is essential to efficiently being able to work that duplicating a text field including texts and formats is supported at least for the same page.

Also helpful would be to be able to cop

[2021-03-23 10:47] ZarTrox opened #1200 "Copy-paste string with styles and format"
## Bug description

When working in the editor mode of the DevPortal to create content we would want to copy a link, a header or any other string which has some form of style or format from one text element to another one on the same page or across pages.

Currently all the style-information is lost upon copying and pasting it.
![CopyTextElementsBug](https://user-images.githubusercontent.com/58420

[2021-03-23 10:48] ZarTrox commented on #1200
@AnRei123 fyi

[2021-03-23 10:48] ZarTrox commented on #1199
@AnRei123 fyi

[2021-03-23 10:49] ZarTrox commented on #1198
@AnRei123 fyi

[2021-03-23 12:19] CosminLazar opened #1201 "Origin header validation"
## Bug description

When using the developer portal to edit a users name a request is made to the following URL https://apim-bilinfo-prod.management.azure-api.net/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.ApiManagement/service/xxx/users/5ef4736afe762c1cc8a3baa1?appType=developerPortal&api-version=2019-12-01

It seems that the endpoint does not validate the value of the `origin` head

[2021-03-23 17:46] mikebudzynski opened #1202 "Allow overriding API hostnames"
Allow specifying a list of custom hostnames for an API to be displayed in the developer portal instead of the API Management's domain. Sample scenario: APIM is fronted by another service.

[2021-03-23 18:58] ErikMogensen commented on #1202
Another scenario is when using a wildcard certificate in Azure API Management and some APIs may only be called using certain hosts.

[2021-03-25 10:38] ZarTrox commented on #1176
Sorry for the late reply. I meant in the published Portal. "Normal" links from one page to another one work fine but if I say the link on page 1 should point to page 1 heading 2 then the whole page reloads.

[2021-03-25 11:11] ZarTrox opened #1203 "Styles not applied to widgets"
## Bug description

Today I encountered the issue that some Menu widgets (vertical) don't have any styling applied to them. Meaning for example that no spaces are left between the lines. Testing issues like this delays working on more pressing topics.

Even after emptying the cache the issue remains.
This issue is prominent in the editor AND the published version of the DevPortal.

## Browser spec

[2021-03-25 15:03] AnRei123 commented on #1203
What is going on? Why are all my menu styles and lists on pages messed up since today? And even the image gallery does often not remember anymore if I upload and save new images. I was going to review some topics with SMEs today, but as some texts are also overlapping, you are not able to send the preview around. Tomorrow, I am on vacation. But I need urgently a solution by Monday morning.

[2021-03-25 15:25] azaslonov commented on #1203
Hi @Angelika, I have rolled back the last release for your services, until we figure out what's happening.

[2021-03-25 15:28] #1203 closed

[2021-03-25 17:46] aizefler opened #1204 "Error Publishing wasn’t - Please ensure that Authorization header contains valid token."
## Bug description

We are unable to publish the Developer Portal content within Azure APIM Instace DEV. We received the error in the Azure Notifications status "Publishing wasn't scheduled - Please ensure that Authorization header contains valid token.".

For knowledge we went back to a backup and after that it was no longer possible.

## Reproduction steps

1. Go to APIM instance Azure Portal
2.

[2021-03-25 17:51] aizefler commented on #1133
The problem was solved by creating a new APIM instance. We couldn't wait, sorry, thank you!

[2021-03-25 17:57] azaslonov commented on #1204
Hi @aizefler, yes, this is a known issue, the fix is underway. To work this around you can publish from the developer portal itself.

[2021-03-25 18:40] aizefler commented on #1204
Hi, @azaslonov, even though we are publishing from the ADMIN Portal, we can't log in and no error message is displayed and we don't know what it could be.

For this reason, we decided to change the identity provider and publish to the Azure Portal itself.

[2021-03-25 18:44] azaslonov commented on #1204
@aizefler, can you please send me your service name(s) to apimportalfeedback@microsoft.com, I'll speed up the hotfix for you.

[2021-03-25 19:03] aizefler commented on #1204
Hi @azaslonov, as it is the DEV environment, we have finalized the provisioning of a new instance.

If the problem happens again, I will send you an email.

[2021-03-25 19:04] azaslonov commented on #1204
Ok, sounds good.

[2021-03-25 19:07] azaslonov commented on #1133
Ok, I'm closing it for now, since we don't have a reproduction anymore. Sorry, for the slowness :(

[2021-03-25 19:07] #1133 closed

[2021-03-26 10:53] frankdewaelle opened #1205 "Runtimeversion vs. release"
Via "/internal-status-0123456789abcdef" I got the "Runtimeversion" of my gateway. How can I determine the release

[2021-03-26 17:30] mikebudzynski commented on #1205
There currently isn't a way to correlate release notes with the service release number.

[2021-03-26 17:30] #1205 closed

[2021-03-26 19:06] rafael-teixeira opened #1206 "Migration script for portal (scripts.v3) - Permission"
Hi everyone,

I am trying to run the script (scripts.v3) to migrate APIM portal content from one subscription to another. In this way, I've created an az service principal with "Reader" role in APIM (source) and an az sp with "Contributor" role for APIM (destination) but it is falling with following message:

[code]

I've checked and it's falling to run the following line of the code (post to get

[2021-03-26 19:21] krispenner opened #1207 "Markdown Documentation Wiki"
It would be incredible if a page in the portal could be designated a wiki and then managed via markdown with child pages. The child pages would not appear in the portal designer - they would just be internal to the wiki which is managed via the parent page in the portal designer. Child markdown pages could be added via git using same directory structure as Azure DevOps wiki does. This would allow

[2021-03-26 19:26] arvind1234 commented on #1142
@mikebudzynski Friendly bump, are there any further updates on adding support for PKCE flow? On a security review and we have been asked to look at ways to turn off implicit grant flow and that wouldn't be possible until APIM portal starts supporting auth code + PKCE.

[2021-03-26 19:45] azaslonov commented on #1207
Hi @krispenner, yeah I can understand DevOps style approach. Do you think a small script (which you could embed it into your pipeline) that converts markdown documents into our internal format, and pushes them to APIM using REST API could solve your problem?

One disadvantage to this approach - linked resource, i.e. if you want to change the location of a resource, you'll have to manually update h

[2021-03-26 20:01] campifoo opened #1208 "Activity Logs - Developer Portal"
Activity Logs do not capture Subscription Activity When Happens in Developer Portal

When I access the Subscription blade in Azure portal and create a subscription and regenerate keys, the activity is logged in the Activity Logs.  When I do the same activity using the developer portal, I do not see the activity in the logs.   Is there a way to ensure the Activity is captured when the subscription

[2021-03-26 21:30] krispenner commented on #1207
Trying to convert images and possibly mermaid diagrams which are supported in markdown into the JSON using media components sounds really difficult and kind of backwards. Sure it could be possible but would be very limited without a lot of effort. Markdown is the standard these days for documentation so it should be a supported first class experience in the portal where documentation belongs.

We

[2021-03-26 21:43] krispenner commented on #1207
Don't bother with any support for markdown editing in the designer, at least not for now.

I picture user flow like this:

1. User adds new page in the designer and enters the path where the page resides
2. User selects a checkbox or somehow indicates that this page represents a wiki
3. User could indicate wiki name if you were to support multiple wikis, otherwise for no name needed
4. User saves

[2021-03-27 00:08] mikebudzynski commented on #1041
Thanks for sharing all the feedback. If you're facing any other challenges that an HTML code injection widget would solve - please, post them in this thread.

[2021-03-27 00:38] azaslonov commented on #1207
Technically, we could do export the content back to Markdown as well (losing, of course, all the attributes not supported by Markdown), if the change of the format in the future is your only concern.

Basically, what you describe above defeats the purpose of this project, and probably your best bet would be one of the [static website generators](https://jamstack.org/generators/).

@mikebudzynski d

[2021-03-29 06:45] AnRei123 commented on #1041
Add-on - options enabled by html snippets:
- Add customized buttons
- Support dynamic contents (e.g. lists, display tenant/customer-specific information) and API calls with information on the logged in user
- Support form and configurations fields for registering and configuration workflows. Allow users to enter individual contents.
- Get rid of maintaining/updating central menu elements separatel

[2021-03-29 11:05] arrowhead237 opened #1210 "How to customise the widget text color"
Hi Team,

I am trying to customize the default managed developer portal pages. As part of it, I am trying to change the font color of the text inside the widgets like "Search APIs" (Placeholder), "Search Products" (Placeholder) etc.

I have edited the "Regular" font color under typography in the styles section but this hasn't changed the text color mentioned above. I also am trying to customise th

[2021-03-29 12:17] erwinkramer opened #1211 "OpenApi Export definition dropdown not loading: getResourceName throws error when being called by getApisInVersionSet"
## Bug description

OpenApi Export definition dropdown and api description are not loading in de details page.

## Reproduction steps

1. Get on the self-hosted 2.7.1 version.
2. Make sure you have at least 2 api's in APIM, each with a seperate version set
3. Open the API at the APIM portal
4. See there is no option to download the OpenApi definition, only the 3 loading dots.
5. When commenting ou

[2021-03-29 18:07] mikebudzynski commented on #1206
This script requires access to this endpoint to get storage secrets for saving media files. To use the least-privilege approach, you can create a custom role: https://docs.microsoft.com/en-us/azure/api-management/api-management-role-based-access-control#custom-roles

[2021-03-29 18:07] #1206 closed

[2021-03-29 18:17] mikebudzynski opened #1213 "Customize elements inside widgets"
Add support for customizing elements inside widgets, like headers, fonts, backgrounds, etc.

TODO: aggregate other open Issues under this one.

[2021-03-29 18:18] mikebudzynski commented on #1210
Currently, it's not possible to customize elements inside widgets. I have created an aggregate Issue for such feature requests: #1213

For now, the workaround is to use the self-hosted developer portal.

[2021-03-29 18:27] CoumbaNDI opened #1214 "Link in the confirmation email doesn't work when using delegation"
We have been using the delegation for a while to connect to the api management and never had any problem but
we have been made aware last week by our users that when they click on the confirmation link of the email after registering that they don't have access to the APIM.
On the back we can see that the state of the users is still pending and not active.

## Bug description

A clear and concise d

[2021-03-29 20:36] ygrik commented on #1214
@CoumbaNDI
could you please provide details on how you create a user, traces from the browser, and your APIM service name to apimportalfeedback@microsoft.com

[2021-03-30 00:38] mikebudzynski commented on #1207
@krispenner, could you please confirm my understanding of the problem space, disregarding potential solutions?

1. You would like to use a git repository for publishing the developer portal.
2. You would like to complement fully-customized existing pages with content that's written in markdown (for example, API tutorials).
3. You would like to edit the markdown pages in the admin mode of the porta

[2021-03-30 00:58] mikebudzynski commented on #1201
Thanks for bringing this up. API Management doesn't enforce strict CORS policies by design. Is this an issue for you?

[2021-03-30 01:02] mikebudzynski commented on #1208
Administrative actions are automatically included in the Activity Logs, because the API calls are routed through Azure Resource Manager, while developer portal actions are routed directly to API Management. At this moment, we're unsure about the scope of this improvement and can't provide an ETA.

[2021-03-30 08:54] AnRei123 opened #1216 "Allow the import and export of "deprecated" and customized ("x-...") fields in Swagger files for APIM instances"
## Background info
An e-mail notification shall be sent to API consumers when operations are newly declared to be deprecated.

To automate triggering the e-mail notifications, we want to read and compare the Boolean values of the deprecation fields for each operation in the Swagger file.  If the value of the "deprecated" field has been newly set to "true" in comparison to the previous rollout to a

[2021-03-30 09:29] AnRei123 commented on #1213
Would be also good if the header level, for example, for the "API details" widget could be customized. Currently the API name is displayed as header 2. But we would required the header level 1 as we show the content of this widget on top of the page.

[2021-03-30 09:32] JulesP96 opened #1217 "Use Azure Resource manager API instead of APIM Management API"
Hi,

Are there any plans to fully utilize the ARM endpoint instead of the APIM Management API?

Instead of using: **https://<apimServiceName>.management.azure-api.net** I'd like to use **https://management.azure.com/**. For the build phase, I can see that the scripts V3 already uses the management.azure.com endpoint, however, when using it in the `config.json` the MapiClient still generate a Share

[2021-03-30 14:57] AnRei123 commented on #1207
We currently phase the problem that we think about migrating different mark down pages and structures from different Azure wikis to the Developer Portal. Currently, these markdown pages are maintained directly by the dev teams which is more scalable than if I would need to centrally maintain and update the content from the portal in editor mode.
On the one hand it would be great if the markdown wo

[2021-03-30 15:28] AnRei123 commented on #1202
Would this feature also allows to add a local host address to the list?
And would it be possible for a portal user to extend the list with other local host addresses for different ports?

[2021-03-30 15:58] #1058 closed

[2021-03-30 17:16] krispenner commented on #1207
@azaslonov

Can you elaborate on what the defined purpose of this project is? I'm sure there is much more than what I need it for, but I had assumed the primary focus was to list all of the available APIs to our customers, allow them to sign-up with a developer account, subscribe to the APIs, and then test them directly in the portal. While you are continually improving on these features, I never

[2021-03-30 17:47] mikebudzynski commented on #1217
Yes, we have plans to:

1. Make the administrative plane of the portal to use ARM instead of direct access API. ETA is several months.
2. Provide support for publishing of the developer portal via ARM (the only remaining piece). ETA is several weeks.

"ARMification" transforms the URL to a specific format that's defined by ARM (i.e., /subscriptions/{guid}/...).

[2021-03-30 17:47] #1217 closed

[2021-03-30 17:59] mikebudzynski commented on #1216
@AnRei123, we're not able to provide a quick fix within 1-2 weeks.

We will be implementing support for the `deprecated` property in the coming weeks and then it needs to be rolled out with the API Management service release, which can take additional 1-2 months.

Support for custom properties is also on the roadmap. Tentative ETA is by the end of the year.

[2021-03-30 18:00] mikebudzynski commented on #1216
Referencing #1148

[2021-03-30 18:06] azaslonov commented on #1207
That is very interesting feedback folks, I honestly haven't thought from that angle. I feel like we need a deeper and probably in-person conversation on these tocips.

@krispenner, your definition of the purpose matches mine precisely. Answering your question: the widgets and the whole styling system here are to help the majority of customers to reflect their brand while publishing the API documen

[2021-03-31 13:42] arrowhead237 opened #1218 "Customize API: List Background"
Hi Team,

I am trying to customize the default managed developer portal pages. I have currently made the page background black. When I select the APIs List page and then select an API eg "Authentication" I get taken to API definition and changelog page. When I select "Try it" a window pops up from the right hand side that is currently white. Am I able to customise the background color of this? If

[2021-03-31 17:52] mikebudzynski commented on #1218
It's currently not possible to customize the background of the interactive console. We have an improvement planned to resolve this issue: #1213 For now, as a mitigation you can use the self-hosted portal and modify the background in the code.

[2021-03-31 23:32] azaslonov opened #1220 "Add content type request example selector to Test console."
Currently, the Test console, when pre-filling the request body from representation example, takes the first request representation in the list, not allowing users to use another one, if it is present.

[2021-04-01 03:40] ryanlifferth commented on #290
I had a similar issue with this.  I was unable to get the querystring workaround to work properly.  However, it did work when I added the policies --> inbound section of API Management service policies `<set-header name="Ocp-Apim-Subscription-Key" exists-action="delete" />`.

Without this setting, I continue to get CORS error on my POST, but not on the OPTIONS call.  My question is, is the expecte

[2021-04-01 07:18] ZarTrox commented on #1198
![image](https://user-images.githubusercontent.com/58420097/113257606-2283a000-92cb-11eb-9be0-96b11a7abc06.png)

Is this enough?

[2021-04-01 11:09] brdjukic opened #1221 "Template parameters appended into query in apim dev portal"
## Bug description

Dev portal UI correctly displays path parameter in 'Template parameters' list, but when it's filled out, the value is not placed into the path placeholder of the Request URL, but instead it gets appended as a query parameter.

![image](https://user-images.githubusercontent.com/50868342/113285280-13ace580-92eb-11eb-92b8-6104f460ed51.png)

## Expected behavior

The correct result

[2021-04-01 13:53] ErikMogensen commented on #960
In our case nothing happens when you select Password from the dropdown. Anticipating wonders from the #1219 fix. Can you give us an update when you think the backend fix will start being rolled out?

[2021-04-01 15:56] azaslonov commented on #1198
Hi @ZarTrox, yes, thank you. This issue has been fixed in the ongoing release.

[2021-04-01 15:59] azaslonov commented on #1221
Hi @brdjukic, thanks for reporting the issue, we'll fix this.

[2021-04-02 02:35] khigashi1021 commented on #1182
@mikebudzynski, My customer and I are also facing same issue. Do you have any plan to fix it?

[2021-04-02 18:12] ygrik commented on #1214
@CoumbaNDI I found the issue and working on hotfix.
As a workaround I recommend creating a user with Active status and without notification parameter.

[2021-04-02 19:47] #1183 closed

[2021-04-02 19:48] #1099 closed

[2021-04-02 19:49] #1182 closed

[2021-04-02 20:01] azaslonov commented on #1196
Most of public services have been upgraded, the issue should be gone.

[2021-04-02 20:05] azaslonov commented on #1062
Fixed all cases. Managed version release is in progress.

[2021-04-02 20:05] #1062 closed

[2021-04-02 20:06] azaslonov commented on #1051
Most of the public services were upgraded. The issue should be gone.

[2021-04-02 20:06] #1051 closed

[2021-04-02 20:07] azaslonov commented on #1039
Most of the public services were upgraded. The functionality should be working now.

[2021-04-02 20:08] azaslonov commented on #965
Closing due to inactivity.

[2021-04-02 20:08] #965 closed

[2021-04-02 20:09] azaslonov commented on #960
Yes, will do.

[2021-04-02 20:13] azaslonov commented on #689
This has been fixed some time ago. Please re-open the issue, if it still doesn't work for you.

[2021-04-02 20:13] #689 closed

[2021-04-05 16:35] #1214 closed

[2021-04-05 18:10] ankrause opened #1224 "Subscription Key in "Try It" should be masked by default"
I didn't see an existing issue for this, which is surprising so apologies if I missed it -

In the new developer portal's "Try It" pane for an API, the subscription key is shown in plain text for both the headers section as well as the "HTTP request" section. These (IMO) should be masked by default.

This is also a degradation of functionality from the deprecated portal which does mask the subscri

[2021-04-05 18:21] azaslonov commented on #1224
Hi @ankrause, yes, I agree. We'll fix this.

[2021-04-06 02:00] anshul-kumar-agl opened #1225 "Npm run publish step eats exception"
In Npm run publish command, if there is any error while publishing, code only logs it and eats exception by returning null. The code is part of node_module @paperbits/core, so we have no control over the code.

For example, mediaPublisher.ts and pagePublisher.ts are the publishing modules where exceptions are getting eaten up.

![image](https://user-images.githubusercontent.com/68211464/113648191-

[2021-04-06 06:52] AnRei123 commented on #1039
For our test instances, publishing the portal contents with the publishing scripts still does not work yet.

[2021-04-06 08:45] ZarTrox opened #1226 "Scripts v2/v3 documentation"
Hi!

Currently there are two different scripts folders. Scripts.v2 and Scripts.v3. I didn't find a description/documentation and [https://github.com/Azure/api-management-developer-portal/wiki/Migrate-portal-between-services](https://github.com/Azure/api-management-developer-portal/wiki/Migrate-portal-between-services) does not discuss Scripts.v3.

Naturally one would think that v3 is newer and is

[2021-04-06 09:13] kieranross89 commented on #1039
Is the new publish endpoint documented anywhere? Thanks.

[2021-04-06 12:48] CosminLazar commented on #1201
We received this through our bug bounty program and thought to share it with you guys.
Given that it is not a security issue we have no immediate need to have CORS enforced in the backend.

[2021-04-06 12:58] CosminLazar opened #1227 "Password length bypass while changing password via forget request"
## Bug description

The password length limit can be bypassed while setting a new password through the password reset link. I have set my account password to just 1 nothing else.

## Reproduction steps

1. Go to any developer portal reset password page and request a password reset link.
2. Click on the password reset link. Now you will be asked to set your new password.
3. Enter any 8 digit passwo

[2021-04-06 13:42] CosminLazar opened #1228 "Hyperlink Injection due to No Special character restriction on Name fields while signing up in the developer portal"
## Bug description

Hi, I noticed that while signing up at the developer portal there is no restriction for the name field, Any special character or URL , as well as scripts are accepted in this field. Through html and javascript is sent as plaintext, However links are hyperlinked in the  email templates.

An attacker can use victims email on sign up page , where he gives URL's in the first and la

[2021-04-06 13:55] CosminLazar opened #1229 "Previously requested password reset tokens do not expire"
## Bug description

When requesting a password reset multiple times via the developer portal all the reset links are valid. I would expect that only the last generated password reset link would be valid.

## Reproduction steps

1. Go to a developer portal reset password
2. Request Password Reset Token Number 1
3. After sometime Request Token Number 2
4. Then Token Number 3.
5. Check your mail inbo

[2021-04-06 14:03] CosminLazar opened #1230 "Session does not expire on password change"
## Bug description

When you change the password of your account in the developer portal from one browser or computer , the current remaining session on the other device or browser does not expire.

## Reproduction steps

1. Login from Browser 1.
2. Login from Browser 2.
3. Change password from Browser 1.
4. Now go to Browser 2 and check that session is still active.
5. Session did not expire.

##

[2021-04-06 17:44] mikebudzynski commented on #1226
We're working on documentation.

No. v3 are using ARM instead of direct access API. v3 doesn't yet support automated publishing of the managed developer portal (coming soon).

We recommend using v3, since the ARM approach is more secure.

We will be maintaining v3 only going forward, but they both will continue to work with the existing API versions.

[2021-04-06 17:44] #1226 closed

[2021-04-06 18:24] mikebudzynski commented on #1039
https://docs.microsoft.com/en-us/rest/api/apimanagement/2020-06-01-preview/portalrevision/createorupdate

[2021-04-06 18:35] azaslonov commented on #1225
Hi @anshul-kumar-agl, right this is intentional. Failing publishing (at least in managed version) because of the unavailable resource and not telling it the reason to customers would be not user-friendly. To address this we're rolling out the new publishing API which will have error details in the portal revision records.

For the self-hosted version, you can override MediaPublisher to throw the e

[2021-04-06 19:22] kendallroden opened #1231 "Broken Hyperlink in Dev Portal email confirmation on Outlook for Mac Desktop App"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-04-06 19:23] azaslonov opened #1232 "Uploaded font families don't get synchronized with backup/restore scripts"

[2021-04-07 05:24] azaslonov commented on #1039
@AnRei123, do you have any errors? Are you following the documentation (like Mike has provided above)?

[2021-04-07 06:43] AnRei123 commented on #1039
[https://docs.microsoft.com/en-us/rest/api/apimanagement/2020-06-01-preview/portalrevision/createorupdate](https://docs.microsoft.com/en-us/rest/api/apimanagement/2020-06-01-preview/portalrevision/createorupdate)
Why does this API "**Portal Revision - Create Or Update**" publishes the portal? The documentation does not state it. The documentation just states that with the help of this API you are

[2021-04-07 06:46] AnRei123 commented on #1039
@azaslonov: To be honest, currently I still use the V2 scripts and I still get an error message. But I am interested in understanding if I should migrate to the ARM rest APIs with V3? Would the V2 scripts still be supported in future?

[2021-04-07 09:52] kieranross89 commented on #1039
Thanks that works. Although I noticed it takes an awful long time to publish ( a number of hours). My test instances use the developer tier, is this due to their being no SLA or should I expect to see similar in our prod instance?

[2021-04-08 06:44] AnRei123 commented on #1226
Hi Mike, for v3, do you still support the possibility to download, upload and publish the content and media files in three separated steps? This would be very important to us for the following reasons:
1) We like to archive the files in our repository before deploying to other environments.
2) We automatically modify some content in the data.json to get environment-specific contents (variant manag

[2021-04-08 15:32] martinsamanek opened #1235 "Original response status message is not returned"
## Bug description

Response status message in the console is set based on status code instead of real message in response

## Reproduction steps

1. Go to developer portal
2. Click on APIs and select an API
3. Try it and send a request
4. Check response

## Expected behavior

If a status message is provided within the status code, it should be visible

## Is your portal managed or self-hosted?

S

[2021-04-08 17:41] azaslonov commented on #1235
Makes sense. We'll fix this.

[2021-04-08 19:15] azaslonov commented on #1231
Thanks, Kendall. We'll investigate this.

[2021-04-08 21:34] ygrik commented on #1231
@kendallroden could you please send the email source to apimportalfeedback@microsoft.com
I checked the email template, from the first it looks like the issue in Outlook for Mac desktop Application

[2021-04-08 22:04] azaslonov commented on #1204
The fix has been deployed everywhere in public cloud.

[2021-04-08 22:04] #1204 closed

[2021-04-09 07:40] CosminLazar opened #1237 "Failure to invalidate session on logout in same browser"
## Bug description

Signing out from one tab does not sign the user out of all the tabs in the same browser.

## Reproduction steps

1. Login to your account from browser 1 Tab1.
2. Login to your account from browser 1 Tab2.
3. Now logout from Tab 1.
4. Going to Tab 2 and refreshing the page shows that the session is still active
5. You can even go to profile, change the name and the change persis

[2021-04-10 08:16] AnRei123 opened #1240 "Migrate fonts or download already removed fonts"
I started figuring out if the time is mature to use our own fonts according to our brand. There are two different font types in .ttf format.
Great that the styles page allows to upload more than one font in the meantime. And great that the fonts are downloaded to the media folder when I create a backup. Great also that the fonts seem to be also migrated to another environment when uploading my bac

[2021-04-10 16:19] azaslonov commented on #1179
Update: Popups concept is ready and coming in the next release. Meanwhile, the "Download" option is now available for media files:

![image](https://user-images.githubusercontent.com/2320302/114276922-ac272200-99dd-11eb-84d9-90eea60df7da.png)

[2021-04-12 06:02] AnRei123 commented on #1179
Looks good. Thank you very much. But there are still some new issues in the designer mode as of last Friday.

# Observations in the in the editor mode

 The images are not displayed anymore on the pages, nor as a preview in the media gallery as depicted in the following screenshots.
1)
![Image_place_holder_icon_on_page](https://user-images.githubusercontent.com/58981351/114345918-dd7d2a80-9b62-11e

[2021-04-12 07:55] Kumar-Ashwin-Hubert commented on #636
This bug needs to reopened as the issue has reoccurred.

Setting a required `"Query"` parameter in OpenAPI is getting set as `"Template"` parameter.

### Detailed Info:

In the below OpenAPI sample, `id` has been marked as a required parameter in query :
![image](https://user-images.githubusercontent.com/25590394/114359107-44193d00-9b91-11eb-8e2b-1b47d98454cd.png)

On save of the OpenAPI spec, the

[2021-04-12 11:00] Kumar-Ashwin-Hubert opened #1241 "Mandatory query parameters shown as template parameters when created from OpenAPI specification"
## Bug description

Setting a required "Query" parameter in OpenAPI is getting set as "Template" parameter in Azure APIM.

## Reproduction steps

1. In the below OpenAPI sample, `id` has been marked as a required parameter in query :
![image](https://user-images.githubusercontent.com/25590394/114359107-44193d00-9b91-11eb-8e2b-1b47d98454cd.png)
2. On save of the OpenAPI spec, the mandatory query pa

[2021-04-12 14:17] AnRei123 commented on #1111
The issue occurs again since today.

[2021-04-12 15:10] kieranross89 commented on #1039
@azaslonov / @mikebudzynski so after a bit of further experimentation I have noted the following behaviour and not sure if the initial manual publish would be expected or not.

The process is as follows:
* Deploy a fresh APIM instance - via our existing arm template with the API versions updated
* Our pipeline then updates our dev portal content once the ARM template is completed and attempts to p

[2021-04-12 21:19] azaslonov commented on #1111
Did it happen in 15-20 minutes? Basically, the expiration still can happen if the client cannot reach the backend when trying to refresh the token, i.e. when the service (developer SKU) is being rebooted.

[2021-04-12 22:01] azaslonov commented on #1179
Hi @AnRei123, I tried to reproduce it on one of your services, but could. It might be temporary (known browse cache issues), but if it's not, please send us the names of affected services.

The lightbox is not there yet. First we'll roll out the support for popups (next release), then the lightbox will follow as an extension feature on top of it (probably a release or two after that).

[2021-04-13 08:03] ErikMogensen commented on #1039
I have the same issue.

At least you get a confirmation now what happened with the request instead of having to wait a long time to determine the outcome.

[2021-04-13 08:07] ErikMogensen commented on #1196
I just tried this on an instance in West Europe with:

  "CodeVersion": "20210402201829",
  "Version": "0.19.1172.0"

But it is still not working :(

Is this a backend update? Which version number is it included in?

[2021-04-13 08:25] velsietis opened #1243 "Username and Password identity provider allows hyperlinks in name fields"
## Bug description

The sign up form can be hijacked to send out malicious links in the invitation email.

## Reproduction steps

1. In identities ensure "Username and Password" is selected
2. Go to  `/signup` in the developer portal
3. For First Name enter: `user, please verify yourself here: https://malicious.link`
4. For Email enter the intended recipient of the malicious link
5. The recipient

[2021-04-13 09:26] AnRei123 commented on #1179
Today, the images are correctly displayed again in my editor environment.

[2021-04-13 09:49] ZarTrox opened #1244 "Blurry text in images after re-sizing"
## Bug description

Currently when inserting images containing text, no matter the size of the image, the text will get blurry quickly while adapting the size of said image.

This does not happen when resizing outside of the portal e.g. PowerPoint:

https://user-images.githubusercontent.com/58420097/114531629-5dcb8a80-9c4c-11eb-8d5e-ea84a13f433e.mp4

As you can see here the text is easily readable

[2021-04-13 10:03] patst commented on #1202
Would be great to have the path customizable as well.

We use different hostnames per API fronted by an Application Gateway and redirect them to the managed gateway with path/ host rewrites.

[2021-04-13 10:47] ZarTrox opened #1245 "Responsiveness for images with text"
## Bug description

Currently the responsiveness in the DevPortal scales images corresponding to the screen resolution. Meaning if I use a tablet or a mobile phone, then the image gets smaller and smaller. While this is desirable for some cases it is not desirable for images containing text. At some point text may not be able to be read.

![TextInImage](https://user-images.githubusercontent.com/58

[2021-04-13 11:29] AnRei123 commented on #1245
In the example above, the image width uses the whole column by default.

But especially in the case if the inserted images is smaller than the content column outside the image, when reducing the Windows size, the image size should not be reduced proportionally. The image size and proportion should be kept as long as possible even for small window resolutions to allow readability of the texts insid

[2021-04-13 13:57] geiyer opened #1246 "V3 : Migrate: Publish portal"
## Bug Description

I was able to use Ver#3 Migration Script with my own step to "Publish" using the portalRevision endpoint. I noticed that with this [commit]
(https://github.com/Azure/api-management-developer-portal/commit/6211dbd4ee7c443cf7d621be7ea88227a67758bb)
my job started failing.

I do see the following error message in my pipeline:

_Unable to schedule website publishing. Could not comp

[2021-04-13 14:03] AnRei123 opened #1247 "Support the display of group-specific contents (variant management)"
## Bug description

Currently it is very cool that the APIM portal allows to control which AAD group can see which API definitions in the DevPortal (list of APIs and list of API products is displayed user-specific).

But this isn´t sufficient for our use cases. Beyond this, we need to control also the visibility of page contents depending on the currently logged in user. In some cases, our interna

[2021-04-13 17:14] azaslonov commented on #1246
Fixed in #1242.

[2021-04-13 17:14] #1246 closed

[2021-04-13 17:15] azaslonov commented on #1240
Looks like a migration script issue. I'll take a look.

[2021-04-13 17:16] azaslonov commented on #1243
Thanks for reporting the issue, we'll fix this.

[2021-04-13 18:26] azaslonov commented on #1245
Ok, I see. It looks like a grid issue rather than a picture. What would help here is to set fixed width for a column containing the picture. There are few things coming up that can help:

The first one is the "Table" widget (a week or so away), which will have min and max width settings for columns and rows, the only problem would be the rows that do not wrap on smaller screens.

The second one (J

[2021-04-13 18:34] azaslonov commented on #1244
Hi @ZarTrox, unfortunately, we cannot control things like this, it is browser rendering implementation, which obviously different from PowerPoint. What I would recommend is to use a bigger-resolution picture and force it into a smaller size using Picture Editor settings. If you open the F12 console in your browser and type `window.devicePixelRatio`, you'll see what ratio you may want to keep betwe

[2021-04-13 18:34] #1244 closed

[2021-04-13 18:36] azaslonov commented on #1231
Closing the issue here. Following up offline.

[2021-04-13 18:36] #1231 closed

[2021-04-13 22:45] mikebudzynski commented on #1230
Related to #1237

[2021-04-13 22:47] mikebudzynski commented on #1240
Cross-referencing #1165

[2021-04-13 22:48] mikebudzynski commented on #1241
Cross-referencing #1221

[2021-04-13 22:50] mikebudzynski commented on #1243
Cross-referencing #1228

[2021-04-13 23:04] mikebudzynski commented on #1247
@AnRei123, thanks for opening the feature request. Initially, we have been planning to implement page-level-only access controls to hide pages from unauthenticated users (so without fine-grained access control you described above), but we will reevaluate the feature based on your feedback. At this moment, we don't have an ETA for it.

Cross-referencing #533.

[2021-04-13 23:38] azaslonov opened #1248 "Implement rendering of top-level "allOf" definition as a combination of properties of enumerated definitions"
We should be able to properly render "allOf" combination in API documentation, so that schema like:
[code]

Would be rendered as if we had object like:
[code]

![image](https://user-images.githubusercontent.com/2320302/114634037-8f594b80-9c76-11eb-9144-69e4d6d0edf4.png)

[2021-04-13 23:39] mikebudzynski opened #1249 "Test issue"
Test issue.

[2021-04-14 07:37] martinsamanek opened #1250 "Losing authentication when opening a link in a new window/tab"
## Bug description

Authentication is kept only in the tab, where I was logged in. When opening a link into a new tab/window (use Ctrl+Click), I'm not authenticated in the new tab.

## Reproduction steps

1. Go to Developer portal
2. Click on Sign In
3. Sign In with an available method (we use the form and AAD)
4. Ctrl+Click on any link (i.e. APIs)
5. Check authentication status in the new tab

##

[2021-04-14 07:52] AnRei123 commented on #1111
Yes, it happens again after 15 to 20 minutes. Could you fix this issue again?

[2021-04-14 10:47] Norgaard13 opened #1251 "Page-level access rights"
First things first, thanks for your work. This product is great

I have added the developer portal to support the description of the code-generated API management setup.

Within the API management setup i can restrict access to the services for users and/or user groups.  As an example, Users A only have access to API Services 1,2,3, whereas User B only have access to API Services 3,4,5
This works

[2021-04-14 13:57] Norgaard13 commented on #1251
_PPS. The example of the "loged in user" the navigation hides the /reports page, which cannot be seen in the topmenu, unless the user is logged in. So the nagivation is access enabled. However, it is still possible to access the page by typing the URL directly, e.g.
https://xyx.developer.azure-api.net/reports._

[2021-04-14 17:29] mikebudzynski commented on #1251
Currently, we don't support page-level access controls, but this feature is on our roadmap. Referencing #1247 and #533.

[2021-04-14 17:30] #1251 closed

[2021-04-14 18:28] azaslonov commented on #1111
Reproduced indeed. Working on it...

[2021-04-15 07:04] iTiamo commented on #410
This is still an issue for me. I've populated all properties with examples and yet the request body remains empty.

[2021-04-15 17:55] mikebudzynski commented on #410
@iTiamo Could you send your service name and the API id to apimportalfeedback@microsoft.com?

[2021-04-15 22:36] azaslonov commented on #1250
Hi @martinsamanek, since you're using the self-hosted portal (and I believe it's a static type of hosting like blob storage), there is no backend that would process cookies to restore the session. Plus that, looks like the browser doesn't transfer `sessionStorage` content into new tabs.

So, for now, looks like you'll have to live with this, but for the future, we're planning to open-source our ba

[2021-04-15 22:36] #1250 closed

[2021-04-15 23:01] #1111 closed

[2021-04-16 06:45] AnRei123 commented on #1039
Till when will the v2 scripts be supported? We haven´t started to move to the ARM templates yet, and I would prefer that both approaches could be supported in parallel.
Or that you at least offer GUI buttons in the APIM portal additionally to enable manual backups and uploads for test reasons. But to keep the v2 scripts for a longer period of time with a working publishing approach would be prefer

[2021-04-16 07:08] ErikMogensen commented on #1196
If you fix #1039, "Publish using ARM REST APIs", I won't care about this issue.

[2021-04-16 07:32] TarekMansour opened #1253 "How to customize product subscription widgets"
Hi Team,

I am trying to customize the default managed developer portal pages. I want to remove the text box and the subscribe button from product details page.

![image](https://user-images.githubusercontent.com/24205064/114988138-e2f1b200-9e8d-11eb-9f59-088c60630984.png)

I can not remove it in edit mode, maybe I miss something to do! Could you please challenge me with you ideas?

Thanks.

[2021-04-16 07:52] ArkimeraMattias commented on #401
Any update on this issue?

Our Azure managed portal is still not showing the menu correctly and prohibits us from having a mobile friendly development portal.

[2021-04-16 08:08] ArkimeraMattias commented on #1187
Any update on this issue?

[2021-04-16 17:37] azaslonov commented on #1039
@AnRei123, oh no worries about it, many people still use it, so we won't drop it just like that. Most likely we'll just make v3 backward compatible with v2, before deprecating it.

[2021-04-16 17:58] azaslonov commented on #1039
@kieranross89 please send us your service names, I'll take a look into the logs.

@ErikMogensen, I'm following up with you offline.

[2021-04-16 18:51] azaslonov commented on #401
Hi @ArkimeraMattias, yes, there is some progress. In the next release, we're shipping a concept of Popups, which brings much more flexible options for addressing scenarios like mobile menus (and many others). You'll be able to customize a popup as you need (position, alignment, padding, background, borders, backdrop, etc.) and assign it to any linkable trigger (button, menu item, etc.).

The popup

[2021-04-16 19:26] kieranross89 commented on #1039
Done.

Thanks 🙂

[2021-04-19 04:10] ncroad opened #1254 "Date time formats"
In various places in the "new" Developer Portal where dates are rendered (e.g. the Profile page - subscription created, profile created), the dates are formatted with a US Date format (e.g. MM/dd/yyyy). See screenshot below.

We require the ability to control the date format and have it rendered in the standard date format for our country, i.e. dd/MM/yyyy.

Are we missing something, or can we plea

[2021-04-19 08:57] ZarTrox opened #1255 "Collapse menu-widget items"
## Bug description

Currently it is not possible to collapse menu items in the DevPortal.

On the official Microsoft documentation page the side-menu is able to collapse all menu items containing children.
![image](https://user-images.githubusercontent.com/58420097/115207003-7a0f7180-a0fb-11eb-8930-5445be34e21d.png)

In our DevPortal we have a lot of content and documentation. Our menu-widgets are

[2021-04-19 09:18] ZarTrox opened #1256 "Unable to download images from blob storage"
## Bug description

For a few days I have been unable to download/upload images from/to the DevPortal.
But the data.json download/upload works perfectly fine.

I get an error message:

[code]

[...] = private data

My colleague can download/upload but after comparing files we weren't able to find the root cause.
What I found is that ECONNRESET apparently means that there is a connection Issues to

[2021-04-19 10:05] AnRei123 commented on #1255
Thanks Zartrox for bringing up this issue. To collapse menus as of a dedicated navigation hierarchic level, a configuration option for the menu widget is missing. It need to be possible to decide for each menu item independently, as of which navigation level the headers should be collapsed by default when entering the page.

[2021-04-19 13:45] arrowhead237 opened #1257 "Images not displaying on published version of the site"
Good Afternoon,

I have placed images on the homepage of the api dev portal and they are visible when using the builder for the site (Screenshot provided)

![Screenshot 2021-04-19 154031](https://user-images.githubusercontent.com/81563887/115245998-c8396a80-a125-11eb-856b-948843f03313.png)

But once I publish the page, the images aren't visible (Screenshot provided)

![Screenshot 2021-04-19 154324

[2021-04-19 17:45] azaslonov commented on #1257
Hi @arrowhead237, yep, there is a known issue with the backend, the hotfix is rolling out, but if you want to speed it up for your service, please send us your service name to apimportalfeedback@microsoft.com.

[2021-04-19 18:18] #1256 closed

[2021-04-19 18:21] azaslonov commented on #1253
Hi @TarekMansour, you can select the widget and click on the "trash" button to delete it.

![image](https://user-images.githubusercontent.com/2320302/115284262-4df6ef00-a101-11eb-897c-7df22768f19f.png)

[2021-04-19 18:21] #1253 closed

[2021-04-19 18:26] azaslonov commented on #1254
Hi @ncroad, local formats for dates and other contents will be supported as part of multi-language support: work item #137, please use it for tracking.

@mikebudzynski, do you want to comment on timelines?

[2021-04-19 18:26] #1254 closed

[2021-04-19 18:27] azaslonov commented on #1255
@ZarTrox, @AnRei123, makes sense, let me add this option.

[2021-04-19 18:30] azaslonov commented on #1241
We have scheduled a work item for the Azure portal team, ETA is around 3 weeks.
I'm closing this issue because it's not related to the Developer portal project.

[2021-04-19 18:30] #1241 closed

[2021-04-19 18:33] azaslonov commented on #1221
We have scheduled a work item for the Azure portal team, ETA is around 3 weeks.
I'm closing this issue because it's not related to the Developer portal project.

[2021-04-19 18:33] #1221 closed

[2021-04-19 18:43] azaslonov commented on #1184
Fixed in the previous release (please re-publish if you haven't done so yet). Please feel free to re-open shall you still can repro it.

[2021-04-19 18:43] #1184 closed

[2021-04-19 18:56] azaslonov commented on #1125
Released everywhere in the public cloud. Please you new "Use CORS proxy" option in the "Operation details" widget editor to enable it.

[2021-04-19 18:56] #1125 closed

[2021-04-19 19:00] azaslonov commented on #1102
It was fixed some time ago. Please feel free to re-open shall you need further assistance.

[2021-04-19 19:00] #1102 closed

[2021-04-19 19:03] azaslonov commented on #1084
Closing since agreed to follow up offline. If you haven't received any communications from us, please send us an email one more time in case it got lost.

[2021-04-19 19:03] #1084 closed

[2021-04-19 19:04] #1077 closed

[2021-04-19 19:23] #1049 closed

[2021-04-19 20:29] velsietis opened #1258 "CAPTCHA on self-hosted portal - CORS error (after following Wiki instructions)"
## Bug description

Unable to sign in to a self-hosted portal with CAPTCHA enabled, even after following the [wiki instructions](https://github.com/Azure/api-management-developer-portal/wiki/Enable-CAPTCHA)

It is a CORS issue as described in #1054 (but occurs even with a custom domain on the managed portal).

## Reproduction steps
As per the wiki instructions to [enable CAPTCHA](https://github.co

[2021-04-19 20:49] azaslonov commented on #1258
Thanks, @velsietis, we'll take a look.

[2021-04-20 07:07] ZarTrox opened #1260 "Responsiveness of menu-items"
## Bug description

When resizing the browser window a menu on a side of the page is contrary to the setting not anymore aligned to the top.
One has to scroll to see the menu.

Normal:
![image](https://user-images.githubusercontent.com/58420097/115351970-1ba7c900-a1b7-11eb-8d99-ccbaf12e2757.png)

Buggy:
![image](https://user-images.githubusercontent.com/58420097/115351984-1fd3e680-a1b7-11eb-83dc-e

[2021-04-20 10:15] ZarTrox opened #1261 "Keep image settings after changing image"
## Bug description

In the editor mode of the Developer Portal you need to work with images and configure them.
But replacing an image with a newer version of said image resets the size formatting.
The "styling", "caption" and "link to" remain the same but not the size formatting.

Keeping the size-settings will increase work efficiency and decrease the chance of mistakes.

---
@AnRei123

[2021-04-20 10:27] ZarTrox opened #1262 "Update image with newer version"
## Bug description

In the editor mode of the DevPortal you can upload and delete images at the bar on the left.
One thing that is missing is that images should be replaced/updated with newer version of an image.

Here is a proposal from my side how it could look like:
![image](https://user-images.githubusercontent.com/58420097/115379784-2459c880-a1d2-11eb-931c-41d8133f803d.png)

If one should use

[2021-04-20 11:45] AnRei123 commented on #1262
The main problem from my side is that with the current approach takes too much time. When creating or updating graphics, you need to create several versions and to try out how it fits, for example regarding the font sizes and the proportions to, to the other page elements. To do this, I currently need to perform the following steps again and again:
1. Navigate to the page with the image and select

[2021-04-20 12:26] TarekMansour commented on #1253
@azaslonov when I'm on Authenticated mode, the subscribe form is not displayed to me!

![image](https://user-images.githubusercontent.com/24205064/115395629-fda08f80-a1db-11eb-8913-c79f00a158df.png)

[2021-04-20 16:11] azaslonov commented on #1260
Hi @ZarTrox, I think that you need to do the alignment on the grid cell, not on the collapsible panel.

[2021-04-20 16:15] azaslonov commented on #1260
Btw, in a couple of weeks, we're bringing additional controls to configure responsive properties, that will make those pretty explicit.

[2021-04-20 16:39] jaywhaaub commented on #316
This would be an extremely useful feature.

[2021-04-20 17:31] mikebudzynski commented on #1254
Most likely in 2022.

[2021-04-21 06:27] AnRei123 commented on #1260
ZarTrox did the alignment for both, the collapsible panel and the grid cell (aside). It seems to be a bug.

[2021-04-21 08:46] Radamonas commented on #1191
We noticed this behavior as well.

[2021-04-21 17:20] azaslonov commented on #1260
Can you please share the permalink or name of that test page (via email maybe)? I still can't repro this.

[2021-04-21 17:32] azaslonov commented on #1260
I actually found one of the pages, and confirmed my suspicion, - on smaller screen sizes, the alignment was "center". It is not super obvious, that's why I was talking about new UI for responsive properties that would explicitly tell you about how it's configured.

Meanwhile, please try to do this: While having "Article" (same goes to  "Aside", "Footer" etc.) editor open, switch between the screen

[2021-04-21 19:32] TarekMansour opened #1264 "product subscription customization"
Hi,

I am trying to customize the default managed developer portal pages. I want to remove the text box and the subscribe button from product details page.

![image](https://user-images.githubusercontent.com/24205064/115610118-56f1e700-a2e0-11eb-8748-a0032b26e34e.png)

when I'm on Authenticated mode, the subscribe form widget is not displayed to me (while edit)

![image](https://user-images.github

[2021-04-21 20:14] t-higgs-qa opened #1265 "Path parameters description getting changed"
## Bug description

Currently the dev portal adds a suffix to path parameters which is overriding our desired description.

## Reproduction steps

1. Create an open API spec which includes a path parameter:
[code]
2. Upload that to the apim as a new endpoint
3. View the OpenAPI specification for the new endpoint and notice that it now includes "Format - int32" in the description, even though the d

[2021-04-21 21:29] mikebudzynski commented on #1041
Thanks for the feedback so far. We're now working on the problem space research and we need your feedback on the below points **for each scenario you'd like to use HTML code injection widget**. We appreciate all answers - please, post them in this thread or directly to apimportalfeedback@microsoft.com with the issue number #1041 in the subject.

1. Can you briefly describe the scenario you'd like

[2021-04-22 06:23] ZarTrox commented on #1260
Thank you. The fact that the different screen sizes are not just for display is new to me.

[2021-04-22 07:18] AnRei123 commented on #1041
1.	Can you briefly describe the scenario you'd like to use the HTML code injection widget for?
              _AR: _use cases in future might be for example:
               - adding own buttons with a dedicated behavior such as a dedicated download button including icons.
               - adding viewports for external application snippets
               - simplify external authoring support and mar

[2021-04-22 07:19] Kumar-Ashwin-Hubert commented on #1241
@azaslonov can you please share in the work item link that you created for the Azure Portal team, so that I can track it.

[2021-04-22 08:17] AnRei123 commented on #1260
Yes, thanks. This fixed the issue. But still, for very small resolutions NO HAMBURGER item appears. Thus, for smartphones, there is currently no possibility for the users to navigate through our portal pages. With the very small window resolutions, there is no menu anymore at all. Could you fix this issue?

[2021-04-22 08:46] AnRei123 opened #1266 "Menu widget - "Show page headings" - indentation missing for several header levels"
The "**Show page headings option**" is really great. We use it on our pages to create a table of contents on the top of each page that shall lists and links all headers or of at least header level 1 and header level 2 on each page.

## Bug description

But unfortunately, in the DevPortal this feature is very limited. If you select a span of more than one header levels than on the top of the page w

[2021-04-22 10:56] ZarTrox opened #1267 "Color selection for text modifier"
## Bug description

Currently when highlighting text in the editor mode of the DevPortal only yellow is available as color.
![image](https://user-images.githubusercontent.com/58420097/115701574-39686000-a368-11eb-803c-b8e3d11e6400.png)

In future it should be possible to select the color for the text modificators like "strike-through" and "underline", but most importantly "highlight".
![image](htt

[2021-04-22 11:03] AnRei123 commented on #1267
We would only need the color selection for the highlighting format.

[2021-04-22 12:59] AnRei123 opened #1268 "Left Aside element/frame not selectable after web widgets have been added"
## Bug description

Since the last week, the Left aside element is not configurable in our two column block/section layout. When you create the block from the scratch it is selectable. But after you added one or two text widgets, you are not able either to find, select or edit the Aside frame/element in the left column anymore.

![LeftAsideElementNotConfigurable](https://user-images.githubusercont

[2021-04-22 17:27] mikebudzynski commented on #1241
It's not publicly available.

[2021-04-22 18:05] mikebudzynski commented on #1265
@t-higgs-qa, thanks for reporting the issue. We will fix the logic in the OpenAPI import process. As a workaround, you can remove the prepended information manually.

[2021-04-22 18:10] mikebudzynski commented on #1264
@TarekMansour, we will fix displaying of this widget in the editor mode. Keep in mind that deletion of the widget won't disable creation of new subscriptions on the backend.

[2021-04-22 19:36] ErikMogensen commented on #1039
Publishing works for me if the portal has gotten content, so as far as I concerned I am done with this issue.

[2021-04-22 19:37] ErikMogensen commented on #1196
SInce #1039 works you may close this as far as I am concerned.

[2021-04-22 19:40] #960 closed

[2021-04-22 19:59] azaslonov commented on #1039
Alrighty, I think we can close it now. Feel free to re-open shall you face other issues, folks.

[2021-04-22 19:59] #1039 closed

[2021-04-22 20:35] #1196 closed

[2021-04-22 20:47] mikebudzynski opened #1269 "Display security definitions in the API reference pages"
Security definitions, like headers with API keys, need to be rendered in the API operation details widget.

[2021-04-22 21:20] azaslonov commented on #1268
Hi @AnRei123, there is a button here that allows you to switch the selection to the parent element:
![image](https://user-images.githubusercontent.com/2320302/115786525-ccf45d80-a375-11eb-85e2-863371ca9f82.png)

Hope that helps.

[2021-04-22 21:20] #1268 closed

[2021-04-22 21:22] azaslonov commented on #1266
Makes sense, we'll add required options.

[2021-04-22 21:30] t-higgs-qa commented on #1265
While I agree that is an option, this occurs on any template path that is an integer which is many of our API's so that is quite a few manual changes that would get overridden any time we update from our openapi spec generators, which we use swagger.

[2021-04-22 23:22] azaslonov commented on #1179
I think we're good to close this particular item. I remember about image lightboxes though :)

[2021-04-22 23:22] #1179 closed

[2021-04-22 23:36] #1260 closed

[2021-04-22 23:37] #1187 closed

[2021-04-22 23:37] #496 closed

[2021-04-23 00:01] azaslonov commented on #1198
@ZarTrox, the issue should be gone now. Can you please confirm?

Closing for now, please re-open if it still appears.

[2021-04-23 00:01] #1198 closed

[2021-04-23 00:03] azaslonov commented on #1257
The hotfix has been applied to most of the services in the public cloud. If you still encounter the issue, please send us your service name(s) to apimportalfeedback@microsoft.com.

Closing for now.

[2021-04-23 00:03] #1257 closed

[2021-04-23 00:22] azaslonov commented on #1176
Fixed in the last release. If the anchor element is on the same page as the link pointing to it, the page doesn't get reloaded anymore, it just jumps to the anchor.

[2021-04-23 00:22] #1176 closed

[2021-04-23 00:26] azaslonov commented on #1132
Closing this one. Let's use #1207 for tracking and collecting the feedback. Seems like we're narrowing down the scenarios we need to support.

[2021-04-23 00:26] #1132 closed

[2021-04-23 00:35] azaslonov commented on #951
Closing as the issue seems to be resolved.

[2021-04-23 00:35] #951 closed

[2021-04-23 00:38] azaslonov commented on #981
Looks like related to backend caching. Please use #939 for tracking. Closing this one.

[2021-04-23 00:38] #981 closed

[2021-04-23 00:39] azaslonov commented on #1081
Please use #939 for tracking. Closing this one.

[2021-04-23 00:39] #1081 closed

[2021-04-23 00:41] azaslonov commented on #1218
Let's track this issue under #1213. Closing this one.

[2021-04-23 00:41] #1218 closed

[2021-04-23 00:42] #1210 closed

[2021-04-23 00:47] azaslonov commented on #931
Update: The feature is ready, coming in the next release.

[2021-04-23 00:48] azaslonov commented on #922
@Vinoth-44, sorry for the long repose. Do you still need help with this?

[2021-04-23 00:54] azaslonov commented on #777
Looks like a forgotten item. @lrtico, sorry for the ignorance on our side, I see that the portal is not available anymore, so closing the issue. Please feel free to re-open if it is still relevant.

[2021-04-23 00:54] #777 closed

[2021-04-23 00:56] azaslonov commented on #722
I guess we can close this issue.

[2021-04-23 00:56] #722 closed

[2021-04-23 05:31] ErikMogensen commented on #1039
Thanks for great work in finding the explanation for this @azaslonov!

[2021-04-23 08:42] AnRei123 commented on #1176
If you add a link to the top of the API details page to navigate to the end of the page with the "API: Products (table)" widget, you are now able to see the list of the parent API products.
**But,** after clicking the "down" link on the API details page, the list of operations and the operation details do not contain any content anymore!
![ApiDetailsPage_NavigateToAnchor](https://user-images.githu

[2021-04-23 13:39] AnRei123 commented on #1268
Yes, thanks, this helps. :-)
 I missed that you added this option as I only observed that the blocks behaved differently in how to access the section frame.

[2021-04-23 13:40] hansukyang commented on #931
Thank you!!

[2021-04-23 13:40] #931 closed

[2021-04-23 13:47] AnRei123 commented on #1041
Here an additional remark regarding question (7) above:
7. Do you need user authentication? For example, if an external service can be reached only by a user logged into the portal.
_AR: yes, user authentication should be managed centrally by the portal.
AR: It be also possible to login to another intranet service. Today I newly discussed such an upcoming and required use case with one of my colle

[2021-04-23 15:23] AnRei123 commented on #1176
We have a lot of lengthy pages with a TOC link list next to the header to facilitate jumping to sub topics. For the reading/published mode (except of the API details page) its does properly work now.
**BUT in the designer/editor mode it does not work at all** !!!!!!!!!!!!!!
As an editor, I need to be able to quickly jump directly to dedicated sub topics to get at least a little speed. With the new

[2021-04-23 15:35] abusse-interhyp commented on #669
@azaslonov
Hello guys,
Any chance for an update on this one? Based on a current evaluation it would be nice to know if the described handling will be somehow possible.

[2021-04-23 16:37] azaslonov commented on #1176
Got it. With the "Go down" link case, this is because API-related widgets also use the hash part of the URL for identifying APIs and Operations. I'll need to think how we can solve this.

The jumping to anchor in designer - I actually fixed it recently, coming in next release :)

[2021-04-23 20:39] nimccoll opened #1271 "API Management Developer Portal not properly displaying Markdown table in OpenAPI description"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-04-23 20:58] lrtico commented on #722
Hi Alexander, thank you for replying! Yes, I think the issues I opened for
East West Bank's portal can be closed if you don't see the portal anymore.
:)

On Thu, Apr 22, 2021 at 5:56 PM Alexander Zaslonov ***@***.***>
wrote:

[2021-04-24 08:23] AnRei123 commented on #1176
**And also links on the same page, do currently not work at all in the designer/editor mode!!!**
This is also an issue that slows me down very much when editing on lengthy pages. For example, on our glossary, I provide several cross links to related glossary items. But in the designer/editor mode, it is currently not possible to directly navigate to the link target on the same page. Instead, you n

[2021-04-24 12:24] AnRei123 opened #1272 "Newly added block/section does not allow me to add a web widget anymore"
## Bug description

A newly added block/section does not allow me to add a web widget anymore.

For details, see how it behaves the vidoe:
![2021-04-24_14-18-52](https://user-images.githubusercontent.com/58981351/115958607-69e70000-a508-11eb-9174-ae00d2aa076e.gif)

This bug is hindering continuing editing the pages!

[2021-04-26 06:30] AnRei123 commented on #1272
After updating the browser software and clearing the cache, the issue was gone.

[2021-04-26 06:30] #1272 closed

[2021-04-26 08:26] ZarTrox opened #1273 "Tooltip and filter for "add saved section""
## Bug description

Currently the "Add section" - "Saved" feature does not work properly. To add a section to this menu one has to select the section which should be saved and then name it.

But this naming process does not benefit the editor since the name will not be shown and cannot be searched for in the search bar.
In case of many (similar) saved sections this will hardly be manageable, time

[2021-04-26 08:43] AnRei123 commented on #1273
Currently, I am not able to search nor to view the saved block name in the "Add section" dialog. The preview of the block alone is not enough to be able to quickly select the right block item.

[2021-04-26 13:50] martinsamanek opened #1274 "API console doesn't receive token from OAuth (Client Credentials flow)"
## Bug description

The token is not passed back to API console after client credentials successful login

## Reproduction steps

1. Go to an endpoint in API with predefined OAuth 2.0 login
2. Open Try It console
3. Select Client Credentials in Authorization
4. PopUp which calls Identity server is quickly opened and the Identity Server returns token
5. PopUp is closed but the token is not populate

[2021-04-26 14:48] dfendrich13 commented on #1258
I am having this same issue as well.

Another thing that I think is related is the confirmation endpoints for user sign ups (email confirmations) point to the 'Developer Portal' endpoint configured within APIM. If the user clicks the link in those emails, they are then navigating within the managed portal instead of the self hosted portal.

[2021-04-26 15:10] AnRei123 commented on #1208
@mikebudzynski: Do you plan to log user activities with the users ID, for example, when the user logs in to the DevPortal? We like to keep track on when a user has logged in the last time to the DevPortal. If a user that has been registered with a valid AAD account hasn´t logged in to the DevPortal for more than one year, we like to let him confirm if the account is still required or not.  A prere

[2021-04-26 17:56] azaslonov commented on #1176
Yep, we're starting the new release rollout today.

[2021-04-26 17:58] azaslonov commented on #1273
Yes, that's a good point, let me fix this.

[2021-04-26 19:02] azaslonov commented on #1274
Hi @martinsamanek, since you self-host the portal, there is no portal's backend to communicate the token using `client credentials` flow.

At some point, we'll probably add an option to re-use our backend endpoints for OAuth scenarios (specifically, we'll need to solve CORS configuration problem), but for now you have two options: use `implicit` grant flow (which doesn't require the backend), or i

[2021-04-26 19:02] #1274 closed

[2021-04-26 19:21] campifoo opened #1275 "All APIs and Products Visible"
We migrated our APIs to stand alone portal but now all APIs and Products are visible in the developer portal.  It does not appear to show only published products and APIs.  How do we correct this?

[2021-04-26 19:46] martinsamanek commented on #1274
I'm sorry, but I don't understand this. **Implicit flow also doesn't work.** Implicit flow uses APIM backend also. Check this, the same issue:
![ImplicitTest](https://user-images.githubusercontent.com/43401497/116140848-335fdf80-a6d8-11eb-8d29-59c18bc47393.gif)

If I'm not mistaken, both flows worked last week. Wasn't there a change in APIM code (not developer portal). Because it is still working

[2021-04-26 19:52] azaslonov commented on #1274
Sorry, my bad. Right, `implicit` flow also requires the backend. So yes, the whole oauthService.ts won't work for self-hosted out of the box (at least right now), but you can fairly quickly implement your own OAuth flow handlers with i.e. Azure Functions and [client-oauth2](https://www.npmjs.com/package/client-oauth2) library.

[2021-04-26 20:07] azaslonov commented on #1275
Hi @campifoo, just check how User > Group > Product > API are connected, starting with what groups included in what product. Another thing to check, if an API requires a subscription (in API settings).

[2021-04-26 20:27] azaslonov commented on #1271
Hi @nimccoll, yep good point, we'll add an extension to support tables in Markdown.

[2021-04-26 21:20] azaslonov commented on #1258
Hi @velsietis, @dfendrich13, we're planning to return "*" in CORS headers for Captcha resources specifically (it doesn't seem to be a problem in this case), later on we'll probably add respective configuration options for CORS.

Regarding emails, @dfendrich13, you should be able to change the target hostnames in the URL in your email templates leaving the "query" part unchanged.

[2021-04-26 21:31] dfendrich13 commented on #1258
@azaslonov I did try to change the email template, but the page wasn't found. I suspected this was because the confirmation endpoint doesn't exist for the self hosted portal.

[2021-04-26 21:45] azaslonov commented on #1258
Yes, you're right, the confirmation endpoint needs to be implemented in the case of a self-hosted portal. For instance, you could use Azure Functions to do that. Alternatively, you can configure Basic authentication with AAD B2C, which works using implicit flow not requiring the backend.

[2021-04-27 04:56] speedyps opened #1276 "Try It Code Sample Templates for C# and PHP are not populating headers"
## Bug description

When using the Developer Portal Try It, and viewing the code samples, the examples for C# and PHP do not show the headers being added.

## Reproduction steps

1. Create an API call which has header information
2. Find API call in developer portal
3. Click Try It
4. Set Headers
5. Below the headers, check the HTTP sample - headers included in code
![image](https://user-images.gi

[2021-04-27 05:38] martinsamanek commented on #1274
Ok, but honestly I don't like that you turned off existing feature without further notice. Even without code update. :(

[2021-04-27 06:54] ZarTrox opened #1277 "Responsiveness issue on API details page (resolve truncated texts and navigation items)"
## Bug description

On the API details page the "API: details"-widget overlaps with an adjacent "Aside"-element when the screen size is set to "medium screen".

![image](https://user-images.githubusercontent.com/58420097/116197179-b020a700-a734-11eb-8cd0-0ec2a22677cc.png)

Here the text and the box should not overlap with the text on the side.

This also occurs with other widgets like the "List of

[2021-04-27 07:28] ZarTrox opened #1278 "Use tabs in text elements"
## Bug description

Currently it is not possible to use tabs in text elements. If tab is pressed the focus on the text element is lost.

If I for example want to present a structure with different indentations like in an JSON element then I have to manually press space bar multiple times for every line. For consistency and usability tabs should be enabled.

In this case I would want to press tab o

[2021-04-27 08:04] AnRei123 commented on #1278
To achieve indentations by adding empty spaces only works for bigger screen resolutions. For smaller, screen resolutions it looks inacceptable. The indentation should also work on paragraph level when the screen resolution gets smaller.
Thus, currently, I am not able to type text with a nested JSON format to a text widget. For text with a nested JSON format, I currently need to insert a screenshot

[2021-04-27 08:22] rajakushwah opened #1280 "Unable to upload image on azure developer portal it shows error as - "Oops, something went wrong. We are unable to complete your operation this time. Please try again.""

[2021-04-27 09:23] ZarTrox opened #1281 "Undo button does not always work"
## Bug description

The Undo-button only works for text elements if you close the text formatting menu first.
If you leave it open nothing happens and may even cause some issues. For easier content creation this should not occur.

![2021-04-27_11-16-19](https://user-images.githubusercontent.com/58420097/116217843-41e6df00-a74a-11eb-9f8c-a6ac92f09242.gif)

## Expected behavior

The undo-button alwa

[2021-04-27 09:55] ZarTrox opened #1282 "Changing block type changes type of text"
## Bug description

Changing the block type from e.g. Header 1 to Header 2 also impacts the first paragraph of the text element and sets the style to the new block type.

![2021-04-27_11-37-07](https://user-images.githubusercontent.com/58420097/116220550-1285a180-a74d-11eb-944a-dfee17a24cb4.gif)

A workaround we found is to clear cookies and the local storage in the Developer Console.
![image](htt

[2021-04-27 13:52] sbenji77 commented on #1041
Hi,

Our needs

###     Can you briefly describe the scenario you'd like to use the HTML code injection widget for?**
1 - To make a table, a slider, insert a video iframe. To be able to adjust block sizes, for example min-height.
In this last point for example a simple page without much content will put a white frame if the background is of a different colour

###     Do you need to reuse the cust

[2021-04-27 17:15] campifoo commented on #1275
Thank you for responding.  It turned out to be we did the config runtime json file incorrectly.

[2021-04-27 17:15] #1275 closed

[2021-04-27 17:22] #1280 closed

[2021-04-27 17:31] mikebudzynski opened #1283 "Developer ecosystem telemetry"
Provide built-in telemetry to allow reporting API programs' success and adoption.

[2021-04-27 17:33] mikebudzynski commented on #1208
You integrate Application Insights or Google Analytics into the portal to track the log-in actions.

I created a new feature request #1283 for providing developer ecosystem telemetry.

[2021-04-27 17:38] mikebudzynski opened #1284 "Revise code samples"
The scope is to refresh to built-in code samples and make sure they all generate the correct information.

[2021-04-27 17:38] mikebudzynski commented on #1276
Related to #1284

[2021-04-27 17:38] mikebudzynski commented on #553
Related to #1284

[2021-04-28 04:44] venura9 opened #1286 "`npm audit` throws 6 vulnerabilities (1 moderate, 5 high)"
## Bug description

`npm audit` throws 6 vulnerabilities (1 moderate, 5 high)
(Effectively 3)

[code]

## Reproduction steps

`npm install` and/or `npm audit`

## Expected behavior

Report Should ideally have no entries.

## Is your portal managed or self-hosted?

Self-hosted

## Release tag or commit SHA (if using self-hosted version)

2.8.0

## API Management service name
N/A

## Environment
N/A

[2021-04-28 13:23] AnRei123 opened #1287 "Facilitate editing of many Aside/block elements in a sequence (UX, editing performance)"
## Bug description

To edit the configurations of several sections/blocks elements or Aside elements for different contents, you need to repeat the following steps again and again.

To edit two Aside elements in a sequence, you need to perform the following steps:
1. Select the frame of an Aside element frame
2. Click on the Edit icon. The Aside edit dialog window opens.
3. View or change the sett

[2021-04-28 15:20] dfendrich13 commented on #1258
Thank you @azaslonov, I was able to go the Azure Function route to get the confirmation email working.

[2021-04-28 17:12] koamano commented on #1125
Hi, thank you so much for working on this and getting this released.  Francis and I have been trying to use the new CORS Proxy but haven't been able to successfully get it to work.

We chose the "Use CORS proxy" option and published it to our self hosted portal. We can see that it is trying to route "try it" requests to what we have set as the backendUrl value in our config files but I don't think

[2021-04-28 21:05] azaslonov commented on #1125
Hi @koamano, you should be able to point it to your APIM service, just use "backendUrl" setting in your runtime.config.json:
[code]

We'll add proper documentation for this feature soon.

[2021-04-28 21:45] azaslonov commented on #1287
Hi @AnRei123, I see, I guess we could add a gesture like clicking on multiple elements (probably of similar type) holding `shift` key, then apply changes to all of them using a single editor window. Would that work for you?

[2021-04-29 00:34] azaslonov commented on #1286
Hi @venura9, thanks, we'll take care of it.

[2021-04-29 10:59] ZarTrox opened #1289 "Inherit typography styles"
## Bug description

Currently on the "Styles"-configuration page most of the typography styles descent from the "Regular" styling.
Meaning if "inherit" in any styling option of a text element is selected then only the styles from "Regular" are applied.

For example the "Header" styles are not used for the headers as seen in the gif.
![2021-04-29_12-31-16](https://user-images.githubusercontent.com/

[2021-04-29 12:01] AnRei123 commented on #1287
This would also fine for some cases, but would only solve the issue for applying the same settings to multiple elements. Still it would be hard to find the right frame and you would not be supported in facilitating reviewing the different settings of several aside or block settings in a sequence.

[2021-04-29 19:12] azaslonov commented on #1287
Yeah, I get you. Thanks for feedback.

[2021-04-29 20:52] snap608 opened #1290 "Subscription Key formatted as a Guid with dashes do not validate"
## Bug description

The subscription key is clearly a Guid without the dashes. If I pass the Guid without the dashes the validation of the subscription passes. If I keep the dashes the validation fails. Not sure if this is by design. But I would think the validation should be valid for both scenarios.

I.e. `fae9383b-aa0f-4b5a-b59d-424bb9a0bae7` vs. `fae9383baa0f4b5ab59d424bb9a0bae7`

In our case

[2021-04-30 10:17] kanwarnitin opened #1291 "New Dev Portal: API Spec details not visible"
## Bug description

New developer portal is unable to synchronize API spec details from APIM (internal VNET).
Spec for none of the API we've setup is visible on Dev portal. Only API name and operation name visible on left pane.
Try it section keeps spinning/waiting

## Reproduction steps

1. Access APIM from a machine connected to corporate network
2. Setup new API (Sales Order Service; suffix: so

[2021-04-30 13:37] GuillaumeBONHOMMEAU commented on #1274
We got the same issue.
The "Authorization code grant flow" is called successfully.
With {{apimName}}.developer.azure-api.net/signin-oauth/code/callback/{{authorizationServerName}}.
 A token is returned and is valid.

Problem is, as noticed @martinsamanek, the origin window initiating this request does not catch the response.
Using Fiddler, we can see callback response. Something like :

![image](h

[2021-04-30 14:20] velsietis commented on #1258
@azaslonov - now I'm confused... I thought that after #1258 was resolved that the confirmation endpoint worked fine for self-hosted portal. The [docs][1] don't say anything about using Azure Functions to get it to work:

[1]:https://docs.microsoft.com/en-gb/azure/api-management/developer-portal-self-host#step-8-change-api-management-notification-templates

[2021-05-02 14:31] aquasheep20 commented on #1291
I have the same issue.  Exporting in openapi 3 format and re-importing with new name seems to resolve it.  The original api errors still persist.

[2021-05-03 07:55] ZarTrox opened #1293 "[Urgent] Elements disappearing"
## Bug description

Since the new update elements are not shown for smaller screen sizes (currently only observed in collapsible panels).
This affects also already deployed instances where customers already have access. In this example the navigation/menu in the header is affected.

Normal size:
![image](https://user-images.githubusercontent.com/58420097/116852313-616f8300-abf4-11eb-993f-40affbc42

[2021-05-03 17:57] azaslonov commented on #1293
@ZarTrox, that's the whole point of the "Collapsible panel" widget - to "collapse" on "small" and "extra small" screens. That's not new behavior. If you don't want this behavior, just move your elements of it and delete it completely.

On a side note, there is another visibility setting coming soon that will allow you to show/hide elements depending on specific screen size.

[2021-05-03 17:57] #1293 closed

[2021-05-04 14:34] AnRei123 opened #1294 "Text format panel - "reset all formats" function/icon is missing (improved UX for content designer)"
## Bug description

To remove several font styles that have been applied to a text, you need to select the text and remove each format one after the other. If you have to take care for a lot of content, this is not feasible. It slows you down. There are still so many such issues that slow you down as a content designer/ technical writer). Let´s get rid of them to gain more speed in designing high-

[2021-05-04 17:24] mikebudzynski commented on #1290
@snap608, the subscription key is a string, not a GUID, and client applications need to use the string formatting. Even though API Management automatically generates GUIDs, the subscription key can be any string: https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/subscription/createorupdate

[2021-05-04 17:24] #1290 closed

[2021-05-05 01:59] azaslonov commented on #1232
Fixed in #1295.

[2021-05-05 01:59] #1232 closed

[2021-05-05 02:01] azaslonov commented on #939
Fixed on the backend, awaiting deployment.

[2021-05-05 10:24] LockTar commented on #997
Hi is there any update on this issue? Consumers of our API's need to know who the producer is. In big organizations that can be handy to have...

[2021-05-05 17:26] azaslonov commented on #1294
Hi @AnRei123, that's good feedback (as usual I should say), and it's fairly easy to implement. I think we'll do it similarly to what you have shown above (from Word I assume).

[2021-05-06 06:40] martinsamanek commented on #423
Hi @azaslonov

If I understand this correctly, the backend should automatically generate the example on API import now. This should be propagated to the portal and displayed in Try It Console in Body.

I've just tried to import [PetStore](https://petstore.swagger.io/v2/swagger.json). And examples are not filled in backend and also not in the portal.

[https://apimoritest.developer.azure-api.net/ap

[2021-05-06 11:07] ArkimeraMattias commented on #529
Looking forward to this feature. Any update since April now has passed?

[2021-05-06 11:14] ZarTrox commented on #1256
Hi @azaslonov, the last few days I ve been in contact with our IT-support and they couldn't identify an issue on my side. If you cannot assist me/don't know where the issue could stem from, then what would your proposal be how I should proceed? Where/who at MS Support should I ask for help first?

[2021-05-06 14:17] ErikMogensen opened #1296 "Ability to switch to dark mode"
## Feature description

It would be great if there was a way to switch to dark mode and then back to light mode.

## Expected behavior

- A choice somewhere to choose dark or light mode.
- Two modes when setting color in Design mode.

## Is your portal managed or self-hosted?

At least for the Self-hosted, preferably also for the managed.

[2021-05-06 18:23] mikebudzynski commented on #997
@LockTar, the `contact` object should already be supported on the backend side with the newest preview API version. We still need to implement support for it on the developer portal side.

[2021-05-06 18:25] mikebudzynski commented on #423
@martinsamanek, we're just starting to roll out a fix for it. It will take several weeks for the release to complete.

[2021-05-06 18:26] mikebudzynski commented on #529
@ArkimeraMattias We're starting the development of multipart/form-data support in the developer portal. It should be released in late May or June.

[2021-05-06 18:28] mikebudzynski commented on #1256
@ZarTrox, can you send us the support case id to apimportalfeedback@microsoft.com?

[2021-05-06 18:29] mikebudzynski commented on #1165
Fixed with #1295

[2021-05-06 18:29] #1165 closed

[2021-05-06 18:30] mikebudzynski commented on #1240
The PR #1295 resolved the issue in the scripts.

[2021-05-06 18:43] azaslonov commented on #1296
Hi Erik, do I understand correctly, you want your users (of the published portal) to be able to switch to the "dark mode" / another color scheme?

[2021-05-06 18:54] ErikMogensen commented on #1296
Hi Alex, Yes that is what I'd like.

[2021-05-06 18:56] azaslonov commented on #1296
Got it, thanks!

[2021-05-06 19:00] LockTar commented on #997
Any time frame on when this will be done? Or can we help to speed things up like with a PR?

[2021-05-06 23:21] ygrik commented on #1291
@kanwarnitin, @aquasheep20
I can't reproduce this issue. Also, I can't check your portal because it in VNET.
Could you please provide web console traces (.har) to apimportalfeedback@microsoft.com

[2021-05-07 14:49] AnRei123 opened #1299 "Risk of data loss: Page content is not completely backed up and not completely published anymore!!!!!!"
## Bug description

Today, I published my portal contents to create review PDFs and realized that the contents of two pages did not appear in the puplished mode - even after clearing the cache!!!
I was able to navigate to the pages and to see the template parts such as the header and the navigation tree on the left. But all page-specific contents had been empty!!!
The contents of these two corrupt

[2021-05-07 17:11] azaslonov commented on #1299
Closing, since we're following up offline.

[2021-05-07 17:11] #1299 closed

[2021-05-07 17:14] chenlonghu opened #1300 "BasePath routing to load dev portal assets"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-05-09 12:51] isamabufool opened #1301 "Developer Portal - B2C sign-out"
When a user using Azure AD B2C authentication signs out of the Developer Portal successfully and tries signing back in again, there is no prompt which requests the username and password. Thereby, there is no way to completely sign-out from the B2C session.

[2021-05-09 16:52] smokedlinq commented on #1202
We want to be able to specify which of the gateway names to display, e.g. we want our sandbox hostname to be the default and not the production gateway as we only want developers in the portal to interact with the sandbox endpoints.

[2021-05-10 16:10] wkarratoon commented on #1068
Here's link to MSAL 2 code that handles logout fine with cache clearance: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/%40azure/msal-browser_v2.7.0/lib/msal-browser/src/app/ClientApplication.ts#L553

Note the default /#signout mentioned in prior comment does not do anything regards AAD B2C session. I mentioned only for it's unique cleanup of the APIM SAS token (which MSA

[2021-05-11 07:15] ZarTrox opened #1302 "Add to library not working for certain instances"
## Bug description

I am experiencing some issues with the "Add to library" feature.

For example:
![2021-05-11_08-57-20](https://user-images.githubusercontent.com/58420097/117772284-4f669380-b237-11eb-8de0-a92ec4d60b70.gif)

Some other Issues occurring:
- Add to library immediately not working (see gif).
- Only showing saved sections after restarting the portal multiple times.
- Only working for

[2021-05-11 11:36] ericfran commented on #533
updates on this?

[2021-05-11 16:01] AnRei123 opened #1303 "Using dynamic links to the most current version of an API operation"
## Bug description

For some API descriptions, it is required to reference to operations of the same or other APIs.
Currently, to link to an API operation, you must always provide a dedicated API version in the URL or relative path.
If there is a newer version for an operation available, the author of an article in the DevPortal or of the API specifications shown on the API details pages might not

[2021-05-11 20:27] azaslonov commented on #1139
I could repro it for the case with "Require sign-in" option enabled, but regular deep linking works as expected. @AnRei123, can you please give an example of such deep link (maybe without hostname)?

[2021-05-12 08:01] Kumar-Ashwin-Hubert commented on #1241
@mikebudzynski can you please share in any update on this ? ETA mentioned earlier was around 3 weeks.

[2021-05-12 12:22] arvic-loveria opened #1304 "CORS - Not working on endpoints that has path variable, throws 404 Resource Not Found"
I'm having issues in CORS policy wherein every request has been accepted except those request that have path variables. How can I handle this in APIM?

I setup the CORS policy using below configuration.

[code]
When a request has path variable, it throws 404 Resource not found exception like below which triggers the CORS error in console browser.

![image](https://user-images.githubusercontent.com

[2021-05-12 14:38] AnRei123 commented on #1139
Here an example:
https://<hostname>.com/signin?returnUrl=%2Fapi-gallery%2Fdetails%23api%3Dcore-base-api-form-v3

[2021-05-12 21:16] azaslonov commented on #1304
Hi @arvic-loveria, looks like you have a generic question, not really related to the Developer portal. MS Support should assist you better with this.

Anyways, is CORS policy defined on the global (All APIs) level? If not, I would recommend doing so to ensure that the scope is not the issue here. Otherwise, the setup looks fine to me.

[2021-05-12 21:16] #1304 closed

[2021-05-12 21:28] azaslonov commented on #1300
Hi @chenlonghu, as I understand, the {{baseUrl}} here is not just hostname, it's more like `https://contoso.com/some-folder`? If yes, this is typical browser behavior.

I've seen this issue a few times before, so I'll be adding `baseUrl` setting at some point. Meanwhile, I guess you can try to play with `<base>` tag or just include some string-replace into your pipelines.

[2021-05-12 21:30] azaslonov commented on #1291
Closing this issue because that's not the developer portal codebase issue, and we're following up on this offline.

[2021-05-12 21:30] #1291 closed

[2021-05-12 21:38] azaslonov commented on #1139
@AnRei123, that is because you're sending the signed-in user to the sign-in page. Instead, you should give them a deep-link like this:
`https://contoso.com/api-details#api=httpbin-org&operation=get`

[2021-05-13 18:17] mikebudzynski commented on #1300
@chenlonghu, as a workaround, you can also use a subdomain with the root path.

[2021-05-13 20:04] azaslonov opened #1305 "Provide a way to configure custom origin in static web hosting scenarios to address cross-origin issues"
There are known scenarios (requiring the backend) not working for portals on static web hosting:
- Captcha CORS
- OAuth popup target origin

[2021-05-13 23:00] mikebudzynski commented on #1241
@Kumar-Ashwin-Hubert, the fix will be included in the next API Management service release in June and we expect it to fully roll out in July. You can monitor this GitHub site for the release notes: https://aka.ms/apim/releases Apologies for the confusion.

[2021-05-14 13:07] chenlonghu commented on #1300
Hello @mikebudzynski , thanks for your suggestion, unfortunately we cannot use subdomain for the configuration due to SSL certificate purchase policy in the current projet.
Hello @azaslonov , indeed, we wanted to configure the backendUrl of the APIM dev portal as "https://{{ baseUrl }}/portal-apim", so that we could use the path based rule in the app gateway to navigate to the APIM dev portal with

[2021-05-14 13:46] gaurav-p-sood commented on #1175
Hi Gfchaves

Thank you for your reply. I figured out that the APIM management URL wasnt getting authenticated and hence I was not able to list down the APIs . It was a certificate issue which is now sorted . Thank you so much for the help.

Regards
Gaurav

[2021-05-17 05:24] rajakushwah opened #1306 "Unable to customize the sigup page in azure developer portal"
Issue - unable to add/rename the custom field on the signup page

Steps followed -  I have referred the documentation [https://docs.microsoft.com/en-us/azure/api-management/api-management-developer-portal-templates] to add the custom field in the signup page but the code changes are not reflecting on the portal.

1. Logged in as admin
2. Changed the code in Pages>SignUp

![image](https://user-imag

[2021-05-17 12:06] TarekMansour commented on #1264
@mikebudzynski  is there any update about this issue?

[2021-05-17 13:44] mjazwinski commented on #600
Hi,

   @azaslonov  could you please check the examples? Unless I there was some update the imports seem to be broken in modules. I'm working on getting angular to work.  Thanks,

/Maciej

[2021-05-17 21:32] kanwarnitin commented on #1291
We have found that API spec is only visible on Dev Portal after we also include "Managed" gateway in API settings. Earlier, only the self-hosted gateway "gc-apim-dev1" was setup as gateway for the API. We do not intend to use "Managed" gateway though in the final solution.

- Now we're able to invoke internal (private) API from Dev portal while connected to corporate network
- Also we're able to i

[2021-05-18 00:30] ppandari opened #1307 "Subscription option for Api and Operation scope"
New API Portal provides subscribe option at product scope. Need a way to provide subscription option for Api and Operations scopes as well

[2021-05-18 01:50] mounarshisantra opened #1308 "Self Hosted Portal Guest user verification failed (same as 1157)"
## Bug description

When the user is invited to connect to the portal, he is directed to a page not found, which prevents him from registering his password and using the portal.

The link sent to the user's email is as follows:
https://mysite/confirm-v2/identities/basic/invite?userid=userId&identity=identity&ticketid=ticketid&ticket=ticket
It is generated from the "$ConfirmQuery" parameter in the

[2021-05-18 12:04] wi5nia opened #1309 "Product description character limit"
Is there a way to increase the 1000 character limit on the product description field?

[2021-05-18 14:34] capri02 opened #1310 "Presented multi-factor authentication has expired due to policies configured by your administrator"
## Describe the bug
I am getting a MFA error when I run the capture.js script which calls the command mentioned below.

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token -

[2021-05-18 14:56] AnRei123 opened #1311 "Pages window behavior (UX improvements to increase the speed of the content designers)"
## Bug description / Expected behavior

1) With the current implementation, in the Pages dialog, you have no clue how many pages are displayed in the list with or without entering a search string.

![Snag_2b02d744](https://user-images.githubusercontent.com/58981351/118671629-efa05780-b7f7-11eb-959a-180ddb8fe318.png)

To get a better orientation on the actual pages that are listed with and without

[2021-05-18 15:09] capri02 commented on #1310
Closing it, Since it can be fixed by the organization and has nothing to do with the APIM scripts.

[2021-05-18 15:09] #1310 closed

[2021-05-18 17:28] mikebudzynski commented on #1264
No updates, I will prioritize the issue.

[2021-05-18 17:30] mikebudzynski commented on #1306
@rajakushwah, the templates are used by deprecated developer portal - not the new one from your screenshot. At this moment, it's not possible to rename the fields of the built-in widgets without self-hosting the portal.

[2021-05-18 17:30] #1306 closed

[2021-05-18 19:27] mikebudzynski commented on #1291
@kanwarnitin, could you please clarify the problems here? I have checked that APIs exposed through self-hosted gateways only appear correctly in my developer portal.

Is the error above coming from the Azure portal test interface or from the developer portal's interactive console?

[2021-05-18 19:35] mikebudzynski commented on #1309
There's no way to increase this limit on your side, it's enforced on the database level.

[2021-05-18 19:38] mikebudzynski commented on #1307
@ppandari, currently API Management doesn't allow subscriptions on the API operation level and API-specific subscriptions can be created by service administrators.

[2021-05-19 11:35] BobbyCGD opened #1312 "QUESTION: Documentation on authenticating a APIM user."
Hi,

While I was looking into delegating user sign in and sign up I thought about using the API Management API to manage the users. Since I should call the API to create a user in APIM for sign up i thought, "Why not also verify if the user exists and authenticate them as well?" I figured out how to:

1. Check a user exists on APIM
2. Authenticate a user via Username & Password against APIM

but..

[2021-05-19 21:05] sbrunaugh opened #1313 "Can't change 'Sign-in button: OAuth' Appearance"
**Every bug report should have precise description and reproduction steps; console traces or source code references are appreciated.**

**For assistance requests, contact Azure support or submit a post [on Stack Overflow](http://aka.ms/apimso). We don't provide support through GitHub Issues. Feature requests can be raised [on the Azure Feedback Forum](https://aka.ms/apimwish).**

## Bug descriptio

[2021-05-19 22:48] azaslonov commented on #1308
Hi @mounarshisantra, since you're using self-hosted portal, you need to update your email template of the user invitation. In the template, instead of `$ConfirmUrl`, you'll need to specify your URL of your self-hosted portal and `$ConfirmQuery` variable.

![image](https://user-images.githubusercontent.com/2320302/118894592-63566900-b8b9-11eb-96e9-f7a74db16205.png)

Hope that helps.

[2021-05-19 22:48] #1308 closed

[2021-05-19 23:22] mounarshisantra commented on #1308
hello @azaslonov , we are using `$ConfirmQuery` variable and facing this issue.  this is the invite url in our template looks like at the moment, in line with  what has been suggested in the documentaation.
![image](https://user-images.githubusercontent.com/56808451/118896870-9138bd80-b94c-11eb-8725-535d181e1751.png)

[2021-05-20 00:17] azaslonov commented on #1308
Right sorry, that will not work without the backend at all, at least in the current implementation. So, there are a couple of things I can suggest:
1. Implement your own endpoint for the invitation process, i.e. using Azure Functions.
2. Switch to AAD B2C authentication, which also supports basic authentication and has its own invitation mechanism.

[2021-05-20 12:51] kristina-kovacikova-acn opened #1314 "OpenAPI v3 Invalid Export: Component schema object missing in Components/schemas when used as $ref in query parameter schema"
## Bug description
We are creating new API in dev portal from OpenAPI v3 schema definition.

We are using same component schema object as $ref in query parameter and at the same time in some other component schema object as a property. When we download the schema referenced schema object is missing in components/schemas.

here is the path with query param with referenced schema object ( the proble

[2021-05-20 16:25] ppandari commented on #1307
@mikebudzynski , APIM now allows creating subscriptions at API scope- (https://docs.microsoft.com/en-us/azure/api-management/api-management-subscriptions). But Developer portal do not have the option to show the Subscribe button at API scope.

[2021-05-20 18:41] #1312 closed

[2021-05-20 18:42] mikebudzynski commented on #1314
@kristina-kovacikova-acn, we have already implemented a fix for this issue. It will roll out in or around July with the next regular API Management service release.

[2021-05-20 18:42] #1314 closed

[2021-05-21 10:36] rajakushwah opened #1316 "Please suggest a way to customize(Add/rename a filed) to the signup page"
The signup page is not editable and also I am unable to add any custom field to the signup page so please suggest me a way to add/rename the fields.

![Untitled](https://user-images.githubusercontent.com/39225004/119124922-d3e2be80-ba4e-11eb-9088-cc1e66c34d1b.png)

[2021-05-21 11:40] BobbyCGD commented on #1316
@rajakushwah From experience, the sign up and sign in pages are reserved and hardcoded. You will have to edit the widget code to change the labels. Have a look at src -> components -> users for the respective components. You can read through the documentation here to understand the structure and purpose of each folder/file. Here is a link :) https://docs.microsoft.com/en-us/azure/api-management/de

[2021-05-22 08:13] graemefoster opened #1319 "Unable to publish developer portal to an internal network (using Azure DNS Private Zone)"
Hi,

I've published an api management service to an internal vnet. I'm using private-zone to map the dns records required.
Everything seems to work OK apart from I cannot publish the developer portal.

I'm using private zone to host my dns records. My api management is on a default host (myapim.azure-api.net).
The publish button tries to send a request to 'apimanagement-cors-proxy-prd.azure-api.ne

[2021-05-23 13:02] kanwarnitin commented on #1291
@mikebudzynski Mike, Above error is from APIM Test interface.

**Configuration:**
1. APIM in VNET
2. Managed Dev Portal
3. API Gateway is self-hosted on-prem
4. Backends are on-prem

**Problems** when only "gc-apim-dev1" is used as gateway in API setting:
1. API spec is doesn't get published on managed dev portal. Only API name and operation names are visible.
2. Try it functionality shows blank p

[2021-05-24 12:49] Ledger94 opened #1321 "Has Pagination been implemented for product-list"
I see pagination options within the source product-list files but there isn't any documentation related to how to use it. Has this feature been completed and if so how to use pagination?

[2021-05-24 13:09] Ledger94 opened #1322 "Picture Transformation: Translate X / Y, is no longer working for negative values."
## Bug description

Picture Transformation: Translate X / Y, is no longer working for negative values.

## Reproduction steps

1. Open portal page (designer)
2. Click on styles
3. Add a picture variation
4. Modify Transformation: Translate X / Y, for the picture with a negative value
5. Notice that the picture is still in it's default position

## Expected behavior

Picture transformation for nega

[2021-05-24 13:27] Ledger94 opened #1323 "+ Add Page is giving console errors and it isn't generating properly"
## Bug description

When creating a new page a message "oops, something went wrong" pops up and the page isn't correctly generated.

## Reproduction steps

1. Go to portal page (designer)
2. Click on Pages in left side pane
3. Click + Add Page
4. Oops, something went wrong, and a console errors are generated.
5.  ajax.ts:157 GET https://iapemea.management.azure-api.net/subscriptions/xxx/resourceGr

[2021-05-25 00:04] azaslonov commented on #1322
Hi @Ledger94, let me check and fix, if that's the case.

[2021-05-25 00:10] azaslonov commented on #1321
Hi @Ledger94, there is the pagination implemented in the widget already. Are we talking about how to use it in UI? in API?

[2021-05-25 00:14] azaslonov commented on #1323
Hi @Ledger94, if there is no added content that you want to keep, can you please try to reset the portal?

![image](https://user-images.githubusercontent.com/2320302/119421404-78fdd100-bcb3-11eb-9ba5-f81d0209b71b.png)

[2021-05-25 00:15] azaslonov commented on #1313
Hi @sbrunaugh, thanks for reporting the issue, we'll fix this.

[2021-05-25 00:20] azaslonov commented on #1316
Hi @rajakushwah, unfortunately, the Management API doesn't support additional fields, so even if you change the UI, there will be nowhere to push new data.  For cases like this, we recommend going with [Sign-in Delegation](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-setup-delegation#-delegating-developer-sign-in-and-sign-up) feature that would allow you to connect to

[2021-05-25 00:20] #1316 closed

[2021-05-25 00:28] azaslonov commented on #1319
Hi @graemefoster, that will be fixed in one of the next Azure portal extension releases. Instead of `apimanagement-cors-proxy-prd` it will call to ARM endpoint, just like any other portal requests.

As a workaround, you can try to publish from the designer itself:

![image](https://user-images.githubusercontent.com/2320302/119422194-5f5d8900-bcb5-11eb-908b-dc2f068bc530.png)

Hope that helps.

[2021-05-25 00:28] #1319 closed

[2021-05-25 08:12] AnRei123 opened #1325 "Issues with resetting the portal contents through the GUI"
## Bug description / Expected behavior

Today, I tried to reset two of our DevPortal instances. But through the GUI it was not possible:

Resetting the portal contents through GUI threw the following error message and was not successful:
![Unable-to-reset-website](https://user-images.githubusercontent.com/58981351/119461038-9aa49a00-bd3f-11eb-8382-4a5875c47ef3.png)

Resetting the portal contents s

[2021-05-25 10:12] AnRei123 opened #1326 "Editing mode: Repeating onboarding popup windows "Did you know?""
## Bug description / Expected behavior

Great that you facilitate the onboarding for new DevPortal contributors and content designers by providing some help such as the following:

![didYouKnowWindow](https://user-images.githubusercontent.com/58981351/119480328-d6e0f600-bd51-11eb-96e4-2380da8cf837.PNG)

Even after clicking the "Got it" button same information appears again and again.

Don´t bother

[2021-05-25 17:21] mikebudzynski commented on #1319
@graemefoster You can also use the new portal revisions feature:

![image](https://user-images.githubusercontent.com/40186513/119541033-f7ee1a80-bd42-11eb-920a-e07b50e8ffb2.png)

[2021-05-25 17:31] mikebudzynski commented on #1291
What do you mean by the API spec not being published? Is the API reference page empty? Could you send screenshots or a short recording to apimportalfeedback@microsoft.com?

I was able to reproduce this issue, but my self-hosted gateway isn't exposed through a domain. Have you assigned a custom domain to your self-hosted gateways?

Do you have connectivity to the self-hosted gateway from your local

[2021-05-25 21:33] BobbyCGD commented on #399
Please reopen, the issue has returned.

[2021-05-25 21:39] azaslonov commented on #399
Hi @BobbyCGD, did you use this option? I'm asking because I just checked it on one of my [test services].(https://alzasloneuap03.developer.azure-api.net/apis)

![image](https://user-images.githubusercontent.com/2320302/119571984-e9b1f580-bd66-11eb-96cc-6697c4a31400.png)

[2021-05-26 07:37] harryzsh opened #1328 "Long product display name overlaps with next table cell"
While product display name is really long, it overlaps with the next table cell. Hence no word break if product display name is in one word and it's really long. Well, We should enable word-break CSS property to set it to break-word so that this product table cell will not overlaps to the next table cell

![image](https://user-images.githubusercontent.com/37208218/119621031-3a455380-be38-11eb-981f

[2021-05-27 05:09] AnRei123 opened #1329 "Question: SSO for a mix of managed and self-hosted portal supported?"
Effort and time-wise it is not possible with the current portal approach to type in all our documentation in the managed developer portal by software release. For contents that quickly need to be added by software release, especially for new services, we need a quick and simple solution to automatically generate a website from tagged markdown topics in the Azure DevOps environment. In this case, w

[2021-05-27 10:28] BobbyCGD commented on #1329
You might be able to conjure something with Azure Front Door...

[2021-05-27 10:57] BobbyCGD commented on #399
Hi, @azaslonov! Sorry I missed the notification. That did the trick for the footer!

The menu is still broken... seems like there is an issue with the collapsible panel. It disappears completely in mobile view, even when I add a new collapsible panel in a new section.

[2021-05-27 14:10] mjazwinski opened #1330 "Operations menu fixed position"
It would be great if operations menu in operation details widget could be fixed so that it is always visible. Then it case of larger documents it would stay visible.

![menu_azure_apim_dev_portal](https://user-images.githubusercontent.com/3313203/119841356-03d60a00-bf06-11eb-9497-d1ffa9afeff7.png)

[2021-05-27 18:06] mikebudzynski commented on #1330
@mjazwinski, what do you mean by "fixed" and always visible? Can you provide reproduction steps and clarify the expected behavior?

[2021-05-27 18:10] mikebudzynski commented on #1329
@AnRei123, this scenario isn't supported because API Management uses a separate user entity that's specific to the API Management service. You can possibly achieve this with authentication delegation: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-setup-delegation

[2021-05-27 18:10] #1329 closed

[2021-05-27 18:16] mikebudzynski commented on #1326
If you click "Got it", the event will be saved in the local storage, specific to the domain and browser, and you won't see the message again, unless you clear your local storage. Can you confirm you still see the pop-up in the same service and you don't clear the local storage?

[2021-05-28 06:35] AnRei123 commented on #1330
We are interested in a kind of floating panel that always allows you to scroll through and navigate the list of operations irrespective how long the API details page is. Remark: depending on the kind of operations our API details pages are VERY long and you need to scroll a lot. But the user should be able to navigate to another operation without the need to scroll to the top of the page first.

[2021-05-28 06:49] AnRei123 commented on #1326
Often I need to clear my browser cache and then the messages pop up again. But this should not be the case. When I said "Got it", irrespective of the browser cache, I do not like to see the messages again. They are irritating me and forcing me again and again to click the "Got it" button. Even after clearing the browser cache, the same messages should not appear again. Is there a chance to disable

[2021-05-28 07:53] mjazwinski commented on #1330
@mikebudzynski the operations list should stay visible in the viewport when you scroll the page. See this examples:
- https://www.w3.org/Style/Examples/007/menus.en.html
- https://www.w3schools.com/howto/howto_css_fixed_menu.asp
Like @AnRei123  wrote if API has data that makes the displayed page scroll then in order to change operation or see other operations you constantly have to scroll up

[2021-05-28 17:15] mustaqt commented on #410
Hi, I have imported the json file generated with swagger with example tag for request and response but developer portal does not populate the exmple.
Can you please share what needs doing to  display  it on developer portal as its very important for my client to see the example.

[2021-05-29 20:34] Ledger94 commented on #1321
UI, for instance say I have 30 products and I want there  to be 2 pages. One page with 20 products and the other page with 10. A solution through modifying the source code would be acceptable as well. There are some variables and options related to pagination built into the source code already, I just don't know how to use them. There was functionality related to this in the old Portal.

[2021-05-29 20:46] Ledger94 commented on #1323
I'm getting this pop up. When selection Reset content.
![image](https://user-images.githubusercontent.com/84686660/120084324-44b45700-c09d-11eb-8b34-2d179a60b8d8.png)

Here are a much of errors coming up on the console, when opening the homepage.
![image](https://user-images.githubusercontent.com/84686660/120084344-69103380-c09d-11eb-8623-b1436fe2acee.png)

[2021-05-29 20:51] Ledger94 commented on #1322
Thank you for looking into this, if you have any questions, let me know.

[2021-05-31 08:06] ZarTrox commented on #1168
As you have mentioned in other tickets, you are currently working on a new grid-approach. While this is really good news this issue unfortunately still persists.

I don't know when the release of the grid feature is scheduled but until then a solution to this issue would be great.

And when the grid-approach is implemented then it is necessary that the portal automatically converts all current set

[2021-05-31 13:06] AnRei123 commented on #1168
We use the longer left column of the above referenced two-column section template to add our major page contents. In the right column, we optionally provide a list of links that refer to related articles in the DevPortal or to external web pages.  For smaller resolutions, the link list is provided on top followed by the content. With the normal read direction from top to down it appears to the rea

[2021-05-31 13:52] cedrox commented on #1300
Hello,
Any news about this request ?

[2021-05-31 14:01] Vinoth-44 opened #1331 "collapsible menu is not working as expected"
We are trying to upgrade our old developer portal code to Release 2.9.0. Unfortunately, Collapsible menu is not aligned properly. When we analyze the code of existing release and new release, There were some difference and scripts folder is removed at latest release.( Path: src/themes/website/scripts).

Even if we update the script folder and collapsible classes are not updating in application. Ho

[2021-05-31 18:27] iammelvin opened #1332 "API Management open API spec import results in schema mismatch at response"
## Schema mismatch after importing Open API spec definition in APIM portal

## Reproduction steps

1. Go to azure APIM portal and import a new spec with swagger json
2.  You see all the operations but few methods are having mismatch with the actual swagger json file

For instance my original swagger definition has a response like below

[code]
But the same response after importing in APIM is showi

[2021-06-01 09:39] graemefoster commented on #1319
Thanks all.

[2021-06-01 09:57] Vinoth-44 commented on #1331
**Collapsible class is not adding along with nav-item. So, Chevron icon is missing in the page. What is the fix to add a collapsible class ?**

This problem is coming in release 2.9.0

![collapsible class missing](https://user-images.githubusercontent.com/35361553/120304224-39576a80-c2ed-11eb-929c-f6f59e62d637.PNG)

[2021-06-01 21:11] mikebudzynski commented on #1321
@Ledger94, you can how we implemented paging in the widgets' code, for example here: https://github.com/Azure/api-management-developer-portal/blob/master/src/components/apis/list-of-apis/ko/runtime/api-list.ts#L20

Note that we're aware of a bug in the API, where the `nextLink` property in the API responses isn't a valid URL.

[2021-06-01 21:16] mikebudzynski commented on #1332
@iammelvin, API Management abstracts inline schemas into object definitions. If you'd prefer to have more control over the schema names, you can create a schema for your array object and reference it with "$ref" in the content representation, just the way API Management changed your original API definition.

[2021-06-01 21:16] #1332 closed

[2021-06-01 21:17] mikebudzynski commented on #410
@mustaqt, please contact Azure Support - they will be able to assist you, based on your service configuration.

[2021-06-01 21:20] iammelvin commented on #1332
Is OData function parameters supported directly or I have to do some workaround ?

[2021-06-01 21:25] mikebudzynski commented on #1326
@AnRei123, at this moment there's no way to disable the prompts and we'll mark this item as a feature request. If you need to clear the cache only, you can do so without clearing the local storage, which would prevent the prompts from popping up.

[2021-06-01 21:32] mikebudzynski commented on #1300
@cedrox, we prioritized the issue for development, but we don't have an ETA at this moment.

[2021-06-02 07:15] seiya-sugo opened #1333 "Question: How to replace $ref with reference?"
I want to replace $ref in "Raw schema view" of an API detail page with reference by using self-hosted developer portal, so I want to know which source code I should modify. Could you give me any advice?

## Expected behavior
In the image below, the definition "AAA" has a $ref to the definition "BBB". Expected behavior is the right side of the image below.
![image](https://user-images.githubusercon

[2021-06-02 09:52] andychenglivibank opened #1334 "login credentials and email insufficiently protected during the transmission to the server"
Hi Azure,

**Feature Request.**

Here is detail concern

We noted the login credentials and email were not sufficiently protected during the transmission to the server. The affected functions included the following:

1) Signup
2) Change password
3) Primary Key and Secondary Key for API

![image](https://user-images.githubusercontent.com/81301115/120459979-464a8b80-c3cb-11eb-80f2-4fb648a44cfb.png)

[2021-06-02 13:20] iammelvin opened #1335 "Azure API Management OData api operation returning 404 not found in response"
## Bug description

I have Odata endpoints in my swagger definition and its imported to APIM via azure portal. But when tried to call the Odata endpoint from a client I get 404 Not found error but the operation is available in APIM portal.

## Reproduction steps

For instance I have an Odata endpoint which is similar like below

    [EnableQuery(AllowedQueryOptions = AllowedQueryOptions.All, PageS

[2021-06-02 15:52] azaslonov commented on #1334
Hi @andychenglivibank, the data transmission is supposed to go through HTTPs channel which employs asymmetric encryption. If there is something else you would like to see in place, please provide respective resources on the topic or feel free to contact MS Support.

[2021-06-02 15:52] #1334 closed

[2021-06-03 00:33] sagara-iw opened #1336 "Unable to send request error when integrating developer portal with AAD B2C"
## Bug description

I've been following [this tutorial ](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad-b2c ) to integrate the API-M developer portal with the Azure AAD B2C, but I'm getting the following error after the signup process is completed at the AAD B2C and when it returns to the developer portal. Please refer to the following screenshot. 

` "Server error.

[2021-06-03 15:25] mikebudzynski commented on #1335
@iammelvin, this repository is specific to the new developer portal only. Please, contact Azure support for assistance.

[2021-06-03 15:25] #1335 closed

[2021-06-03 15:29] mikebudzynski commented on #1336
@sagara-iw, please reach out to Azure support for assistance.

[2021-06-03 15:29] #1336 closed

[2021-06-03 18:03] mikebudzynski commented on #1333
@seiya-sugo, the starting point would be this file: https://github.com/Azure/api-management-developer-portal/blob/master/src/components/operations/operation-details/ko/runtime/type-definition.html The other "type-definition" files in this folder are also responsible for this logic.

[2021-06-03 21:16] nahojs commented on #582
Same result when using a wildcard template parameter. For example GET `/something/{*url}`.

Expected behavior same as OP _"The URL in the 'HTTP request' section should include the template parameter in the URL and not as a query string parameter."_

When using "Try-it" in the Dev-portal the result is a **500 Internal Server Error**, but works when using Curl v7.55.1 (Windows)

`curl -X GET -H "Ocp

[2021-06-03 23:21] sagara-iw commented on #1336
Just for the records, this issue disappeared once the API-M service was upgraded to the latest version by Azure.

[2021-06-04 12:57] LeHaine opened #1337 "API defintion page is unable to display an array of JSON objects"
## Bug description

When a request or response definition uses an array of JSON objects the API definition page is not able to display it.

## Reproduction steps

Using a definition with an array of JSON objects:

[code]

displays as this in the developer portal:

![image](https://user-images.githubusercontent.com/4951150/120803612-b9f6b080-c511-11eb-8dd6-90b54b7f5fbd.png)

## Expected behavior

E

[2021-06-04 13:35] stinggray opened #1338 "Bearer versus bearer"
I have an API using OAuth 2.0 authorization. Developers for this API use the 'Try it' button.

This API has been in use for awhile. Developers used the deprecated portal 'Try it'.
The API 'Try it' received 401 error in the current because the new portal sends "bearer" in all lowercase.
The deprecated 'Try it' worked correctly because it sends "Bearer."

Steps to Reproduce

1. Sign into Portal (eit